<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-10 row">
                <div class="col-md-3">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("EmployeeResigns")}}</span>
                    </h3>
                </div>

                <div style="margin-top:15px">
                    <font size="2">{{l("Employee Form")}}</font>
                </div>
                <div class="col-lg-2"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" #from></div>
                <div style="margin-top:15px">
                    <font size="2">{{l("To")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" id="to"
                        class=" form-control text-center" #to>
                </div>
                <div class="col-lg-2"><button class="btn btn-primary" (click)="getResign(from.value,to.value)"><i
                            class="fa fa-search"></i>
                        {{l("ค้นหา")}}</button></div>
            </div>
            <div class="col-sm-1 text-right">
                <button class="btn btn-info" (click)="employeeresignadd.show()">
                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Employee Resign List")}} ({{EmployeeResignsListDto.length}})</h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="EmployeeResignsListDto"
                    [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                    [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">


                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-pager [allowedPageSizes]="[10, 20,50]" [showInfo]="true" [showNavigationButtons]="true"
                        [showPageSizeSelector]="true" [visible]="true">
                    </dxo-pager>

                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                        [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>


                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" class="" (click)="employeeresignadd.showedit(data)">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxi-column dataField="resdoc" caption="Document No" [fixed]="true" fixedPosition="left">
                    </dxi-column>
                    <dxi-column dataField="residn" caption="Employee ID" [fixed]="true" fixedPosition="left">
                    </dxi-column>
                    <dxi-column dataField="residn" caption="Employee Name" [fixed]="true" fixedPosition="left">
                        <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="resdte" [customizeText]="fnddmmyyyygrid" caption="Document Date">
                    </dxi-column>
                    <dxi-column dataField="resres" caption="Reason">
                        <dxo-lookup [dataSource]="RESIGNREASON" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>

                    </dxi-column>
                    <dxi-column dataField="resaut" caption="Authorized">
                        <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="ressts" caption="Status"></dxi-column>
                    <dxi-column dataField="resstd" [customizeText]="fnddmmyyyygrid" caption="Start Date"></dxi-column>
                    <dxi-column dataField="resefd" [customizeText]="fnddmmyyyygrid" caption="Effective Date"
                        [fixed]="true" fixedPosition="right"></dxi-column>
                    <!-- <dxi-column dataField="psnfnm" caption="Work Date"></dxi-column> -->



                </dx-data-grid>
            </div>
        </div>
    </div>
    <employeeresignadd #employeeresignadd (modalSave)="getResign(from.value,to.value)"></employeeresignadd>
</div>