<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Position Certificates</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br>
            <div class="col-sm-12 text-right">
                <button class="btn btn-warning col-sm-3" (click)="show2()">
                    <i class="fa fa-plus"></i> {{l("กำหนดตำแหน่งใบประกอบวิชาชีพ")}}</button>
            </div>
            <div class="modal-body">


                <div class="mr-auto col-sm-8 row"> </div>
                <div class="form-group m-form__group">
                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="PositionCer"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        (onRowRemoved)="delete($event)" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                        columnResizingMode="widget">


                        <dxo-editing [allowDeleting]="true" [useIcons]="true">
                        </dxo-editing>


                        <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                            [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                        <dxi-column dataField="cerpos" caption="Position">
                            <dxo-lookup [dataSource]="POSITION" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:;" class="" (click)="showedit(data)">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>
                        <!-- (click)="setcodepositionadd.show(data.data.tabtB2)" -->
                    </dx-data-grid>
                </div>

            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-window-close "></i> {{l("Close ")}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Position Certificates")}}</b>
                </h5>
                <button type="button" (click)="close4()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Position")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <div class="input-group">
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                        class="form-control  text-center" name="idpos" placeholder=""
                                        [(ngModel)]="idpos" disabled>
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button" (click)="show3()"><i
                                                class="fa fa-arrow-right"></i>
                                            เลือก</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="namepos"
                                    disabled />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px"></div>
                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Certificates")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <select class="form-control m-input m-input--air  m-input m-input--square "
                                    name="ECertificates" [(ngModel)]="ECertificates" id="ECertificates">
                                    <option *ngFor="let item of CERTIFICATETYP" value={{item.tabtB2}}>
                                        {{item.tabdsc}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-1 text-right" style="margin-top: 5px">
                                <button class="btn btn-info" (click)="Add()">
                                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
                            </div>
                            <div class="col-lg-2" style="margin-top: 5px">
                            </div>
                        </div>

                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer"
                            [dataSource]="getPositionCertifi" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                            [allowColumnResizing]="true" (onRowRemoved)="removed($event)" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxi-column dataField="cerpos" caption="Position">
                                <dxo-lookup [dataSource]="POSITION" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="certyp" caption="Certificates">
                                <dxo-lookup [dataSource]="CERTIFICATETYP" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                            </dxi-column>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close4() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #modal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("POSITION")}}</b>
                </h5>
                <button type="button" (click)="close3()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("POSITION")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployee [dataSource]="POSITION"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        [(selectedRowKeys)]="selectedRows">
                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                        <dxi-column dataField="tabtB2" caption="Position"></dxi-column>
                        <dxi-column dataField="tabdsc" caption="Title"></dxi-column>

                    </dx-data-grid>

                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan2(gEmployee.selectedRowKeys)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>