<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">ข้อมูลมูลการประเมินผลงาน</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="EmployeeUpSaralyListDto"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget"
                            (onSelectionChanged)="funti($event)">
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                                showScrollbar="always">
                            </dxo-scrolling>


                            <dxi-column dataField="salyea"caption="Year"></dxi-column>
                            <dxi-column dataField="salprd"caption="Period"></dxi-column>
                            <dxi-column dataField="salefd"caption="Effective Date"></dxi-column>
                            <dxi-column dataField="salosl"caption="OldSalary"></dxi-column>
                            <dxi-column dataField="salper"caption="Percent"></dxi-column>
                            <dxi-column dataField="salfG2"caption="Grade"></dxi-column>
                            <dxi-column dataField="salnsl"caption="Salary Up"></dxi-column>
                            <dxi-column dataField="saladj"caption="Adjust"></dxi-column>
                            <dxi-column dataField="salnsl"caption="New Salary"></dxi-column>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="show2() ">
                            <i class="fa fa-save"></i> {{l("Add")}}</button> -->
                </div>
            </div>

        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("เพิ่มข้อมูลมูลการประเมินผลงาน")}}</b>
                </h5>
                <button type="button" (click)="close4()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Employee Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.saleid" disabled/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="nameAL" disabled  />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Year")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.salyea"/>
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Period")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.salprd"/>
                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Employee Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-center" name="pladteto" placeholder="วว/ดด/ปปปป"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Transaction Status")}}
                            </label>
                            <div class="col-lg-2" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" maxlength="1" [(ngModel)]="EmployeeUpSaralyObject.salsts"/>
                            </div>
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Status date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-center" name="pladteto" placeholder="วว/ดด/ปปปป" [(ngModel)]="EmployeeUpSaralyObject.salstd" id="salstd"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Effective Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-center" name="pladteto" placeholder="วว/ดด/ปปปป" [(ngModel)]="EmployeeUpSaralyObject.salefd" id="salefd"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Current Salary")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.salosl" id="salosl" (change)="fnnum()"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Range")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.salfG2"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Rate")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.salper" id="salper" (change)="fnnum()"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Month/12")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.salsco" id="salsco"(change)="fnnum()"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Amount")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.salamt" id="salamt"(change)="fnnum()"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Adjust Amount")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeUpSaralyObject.saladj" id="saladj"(change)="fnnum()"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("New Salary")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeUpSaralyObject.salnsl" id="salnsl"(change)="fnnum()"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>

                        </div>

                    </div>
                </div>



            </div>
                <div class="modal-footer">
                    <div>
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close4() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>


            
        </div>
    </div>
</div>