<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานสรุปจำนวนพนักงานขึ้นเวร")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto;background-color:#003399;color: white">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <div class="col-form-label col-lg-12 col-sm-12">
                            <label class="col-form-label col-lg-6 col-sm-6" style="margin-top: 5px;text-align:right;margin-left: 10px">
                                Starting
                            </label>
                            <label class="col-form-label col-lg-3 col-sm-6" style="margin-top: 5px;text-align:right">
                                Ending
                            </label>
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ฝ่าย
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>

                        <div class="col-lg-3" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>

                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select [disabled]="departmentCode != '61000400'" class="form-control text-center m_select2_1ab" style="width:100%" #dep>
                                <option *ngFor="let item of dbmtab4" [selected]="item.tabtB2 === depart" value="{{item.tabtB2}}">{{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select [disabled]="departmentCode != '61000400'" class="form-control text-center m_select2_1ab" style="width:100%" #dep>
                                <option *ngFor="let item of dbmtab4" [selected]="item.tabtB2 === depart" value="{{item.tabtB2}}">{{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ตำแหน่งงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>

                        <div class="col-lg-3" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>

                        <div class="col-lg-3" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            วันที่
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center m-input m-input--air" #d2as>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center m-input m-input--air" #d2as>
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ประเภทพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select [disabled]="departmentCode != '61000400'" class="form-control text-center m_select2_1ab" style="width:100%" #dep>
                                <option *ngFor="let item of dbmtab4" [selected]="item.tabtB2 === depart" value="{{item.tabtB2}}">{{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px"></div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ประเภท
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select [disabled]="departmentCode != '61000400'" class="form-control text-center m_select2_1ab" style="width:100%" #dep>
                                <option *ngFor="let item of dbmtab4" [selected]="item.tabtB2 === depart" value="{{item.tabtB2}}">{{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox" style="color: white">
                                        <input type="checkbox"> Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="form-group">
                                <div class="m-checkbox-list">
                                    <label class="m-checkbox" style="color: white">
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="typedoc" id="typ1" value="1" checked (click)="ditell()">ดึงจาก Master
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox" style="color: white">
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="typedoc" id="typ1" value="2" (click)="ditell()"> เฉพาะเวรทำงานปกติ
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox" style="color: white">
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="typedoc" id="typ1" value="3" (click)="ditell()"> ไม่รวมเวรลา
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox" style="color: white">
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="typedoc" id="typ1" value="4" (click)="ditell()"> เฉพาะ OT
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                            <button type="submit " class="btn btn-warning " (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                        <button type="submit " class="btn btn-secondary text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>