<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
    <div class="modal-content">

      <div class="modal-header" style="height:60px;background-color:#66CCFF">
        <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">ประวัติการศึกษา</h5>
        <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-primary pull-right" type="button" (click)="AddEduShow()">
              <i class="fa fa-plus"></i> Add</button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">


            <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
              [dataSource]="EmployeeEducationsListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
              [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">
              <dxo-editing [allowDeleting]="true" [useIcons]="true">
              </dxo-editing>
              <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                [showPageSizeSelector]="true" [visible]="true">
              </dxo-pager>

              <dxo-paging [pageSize]="5"></dxo-paging>
              <dxi-column dataField="eduseq" caption="Items"></dxi-column>
              <dxi-column dataField="educdu" caption="Education Level">
                <dxo-lookup [dataSource]="EDUCATION" displayExpr="tabdsc" valueExpr="tabtB2">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="edusma" caption="Faculty">
                <dxo-lookup [dataSource]="CETIFICATED" displayExpr="tabdsc" valueExpr="tabtB2">
                </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="edusdu" caption="Education Centre"></dxi-column>
              <dxi-column dataField="edusin" caption="Start Year"></dxi-column>
              <dxi-column dataField="edusot" caption="End Year"></dxi-column>



              <dxi-column dataField="edumag" caption="Major">
                <dxo-lookup [dataSource]="MAJOR" displayExpr="tabdsc" valueExpr="tabtB2">
                </dxo-lookup>
              </dxi-column>
              <!-- <dxi-column dataField="edumin" caption="Minor">
               
              </dxi-column> -->
              <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>


              <div *dxTemplate="let data of 'cellTemplate'">
                <a href="javascript:;" class="" (click)="editmem(data)">
                  <i class="fa fa-search-plus"></i>
                </a>
              </div>
            </dx-data-grid>
          </div>
        </div>
      </div>

      <div class="modal-footer ">
        <div class="">

          <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
            (click)="close()">
            <i class="la la-close"></i> {{l("Close")}}</button>
          <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="save()">
            <i class="fa fa-save"></i> {{l("Save/Confirm")}}</button>


        </div>
      </div>

    </div>
  </div>
</div>


<!-- /////Add////////// -->
<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
  <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
    <div class="modal-content">

      <div class="modal-header" style="height:60px;background-color:#66CCFF">
        <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">เพิ่มประวัติการศึกษา</h5>
        <button type="button" (click)="closeAddEdu()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group row">
          <div class="col-lg-2">
            <label for="" class="col-form-label">Items</label>
            <input autocomplete="off" onkeyup="chkstr(this,this.value)"
              class="form-control m-input m-input--air  text-center" name="itms" id="itms"
              [(ngModel)]="createEdu.eduseq">
          </div>
          <div class="col-lg-10"></div>
          <div class="col-lg-6">
            <label for="" class="col-form-label">Education Code/Description</label>
            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a" id="code"
              [(ngModel)]="createEdu.educdu" style="width:100%" name="code">
              <option value="non">
                <<กรุณาเลือก>>
              </option>
              <option *ngFor="let item of EDUCATION" value={{item.tabtB2}}>
                {{item.tabdsc}}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="" class="col-form-label">Faculty</label>
            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a" id="fac"
              [(ngModel)]="createEdu.edusma" style="width:100%" name="fac">
              <option value="non">
                <<กรุณาเลือก>>
              </option>
              <option *ngFor="let item of CETIFICATED" value={{item.tabtB2}}>
                {{item.tabdsc}}</option>
            </select>
          </div>
          <div class="col-lg-8">
            <label for="" class="col-form-label">University/Insitute/School/Education Center</label>
            <input autocomplete="off" onkeyup="chkstr(this,this.value)"
              class="form-control m-input m-input--air  text-center" name="univer" [(ngModel)]="createEdu.edusdu">
          </div>
          <div class="col-lg-2">
            <label for="" class="col-form-label">Start Year</label>
            <input autocomplete="off" onkeyup="chkstr(this,this.value)"
              class="form-control m-input m-input--air  text-center" name="stryear" [(ngModel)]="createEdu.edusin">
          </div>
          <div class="col-lg-2">
            <label for="" class="col-form-label">End Year</label>
            <input autocomplete="off" onkeyup="chkstr(this,this.value)"
              class="form-control m-input m-input--air  text-center" name="endyear" [(ngModel)]="createEdu.edusot">
          </div>

          <div class="col-lg-6">
            <label for="" class="col-form-label">Major Code/Description</label>
            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a" id="major"
              [(ngModel)]="createEdu.edumag" style="width:100%" name="major">
              <option value="non">
                <<กรุณาเลือก>>
              </option>
              <option *ngFor="let item of MAJOR" value={{item.tabtB2}}>
                {{item.tabdsc}}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="" class="col-form-label">Minor Code/Description</label>
            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a" id="minor"
              [(ngModel)]="createEdu.edumin" style="width:100%" name="minor">
              <option value="non">
                <<กรุณาเลือก>>
              </option>
              <!-- <option *ngFor="let item of dbmtabemti" value={{item.tabtB2}}>
                        {{item.tabdsc}}</option> -->
            </select>
          </div>
          <div class="col-md-12">
            <label class="m-checkbox" style="margin-left:5px;margin-top:20px">
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" name="workref" type="checkbox"
                [(ngModel)]="edufG1">
              Work Reference
              <span></span>
            </label>

            <label class="m-checkbox" style="margin-left:25px;margin-top:20px">
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" name="high" type="checkbox"
                [(ngModel)]="edufG2">
              Highest Education
              <span></span>
            </label>
          </div>
        </div>
      </div>

      <div class="modal-footer col-md-12">
        <div class="col-md-12">

          <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
            (click)="closeAddEdu()">
            <i class="la la-close"></i> {{l("Close")}}</button>
          <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="saveEdu()">
            <i class="fa fa-save"></i> {{l("Save")}}</button>
          <!-- <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
            กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label> -->

        </div>
      </div>

    </div>
  </div>
</div>