<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Payment Inquiry</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="EmployeeUpSaralyListDto"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                            [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column dataField="salyea" caption="Year"></dxi-column>
                            <dxi-column dataField="salprd" caption="Period"></dxi-column>
                            <dxi-column dataField="salamt" format="#,##0.00" caption="Total Income"></dxi-column>
                            <dxi-column dataField="salper" format="#,##0.00" caption="Total Deduction"></dxi-column>
                            <dxi-column dataField="salnsl" format="#,##0.00" caption="Net Income"></dxi-column>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                </div>
            </div>

        </div>
    </div>


</div>