<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Employee Listing")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    id="empidfm" #empidfm />
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="empmasterlist.show('1')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    id="empidto" #empidto value="ALL"/>
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="empmasterlist.show('2')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ตำแหน่งงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #emppositionf id="emppositionf">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of dbmtab" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #emppositiont id="emppositiont">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of dbmtab" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ตำแหน่งประเมิน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #emppositionf1 id="emppositionf1">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of dbmtab" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #emppositiont1 id="emppositiont1">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of dbmtab" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #depfm id="depfm">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                    {{item.tabtB2}}|{{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #depto id="depto">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ฝ่าย
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #divfm id="divfm">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #divto id="divto">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            สถานะพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #stsfmd id="stsfmd">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of STATUS" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #ststo id="ststo">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of STATUS" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-6" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typedoc" id="typex1" #typex1 (click)="ditell()">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(empidfm.value,empidto.value,emppositionf.value,emppositiont.value,emppositionf1.value,emppositiont1.value,depfm.value,depto.value,divfm.value,divto.value,stsfmd.value,ststo.value,typex1.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <empmasterlist #empmasterlist (modalSave)="ngOnInit()"></empmasterlist>

</div>