<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0099FF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-bars">&nbsp;</i>
                    </span>
                    <b> บันทึกการขอขึ้นโอที </b>
                </h5>
            </div>

            <div class="modal-body" id="us">

                <div class="form-group row" id="md">
                    <div class="col-md-8">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label style="color:red">*</label>
                                <label for="" class="col-form-label">เลขที่ใบขอใช้</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="browubgdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบบจะสร้างเลขที่ใบขอใช้อัตโนมัติหลังบันทึกข้อมูล
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class=" col-form-label">วันที่บันทึก</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center" #date1 id="date1"
                                    name="browdate" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุวันที่บันทึก
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">รหัสพนักงาน</label>
                                <div class="input-group">
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" style="background-color:rgb(215, 239, 255)" placeholder="">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button"><i class="fa fa-arrow-right"></i> เลือก</button>
                                    </div>
                                </div>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    รหัสพนักงานจากการเลือก
                                </span>
                            </div>
                            <div class="col-lg-8">
                                <label for="" class=" col-form-label">ชื่อ-นามสกุล</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ชื่อ-นามสกุล
                                </span>
                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">ขอขึ้น OT แผนก</label>
                                <div class="input-group">
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" style="background-color:rgb(215, 239, 255)" placeholder="">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button"><i class="fa fa-arrow-right"></i> เลือก</button>
                                    </div>
                                </div>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    รหัสแผนก
                                </span>
                            </div>
                            <div class="col-lg-8">
                                <label for="" class=" col-form-label">แผนก</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ชื่อแผนก
                                </span>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4" style="margin-top:-20px">
                        <label for="" class="col-form-label"></label>
                        <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(215, 239, 255)"
                            id="ai">
                            <div class="col-lg-12">
                                <label style="color:red">*</label>
                                <label for="" class=" col-form-label">สถานะเอกสาร</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุสถานะเอกสาร
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label style="color:red">*</label>
                                <label for="" class=" col-form-label">วันที่ขึ้นโอที</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class="form-control text-center" name="browpos" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุวันขึ้นโอที
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label style="color:red">*</label>
                                <label for="" class=" col-form-label">หมายเหตุ</label>
                                <textarea type="text" class="form-control text-center" name="browtelno" placeholder=""></textarea>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุหมายเหตุ
                                </span>
                            </div>

                            <br><br><br><br><br><br>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12" style="margin-top:-20px">
                                <label for="" class="col-form-label"><b>กลุ่มที่ 1</b></label>
                                <div class="form-group row alert m-alert m-alert--default" style="background-color:#88efff98"
                                    id="ai">
                                    <div class="col-lg-6">

                                        <label for="" class=" col-form-label">จากวันที่</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class="form-control  text-center" name="browname"
                                            placeholder="">
                                        <span class="m-form__help" style="color:#BEBEBE">
                                            วันที่
                                        </span>
                                    </div>
                                    <div class="col-lg-6">

                                        <label for="" class=" col-form-label">จากเวลา</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname"
                                            placeholder="">
                                        <span class="m-form__help" style="color:#BEBEBE">
                                            เวลา
                                        </span>
                                    </div>
                                    <div class="col-lg-6">

                                        <label for="" class=" col-form-label">ถึงวันที่</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class="form-control  text-center" name="browname"
                                            placeholder="">
                                        <span class="m-form__help" style="color:#BEBEBE">
                                            วันที่
                                        </span>
                                    </div>
                                    <div class="col-lg-6">

                                        <label for="" class=" col-form-label">ถึงเวลา</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname"
                                            placeholder="">
                                        <span class="m-form__help" style="color:#BEBEBE">
                                            เวลา
                                        </span>
                                    </div>

                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12" style="margin-top:-20px;">
                                <label for="" class="col-form-label"><b>กลุ่มที่ 2</b></label>
                                <div class="form-group row alert m-alert m-alert--default" style="background-color:#88efff98"
                                    id="ai">
                                    <div class="col-lg-6">

                                        <label for="" class=" col-form-label">จากวันที่</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class="form-control  text-center" name="browname"
                                            placeholder="">
                                        <span class="m-form__help" style="color:#BEBEBE">
                                            วันที่
                                        </span>
                                    </div>
                                    <div class="col-lg-6">

                                        <label for="" class=" col-form-label">จากเวลา</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname"
                                            placeholder="">
                                        <span class="m-form__help" style="color:#BEBEBE">
                                            เวลา
                                        </span>
                                    </div>
                                    <div class="col-lg-6">

                                        <label for="" class=" col-form-label">ถึงวันที่</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class="form-control  text-center" name="browname"
                                            placeholder="">
                                        <span class="m-form__help" style="color:#BEBEBE">
                                            วันที่
                                        </span>
                                    </div>
                                    <div class="col-lg-6">

                                        <label for="" class=" col-form-label">ถึงเวลา</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname"
                                            placeholder="">
                                        <span class="m-form__help" style="color:#BEBEBE">
                                            เวลา
                                        </span>
                                    </div>

                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 row text-center">
                        <div class="col-md-12">
                            <label class="m-checkbox m-checkbox--state-primary">
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox">
                                สะสมชั่วโมงการทำงาน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>    </span>                         
                                รวมชั่วโมง OT ทั้งหมด  <b>60</b>   ชั่วโมง
                            </label>
                        </div>
                    </div>


                </div>

                <hr style=" border: 1px dashed  #BEBEBE;">

                <div class="modal-footer col-md-12 ">

                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
                            (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>
                    </div>
                </div>


            </div>
