<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-calendar">&nbsp;</i>
                    </span>
                    <b>Shift Code Setting</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">Shift Code</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="col-form-label">Description</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="">
                            </div>
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">Day Type (W/H)</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group row " id="ai">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">Allowance ShiftCode</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-8" style="margin-top: 9px">
                                <label for="" class="col-form-label"></label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    disabled placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">Food Control Code</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-8" style="margin-top: 9px">
                                <label for="" class="col-form-label"></label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    disabled placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">Trans Control Code</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-8" style="margin-top: 9px">
                                <label for="" class="col-form-label"></label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    disabled placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">Special Control Amount</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-8" style="margin-top: 9px">
                                <label for="" class="col-form-label"></label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    disabled placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-12" style="margin-top: 9px">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">Overtime Code Setting</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-8" style="margin-top: 9px">
                                <label for="" class="col-form-label"></label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    disabled placeholder="" id="holidaycode">
                            </div>


                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="col-form-label">
                            <b>Working Time</b>
                        </label>
                        <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(203, 230, 248)" id="ai">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <label for="" class="col-form-label">From Time</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <label for="" class="col-form-label">To Time</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                        <div class="col-lg-12">
                            <label for="" class="col-form-label">Calculate Overtime Via</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                placeholder="" id="holidaycode">
                        </div>
                        <div class="col-lg-12">
                            <label for="" class="col-form-label">Min. Minute for Calc. Overtime</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                placeholder="" id="holidaycode">
                        </div>
                        
                    </div>
                </div>


                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>

                    </div>
                </div>
            </div>
        </div>