<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานขอทำ OT")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div> 
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="background-color:#003399;color: white">
                <div class="modal-body" style="margin-top: 20px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Branch From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 row " style="margin-top: 15px">
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("From Emp")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To Emp")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("From Department")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To Department")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("From Date")}}</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To Date")}}</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                            </div>
                            <div class="col-md-8 " style="margin-top: 35px">
                                <div class="form-group">
                                    <label>Report Break By</label>
                                    <div class="m-radio-list">
                                        <label class="m-radio" style="color: white">
                                            <input type="radio">Department
                                            <span></span>
                                        </label>
                                        <label class="m-radio" style="color: white">
                                            <input type="radio"> Print From Office
                                            <span></span>
                                        </label>
                                        <label class="m-radio" style="color: white">
                                            <input type="radio"> Print From Workplan
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 "></div>
                            <div class="col-md-12 "></div>


                            <div class="col-md-12 text-center">
                                <button type="submit " class="btn btn-success" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                    <i class="fa fa-print "></i> {{l("Print")}}</button>
                                <button type="submit " class="btn btn-info " (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                    <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                                <button type="submit " class="btn btn-warning " (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                    <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                                <button type="submit " class="btn btn-secondary " (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                    <i class="fa fa-close "></i> {{l("Close ")}}</button>
                            </div>
                            <div class="col-lg-12">&nbsp;</div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>