<div [@routerTransition]>
    <div class="m-subheader ">
      <div class="d-flex align-items-center">
        <div class="mr-auto col-sm-9 row">
          <h3 class="m-subheader__title m-subheader__title--separator">
            <span>{{l("Holiday Year List")}}</span>
          </h3>
          <div style="margin-top:15px">
            <h6>{{l("Set for Company")}}</h6>
          </div>
          <div class="col-lg-2"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)"  class=" form-control text-center" placeholder=""></div>
          <div class="col-lg-4"><input onkeyup="chkstr(this,this.value)" autocomplete="off" disabled type="text" onkeydown="chkstr2(this)"  class=" form-control text-center" placeholder=""></div>
          <div class="col-lg-1"><button class="btn btn-info" ><i class="fa fa-search"></i></button></div>

        </div>
        <div class="col-sm-2 text-right">
          <button class="btn btn-info" (click)="holidayadd.show()">
            <i class="fa fa-plus"></i> {{l("Add")}}</button>
        </div>
      </div>
    </div>
    <div class="m-content">
  
      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
  
          <h3>{{l("รายการ")}} </h3>
  
          <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="bankac" (onContentReady)="onContentReady($event)" [errorRowEnabled]="false"
            [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
            columnResizingMode="widget" keyExpr="id">
  
            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
            </dxo-scrolling>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-export [enabled]="true" fileName="Special Cost Document List" [allowExportSelectedData]="true"></dxo-export>
  
            <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
              [showPageSizeSelector]="true" [visible]="true">
            </dxo-pager>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
  
            <dxi-column dataField="bnkacc" caption="Year"> </dxi-column>
            <dxi-column dataField="bnknam" caption="Description" > </dxi-column>
          
            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false"
              cellTemplate="cellTemplate" caption=""></dxi-column>
  
            <div *dxTemplate="let data of 'cellTemplate'">
              <a href="javascript:;" style="color:#3399FF	" class="" (click)="holidayedit.show()">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
  
          </dx-data-grid>
        </div>
      </div>
    </div>
    <holidayadd #holidayadd (modalSave)="ngOnInit()"></holidayadd>
    <holidayedit #holidayedit (modalSave)="ngOnInit()"></holidayedit>
  </div>