<div [@routerTransition]>
    <div class="m-subheader ">
      <div class="d-flex align-items-center">
        <div class="mr-auto col-sm-11 row">
          <h3 class="m-subheader__title m-subheader__title--separator">
            <span>{{l("Special Cost Document List")}}</span>
          </h3>
          <div style="margin-top:15px">
            <h6>{{l("ตั้งแต่วันที่")}}</h6>
          </div>
          <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center" placeholder="ตั้งแต่วันที่"></div>
          <div style="margin-top:15px">
            <h6>{{l("ถึงวันที่")}}</h6>
          </div>
          <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center" placeholder="ถึงวันที่"></div>
          <div class="col-lg-1"><button class="btn btn-info"><i class="fa fa-search"></i></button></div>
        </div>
        <div class="col-sm-1 text-right">
          <button class="btn btn-info" (click)="specialcostentryadd.show()">
            <i class="fa fa-plus"></i> {{l("Add")}}</button>
        </div>
      </div>
    </div>
    <div class="m-content">
  
      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
  
          <h3>{{l("รายการ")}} </h3>
  
          <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="" (onContentReady)="onContentReady($event)" [errorRowEnabled]="false"
            [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
            columnResizingMode="widget" keyExpr="id">
  
            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
            </dxo-scrolling>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-export [enabled]="true" fileName="Special Cost Document List" [allowExportSelectedData]="true"></dxo-export>
  
            <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
              [showPageSizeSelector]="true" [visible]="true">
            </dxo-pager>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
  
            <dxi-column dataField="getdoc" caption="Doc No."> </dxi-column>
            <dxi-column dataField="getdocdate" caption="Emp ID." > </dxi-column>
            <dxi-column dataField="getyear" caption="Emp Name"></dxi-column>
            <dxi-column dataField="getdepcode" caption="หมายเหตุ"></dxi-column>
            <dxi-column dataField="getproject" caption="Date" [customizeText]="fnddmmyyyygrid"></dxi-column>
            <dxi-column dataField="getuser" caption="เบิก"></dxi-column>
            <dxi-column dataField="getrmk" caption="ผู้บันทึก"></dxi-column>
            <dxi-column dataField="getst" caption="ผู้อนุมัติ"></dxi-column>
            <dxi-column dataField="getstdte" caption="บุคคล"></dxi-column>
            <dxi-column dataField="getstdte" caption="Status"> </dxi-column>
  
            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false"
              cellTemplate="cellTemplate" caption=""></dxi-column>
            <dxi-column dataField="getnotok" caption="สถานะการอนุมัติ" [fixed]="true" fixedPosition="left">
              <dxo-lookup [dataSource]="" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
            </dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
              <a href="javascript:;" class="" (click)="specialedit.show()">
                <i class="fa fa-search-plus"></i>
              </a>
            </div>
  
          </dx-data-grid>
        </div>
      </div>
  
  
    </div>
    <specialcostentryadd #specialcostentryadd (modalSave)="ngOnInit()"></specialcostentryadd>
    <specialedit #specialedit (modalSave)="ngOnInit()"></specialedit>
  </div>