<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Job Applications")}}</span>
                </h3>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-info" (click)="jobapplicationadd.show()">
                    <i class="fa fa-plus"></i> {{l("๋Add Job Application")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Job Application")}}</h3>

                <dx-data-grid [allowColumnReordering]="true" style=" font-family:THSarabunNew;" id="gridContainer" [dataSource]="emp" (onContentReady)="onContentReady($event)" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                    [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                    keyExpr="id">
                    <!-- [masterDetail]="{ enabled: true, template: 'detail' }
                            (onRowInserting)="insertemp($event)" 
                        (onRowUpdating)="updateEmpMaster($event)"
                        (onRowRemoving)="deleteEmpMaster($event)"
                            " -->

                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">

                        <!-- (onCellPrepared)="onCellPrepared($event)" -->
                        <!-- columnRenderingMode="virtual" -->
                    </dxo-scrolling>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-export [enabled]="true" fileName="ข้อมูลพนักงาน" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                        [visible]="true">
                    </dxo-pager>

                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

                    <!-- <dxi-column [width]="100" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column> -->
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                    <!-- <dxo-editing mode="popup" 
                        [allowUpdating]="true" 
                        [allowDeleting]="true" 
                        [allowAdding]="true"
                        [useIcons]="true"
                        [texts]= "{confirmDeleteMessage: ''}">
                            <dxo-popup
                                title="Employee Master Info"
                                [showTitle]="true"
                                [width]="800"
                                [height]="345"
                                [position]="{ my: 'center', at: 'center', of: window }">
                            </dxo-popup>               
                        </dxo-editing> -->

                    <dxi-column [allowGrouping]="false" dataField="psnidn" caption="รหัสพนักงาน" [width]="100" [sortIndex]="1" sortOrder="asc">
                        <!-- [groupIndex]="0"  -->
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="psntth" caption="คำนำหน้าชื่อ">
                        <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="psnfnm" caption="ชื่อภาษาไทย">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="psnlnm" caption="นามสกุลภาษาไทย">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="psnteg" caption="Title">
                        <dxo-lookup [dataSource]="dbmtabenen" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>

                    </dxi-column>
                    <dxi-column dataField="psnfen" caption="Name">

                    </dxi-column>
                    <dxi-column dataField="psnlen" caption="Surname">

                    </dxi-column>
                    <dxi-column dataField="psnpos" caption="ตำแหน่ง">
                        <dxo-lookup [dataSource]="dbmtab" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnnic" caption="ชื่อเล่น"></dxi-column>
                    <dxi-column dataField="psnaD1" caption="ที่อยู่"></dxi-column>
                    <dxi-column dataField="psnaD2" caption="ที่อยู่บัตรประชาชน"></dxi-column>
                    <dxi-column dataField="psntel" caption="โทรศัพท์"></dxi-column>
                    <dxi-column dataField="psneml" caption="อีเมล"></dxi-column>
                    <dxi-column dataField="psnbrd" caption="วันเกิด"></dxi-column>
                    <dxi-column dataField="psnage" caption="อายุ"></dxi-column>
                    <dxi-column dataField="psnfna" caption="สัญชาติ">
                        <dxo-lookup [dataSource]="dbmtabfna" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnsna" caption="เชื้อชาติ">
                        <dxo-lookup [dataSource]="dbmtabsna" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnamo" caption="ศาสนา">
                        <dxo-lookup [dataSource]="dbmtabamo" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnweg" caption="น้ำหนัก"></dxi-column>
                    <dxi-column dataField="psnheg" caption="ส่วนสูง"></dxi-column>
                    
                        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                        <dxi-column [width]="100" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false" cellTemplate="cellTemplate"
                            caption="จัดการข้อมูล" ></dxi-column>
                    
                    <div *dxTemplate="let data of 'cellTemplate'">
                        <button title="{{l('EditPerson')}}"  class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--pill">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button id="deletePerson" (click)="deleteEmpMaster(data.data)" title="{{l('Delete')}}" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill"
                            href="javascript:;">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                </dx-data-grid>
            </div>
        </div>

    </div>
    <jobapplicationadd #jobapplicationadd (modalSave)=" ngOnInit()"></jobapplicationadd>

</div>