<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Employee Movement Entry</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("Document No")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movdoc" />
                                    </div>

                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Document Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            [(ngModel)]="EmployeeMovmentsObject.movdte" id="movdte"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" /> </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                        {{l("Effective Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            [(ngModel)]="EmployeeMovmentsObject.movefd" id="movefd"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" /> </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("Employee No")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">

                                        <div class="input-group">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeMovmentsObject.movidn" disabled />

                                            <div class="input-group-append">
                                                <button class="btn btn-info" type="button" (click)="show5('Emp')"
                                                    [disabled]="Editing == 1">เลือก</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" id="empname"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("Authorized Person")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">

                                        <div class="input-group">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeMovmentsObject.movaut" disabled />

                                            <div class="input-group-append">
                                                <button class="btn btn-info" type="button" (click)="show5('Aut')"
                                                    >เลือก</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" id="autname"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("Reason")}}
                                    </label>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                        <!-- <input class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movrea" /> -->
                                            <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movrea" [(ngModel)]="EmployeeMovmentsObject.movrea"
                                            id="movrea">
                                                <option *ngFor="let item of MOVERESON" [selected]="item.tabtB2 == EmployeeMovmentsObject.movrea" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}
                                                    </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <!-- <input class="form-control text-center m-input m-input--air" disabled /> -->
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Status")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movsts" maxlength="1"/>
                                    </div>
                                    <!-- <div class="col-lg-3" style="margin-top: 2px">
                                    <input autocomplete="off"
                                        class="form-control text-center m-input m-input--air" />
                                </div> -->
                                    <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                        {{l("Status Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            [(ngModel)]="EmployeeMovmentsObject.movstd" id="movstd"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                </div>
                                <!-- <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Authorized Person")}}
                                </label>
                                <div class="col-lg-9" style="margin-top: 5px">
                                    <input class="form-control text-center m-input m-input--air" />
                                </div>

                            </div> -->

                            </div>
                            <div class="col-md-3">
                                <div style="margin-bottom: 10px">
                                    <img class="img-thumbnail mx-auto d-block" src="" style="width:100% ; height:180px">
                                </div>
                                <div class="modal-footer col-md-12 ">
                                    <button type="button " class="btn btn-info" data-dismiss="modal "
                                        style="margin-right: 5px;width:100%">
                                        {{l("Apprasal Form")}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="col-form-label">
                                    <b>{{l("From Location")}}</b>
                                </label>
                                <div class="form-group row alert m-alert m-alert--default">
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Company")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movfL1" [(ngModel)]="EmployeeMovmentsObject.movfL1"
                                            id="movfL1">
                                            <option value="001" [selected]="001 == EmployeeMovmentsObject.movfL1">โรงพยาบาล
                                                    KWANP
                                                </option>
                                        </select>
                                        <!-- <input autocomplete="off"
                                        class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeMovmentsObject.movfL1"/> -->
                                    </div>

                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Branch")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movfL2" [(ngModel)]="EmployeeMovmentsObject.movfL2"
                                            id="movfL2">
                                            <option value="001" [selected]="001 == EmployeeMovmentsObject.movfL2">สำนักงานใหญ่
                                                </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movfL2" /> -->
                                    </div>

                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Section")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movfL3" [(ngModel)]="EmployeeMovmentsObject.movfL3"
                                            id="movfL3">
                                            <option *ngFor="let item of DIVISION" [selected]="item.tabtB2 == EmployeeMovmentsObject.movfL3" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movfL3" /> -->
                                    </div>

                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Department")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movfL4" [(ngModel)]="EmployeeMovmentsObject.movfL4"
                                            id="movfL4">
                                            <option *ngFor="let item of DEPARTMENT" [selected]="item.tabtB2 == EmployeeMovmentsObject.movfL4" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movfL4" /> -->
                                    </div>


                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Position")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movcps" [(ngModel)]="EmployeeMovmentsObject.movcps"
                                            id="movcps">
                                            <option *ngFor="let item of POSITION" [selected]="item.tabtB2 == EmployeeMovmentsObject.movcps" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movcps" /> -->
                                    </div>
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Current Salary")}}
                                    </label>
                                    <div class="col-lg-6" style="margin-top: 7px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movcsa" id="movcsa"
                                            (change)="fnnum()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">
                                    <b>{{l("To Location")}}</b>
                                </label>
                                <div class="form-group row alert m-alert m-alert--default">
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Move to Company")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movtL1" [(ngModel)]="EmployeeMovmentsObject.movtL1"
                                            id="movtL1">
                                            <option value="001" [selected]="001 == EmployeeMovmentsObject.movtL1">โรงพยาบาล
                                                    KWANP
                                                </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movtL1" /> -->
                                    </div>

                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Move to Branch")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movtL2" [(ngModel)]="EmployeeMovmentsObject.movtL2"
                                            id="movtL2">
                                            <option value="001" [selected]="001 == EmployeeMovmentsObject.movtL2">สำนักงานใหญ่
                                                </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movtL2" /> -->
                                    </div>

                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Move to Section")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movtL3" [(ngModel)]="EmployeeMovmentsObject.movtL3"
                                            id="movtL3">
                                            <option *ngFor="let item of DIVISION" [selected]="item.tabtB2 == EmployeeMovmentsObject.movtL3" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movtL3" /> -->
                                    </div>

                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Move to Depart.")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movtL4" [(ngModel)]="EmployeeMovmentsObject.movtL4"
                                            id="movtL4">
                                            <option *ngFor="let item of DEPARTMENT" [selected]="item.tabtB2 == EmployeeMovmentsObject.movtL4" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movtL4" /> -->
                                    </div>


                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("New Position")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 7px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="movnps" [(ngModel)]="EmployeeMovmentsObject.movnps"
                                            id="movnps">
                                            <option *ngFor="let item of POSITION" [selected]="item.tabtB2 == EmployeeMovmentsObject.movnps" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movnps" /> -->
                                    </div>

                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("New Salary")}}
                                    </label>
                                    <div class="col-lg-6" style="margin-top: 7px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeMovmentsObject.movnsa" id="movnsa"
                                            (change)="fnnum()" />
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>




            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Post/Confirm ")}}</button>
                </div>
            </div>



        </div>
    </div>
</div>

<!-- ///---------------------------------------------------modal5 emp---------------------------------------------------------------------/// -->
<div bsModal #modal5="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Master")}}</b>
                </h5>
                <button type="button" (click)="closeemp()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployeea [dataSource]="emp"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        keyExpr="psnidn">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="psnidn" caption="Employee ID"></dxi-column>
                        <dxi-column dataField="psntth" caption="Title">
                            <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfnm" caption="First Name"></dxi-column>
                        <dxi-column dataField="psnlnm" caption="Last Name"></dxi-column>
                        <dxi-column dataField="psnfen" caption="First Name(Eng)"></dxi-column>
                        <dxi-column dataField="psnlen" caption="Last Name(Eng)"></dxi-column>
                        <dxi-column dataField="psncom" caption="Company"></dxi-column>
                        <dxi-column dataField="psnbrn" caption="Branch"></dxi-column>
                        
                    </dx-data-grid>
                    <div class="selected-data">
                        <!-- {{grid.selectedRowKeys}} -->
                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                            value="{{gEmployeea.selectedRowKeys}}" hidden #data_select2a>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan(data_select2a.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>