<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">ข้อมูลการถูกลงโทษ</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="PunishmentInformationListDto" [errorRowEnabled]="false"
                            [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                            columnResizingMode="widget" (onRowRemoved)="removed($event)">
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>

                            <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>


                            <div *dxTemplate="let data of 'cellTemplate'">
                                <a href="javascript:;" class="" (click)="showedit(data)">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                            <dxi-column dataField="notdoc" caption="Document No."></dxi-column>
                            <dxi-column dataField="notefd" [customizeText]="fnddmmyyyygrid" caption="Effective Date">
                            </dxi-column>
                            <dxi-column dataField="notrea" caption="Reason">
                                <dxo-lookup [dataSource]="NOTICERESULT" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                            </dxi-column>
                            
                            <dxi-column dataField="notiss" caption="Issue Warning">
                                <dxo-lookup [dataSource]="WARNINGISSUE" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="notres" caption="Result">
                                <dxo-lookup [dataSource]="NOTICEREASON" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="notrM1" caption="Remark"></dxi-column>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="show2() ">
                            <i class="fa fa-save"></i> {{l("Add")}}</button> -->
                </div>
            </div>

        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("เพิ่มข้อมูลการถูกลงโทษ")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Document Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    [(ngModel)]="PunishmentInformationObject.notdte" id="notdte"
                                    class="form-control  text-center" name="pladteto" placeholder="วว/ดด/ปปปป"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Document No.")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notdoc" />
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Effective Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    [(ngModel)]="PunishmentInformationObject.notefd" id="notefd"
                                    class="form-control  text-center" name="pladteto" placeholder="วว/ดด/ปปปป"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>

                            <div class="col-lg-6" style="margin-top: 5px">

                            </div>
                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Notice Level")}}
                            </label>
                            <div class="col-lg-2" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notlev" maxlength="1"/>
                            </div>
                            <div class="col-lg-7" style="margin-top: 5px">

                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Employee No.")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.noteid" disabled />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"[(ngModel)]="nameMR" disabled />
                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Authorized Person")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notaut" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" disabled />
                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Reason")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notrea" /> -->
                                <select class="form-control m-input m-input--air  m-input m-input--square" name="notrea"
                                    id="notrea" [(ngModel)]="PunishmentInformationObject.notrea">
                                    <option *ngFor="let item of NOTICERESULT" value={{item.tabtB2}}>
                                        {{item.tabdsc}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air" disabled /> -->
                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Issue Warning")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notiss" /> -->
                                    <select class="form-control m-input m-input--air  m-input m-input--square" name="notiss"
                                    id="notiss" [(ngModel)]="PunishmentInformationObject.notiss">
                                    <option *ngFor="let item of WARNINGISSUE" value={{item.tabtB2}}>
                                        {{item.tabdsc}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air" disabled /> -->
                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Result")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notres" /> -->
                                    <select class="form-control m-input m-input--air  m-input m-input--square" name="notres"
                                    id="notres" [(ngModel)]="PunishmentInformationObject.notres">
                                    <option *ngFor="let item of NOTICEREASON" value={{item.tabtB2}}>
                                        {{item.tabdsc}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air" disabled /> -->
                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Status")}}
                            </label>
                            <div class="col-lg-2" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notsts" maxlength="1"/>
                            </div>
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Status date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" id="notstd"
                                    [(ngModel)]="PunishmentInformationObject.notstd" class="form-control  text-center"
                                    name="pladteto" placeholder="วว/ดด/ปปปป" data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                        </div>


                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Remark")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notrM1" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Remark2")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notrM2" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Remark3")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notrM3" />
                            </div>
                        </div>




                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Deduct Salary")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="PunishmentInformationObject.notdsl" id="notdsl" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("From Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" id="notfmd"
                                    [(ngModel)]="PunishmentInformationObject.notfmd" class="form-control  text-center"
                                    name="pladteto" placeholder="วว/ดด/ปปปป" data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("To Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">

                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" id="nottod"
                                    [(ngModel)]="PunishmentInformationObject.nottod" class="form-control  text-center"
                                    name="pladteto" placeholder="วว/ดด/ปปปป" data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy">

                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer ">

                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close2() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>




        </div>
    </div>
</div>