<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("สมัครฝึกอบรม")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body" id="md">
                <div class="row">
                    <div class="col-md-12  form-group m-form__group row">
                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            {{l("หลักสูตร")}}
                        </label>

                        <div class="col-lg-5" style="margin-top: 5px">
                            <input class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #expper22 name="expper22" id="expper22" disabled/>
                     
                        </div>

                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right" hidden>
                            {{l("วันที่สมัคร")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px" hidden>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" #date1
                                name="date1" id="date1" data-provide="datepicker" placeholder="วว/ดด/ปปปป"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy" />
                        </div>
                        <!-- <div class="col-lg-2" style="margin-top: 5px">
                            <button type="button " class="btn btn-secondary pull-left " data-dismiss="modal "
                                style="margin-left: 0px">{{l("ค้นหา")}}</button></div> -->
                        <div class="col-lg-6">

                        </div>
                        <!-- 
                        <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                            {{l("วันที่เริ่ม")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 15px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" #date1 name="date1" id="date1"
                                disabled />
                        </div>
                        <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                            {{l("เวลา")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 15px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" #tami1 name="tami1" id="tami1"
                                disabled />
                        </div>

                        <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                            {{l("ถึงวันที่")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 15px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" #date2 name="date2" id="date2"
                                disabled />
                        </div>
                        <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                            {{l("เวลา")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 15px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" #tami2 name="tami2" id="tami2"
                                disabled />
                        </div> -->



                    </div>

                    <div class="col-md-12  form-group m-form__group row">
                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            {{l("พนักงาน")}}
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                onclick="this.select()" (keyup.enter)="chgindex('btnss')" #empids id="empids"
                                (keyup)="kuacc(empids.value)" [(ngModel)]="CreateSelfAddInput.tneid"  />
                        </div>

                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" disabled
                                [(ngModel)]="nameempcs" />
                        </div>

                        <div class="col-lg-1" style="margin-top: 5px">
                            <button type="button " class="btn btn-success pull-left " data-dismiss="modal " #btnss
                                id="btnss" style="margin-left: 0px"
                                (click)="insertd(expper22.value,date1.value,empids.value)">{{l("สมัครฝึกอบรม")}}</button>
                        </div>

                        <!-- <div class="col-lg-1" style="margin-top: 5px">
                            <button type="button " class="btn btn-warning pull-left " data-dismiss="modal " #btnss
                                id="btnss" style="margin-left: 0px">{{l("Impot Excel")}}</button></div> -->
                        <!-- 
                        <div class="col-lg-2" style="margin-top: 5px">
                            <button type="button " class="btn btn-danger pull-right " data-dismiss="modal "
                                style="margin-left: 0px" (click)="show2() ">{{l("เลือกพนักงาน")}}</button></div> -->
                    </div>

                    <div class="col-md-12 ">
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGridemp
                            [dataSource]="array_data_complete" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                            (onContentReady)="onContentReady($event)" >
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                                showScrollbar="always">
                            </dxo-scrolling>
                            <dxo-selection mode="single">
                            </dxo-selection>
                            <dxo-editing mode="row" [allowDeleting]="true">
                            </dxo-editing>
                            <dxi-column dataField="tnsts" caption="สถานะ" [fixed]="true" fixedPosition="left">
                            </dxi-column>

                            <dxi-column dataField="expper22" caption="หลักสูตร"></dxi-column>
                            <dxi-column dataField="empids" caption="รหัสพนักงาน"></dxi-column>
                            <!-- <dxi-column dataField="date1" caption="วันที่สมัคร" [customizeText]="fnddmmyyyygrid">
                            </dxi-column> -->
                            <!-- <dxi-column dataField="tnaut1" caption="ผู้อนุมัติ1" [fixed]="true" fixedPosition="right">
                            </dxi-column>
                            <dxi-column dataField="tnaut2" caption="ผู้อนุมัติ2" [fixed]="true" fixedPosition="right">
                            </dxi-column> -->
                            <!-- <dxi-column dataField="tnaut3" caption="หัวหน้าแผนกอนุมัติ" [fixed]="true" fixedPosition="right">
                            </dxi-column>
                            <dxi-column dataField="tnauthr" caption="HR ผู้อนุมัติ" [fixed]="true"
                                fixedPosition="right"></dxi-column> -->

                            <!-- <dxi-column dataField="tnaut1stamp" caption="วันที่อนุมัติ"
                                [customizeText]="fnddmmyyyygrid"></dxi-column>
                            <dxi-column dataField="tnaut2stamp" caption="วันที่อนุมัติ"
                                [customizeText]="fnddmmyyyygrid"></dxi-column>
                            <dxi-column dataField="tnaut3stamp" caption="วันที่อนุมัติ"
                                [customizeText]="fnddmmyyyygrid"></dxi-column>
                            <dxi-column dataField="tnauthrstamp" caption="วันที่อนุมัติ"
                                [customizeText]="fnddmmyyyygrid"></dxi-column> -->


                        </dx-data-grid>
                    </div>
                </div>
                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save()">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-window-close "></i> {{l("Close ")}}</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- ///----------------------------------------------Employee Master List------------------------------------------------------------------------------////// -->
<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Master")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #seEmployee [dataSource]="emp"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        keyExpr="psnidn" [(selectedRowKeys)]="selectedRows">

                        <dxo-selection mode="multiple"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="psnidn" caption="Employee ID"></dxi-column>
                        <dxi-column dataField="psntth" caption="Title">
                            <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfnm" caption="First Name"></dxi-column>
                        <dxi-column dataField="psnlnm" caption="Last Name"></dxi-column>
                        <dxi-column dataField="psnfen" caption="First Name(Eng)"></dxi-column>
                        <dxi-column dataField="psnlen" caption="Last Name(Eng)"></dxi-column>
                        <dxi-column dataField="psncom" caption="Company"></dxi-column>
                        <dxi-column dataField="psnbrn" caption="Branch"></dxi-column>
                        <dxi-column dataField="psnfst" caption="Status"></dxi-column>
                    </dx-data-grid>
                    <div class="selected-data">
                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                            value="{{seEmployee.selectedRowKeys}}" hidden #data_select2>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan2(data_select2.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>