<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}" style="overflow-y:auto;">
  <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
    <div class="modal-content">

      <div class="modal-header" style="background-color:#58A3DC">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b>{{("Add Summary Income and Reduce by Year")}}</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>

      <div class="modal-body" id="us">
        <div class="form-group row" id="md">

          <div class="col-md-12">
            <div class="form-group m-form__group row">
              <div class="col-lg-12">
                <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#tab1" role="tab">
                      Income Data
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab2" role="tab">
                      Reduce Data
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab1" role="tabpanel">
                    <div class="col-md-12">
                      <div class="form-group m-form__group row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 m-portlet row" style="background-color:#FEF9E7;">
                          <div class="col-lg-4">
                            <label for="" class="col-form-label">Employee ID.</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                            <label for="" class="col-form-label">&nbsp;</label>
                          </div>
                          <div class="col-lg-6">
                            <label for="" class="col-form-label">Name</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-left m-input m-input--air" name="" placeholder="" disabled>
                            <label for="" class="col-form-label">&nbsp;</label>
                          </div>
                          <div class="col-lg-2">
                            <label for="" class="col-form-label">Year</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-left m-input m-input--air" name="" placeholder="">
                            <label for="" class="col-form-label">&nbsp;</label>
                          </div>
                        </div>
                        <div class="col-lg-2"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="col-md-12">
                      <div class="form-group m-form__group row">
                        <div class="col-lg-2">
                          <label for="" class="col-form-label">Salary/Wage</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-2">
                          <label for="" class="col-form-label">Reserved</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-2">
                          <label for="" class="col-form-label">Bonus</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-2">
                          <label for="" class="col-form-label">Reserved</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-2">
                          <label for="" class="col-form-label">Management</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-2">
                          <label for="" class="col-form-label">Reserved</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าวิชาชีพ</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าเวร</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Position</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Allowance</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Retied Amt.</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Experien</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าอาหาร</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าล่วงเวลา</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Car Essence</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Other Income</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าเบี้ยเลี้ยง</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">จ่ายให้ครั้งเดียว</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Travel</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">เบี้ยขยัน</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าความเสี่ยง</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Delay Payment</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab2" role="tabpanel">
                    <div class="col-md-12">
                      <div class="form-group m-form__group row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 m-portlet row" style="background-color:#F4ECF7;">
                          <div class="col-lg-3">
                            <label for="" class="col-form-label">Status</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                            <label for="" class="col-form-label">&nbsp;</label>
                          </div>
                          <div class="col-lg-5">
                            <label for="" class="col-form-label">Status Date</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                              data-date-format="dd/mm/yyyy" class="form-control text-center m-input m-input--air">
                            <label for="" class="col-form-label">&nbsp;</label>
                          </div>
                          <div class="col-lg-4">
                            <label for="" class="col-form-label">Num Wrk Day</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-right m-input m-input--air" name="" placeholder="">
                            <label for="" class="col-form-label">&nbsp;</label>
                          </div>
                        </div>
                        <div class="col-lg-3"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="col-md-12">
                      <div class="form-group m-form__group row">
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Reserved</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Social</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Tax</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Leave-Deduct</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">รักษาพยาบาล(เกิน)</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">หักโบนัส</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าขาดเวร</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Guarantee</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">เบี้ยประกัน</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Loan Amt.</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Reserved</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Other Deduct</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">Reserved</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าน้ำค่าไฟ</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                        <div class="col-lg-3" style="margin-top:5px;">
                          <label for="" class="col-form-label">ค่าหอพัก</label>
                          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class="form-control text-right m-input m-input--air" name="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <div class="col-lg-4 m-portlet" style="background-color:#FEF9E7;margin-bottom: 0px;">
                <label for="" class="col-form-label">Total Income</label>
                <div class="input-group">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                    class="form-control text-right m-input m-input--air" name="" placeholder="" disabled>
                </div>
                <span>&nbsp;</span>
              </div>
              <div class="col-lg-4 m-portlet" style="background-color:#F4ECF7;margin-bottom: 0px;">
                <label for="" class="col-form-label">Total Deduct</label>
                <div class="input-group">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                    class="form-control text-right m-input m-input--air" name="" placeholder="" disabled>
                </div>
                <span>&nbsp;</span>
              </div>
              <div class="col-lg-4 m-portlet" style="background-color:#FDEDEC;margin-bottom: 0px;">
                <label for="" class="col-form-label">Net Income</label>
                <div class="input-group">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                    class="form-control text-right m-input m-input--air" name="" placeholder="" disabled>
                </div>
                <span>&nbsp;</span>
              </div>
            </div>

          </div>
        </div>

        <div class=" modal-footer col-md-12">
          <div class="col-md-12">
            <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
              (click)="close()">
              <i class="la la-close"></i> {{l("Close")}}</button>
            <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="save()">
              <i class="fa fa-save"></i> {{l("Save")}}</button>
            <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
              กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>