<div [@routerTransition]>
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto col-sm-9 row">
                    <div class="col-sm-12 row">
                        <h3 class="m-subheader__title m-subheader__title--separator">
                            <span>{{l("รายงานข้อมูลการลาของพนักงาน")}}</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="modal-body" style="margin-top: -10px">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 row " style="margin-top: 15px;background-color:#003399;color: white">
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("COM")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("BRN")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("Division From")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("Division To")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("Dep From")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("To Dep")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("Position From")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("Position To")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("From Emp")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("To Emp")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("Status")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 " style="margin-top: 35px">
                                    <label for="" class="col-form-label">{{l("A : Active , C : Cancel , ALL : All Type")}}</label>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("From Date")}}</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                        data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("To Date")}}</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                        data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="" class="col-form-label">{{l("Document Type")}}</label>
                                    <input class=" form-control text-center  m-input m-input--air">
                                </div>
                                <div class="col-md-6 " style="margin-top: 35px">
                                    <label for="" class="col-form-label">{{l(" CHC=แลกเวร , SAS ขายเวร")}}</label>
                                </div>
                                <div class="col-md-6 " style="margin-top: 15px">
                                    <div class="form-group">
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox" style="color: white">
                                                <input type="checkbox"> แลกเวร / ขายเวร ต่างตำแหน่ง
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox" style="color: white">
                                                <input type="checkbox"> Excel
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="col-md-12 text-center">
                                    <button type="submit " class="btn btn-success" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                        <i class="fa fa-print "></i> {{l("Print")}}</button>
                                    <button type="submit " class="btn btn-info "  (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                        <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                                    <button type="submit " class="btn btn-warning " (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                        <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                                    <button type="submit " class="btn btn-secondary "  (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                                </div>
                                <div class="col-lg-12">&nbsp;</div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>