<div [@routerTransition]>

  <div class="m-subheader">
    <div class="row align-items-center">
      <div class="mr-auto col-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{("Print Social Rate")}}</span>
        </h3>
        <span class="m-section__sub">

        </span>
      </div>
      <div class="col text-right mt-3 mt-md-0">

      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">

        <div class="col-md-12">
          <div class="form-group m-form__group row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 row" style="background-color:rgba(255, 196, 0, 0.39);">

              <div class="col-lg-12 text-center" style="margin-top: 30px">
                <button type="submit " class="btn btn-info ">
                  <i class="fa fa-print"></i> {{"Print"}}</button>
                <button type="submit " class="btn btn-success ">
                  <i class="fa fa-check"></i> {{"View"}}</button>
                <button type="submit " class="btn btn-secondary ">
                  <i class="fa fa-window-close"></i> {{"Close"}}</button>
              </div>
              <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>