<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-11 row">
                <div class="col-md-2">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("ManPower")}}</span>
                    </h3>
                </div>

                <div class="col-md-10 row">
                    <div style="margin-top:15px">
                        <font size="2">{{l("Doc.")}}</font>
                    </div>
                    <div class="col-lg-2">
                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class=" form-control text-center" #DocumentFrom id="DocumentFrom">
                    </div>
                    <div style="margin-top:15px">
                        <font size="2">{{l("To")}}</font>
                    </div>
                    <div class="col-lg-2">
                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class=" form-control text-center" #DocumentFromTo id="DocumentFromTo">
                    </div>
                    <div style="margin-top:15px">
                        <font size="2">{{l("Dep.")}}</font>
                    </div>
                    <div class="col-lg-2">
                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class=" form-control text-center" #Department id="Department">
                    </div>
                    <div style="margin-top:15px">
                        <font size="2">{{l("To")}}</font>
                    </div>
                    <div class="col-lg-2">
                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            class=" form-control text-center" #DepartmentTo id="DepartmentTo">
                    </div>
                    <div class="col-md-1">
                            <button class="btn btn-primary"
                                (click)="getManPower(DocumentFrom.value,DocumentFromTo.value,Department.value,DepartmentTo.value)">
                                <i class="fa fa-search"></i> ค้นหา
                            </button>
                        </div>
                </div>
                


                <!-- <div class="col-lg-1">
                    
                </div> -->
            </div>
            <div class="col-sm-1 text-right">
                <button class="btn btn-info" (click)="manpoweradd.show()">
                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All ManPower")}} ({{ManPowerListDto.length}})</h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                    [dataSource]="ManPowerListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
                    [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                    (onSelectionChanged)="funti($event)">
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                        [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>


                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" class="" (click)="manpoweradd.showedit(data)">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                    <dxi-column dataField="mandoc" caption="Document No"></dxi-column>
                    <dxi-column dataField="mandte" [customizeText]="fnddmmyyyygrid" caption="Doc Date"></dxi-column>
                    <dxi-column dataField="manstR1" caption="Status">
                        <dxo-lookup [dataSource]="atvc.data" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="mandiv" caption="Devision">
                        <dxo-lookup [dataSource]="DIVISION" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="mandep" caption="Department">
                        <dxo-lookup [dataSource]="DEPARTMENT" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="manpos" caption="Position Required">
                        <dxo-lookup [dataSource]="POSITION" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="mansex" caption="Sex">
                        <dxo-lookup [dataSource]="Sex.data" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="manstR2" caption="Req Status">
                        <dxo-lookup [dataSource]="MARRIEDSTATUS" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="manreA1" caption="Reg Num">
                        <dxo-lookup [dataSource]="MANPOWERTYP" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="manedu" caption="Education">
                        <dxo-lookup [dataSource]="EDUCATION" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="manepr" caption="Experience"></dxi-column>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <manpoweradd #manpoweradd
        (modalSave)="getManPower(DocumentFrom.value,DocumentFromTo.value,Department.value,DepartmentTo.value)">
    </manpoweradd>

</div>