<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Table Code Listing")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Position Certificate List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployee
                        [dataSource]="dbmtabposcer" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                        columnResizingMode="widget" [(selectedRowKeys)]="selectedRows" keyExpr="id">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="tabtB2" caption="Code"></dxi-column>
                        <dxi-column dataField="tabdsc" caption="Descriptions"></dxi-column>
                    </dx-data-grid>

                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan2(gEmployee.selectedRowKeys)" hidden>
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                        <button type="submit" class="btn btn-info pull-left" style="margin-right: 5px"
                            (click)="Add()">
                            <i class="fa fa-plus"></i> {{l("Add Item")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>
<!-- ///////////////////////////////////////////////modal2/////////////////////////////////////////////////////////////////// -->
<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Add Table Code")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Table Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="tabtB2" [(ngModel)]="createpositoncer.tabtB2" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Table Description")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="tabdsc" [(ngModel)]="createpositoncer.tabdsc" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag1")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag2")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag3")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag4")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag5")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag6")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>

                
                    </div>


                    <div class="col-lg-12">
                        
                        <button type="submit" class="btn btn-secondary pull-right" style="margin-right: 5px"
                            (click)="close2()"><i class="fa fa-window-close"></i> {{l("close")}}</button>
                            <button type="submit" class="btn btn-info pull-right" style="margin-right: 5px"
                            (click)="save()"><i class="fa fa-save"></i> {{l("save")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>