<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-calendar">&nbsp;</i>
                    </span>
                    <b>Company Holiday Table</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">Code</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air" name="getdocdate"
                                    placeholder="" id="Shiftcode">
                            </div>
                            <div class="col-lg-8">
                                <label for="" class="col-form-label">Description (Thai)</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air" name="getdocdate"
                                    placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="panel">
                        <div class="col-md-12">
                            <label for="" class="col-form-label">
                                <b>ข้อกำหนด</b>
                            </label>
                            <div class="col-md-12">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        1.
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        ปีหยุดได้
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        วัน
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        2.
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        ปีหยุดได้
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        วัน
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        3.
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        ปีหยุดได้
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        วัน
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="col-form-label">
                                    <b>กำหนดเอง</b>
                                </label>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">

                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        วัน
                                    </label>
                                    <div class="col-lg-5" style="margin-top: 5px">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="col-form-label">
                                    <b>กำหนดผู้อนุมัติในการลาในแต่ละระดับ</b>
                                </label>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-4">
                                        <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(177, 219, 245);border-color:rgb(71, 176, 241);border-width: 5px">
                                            <label for="" class="col-form-label">
                                                <b>1.ระดับปฎิบัติการ</b>
                                            </label>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ระดับ</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="" id="Shiftcode">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 1.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 2.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 3.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(177, 219, 245);border-color:rgb(71, 176, 241);border-width: 5px">
                                            <label for="" class="col-form-label">
                                                <b>2.ระดับหัวหน้าแผนก</b>
                                            </label>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ระดับ</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="" id="Shiftcode">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 1.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 2.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 3.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(177, 219, 245);border-color:rgb(71, 176, 241);border-width: 5px">
                                            <label for="" class="col-form-label">
                                                <b>3.ระดับผู้จัดการฝ่าย</b>
                                            </label>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ระดับ</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="" id="Shiftcode">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 1.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 2.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="" class="col-form-label">ผู้อนุมัติคนที่ 3.</label>
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                    placeholder="">
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>

                    </div>
                </div>
            </div>
        </div>