::ng-deep #schedulerID .dx-scheduler-cell-sizes-vertical {
    height: 110px;
    
}
::ng-deep #schedulerID .dx-scheduler-cell-sizes-horizontal {
    width: 120px;
}


/* ::ng-deep #schedulerID .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-group-table, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable:before {
    width: 240px;
}

::ng-deep #schedulerID .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-date-table-scrollable, .dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-header-scrollable {
    margin-left: 240px;
} */