<div [@routerTransition]>
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto col-sm-12 row">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{l("Workplan")}}</span>
        </h3>
        <div style="margin-top:15px">
          <h6>{{l("ประจำเดือน")}}</h6>
        </div>
        <div class="col-lg-2"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1z
            id="date1z" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="en-en"
            data-date-min-view-mode="months" data-date-start-view="months" data-date-format="mm/yyyy"
            class=" form-control text-center" placeholder=""></div>

        <div style="margin-top:15px">
          <h6>{{l("แผนก")}}</h6>
        </div>
        <div class="col-lg-3">
          <select class="form-control m_select2_1ass" style="width:100%" data-style="btn-success" #dep>
            <option *ngFor="let items of departmant" value="{{items.tabtB2}}" [selected]="items.tabtB2 === dep">
              {{items.tabdsc}}</option>
          </select>
        </div>

        <div class="col-lg-4"><button class="btn btn-primary" (click)="fndatadte(date1z.value,dep.value)"><i
              class="fa fa-search"></i>
            {{l("ค้นหา")}}</button>
          <button class="btn btn-warning" (click)="showtotal('E')"><i class="fa fa-plus"></i>
            {{l("ดึงพนักงานต่างแผนก")}}</button>

        </div>
      </div>

    </div>
  </div>
  <div class="m-content">

    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <div class="row" style="margin-bottom:10px">
          <div class="col-lg-4">
            <select class="form-control m_select2_1as" style="width:100%" id="selemp" #selecte data-style="btn-success">
              <option value="all">All</option>
              <option *ngFor="let item of resourcesDataOrg" value="{{item.id}}">{{item.text}}</option>
            </select>
          </div>
          <div class="col-lg-3">
            <button class="btn btn-info" (click)="searchper(selecte.value)" hidden id="btsearch"><i
                class="fa fa-search"></i>
              {{l("ค้นหา")}}</button>
            <!-- <button class="btn btn-primary" (click)="searchall()"><i class="fa fa-search"></i>
            {{l("ค้นหาทั้งหมด")}}</button> -->
          </div>
          <div class="col-lg-5">
            <button class="btn btn-metal pull-right" style="margin-left:5px" (click)="showtotal('S')">
              <i class="fa flaticon-cogwheel-1"></i>
              {{l("ตั้งค่า")}}
            </button>
            <button class="btn btn-info pull-right" style="margin-left:5px" (click)="showtotal('T')"><i
                class="fa fa-check"></i>
              {{l("สรุปตารางเวร")}}</button>
            <button class="btn btn-danger pull-right" style="margin-left:0px" (click)="appworkplanadd2.show()"><i
                class="fa fa-plus"></i>
              {{l("เพิ่มข้อมูล")}}</button>

          </div>
        </div>
        <dx-scheduler #schedulerID id="schedulerID" [dataSource]="arry"
          [views]='["timelineDay","timelineMonth","month"]' currentView="timelineMonth" [firstDayOfWeek]="0"
          [currentDate]="currentDate" [groups]="['wrkempid']" [height]="690" max="{{lastDay}}" min="{{firstDay}}"
          (onCellClick)="appworkplanadd.show($event)" [crossScrollingEnabled]="true"
          appointmentTooltipTemplate="tooltip-template" (onAppointmentDblClick)="canc($event)">
          <dxi-resource fieldExpr="wrkempid" [allowMultiple]="true" [dataSource]="resourcesData" label="text"
            [useColorAsDefault]="true">
          </dxi-resource>
          <dxo-editing [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false"></dxo-editing>

          <div *dxTemplate="let data of 'tooltip-template'">
            <div>

              <div>
                <div>
                  {{'SHIFTCODE: ' + data.text}}
                </div>
                <div>
                  {{'ตั้งแต่เวลา: ' + data.timest + ' น.'}}
                </div>
                <div>
                  {{'ถึงเวลา: ' + data.timeend + ' น.'}}
                </div>
              </div><br />
              <dx-button text='Delete' (onClick)='deleteDetails(data)' stylingMode="text" type="danger">
              </dx-button>&nbsp;
              <dx-button text='Edit details' (onClick)='appworkplanedit.show(data)' type="default">
              </dx-button>
            </div>
          </div>
        </dx-scheduler>
      </div>

    </div>

  </div>
  <appworkplanadd #appworkplanadd (modalSave)="fndatadte(date1z.value,dep.value)"></appworkplanadd>
  <appworkplanadd2 #appworkplanadd2 (modalSave)="fndatadte(date1z.value,dep.value)"></appworkplanadd2>
  <appworkplanedit #appworkplanedit (modalSave)="fndatadte(date1z.value,dep.value)"></appworkplanedit>


  <div bsModal #modalt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
      <div class="modal-content">
        <div class="modal-header" style="height:60px;background-color:#fe5e78">
          <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
            <span class="m-portlet__head-icon">
              <i class="la la-bars">&nbsp;</i>
            </span>
            <b *ngIf="varty == 'T'"> สรุปตารางเวร </b>
            <b *ngIf="varty == 'E'"> ดึงพนักงานต่างแผนก </b>
            <b *ngIf="varty == 'S'"> ตั้งค่าตารางเวร </b>
          </h5>


        </div>

        <div class="modal-body" id="us" *ngIf="varty == 'T'">


          <div class="form-group m-form__group row">

            <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="GeneralLedgerH"
              [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
              [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">
              <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
              </dxo-scrolling>
              <dxo-group-panel [visible]="true"></dxo-group-panel>

              <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
                [showPageSizeSelector]="true" [visible]="true">
              </dxo-pager>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
              <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
              <!-- <dxi-column [visible]="false" dataField="id" caption="id" [sortIndex]="1" sortOrder="asc"></dxi-column>
          <dxi-column [allowGrouping]="false" dataField="dthdoc" caption="Document No.">
              <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column> -->
              <dxi-column dataField="dthrfn" caption="Emp ID"></dxi-column>
              <dxi-column dataField="dthcvr" caption="Emp Name"></dxi-column>
              <dxi-column dataField="dthdte" caption="OT" alignment="right"></dxi-column>
              <dxi-column dataField="dthdS1" caption="เวรจริง" alignment="right"></dxi-column>
              <dxi-column dataField="drAmt" caption="วันหยุด" alignment="right"></dxi-column>
              <dxi-column dataField="crAmt" caption="รวมเวร" alignment="right"></dxi-column>
              <dxi-column dataField="dthpst" caption="OnCall" alignment="right"></dxi-column>
              <dxi-column dataField="dthrfd" caption="Food" alignment="right"></dxi-column>
              <dxi-column dataField="dthrfd" caption="Prove By" alignment="center"></dxi-column>

              <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
              <!-- <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
              [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>


          <div *dxTemplate="let data of 'cellTemplate'">
              <a href="javascript:;" class="" (click)="detailGLHModal.show(data.data.dthdoc)">
                  <i class="fa fa-search-plus"></i>
              </a>
          </div> -->



            </dx-data-grid>



          </div>
        </div>
        <div class="modal-body" id="us" *ngIf="varty == 'E'">
          <div class="form-group m-form__group row">

            <div class="col-md-4">
              <label for="" class="col-form-label">แผนก</label>
              <select class="form-control m_select2_1ass2" style="width:100%" data-style="btn-success" #deps>
                <option *ngFor="let items of departmant" value="{{items.tabtB2}}" [selected]="items.tabtB2 === dep">
                  {{items.tabdsc}}</option>
              </select>
              <span class="m-form__help" style="color:#BEBEBE">
                ระบุแผนก
              </span>
            </div>
            <div class="col-md-2" style="margin-top: 38px">
              <a (click)="searchdep(deps.value)" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only">
                <i class="fa fa-search"></i>
              </a>
            </div>

            <div class="col-md-4">
              <label for="" class="col-form-label">พนักงาน</label>
              <!-- <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="wrkempid" [(ngModel)]="createworkplan.wrkempid"
  > -->
              <select class="form-control m_select2_1at2" style="width:100%" #empids data-style="btn-success">

                <option *ngFor="let item of employees" value="{{item.psnidn}}">{{item.psnempname}}</option>
              </select>

              <span class="m-form__help" style="color:#BEBEBE">
                ระบุพนักงาน
              </span>
            </div>
            <div class="col-md-2" style="margin-top: 38px">
              <a (click)="tag_user(empids.value)" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only">
                <i class="la la-plus"></i>
              </a>
            </div>


            <div class="col-md-12">
              <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="tag_userlist"
                [allowColumnResizing]="true" [showBorders]="true" [columnAutoWidth]="true">

                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                <dxi-column [width]="40" caption="ลบ" cellTemplate="cellTemplate" [fixed]="true" fixedPosition="right">
                </dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                  <a href="javascript:;" class="" (click)="delete_tag_user(data.data.psnpid)">
                    <u>ลบ</u>
                  </a>
                </div>
                <dxi-column dataField="psnpid" caption="รหัสพนักงาน"></dxi-column>
                <dxi-column dataField="name" caption="ชื่อ-นามสกุล"></dxi-column>

                <dxo-pager [allowedPageSizes]="[5 , 10]" [showInfo]="false" [showNavigationButtons]="true"
                  [showPageSizeSelector]="true" [visible]="true">
                </dxo-pager>

                <dxo-paging [pageSize]="5"></dxo-paging>

              </dx-data-grid>
            </div>

          </div>
        </div>
        <div class="modal-body" id="us" *ngIf="varty == 'S'">
          <i class="flaticon-cogwheel pull-right" (click)="settingsD()" style="margin-top:-10px"></i>
          <div class="form-group m-form__group row">

            <div class="col-lg-3">
              <label for="" class="col-form-label">ตำแหน่งงาน</label>
              <select class="form-control m_select2_1ass2" style="width:100%" data-style="btn-success">
                <option value="ผู้อำนวยการ">ผู้อำนวยการ</option>
              </select>
            </div>

            <div class="col-lg-3">
              <label for="" class="col-form-label">ตั้งแต่ เดือน/ปี</label>
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1z id="date1z"
                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="en-en"
                data-date-min-view-mode="months" data-date-start-view="months" data-date-format="mm/yyyy"
                class=" form-control text-center" placeholder="">
            </div>

            <div class="col-lg-3">
              <label for="" class="col-form-label">ถึง เดือน/ปี</label>
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1z id="date1z"
                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="en-en"
                data-date-min-view-mode="months" data-date-start-view="months" data-date-format="mm/yyyy"
                class=" form-control text-center" placeholder="">
            </div>
            <div class="col-lg-3">
              <button type="button " class="btn btn-primary" data-dismiss="modal "
                style="margin-right: 5px;margin-top: 40px">
                <i class="fa fa-search "></i> {{l("Search ")}}</button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="form-group m-form__group row col-lg-10"
              style="margin-top: 15px;background-color:rgba(255, 196, 0, 0.39) ">
              <div class="col-lg-12">
                <label for="" class="col-form-label">Full Time</label>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-4" style="margin-top:-20px">
                <label for="" class="col-form-label">เวรทำงาน</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  placeholder="">
                <!-- <span class="m-form__help" style="color:#BEBEBE">
                ระบุ เวรทำงาน
              </span> -->
                <br>
              </div>

              <div class="col-lg-4" style="margin-top:-20px">
                <label for="" class="col-form-label">จำนวนชั่วโมงโอที</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  placeholder="">
                <!-- <span class="m-form__help" style="color:#BEBEBE">
                  ระบุ จำนวนชั่วโมงโอที
                </span> -->
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="form-group m-form__group row col-lg-10"
              style="margin-top: 15px;background-color:rgba(255, 196, 0, 0.39) ">
              <div class="col-lg-12">
                <label for="" class="col-form-label">Part Time</label>
              </div>
              <div class="col-lg-2"></div>


              <div class="col-lg-4" style="margin-top:-20px">
                <label for="" class="col-form-label">จำนวนชั่วโมงโอที</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  placeholder="">
                <!-- <span class="m-form__help" style="color:#BEBEBE">
                  ระบุ จำนวนชั่วโมงโอที
                </span> -->
                <br>
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="form-group m-form__group row col-lg-10"
              style="margin-top: 15px;background-color:rgba(255, 196, 0, 0.39) ">
              <div class="col-lg-12">
                <label for="" class="col-form-label">การบันทึกตารางเวร</label>
              </div>
              <div class="col-lg-2"></div>


              <div class="col-lg-4" style="margin-top:-20px">
                <label for="" class="col-form-label">กำหนดวันสิ้นสุดการบันทึกตารางเวร</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  placeholder="" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="en-en" data-date-format="dd/mm/yyyy">
                <!-- <span class="m-form__help" style="color:#BEBEBE">
                    ระบุ จำนวนชั่วโมงโอที
                  </span> -->
                <br>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
          <div class="col-lg-12" style="text-align:center">
            <button type="button " class="btn btn-info" data-dismiss="modal " style="margin-right: 5px"
              (click)="saveset()">
              <i class="fa fa-save "></i> {{l("Save ")}}</button>
            <button type="button " class="btn btn-secondary" data-dismiss="modal " style="margin-right: 5px"
              (click)="canset()">
              <i class="fa fa-undo "></i> {{l("Cancel ")}}</button>
          </div>
          <div class="form-group m-form__group row">
            <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="sett"
              [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
              [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">
              <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
              </dxo-scrolling>
              <dxo-group-panel [visible]="true"></dxo-group-panel>

              <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
                [showPageSizeSelector]="true" [visible]="true">
              </dxo-pager>
              <dxo-paging [pageSize]="10"></dxo-paging>

              <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
              <dxi-column dataField="dthrfn" caption="เดือน/ปี"></dxi-column>
              <dxi-column dataField="dthcvr" caption="จำนวนเวร"></dxi-column>
              <dxi-column dataField="dthdte" caption="จำนวนชั่วโมงโอที" alignment="right"></dxi-column>
              <dxi-column dataField="dthdS1" caption="จำนวนชั่วโมงโอที P" alignment="right"></dxi-column>

              <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
            </dx-data-grid>



          </div>
        </div>
        <div class="modal-footer col-md-12 ">

          <div class="col-md-12 ">
            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
              (click)="closetotal() ">
              <i class="fa fa-close "></i> {{l("Close ")}}</button>
            <button type="button " class="btn btn-danger pull-right " data-dismiss="modal " style="margin-right: 5px"
              (click)="saveemp()" *ngIf="varty == 'E'">
              <i class="fa fa-save"></i> {{l("Save ")}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div bsModal #modalset="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 40% ;" role="document">
      <div class="modal-content">
        <div class="modal-header" style="height:60px">
          <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
            <span class="m-portlet__head-icon">
              <i class="la la-bars">&nbsp;</i>
            </span>
            <b> ตั้งค่าหลัก </b>
          </h5>


        </div>


        <div class="modal-body">

          <div class="form-group m-form__group row">
            <div class="col-lg-12">
              <label class="form-control-label">ปี</label>
              <select class="form-control text-center ">
                <option value="2019">2019</option>
              </select>
            </div>
            <div class="col-lg-12">
              <label class="form-control-label" style="margin-top:5px;margin-right:15px">รูปแบบเวรทำงาน</label>
              <div class="m-radio-inline">
                <label class="m-radio m-radio--solid m-radio--brand">
                  <input onkeyup="chkstr(this,this.value)" type="radio" name="account_group" checked="" value="1">
                  เวรทำงาน
                  <span></span>
                </label>
                <label class="m-radio m-radio--solid m-radio--brand">
                  <input onkeyup="chkstr(this,this.value)" type="radio" name="account_group" value="2"> ชั่วโมงทำงาน
                  <span></span>
                </label>
              </div>
            </div>

            <div class="col-lg-12">
              <label class="form-control-label" style="margin-top:5px;margin-right:15px">รูปแบบข้อมูล</label>
              <div class="m-radio-inline">
                <label class="m-radio m-radio--solid m-radio--brand">
                  <input onkeyup="chkstr(this,this.value)" type="radio" name="account_group2" checked="" value="1">
                  ตามการทำงาน
                  <span></span>
                </label>
                <label class="m-radio m-radio--solid m-radio--brand">
                  <input onkeyup="chkstr(this,this.value)" type="radio" name="account_group2" value="2"> ตามตำแหน่งงาน
                  <span></span>
                </label>
              </div>
            </div>



          </div>

        </div>
        <div class="modal-footer col-md-12 ">

          <div class="col-md-12 ">
            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
              (click)="closestD() ">
              <i class="fa fa-close "></i> {{l("Close ")}}</button>
            <button type="button " class="btn btn-danger pull-right " data-dismiss="modal " style="margin-right: 5px"
              (click)="savestD()">
              <i class="fa fa-save"></i> {{l("Save ")}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>