<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Cource ")}}</b>
                </h5>

                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- 
                <div class="col-sm-1 text-right">
                        <button class="btn btn-info" (click)="SetupEmptrainingadd.show()">
                            <i class="fa fa-plus"></i> {{l("ccs")}}</button>
                    </div> -->
            <div class="modal-body" id="us">

                <div class="col-sm-12">
                    <div class="form-group m-form__group row">
                        <div style="margin-top:15px;margin-left: 5px">
                            <h6>{{l("ประจำปี")}}</h6>
                        </div>
                        <div class="col-lg-1"><input autocomplete="off" onkeyup="chkstr(this,this.value)" id="year"
                                data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                #yearsSr data-provide="datepicker" data-date-language="th-th"
                                class="form-control text-center  m-input m-input--air">
                        </div>
                        <div style="margin-top:15px">
                            <h6>{{l("ประเภท")}}</h6>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a" #typ
                                id="typ" style="width:100%" name="typ">
                                <option value="All" selected>ทั้งหมด</option>
                                <option *ngFor="let item of TrainingCourse" value="{{item.tabtB2}}">
                                    {{item.tabdsc}}
                                </option>
                            </select>
                        </div>

                        <div style="margin-top:15px">
                            <h6>{{l("ระหว่างวันที่")}}</h6>
                        </div>
                        <div class="col-lg-2"><input autocomplete="off" onkeyup="chkstr(this,this.value)"
                                data-provide="datetimepicker" data-date-language="th-th" type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control text-center"
                                placeholder="ตั้งแต่วันที่" #datet1sr>
                        </div>
                        <div style="margin-top:15px">
                            <h6>{{l("ถึง")}}</h6>
                        </div>
                        <div class="col-lg-2">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control text-center" placeholder="ถึงวันที่"
                                #datet2sr>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-info m-btn m-btn--icon m-btn--icon-only"
                                style="margin-left:-25px;margin-top: 3px"
                                (click)="getCourseValue(yearsSr.value,typ.value,datet1sr.value,datet2sr.value)">
                                <i class="fa fa-search"></i></button>
                        </div>
                        <div class="col-sm-1" >
                            <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                                 (click)="savetrue(data_select2.value) ">
                                 {{l("นับชั่วโมง KPI")}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGridcourse
                        [dataSource]="Course" (onContentReady)="onContentReady($event)" [errorRowEnabled]="false"
                        [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                        [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="placod"
                        [(selectedRowKeys)]="selectedRows">
                        <dxo-selection mode="multiple">
                        </dxo-selection>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>

                        <dxi-column dataField="playea" caption="ปี" [customizeText]="fnyyyy543grid"></dxi-column>
                        <dxi-column dataField="pladtefm" caption="วันที่เริ่ม" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column dataField="pladteto" caption="ถึงวันที่" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column dataField="placod" caption="Code"></dxi-column>
                        <dxi-column dataField="planam" caption="หลักสูตร"></dxi-column>
                        <dxi-column dataField="platyp" caption="ประเภทฝึกอบรม"></dxi-column>
                        <dxi-column dataField="plaseq" caption="รุ่น"></dxi-column>
                        <dxi-column dataField="platgt" caption="กลุ่ม"></dxi-column>
                        <dxi-column dataField="planaM4" caption="วิทยากร"></dxi-column>
                        <dxi-column dataField="placare" caption="ผู้รับผิดชอบ"></dxi-column>
                        <dxi-column dataField="plaamt" caption="งบประมาณ" format="#,##0.00"></dxi-column>
                        <dxi-column dataField="hrschrs" caption="นับชั่วโมง KPI"></dxi-column>


                        <div class="selected-data">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                value="{{targetDataGridcourse.selectedRowKeys}}" hidden #data_select2>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
        </div>

    </div>
</div>