<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height:60px;background-color:#0099FF">
        <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b> เพิ่มตารางเวร </b>
        </h5>

        <!-- <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
      </div>

      <div class="modal-body" id="us">


        <div class="form-group m-form__group row">
            <dx-load-panel #loadPaneldetail shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible"
            [showIndicator]="true" [indicatorSrc]="indicatorUrl" message="Saving ,Please wait..." [showPane]="true"
            [shading]="true" [closeOnOutsideClick]="false">
        </dx-load-panel>
          <div class="col-lg-8 row">
            <div class="col-lg-6">
              <label for="" class="col-form-label">วันที่</label>
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="en-en"  data-date-format="dd/mm/yyyy" class=" form-control  text-center" id="d1x" #dte1>
              <span class="m-form__help" style="color:#BEBEBE">
                ระบุวันที่
              </span>
            </div>

            <div class="col-lg-6">
              <!-- <label for="" class="col-form-label">ถึงวันที่</label> -->


              <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:11px">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" [(ngModel)]="CHECKDTE" (click)="Chkdte()" > ถึงวันที่
                <span></span>
              </label>

              <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="en-en"  data-date-format="dd/mm/yyyy" class=" form-control  text-center" id="chkd" disabled #dte2>

              <span class="m-form__help" style="color:#BEBEBE">
                ระบุถึงวันที่
              </span>


            </div>




            <!-- /////////////////////////////////////// 1 ///////////////////////////////////////////////// -->
            <div class="col-lg-4">
              <!-- <label for="" class=" col-form-label">ช่วงเวลา</label> -->

              <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:11px">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" [(ngModel)]="CHK" id="CHKDIS" (click)="checkseltime()"> ช่วงเวลา
                <span></span>
              </label>

              <select class="form-control m_select2_1at" style="width:100%" #selecttime data-style="btn-success">

                <option *ngFor="let item of dbmtabshiftcode" value="{{item.tabtB2}}">{{item.tabtB2}}
                  : {{item.tabdsc}}</option>
              </select>

              <span class="m-form__help" style="color:#BEBEBE">
                ระบุช่วงเวลา
              </span>
            </div>

            <div class="col-lg-8 row">

              <div class="col-lg-2">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="ot" [(ngModel)]="OTCHECK"> OT
                  <span></span>
                </label>
              </div>
              <div class="col-lg-3">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="oc" [(ngModel)]="OCCHECK"> ONCALL
                  <span></span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="od" [(ngModel)]="ODCHECK"> ค่าเวรบ่ายดึก
                  <span></span>
                </label>
              </div>
              <div class="col-lg-3">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="os" [(ngModel)]="OSCHECK"> ค่า SUP
                  <span></span>
                </label>
              </div>
            </div>


            <!-- /////////////////////////////////////// 1 ///////////////////////////////////////////////// -->
            <div class="col-lg-4">
              <!-- <label for="" class=" col-form-label">ช่วงเวลา</label> -->

              <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:11px">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" [(ngModel)]="CHK2" id="CHK2DIS" (click)="checkseltime()"> ช่วงเวลา
                <span></span>
              </label>

              <select class="form-control m_select2_1at" style="width:100%" #selecttime2 data-style="btn-success" >

                <option *ngFor="let item of dbmtabshiftcode" value="{{item.tabtB2}}">{{item.tabtB2}}
                  : {{item.tabdsc}}</option>
              </select>

              <span class="m-form__help" style="color:#BEBEBE">
                ระบุช่วงเวลา
              </span>
            </div>

            <div class="col-lg-8 row">

              <div class="col-lg-2">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="ot2" [(ngModel)]="OTCHECK2"> OT
                  <span></span>
                </label>
              </div>
              <div class="col-lg-3">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="oc2" [(ngModel)]="OCCHECK2"> ONCALL
                  <span></span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="od2" [(ngModel)]="ODCHECK2"> ค่าเวรบ่ายดึก
                  <span></span>
                </label>
              </div>
              <div class="col-lg-3">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="os2" [(ngModel)]="OSCHECK2"> ค่า SUP
                  <span></span>
                </label>
              </div>
            </div>

            <!-- /////////////////////////////////////// 1 ///////////////////////////////////////////////// -->
            <div class="col-lg-4">
              <!-- <label for="" class=" col-form-label">ช่วงเวลา</label> -->

              <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:11px">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" [(ngModel)]="CHK3" id="CHK3DIS" (click)="checkseltime()"> ช่วงเวลา
                <span></span>
              </label>

              <select class="form-control m_select2_1at" style="width:100%" #selecttime3 data-style="btn-success">

                <option *ngFor="let item of dbmtabshiftcode" value="{{item.tabtB2}}">{{item.tabtB2}}
                  : {{item.tabdsc}}</option>
              </select>

              <span class="m-form__help" style="color:#BEBEBE">
                ระบุช่วงเวลา
              </span>
            </div>

            <div class="col-lg-8 row">

              <div class="col-lg-2">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="ot3" [(ngModel)]="OTCHECK3"> OT
                  <span></span>
                </label>
              </div>
              <div class="col-lg-3">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="oc3" [(ngModel)]="OCCHECK3"> ONCALL
                  <span></span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="od3" [(ngModel)]="ODCHECK3"> ค่าเวรบ่ายดึก
                  <span></span>
                </label>
              </div>
              <div class="col-lg-3">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="os3" [(ngModel)]="OSCHECK3"> ค่า SUP
                  <span></span>
                </label>
              </div>
            </div>

            <!-- /////////////////////////////////////// 1 ///////////////////////////////////////////////// -->
            <div class="col-lg-4">
              <!-- <label for="" class=" col-form-label">ช่วงเวลา</label> -->

              <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:11px">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" [(ngModel)]="CHK4" id="CHK4DIS" (click)="checkseltime()"> ช่วงเวลา
                <span></span>
              </label>

              <select class="form-control m_select2_1at" style="width:100%" #selecttime4 data-style="btn-success">

                <option *ngFor="let item of dbmtabshiftcode" value="{{item.tabtB2}}">{{item.tabtB2}}
                  : {{item.tabdsc}}</option>
              </select>

              <span class="m-form__help" style="color:#BEBEBE">
                ระบุช่วงเวลา
              </span>
            </div>

            <div class="col-lg-8 row">

              <div class="col-lg-2">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="ot4" [(ngModel)]="OTCHECK4"> OT
                  <span></span>
                </label>
              </div>
              <div class="col-lg-3">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="oc4" [(ngModel)]="OCCHECK4"> ONCALL
                  <span></span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="od4" [(ngModel)]="ODCHECK4"> ค่าเวรบ่ายดึก
                  <span></span>
                </label>
              </div>
              <div class="col-lg-3">
                <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="os4" [(ngModel)]="OSCHECK4"> ค่า SUP
                  <span></span>
                </label>
              </div>
            </div>

          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-md-10">
                <label for="" class="col-form-label">พนักงาน</label>
                <!-- <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="wrkempid" [(ngModel)]="createworkplan.wrkempid"
    > -->
                <select class="form-control m_select2_1at" style="width:100%" #empid data-style="btn-success">

                  <option *ngFor="let item of employee" value="{{item.id}}">{{item.text}}</option>
                </select>
               
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุพนักงาน
                </span>
              </div>
              <div  style="margin-top: 38px">
                  <a (click)="tag_user(empid.value)" class="btn btn-metal m-btn m-btn--icon btn-lg m-btn--icon-only">
                      <i class="la la-plus"></i>
                    </a>
              </div>
            </div>
            <div>
              <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="tag_userlist" [allowColumnResizing]="true"
                [showBorders]="true" [columnAutoWidth]="true">

                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                <dxi-column [width]="40" caption="ลบ" cellTemplate="cellTemplate" [fixed]="true" fixedPosition="right"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                  <a href="javascript:;" class="" (click)="delete_tag_user(data.data.psnpid)">
                    <u>ลบ</u>
                  </a>
                </div>
                <dxi-column dataField="name" caption="ชื่อ" sortOrder="desc"></dxi-column>

                <dxo-pager [allowedPageSizes]="[5 , 10]" [showInfo]="false" [showNavigationButtons]="true"
                  [showPageSizeSelector]="true" [visible]="true">
                </dxo-pager>

                <dxo-paging [pageSize]="5"></dxo-paging>

              </dx-data-grid>
            </div>




          </div>

        </div>
      </div>
      <div class="progress" style="height: 20px;">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: progressbarss" id="pbb"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{progressbarss}}</div>
      </div>
      <div class="modal-footer col-md-12 ">

        <div class="col-md-12 ">
          <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
            (click)="close() ">
            <i class="fa fa-close "></i> {{l("Close ")}}</button>
          <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px"
            (click)="save(empid.value,selecttime.value,selecttime2.value,selecttime3.value,selecttime4.value,dte1.value,dte2.value)">
            <i class="fa fa-save"></i> {{l("Save ")}}</button>

          <!-- <button type="button " class="btn btn-info pull-left " data-dismiss="modal " style="margin-left: 5px" (click)="print() ">
            <i class="fa fa-print "></i> {{l("Print ")}}</button> -->

        </div>
      </div>
    </div>
  </div>
</div>