<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">รายได้/รายการหัก</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="" class="col-form-label">Year</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" name="" data-date-format="yyyy"
                                    data-date-min-view-mode="years" data-date-start-view="years"
                                    data-provide="datepicker" data-date-language="th-th">
                            </div>
                            <div class="col-sm-2">
                                <label for="" class="col-form-label">Month</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" name="" data-date-format="MM"
                                    data-date-min-view-mode="months" data-date-start-view="months"
                                    data-provide="datepicker" data-date-language="th-th">
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="col-form-label">ID</label>
                                <!-- <select class="form-control m-input m-input--square" name="">
                                    <option value="" hidden>กรุณาเลือกข้อมูล</option>
                                    <option></option>
                                </select> -->
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeInformationsListDto.pswidn" disabled />
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="col-form-label">Name</label>
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"  [(ngModel)]="nameID"
                                    disabled>
                            </div>
                            <div class="col-sm-2" style="margin-top:47px">
                                <div class="input-group">
                                    <div class="col-sm-12">
                                        <label class="m-checkbox m-checkbox--state-info">
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox">
                                            ใช้ตลอด<span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <div class="col-sm-1">
                                <label for="" class="col-form-label">Division</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" name="" disabled>
                            </div>
                            <div class="col-sm-3" style="margin-top:10px">
                                <label for="" class="col-form-label"></label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" name="" disabled>
                            </div>
                            <div class="col-sm-1">
                                <label for="" class="col-form-label">Division</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" name="" disabled>
                            </div>
                            <div class="col-sm-3" style="margin-top:10px">
                                <label for="" class="col-form-label"></label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" name="" disabled>
                            </div>
                            <div class="col-sm-1">
                                <label for="" class="col-form-label">Department</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" name="" disabled>
                            </div>
                            <div class="col-sm-3" style="margin-top:10px">
                                <label for="" class="col-form-label"></label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" name="" disabled>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-12">
                        <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--info" role="tablist">

                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tab1" role="tab">
                                    รายได้/รายการหัก
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab2" role="tab">
                                    Guruntee Income
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="m_tab1" role="tabpanel">
                                <div class="col-md-12" style="margin-top:8px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="" class="col-form-label text-center">Income</label>
                                            <dx-data-grid id="gridContainer" [dataSource]=""
                                                [allowColumnReordering]="true" [showBorders]="true">
                                                <dxi-column dataField="" caption="Code"></dxi-column>
                                                <dxi-column dataField="" caption="Description"></dxi-column>
                                                <dxi-column dataField="" caption="Amount"></dxi-column>
                                            </dx-data-grid>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="" class="col-form-label text-center">Deductible</label>
                                            <dx-data-grid id="gridContainer" [dataSource]=""
                                                [allowColumnReordering]="true" [showBorders]="true">
                                                <dxi-column dataField="" caption="Code"></dxi-column>
                                                <dxi-column dataField="" caption="Description"></dxi-column>
                                                <dxi-column dataField="" caption="Amount"></dxi-column>
                                            </dx-data-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="m_tab2" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("On Call")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeInformationsListDto.pswcal" />
                                        </div>
                                        <div class="col-lg-5" style="margin-top: 5px">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("Fix Rate Part Time")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeInformationsListDto.pswoth" />
                                        </div>
                                        <div class="col-lg-5" style="margin-top: 5px">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("ORเล็ก-CIR/CT/MRI")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeInformationsListDto.pswmri" />
                                        </div>
                                        <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                            {{l("ORเล็ก-SCRUB/ANGIO")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeInformationsListDto.psworscu" />
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("MAJOR-SCRUB")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeInformationsListDto.pswmajscr" />
                                        </div>
                                        <div class="col-lg-5" style="margin-top: 5px">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("MINOR/ENDO-SCRUB")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeInformationsListDto.pswminscr" />
                                        </div>
                                        <div class="col-lg-5" style="margin-top: 5px">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("Shift Rate (ค่ากะ)")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off"
                                                class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeInformationsListDto.pswfod" />
                                        </div>
                                        <div class="col-lg-5" style="margin-top: 5px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-success pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm")}}</button>
                </div>
            </div>


        </div>


    </div>
</div>