<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-11 row">
                <div style="margin-top:15px">
                    <font size="2">{{l("Department")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder=" ">
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("To Department")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("ID")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("To ID")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="col-sm-2 text-right">
                    <button class="btn btn-info " (click)="advancepaymentmainadd.show()">
                        <i class="fa fa-plus"></i> {{l("Add")}}</button>
                </div>
            </div>

        </div>
        <div class="mr-auto col-sm-11 row" style="margin-top: 7px">
            <div style="margin-top:15px">
                <font size="2" style="text-align:right">{{l("Year")}}</font>
            </div>
            <div class="col-lg-2" style="margin-left:48px">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air"
                    id="year" data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years" data-provide="datepicker"
                    data-date-language="th-th">
            </div>
            <div style="margin-top:15px">
                <font size="2" style="text-align:right">{{l("Month")}}</font>
            </div>
            <div class="col-lg-2" style="margin-left:59px">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air"
                    id="month" data-date-format="mm" data-date-min-view-mode="months" data-date-start-view="months" data-provide="datepicker"
                    data-date-language="th-th">
            </div>
            <div style="margin-top:15px">
                <font size="2">{{l("Filename")}}</font>
            </div>
            <div class="col-lg-4">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
            </div>
            <div class="col-lg-1" style="margin-top: 5px">
                <button class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
                    <i class="fa fa-search"></i>
                </button>
            </div>

        </div>
    </div>

    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Employee Data Before To Payroll")}} </h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="emp" (onContentReady)="onContentReady($event)"
                    [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">

                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                    </dxo-scrolling>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-export [enabled]="true" fileName="Special Cost Document List" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                        [visible]="true">
                    </dxo-pager>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxi-column dataField="psnidn" caption="Emp ID"> </dxi-column>
                    <dxi-column dataField="psnfnm" caption="Name"></dxi-column>
                    <dxi-column dataField="psnlnm" caption="Surname"></dxi-column>
                    <dxi-column dataField="psndep" caption="Dep Code"> </dxi-column>
                    <dxi-column dataField="psndev" caption="Department"> </dxi-column>
                    <dxi-column dataField="psnpty" caption="PPT"> </dxi-column>
                    <dxi-column dataField="psnsts" caption="Status"> </dxi-column>
                    <dxi-column dataField="psnmmn" caption="Main"> </dxi-column>

                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false" cellTemplate="cellTemplate"
                        caption=""></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" style="color:#3399FF	" class="" (click)="empbftopayrolledit.show()">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <Workshiftpadd #Workshiftpadd (modalSave)="ngOnInit()"></Workshiftpadd>
    <empbftopayrolledit #empbftopayrolledit (modalSave)="ngOnInit()"></empbftopayrolledit>
</div>