<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Movement")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Movement List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployee [dataSource]="empmove"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        [(selectedRowKeys)]="selectedRows" keyExpr="movdoc">

                        <dxo-selection mode="single"> </dxo-selection>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="movdoc" caption="เลขที่เอกสาร"></dxi-column>
                        <dxi-column dataField="movdte" caption="วันที่เอกสาร">
                            <!-- <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup> -->
                        </dxi-column>
                        <dxi-column dataField="movefd" caption="วันที่มีผล"></dxi-column>
                        <dxi-column dataField="movidn" caption="รหัสพนักงาน"></dxi-column>
                        <dxi-column dataField="movfl3" caption="ฝ่าย"></dxi-column>
                    </dx-data-grid>

                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan2(gEmployee.selectedRowKeys)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>
