<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Holiday Date List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-top: -10px">
                <div class="m-portlet__body">

                    <div class="form-group m-form__group row">

                        <dx-data-grid [allowColumnReordering]="true" #grid3 id="gridContainer" [dataSource]="" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" keyExpr="chtcod" [(selectedRowKeys)]="selectedRows">
                            <dxo-scrolling [useNative]="true" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">

                            </dxo-scrolling>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-pager [allowedPageSizes]="[10]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="false" [visible]="true">
                            </dxo-pager>

                            <dxo-paging [pageSize]="10"></dxo-paging>

                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                            <dxo-selection mode="single">
                            </dxo-selection>
                            <dxi-column dataField="chtcod" caption="Date" [customizeText]="fnddmmyyyygrid"></dxi-column>
                            <dxi-column dataField="chtdsc" caption="Description"></dxi-column>

                        </dx-data-grid>
                        <div class="selected-data">
                            <!-- {{grid.selectedRowKeys}} -->
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" value="{{grid3.selectedRowKeys}}" hidden #data_select>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-info pull-left" style="margin-left: 5px" (click)="show2()">
                                <i class="fa fa-plus-square"></i> {{l("Add")}}</button>

                            <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="get_data2(data_select.value)">
                                <i class="fa fa-save"></i> {{l("Select")}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal2//////////////////////////////////////////////////////////////////////////////////////////// -->
    <div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
        [config]="{backdrop: 'static'}" style="overflow-y:auto;">
        <div class="modal-dialog modal-lg " style=" max-width: 70% ;" role="document">
            <div class="modal-content">
                <div class="modal-header " style="background-color:#0099FF">
                    <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                        <span class="m-portlet__head-icon">
                            <i class="la la-bank">&nbsp;</i>
                        </span>
                        <b>Company Holiday Table</b>
                    </h5>
                    <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="md">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-3">
                                    <label for="" class="col-form-label">Type of Holiday</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" autocomplete="off" type="text" class="form-control m-input m-input--air  text-center"
                                        name="rcsdoc">
                                </div>
                                <div class="col-sm-3">
                                    <label for="" class="col-form-label">Holiday Year</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" autocomplete="off" type="text" class="form-control m-input m-input--air  text-center"
                                        name="rcsdoc">
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4">
                                    <label for="" class="col-form-label">Holiday Date</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" autocomplete="off" type="text" class="form-control m-input m-input--air  text-center"
                                        name="rcsdoc">
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4">
                                    <label for="" class="col-form-label">Description (Thi)</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" autocomplete="off" type="text" class="form-control m-input m-input--air  text-center"
                                        name="rcsdoc">
                                </div>
                                <div class="col-sm-4">
                                    <label for="" class="col-form-label">(Eng)</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" autocomplete="off" type="text" class="form-control m-input m-input--air  text-center"
                                        name="rcsdoc">
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-2">
                                    <label for="" class="col-form-label">Reserved Flag 1</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" autocomplete="off" type="text" class="form-control m-input m-input--air  text-center"
                                        name="rcsdoc">
                                </div>
                                <div class="col-sm-2">
                                    <label for="" class="col-form-label">Reserved Flag 2</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" autocomplete="off" type="text" class="form-control m-input m-input--air  text-center"
                                        name="rcsdoc">
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-8">
                                    <label for="" class="col-form-label">Remark</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" autocomplete="off" type="text" class="form-control m-input m-input--air  text-center"
                                        name="rcsdoc">
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer col-md-12">
                        <!-- <button type="button" class="btn btn-info" style="margin-right: 5px">Print</button>
                                    <button type="button" class="btn btn-danger" style="margin-right: 5px">CANCAL DOC</button> -->
                        <button type="submit" class="btn btn-info" style="margin-right: 5px" (click)="save(date1.value)">
                            <i class="fa fa-save"></i>Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 5px" (click)="close2()">
                            <i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>