<div [@routerTransition]>

  <div class="m-subheader">
    <div class="row align-items-center">
      <div class="mr-auto col-sm-9 row" style="margin-left:10px;">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{("Data Entry For Calculate Payroll")}}</span>
        </h3>
        <span class="m-section__sub">

        </span>
        <div style="margin-top:15px">
          <h6>{{("จากเดือนที่")}}</h6>
        </div>
        <div class="col-lg-2"> <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
            onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="mm/yyyy"
            data-date-min-view-mode="months" class="form-control text-center m-input m-input--air"
            [(ngModel)]="_fromyear"></div>
        <div style="margin-top:15px">
          <h6>{{("ถึงเดือนที่")}}</h6>
        </div>
        <div class="col-lg-2"> <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
            onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="mm/yyyy"
            data-date-min-view-mode="months" class="form-control text-center m-input m-input--air"
            [(ngModel)]="_toyear"></div>
        <div class="col-lg-2"><button class="btn btn-info"><i class="fa fa-search"></i> {{("ค้นหา")}}</button></div>
      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <h3>{{("รายการ")}} (0)</h3>
        <dx-data-grid id="gridContainer" [dataSource]="" [allowColumnReordering]="true" [showBorders]="true">
          <dxi-column dataField="" caption="ปี"></dxi-column>
          <dxi-column dataField="" caption="เดือน"></dxi-column>
          <dxi-column dataField="" caption="รหัส"></dxi-column>
          <dxi-column dataField="" caption="ชื่อ-นามสกุล"></dxi-column>
          <dxi-column dataField="" caption="แผนก"></dxi-column>
          <dxi-column dataField="" caption="สถานะ"></dxi-column>
          <dxi-column dataField="" caption="OT (1 ชม.)"></dxi-column>
          <dxi-column dataField="" caption="OT (1.5 ชม.)"></dxi-column>
          <dxi-column dataField="" caption="วันทำงาน"></dxi-column>
          <dxi-column dataField="" caption="เงินเดือน" [fixed]="true" fixedPosition="right"></dxi-column>
          <dxo-sorting></dxo-sorting>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
            [showPageSizeSelector]="true" [visible]="true">
          </dxo-pager>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
          <dxo-export [enabled]="true" fileName="" [allowExportSelectedData]="true"></dxo-export>
        </dx-data-grid>
      </div>
    </div>
  </div>

  <app-edit-data-entry-for-calculate-payroll #editdataentryforcalculatepayroll>
  </app-edit-data-entry-for-calculate-payroll>

</div>