<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("คู่มือการใช้งาน")}}</span>
                </h3>
            </div>
           
        </div>
        <!-- <div *ngFor="let item of data_show" class="m-portlet m--bg-danger m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
        </div>m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force -->
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile ">
            <div class="m-portlet__body row">
                <div class="col-xl-4" *ngFor="let item of data_show">
                    <!--begin:: Widgets/Blog-->
                    <div class="m-portlet m--bg- m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height" style="background-color:black">
                        <div class="m-portlet__head m-portlet__head--fit">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-action">

                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-widget19">
                                <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height: 286px">
                                    <img src={{item.img_url}} alt="">
                                    <h3 class="m-widget19__title m--font-light">
                                        {{item.topic}}
                                    </h3>
                                    <div class="m-widget19__shadow"></div>
                                </div>
                                <div class="m-widget19__content">
                                    <div class="m-widget19__header">
                                        <div class="m-widget19__info">
                                            <span class="m-widget19__body m--font-light">
                                                {{item.title}}
                                            </span><br>

                                        </div>

                                    </div>
                                    <div class="m-widget19__body">

                                    </div>
                                    <div class="m-widget19__body">

                                    </div>
                                </div>
                                <div class="m-widget19__action">
                                    <a href="{{item.detail}}" target="_blank" class="btn btn-outline-info m-btn m-btn--icon m-btn--outline-2x m-btn--pill">
                                        <span>
                                            <i class="fa fa-book"></i>
                                            <span> Read More</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Blog-->
                </div>
            </div>
        </div>
    </div>
</div>