<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("เพิ่มข้อมูลความดีความชอบ")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Document No.")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeCommendationObject.goddoc" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Document Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    [(ngModel)]="EmployeeCommendationObject.goddte" class="form-control  text-center"
                                    name="pladteto" placeholder="วว/ดด/ปปปป" id="goddte" data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Effective Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    [(ngModel)]="EmployeeCommendationObject.godefd" class="form-control  text-center"
                                    name="pladteto" placeholder="วว/ดด/ปปปป" id="godefd" data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Employee No.")}}
                            </label>

                            <div class="col-lg-3" style="margin-top: 5px">
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        [(ngModel)]="EmployeeCommendationObject.godeid" disabled />

                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button" (click)="show5('Emp')"
                                            [disabled]="Editing == 1">เลือก</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    id="empname" disabled />
                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Authorized person")}}
                            </label>

                            <div class="col-lg-3" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="PunishmentInformationObject.notaut" /> -->
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        [(ngModel)]="EmployeeCommendationObject.godaut" disabled />

                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button" (click)="show5('Aut')"
                                            [disabled]="Editing == 1">เลือก</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" disabled
                                    id="autname" />
                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Reason")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeCommendationObject.godrea" /> -->
                                <select class="form-control m-input m-input--air  m-input m-input--square"
                                    [(ngModel)]="EmployeeCommendationObject.godrea">
                                    <option *ngFor="let item of REASON" value={{item.tabtB2}}>{{item.tabdsc}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">

                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Status")}}
                            </label>
                            <div class="col-lg-2" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeCommendationObject.godsts" maxlength="1"/>
                            </div>
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Status date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    [(ngModel)]="EmployeeCommendationObject.godstd" class="form-control  text-center"
                                    name="pladteto" placeholder="วว/ดด/ปปปป" id="godstd" data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                        </div>


                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Remark")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeCommendationObject.godrM1" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Remark2")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeCommendationObject.godrM2" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Remark3")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeCommendationObject.godrM3" />
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Prize")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    id="godprc" [(ngModel)]="EmployeeCommendationObject.godprc" (change)="fnnum()" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer ">
                <div class="col-md-12">
                    <button type="button " class="btn btn-danger pull-left " data-dismiss="modal "
                        style="margin-right: 5px" (click)="removed() " [hidden]="Editing != 1">
                        <i class="fa fa-close "></i> {{l("Delete ")}}</button>
                        

                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close2() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                        <button type="button " class="btn btn-success pull-right " data-dismiss="modal "
                        style="margin-right: 5px"  [hidden]="Editing != 1" disabled>
                        <i class="fa fa-print "></i> {{l("Print ")}}</button>
                </div>
            </div>



        </div>
    </div>
</div>

<!-- ///---------------------------------------------------modal5 emp---------------------------------------------------------------------/// -->
<div bsModal #modal5="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Master")}}</b>
                </h5>
                <button type="button" (click)="closeemp()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployeea [dataSource]="emp"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        keyExpr="psnidn">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="psnidn" caption="Employee ID"></dxi-column>
                        <dxi-column dataField="psntth" caption="Title">
                            <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfnm" caption="First Name"></dxi-column>
                        <dxi-column dataField="psnlnm" caption="Last Name"></dxi-column>
                        <dxi-column dataField="psnfen" caption="First Name(Eng)"></dxi-column>
                        <dxi-column dataField="psnlen" caption="Last Name(Eng)"></dxi-column>
                        <dxi-column dataField="psncom" caption="Company"></dxi-column>
                        <dxi-column dataField="psnbrn" caption="Branch"></dxi-column>
                        
                    </dx-data-grid>
                    <div class="selected-data">
                        <!-- {{grid.selectedRowKeys}} -->
                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                            value="{{gEmployeea.selectedRowKeys}}" hidden #data_select2a>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan(data_select2a.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>