<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Payroll Work Sheet Report")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 row " style="margin-top: 15px;;background-color:rgba(255, 196, 0, 0.39)">
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("Company From")}}</label>
                                <input class="form-control text-center m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To")}}</label>
                                <input class="form-control text-center m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("Branch From")}}</label>
                                <input class="form-control text-center m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To")}}</label>
                                <input class="form-control text-center m-input m-input--air">
                            </div>
                            <div class="col-md-3">
                                <label for="" class="col-form-label">{{l("Type To Payroll")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6" style="margin-top: 10px">
                                <label for="" class="col-form-label"></label>
                                <input class=" form-control text-center  m-input m-input--air" disabled>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3 ">
                                <label for="" class="col-form-label">{{l("Year")}}</label>
                                <input class="form-control text-center m-input m-input--air" id="year" data-date-format="yyyy" data-date-min-view-mode="years"
                                    data-date-start-view="years" data-provide="datepicker" data-date-language="th-th">
                            </div>
                            <div class="col-md-9 ">
                            </div>
                            <div class="col-md-3">
                                <label for="" class="col-form-label">{{l("Period No.")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6" style="margin-top: 10px">
                                <label for="" class="col-form-label"></label>
                                <input class=" form-control text-center  m-input m-input--air" disabled>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3 ">
                                <label for="" class="col-form-label">{{l("Employee Type")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-4" style="margin-top: 40px">
                                <label for="" class="col-form-label">{{l("(M:Month,D:Day,B:Both)")}}</label>
                            </div>
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("Sub-Sevtion From-To")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("Employee ID From")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-12 ">
                            </div>
                            <div class="col-md-12 ">
                            </div>

                            <div class="col-md-12 text-center" style="margin-top: 10px">
                                <button type="submit " class="btn btn-info ">
                                    <i class="fa fa-print"></i> {{l("Print")}}</button>
                                <button type="submit " class="btn btn-success ">
                                    <i class="fa fa-check"></i> {{l("View")}}</button>
                                <button type="submit " class="btn btn-secondary ">
                                    <i class="fa fa-window-close"></i> {{l("Close")}}</button>
                            </div>
                            <div class="col-lg-12">&nbsp;</div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>