<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">ข้อมูลที่อยู่พนักงาน</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="EmployeeAddressListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                            (onRowRemoved)="removed($event)">
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>
                            <dxo-paging [pageSize]="5"></dxo-paging>
                            
                            <dxi-column dataField="addtyp" caption="Address Type Description">
                                <dxo-lookup [dataSource]="EMPADDRTYPE" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="addaD1" caption="Address"></dxi-column>
                            <dxi-column dataField="addzip" caption="Zipcode"></dxi-column>
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                            <div *dxTemplate="let data of 'cellTemplate'">
                                <a href="javascript:;" class="" (click)="showedit(data)">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="show2() ">
                            <i class="fa fa-save"></i> {{l("Add")}}</button> -->
                </div>
            </div>

        </div>
    </div>
</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("เพิ่มข้อมูลที่อยู่พนักงาน")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Address Type")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air" /> -->
                                <select class="form-control m-input m-input--air  m-input m-input--square" name="level"
                                    id="level" [(ngModel)]="EmployeeAddressObject.addtyp">
                                    <option *ngFor="let item of EMPADDRTYPE" value={{item.tabtB2}}>
                                        {{item.tabdsc}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <!-- <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Address Description")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div> -->

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Address")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addaD1" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addaD2" />
                            </div>

                        </div>


                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("State/City")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addsta" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Country")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addcon" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Zip Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addzip" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Telephon No.")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addtel" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Fax No.")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addfax" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("E-Mail Address")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addeml" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("URL")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="EmployeeAddressObject.addurl" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <div class="modal-footer col-md-12 ">
                <div class="col-md-12 ">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close2() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>



        </div>
    </div>
</div>