<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Employee Training Record</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="AddTrnShow()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div> -->
                <div class="form-group row">
                        <div class="col-lg-4">
                                <select
                                class="form-control m-input m-input--air  m-input m-input--square"
                                (change)="chgdis(disTyp.value)" #disTyp
                                >
                                <option value="all">ALL</option>
                                <option *ngFor="let item of TrainingCourse" value={{item.tabtB2}}>
                                    {{item.tabdsc}}</option>
                            </select>
                            </div>
                    </div>
                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="CourseDetailListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">

                            <!-- <dxi-column dataField="tabtB1" caption="Training Date"></dxi-column>
                            <dxi-column caption="Course"></dxi-column>
                            <dxi-column caption="Course Description"></dxi-column>
                            <dxi-column caption="From"></dxi-column>
                            <dxi-column caption="To"></dxi-column>
                            <dxi-column caption="Hrs"></dxi-column>
                            <dxi-column caption="From Date"></dxi-column>
                            <dxi-column caption="To Date"></dxi-column>
                            <dxi-column caption="Institute"></dxi-column>
                            <dxi-column caption="Cost"></dxi-column> -->
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                            [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column dataField="hsrcsu" caption="Course" [fixed]="true" fixedPosition="left">
                            </dxi-column>
                            <dxi-column dataField="hsrfmd" caption="Training Date" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <!-- <dxi-column dataField="hsrcsu" caption="Course Description" [fixed]="true"
                            fixedPosition="left">
                            <dxo-lookup [dataSource]="Course" displayExpr="planam" valueExpr="planam"></dxo-lookup>
                        </dxi-column> -->

                            <dxi-column dataField="hsradd" caption="Institue"></dxi-column>
                            <dxi-column dataField="hsrfmd" caption="From Date" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="hsrfmt" caption="From Time">
                            </dxi-column>
                            <dxi-column dataField="hsrtod" caption="To Date" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="hsrtot" caption="To Time">
                            </dxi-column>
                            <dxi-column dataField="hsrndy" caption="Hrs.">
                            </dxi-column>

                            <dxi-column dataField="hsrfee" format="#,##0.00" caption="Cost"></dxi-column>

                            <dxi-column dataField="hsrpsf" caption="สถานะผลการสอบ" [fixed]="true" fixedPosition="right">
                            </dxi-column>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>

                </div>
            </div>

        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Training Detail Entry")}}</b>
                </h5>
                <button type="button" (click)="closeAdd()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Training Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                    placeholder="วว/ดด/ปปปป" name="hsrdte" [(ngModel)]="createcoursede.hsrdte" #date1 />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Course")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="hsrcsu" [(ngModel)]="createcoursede.hsrcsu" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="hsrcsuname" [(ngModel)]="hsrcsuname" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Institute")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="hsrcsu" [(ngModel)]="createcoursede.hsradd" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("สถานที่")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="hsrloc" [(ngModel)]="createcoursede.hsrloc" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("ผู้เข้ารับการอบรม")}}
                            </label>
                            <div class="col-md-5 " style="margin-top: 15px">
                                <div class="form-group row">
                                    <select class="form-control m-input m-input--air  m-input m-input--square " name=""
                                        #typeP>
                                        <option value="IN">
                                            เข้า
                                        </option>
                                        <option value="NOT IN">
                                            ไม่เข้า
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4" style="margin-top: 5px">
                            </div>
                        </div>
                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--info m-tabs-line--2x" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#tabs_1">
                                    ผลการสอบครั้งที่ 1
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tabs_2">
                                    ผลการสอบครั้งที่ 2
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tabs_3">
                                    ผลการสอบครั้งที่ 3
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs_1" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Passed (Y/N)")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            [(ngModel)]="createcoursede.hsrpsf">
                                            <option value="Y">ผ่าน</option>
                                            <option value="N">ไม่ผ่าน</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Max Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            name="hsrmsc" [(ngModel)]="createcoursede.hsrmsc" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Actual Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            name="hsrasc" [(ngModel)]="createcoursede.hsrasc" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <div class="col-lg-6">
                                        <label for="" class="col-form-label">Remark</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control text-center m-input m-input--air" name="getdocdate"
                                            placeholder="" name="hsrremark" [(ngModel)]="createcoursede.hsrremark">
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tabs_2" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Passed (Y/N)")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            [(ngModel)]="createcoursede.hsrpsf2">
                                            <option value="Y">ผ่าน</option>
                                            <option value="N">ไม่ผ่าน</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Max Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            name="hsrmsc2" [(ngModel)]="createcoursede.hsrmsC2" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Actual Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            name="hsrasC2" [(ngModel)]="createcoursede.hsrasC2" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <div class="col-lg-6">
                                        <label for="" class="col-form-label">Remark</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control text-center m-input m-input--air" name="getdocdate"
                                            placeholder="" name="hsrremark2" [(ngModel)]="createcoursede.hsrremark2">
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tabs_3" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Passed (Y/N)")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            [(ngModel)]="createcoursede.hsrpsf3">
                                            <option value="Y">ผ่าน</option>
                                            <option value="N">ไม่ผ่าน</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Max Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            name="hsrmsc3" [(ngModel)]="createcoursede.hsrmsC3" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Actual Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            name="hsrasC3" [(ngModel)]="createcoursede.hsrasC3" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <div class="col-lg-6">
                                        <label for="" class="col-form-label">Remark</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control text-center m-input m-input--air" placeholder=""
                                            name="hsrremark3" [(ngModel)]="createcoursede.hsrremark3">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("From Date")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        data-provide="datepicker" data-date-language="th-th"
                                        data-date-format="dd/mm/yyyy" name="hsrfmd" placeholder="วว/ดด/ปปปป"
                                        [(ngModel)]="createcoursede.hsrfmd" #datefm />
                                </div>
                                <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    {{l("To Date")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        data-provide="datepicker" data-date-language="th-th"
                                        data-date-format="dd/mm/yyyy" name="hsrtod" placeholder="วว/ดด/ปปปป"
                                        [(ngModel)]="createcoursede.hsrtod" #dateto />
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("From Time")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        name="hsrfmt" [(ngModel)]="createcoursede.hsrfmt" placeholder="0000" />
                                </div>
                                <label class="col-form-label" style="margin-top: 5px;text-align:right">
                                    {{l("(0000)")}}
                                </label>
                                <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    {{l("To Time")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        name="hsrtot" [(ngModel)]="createcoursede.hsrtot" placeholder="0000" />
                                </div>
                                <label class="col-form-label" style="margin-top: 5px;text-align:right">
                                    {{l("(0000)")}}
                                </label>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Estimate Time")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        name="hsrndy" [(ngModel)]="createcoursede.hsrndy"
                                        value="{{((createcoursede.hsrtot*1)-(createcoursede.hsrfmt*1))/100}}" />
                                </div>
                                <label class="col-form-label" style="margin-top: 5px;text-align:right">
                                    {{l("Cost Amount")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        name="hsrfee" [(ngModel)]="createcoursede.hsrfee" />
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Certificate Name")}}
                                </label>
                                <div class="col-lg-8" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        name="hsrcrn" [(ngModel)]="createcoursede.hsrcrn" />
                                </div>
                                <div class="col-lg-1" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Teacher/Conductor")}}
                                </label>
                                <div class="col-lg-8" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        name="hsrrmk" [(ngModel)]="createcoursede.hsrrmk" />
                                </div>
                                <div class="col-lg-1" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Remark")}}
                                </label>
                                <div class="col-lg-8" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        name="hsrrmk2" [(ngModel)]="createcoursede.hsrrmk2" />
                                </div>
                                <div class="col-lg-1" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-form-label col-lg-3" style="margin-top: 15px;text-align:right">
                                    Hrs.
                                </label>
                                <div class="col-md-3" style="margin-top: 15px">
                                    <label for="" class="col-form-label"><b>{{l("สถานะ VF")}}</b></label>
                                    <div class="form-group row alert m-alert m-alert--default">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="" #typeP>
                                            <option value="SEND">
                                                ส่ง
                                            </option>
                                            <option value="NOT SEND">
                                                ไม่ส่ง
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3" style="margin-top: 15px;margin-left: -10px">
                                    <label for="" class="col-form-label"><b>{{l("สถานะใบเสร็จ")}}</b></label>
                                    <div class="form-group row alert m-alert m-alert--default">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="" #typeP>
                                            <option value="SEND">
                                                ส่ง
                                            </option>
                                            <option value="NOT SEND">
                                                ไม่ส่ง
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="closeAdd() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save(dateto.value,datefm.value,date1.value) ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>



        </div>
    </div>
</div>