<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("ตรวจสอบการสมัครฝึกอบรม")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("หลักสูตร")}}
                            </label>

                            <div class="col-lg-5" style="margin-top: 5px">
                                <input class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    style="width:100%" #exper22 name="exper22" id="exper22" disabled/>
                                    
                            </div>
                            <!-- 
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("วันที่สมัคร")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="date1" id="date_dt1" data-provide="datepicker" placeholder="วว/ดด/ปปปป"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                    [(ngModel)]="editxs.tnaut1stamp" />
                            </div> -->

                        </div>

                        <div class="col-md-12  form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("พนักงาน")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onclick="this.select()" id="tneid" name="tneid" [(ngModel)]="editxs.tneid" />
                            </div>

                            <div class="col-lg-7" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" disabled
                                    [(ngModel)]="empname" />
                            </div>

                            <!-- <div class="col-lg-1" style="margin-top: 5px">
                            <button type="button " class="btn btn-success pull-left " data-dismiss="modal " #btnss
                                id="btnss" style="margin-left: 0px"
                                (click)="insertd(expper22.value,date1.value,empids.value)">{{l("สมัครฝึกอบรม")}}</button></div> -->

                            <!-- <div class="col-lg-1" style="margin-top: 5px">
                            <button type="button " class="btn btn-warning pull-left " data-dismiss="modal " #btnss
                                id="btnss" style="margin-left: 0px">{{l("Impot Excel")}}</button></div> -->
                            <!-- 
                        <div class="col-lg-2" style="margin-top: 5px">
                            <button type="button " class="btn btn-danger pull-right " data-dismiss="modal "
                                style="margin-left: 0px" (click)="show2() ">{{l("เลือกพนักงาน")}}</button></div> -->
                        </div>
                    </div>
                    <div class="col-md-12 row" style="margin-top:25px;margin-left: 5px">
                        <!-- <div class="col-md-3" >
                            <div class="" style="margin-top:-20px">
                                <div class="form-group row alert m-alert m-alert"
                                    style="border-color:#0099FF;border-style:solid;border-width: 5px;border-radius: 10px">
                                    <div class="col-lg-12">
                                        <label for="" class=" col-form-label">ผู้อนุมัติ1</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                            class="form-control  text-center" name="browname" placeholder="" disabled
                                            [(ngModel)]="editxs.tnaut1">
                                    </div>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="" style="margin-top:-20px">
                                <div class="form-group row alert m-alert m-alert"
                                    style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                    <div class="col-lg-12">
                                        <label for="" class=" col-form-label">ผู้อนุมัติ2</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                            class="form-control  text-center" name="browname" placeholder="" disabled
                                            [(ngModel)]="editxs.tnaut2">
                                    </div>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-2" style="margin-left:70px" >
                        </div>
                        <div class="col-md-3" >
                            <div class="" style="margin-top:-20px">
                                <div class="form-group row alert m-alert m-alert"
                                    style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                    <div class="col-lg-12">
                                        <label for="" class=" col-form-label">หัวหน้าแผนก</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                            class="form-control  text-center" name="browname" placeholder="" disabled
                                            [(ngModel)]="editxs.tnaut3">
                                    </div>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="" style="margin-top:-20px">
                                <div class="form-group row alert m-alert m-alert"
                                    style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                    <div class="col-lg-12">
                                        <label for="" class=" col-form-label">HR ผู้อนุมัติ</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                            class="form-control  text-center" name="browname" placeholder="" disabled
                                            [(ngModel)]="editxs.tnauthr">
                                    </div>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center ">
                        <div class="col-md-12 ">
                            <button type="button " class="btn btn-info  " data-dismiss="modal "
                                style="margin-right: 5px" (click)="approve(data_select2.value)">
                                <i class="fa fa-user"></i> {{l("Approve ")}}</button>
                            <button type="button " class="btn btn-secondary  " data-dismiss="modal "
                                style="margin-right: 5px" (click)="cancel(data_select2.value)">
                                <i class="fa fa-window-close "></i> {{l("Cancle Approve ")}}</button>
                            <button type="button " class="btn btn-danger" data-dismiss="modal "
                                style="margin-right: 5px" (click)="disapprove(data_select2.value) ">
                                <i class="fa fa-user-times "></i> {{l("Disapproved ")}}</button>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12 ">
                        <dx-data-grid [allowColumnReordering]="true" #targetDataGrid2 id="gridContainer"
                            [dataSource]="array_data_complete" [showBorders]="true" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" (onContentReady)="onContentReady($event)"  
                            (onSelectionChanged)="funti($event)" [(selectedRowKeys)]="selectedRows" keyExpr="tneid">
                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-selection mode="multiple">
                            </dxo-selection>
                            <dxo-editing mode="row">
                            </dxo-editing>
                            <dxi-column dataField="tnsts" caption="สถานะ" [fixed]="true" fixedPosition="left">
                            </dxi-column>

                            <dxi-column dataField="tncod" caption="หลักสูตร"></dxi-column>
                            <dxi-column dataField="tneid" caption="รหัสพนักงาน"></dxi-column>
                            <dxi-column caption="ชื่อ - นามสกุล" dataField="tneid">
                                <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn">
                                </dxo-lookup>
                            </dxi-column>
                            <!-- <dxi-column dataField="tnauT1STAMP" caption="วันที่สมัคร" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>

                            <dxi-column dataField="tnaut1" caption="ผู้อนุมัติ 1" [fixed]="true" fixedPosition="right">
                                    <dxo-lookup [dataSource]="emp" displayExpr="psnfnm" valueExpr="psnidn"></dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="tnaut1stamp" caption="วันที่อนุมัติ"
                                [customizeText]="fnddmmyyyygrid"></dxi-column>
                            <dxi-column dataField="tnaut2" caption="ผู้อนุมัติ 2" [fixed]="true" fixedPosition="right">
                                    <dxo-lookup [dataSource]="emp" displayExpr="psnfnm" valueExpr="psnidn"></dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="tnaut2stamp" caption="วันที่อนุมัติ"
                                [customizeText]="fnddmmyyyygrid"></dxi-column> -->
                            <dxi-column dataField="tnaut3" caption="หัวหน้าแผนก" [fixed]="true" fixedPosition="right">
                                <dxo-lookup [dataSource]="emp" displayExpr="psnfnm" valueExpr="psnidn"></dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="tnaut3stamp" caption="วันที่อนุมัติ" [customizeText]="fnddmmyyyygrid"
                                [fixed]="true" fixedPosition="right"></dxi-column>
                            <dxi-column dataField="tnauthr" caption="HR ผู้อนุมัติ" [fixed]="true"
                                fixedPosition="right">
                                <dxo-lookup [dataSource]="emp" displayExpr="psnfnm" valueExpr="psnidn"></dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="tnauthrstamp" caption="วันที่อนุมัติ"
                                [customizeText]="fnddmmyyyygrid" [fixed]="true" fixedPosition="right"></dxi-column>

                        </dx-data-grid>
                        <div class="selected-data">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                value="{{targetDataGrid2.selectedRowKeys}}" hidden #data_select2>
                        </div>

                    </div>
                </div>
                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-close "></i> {{l("Save ")}}</button> -->
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-window-close "></i> {{l("Close ")}}</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>