<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานจำนวนชั่วโมงฝึกอบรมประจำปี")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <label class="col-form-label col-lg-5 col-sm-12" style="margin-top: 5px;text-align:right">
                        Starting
                    </label>
                    <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                        Ending
                    </label>
                    <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                    </label>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Position
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Department
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Employee ID
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Date
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Year
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" data-date-format="yyyy"
                                data-date-min-view-mode="years" data-date-start-view="years" data-provide="datepicker"
                                data-date-language="th-th" />
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Report Type
                        </label>
                        <div class="col-lg-6" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a">
                                <option value="0">รายงานจำนวนชั่วโมงฝึกอบรมประจำปี</option>
                                <option value="1">รายงานจำนวนชั่วโมงฝึกอบรมประจำปี</option>
                                <option value="2">รายงานจำนวนชั่วโมงฝึกอบรมประจำปี</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                        <button type="submit " class="btn btn-secondary text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>