<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-md-2">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Commendation")}}</span>
                    </h3>
                </div>
                <div class="col-md-1"></div>
                <div style="margin-top:15px">
                    <h6>{{l("ตั้งแต่")}}</h6>
                </div>
                <div class="col-lg-2"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" #from></div>
                <div style="margin-top:15px">
                    <h6>{{l("ถึง")}}</h6>
                </div>
                <div class="col-lg-2"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" id="to"
                        class=" form-control text-center" #to></div>
                <div class="col-lg-2"><button class="btn btn-primary" (click)="getCommendation(from.value,to.value)"><i
                            class="fa fa-search"></i>
                        {{l("ค้นหา")}}</button></div>
            </div>
            <div class="col-sm-3 text-right">
                <button class="btn btn-primary" (click)="commendationletteradd.show2()">
                    <i class="fa fa-plus"></i> {{l("CreateNewCommendation")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">


                <h3>{{l("Commendation List")}} ({{EmployeeCommendationListDto.length}})</h3>
                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                    [dataSource]="EmployeeCommendationListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
                    [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">
                    <!-- <dxo-editing [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing> -->
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-pager [allowedPageSizes]="[10, 20,50]" [showInfo]="true" [showNavigationButtons]="true"
                        [showPageSizeSelector]="true" [visible]="true">
                    </dxo-pager>

                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                        [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" class="" (click)="commendationletteradd.showedit(data)">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                    <dxi-column dataField="goddoc" caption="Document No." [fixed]="true" fixedPosition="left"></dxi-column>

                    <dxi-column dataField="godeid" caption="Employee ID" [fixed]="true" fixedPosition="left"></dxi-column>
                    <dxi-column dataField="godeid" caption="Employee Name" [fixed]="true" fixedPosition="left">
                        <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="goddte" [customizeText]="fnddmmyyyygrid" caption="Document Date">
                    </dxi-column>
                    <dxi-column dataField="godaut" caption="Authorized">
                            <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="godefd" [customizeText]="fnddmmyyyygrid" caption="Effective Date">
                    </dxi-column>
                    <dxi-column dataField="godrea" caption="Reason">
                            <dxo-lookup [dataSource]="REASON" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="godrM1" caption="Remark"></dxi-column>
                    <dxi-column dataField="godsts" caption="Status" [fixed]="true" fixedPosition="right"></dxi-column>

                </dx-data-grid>

            </div>


        </div>
    </div>

    <commendationletteradd #commendationletteradd (modalSave)="getCommendation(from.value,to.value)"></commendationletteradd>
</div>

