<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Print Employee Movement List")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                Effective Date From
                            </label>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" #movdtefm id="movdtefm" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                End of Effective Date
                            </label>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" #movdteto id="movdteto" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                Document No From
                            </label>
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" #docfm id="docfm"/>
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="empmovementlist.show('1')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                To Document No
                            </label>
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" #docto id="docto" value="ALL"/>
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="empmovementlist.show('2')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-6" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typmove1" id="typmove1" #typmove1 value=" " (click)="chkexcel()">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(movdtefm.value,movdteto.value,docfm.value,docto.value,typmove1.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <!-- <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="download(year.value,dteFm.value,dteTo.value,hsreids1.value,hsreids2.value)">
                            <i class="fa fa-file-excel"></i> {{l("Excel")}}</button> -->
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <empmovementlist #empmovementlist (modalSave)="ngOnInit()"></empmovementlist>
</div>