<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Picture</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-8">

                    </div>
                    <div class="col-lg-4">
                            <select
                            class="form-control m-input m-input--air  m-input m-input--square"
                            (change)="chgdis(disTyp.value)" #disTyp
                            >
                            <option value="all">ALL</option>
                            <option *ngFor="let item of disdsc" value={{item.code}}>
                                {{item.dsc}}</option>
                        </select>
                        </div>
                </div>
                <div class="form-group row" style="margin-top:20px">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="picture" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" (onContentReady)="onContentReady($event)" (onRowRemoved)="delete($event,disTyp.value)" [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                                [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>

                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-editing mode="row" [allowDeleting]="true" [useIcons]="true"></dxo-editing>
                            <dxi-column dataField="picdir" caption="Picture" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                            <!-- <dxi-column dataField="picdir" caption="Picture"></dxi-column> -->
                            <dxi-column dataField="picdsc" caption="Discription">
                                <dxo-lookup [dataSource]="disdsc" displayExpr="dsc" valueExpr="code"></dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="picseq" caption="Sequence"></dxi-column>
                            <dxi-column dataField="picdir" caption="#" [allowFiltering]="false" [allowSorting]="false"
                                cellTemplate="cellTemplate2"></dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <img [src]="data.value" style="height:100px;width:auto;" />
                            </div>
                            <div *dxTemplate="let data of 'cellTemplate2'">

                                <a href="javascript:;" class="" (click)="showpic(data.data.picdir)">
                                    <i class="fa fa-search-plus"></i> ดูภาพขนาดเต็ม
                                </a>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>

                </div>
            </div>

        </div>
    </div>


</div>