<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Print Employee Resign Form")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Year
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th" #year />
                        </div>
                        <div class="col-lg-6" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Month
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="mm" data-date-min-view-mode="months" data-date-start-view="months"
                                data-provide="datepicker" data-date-language="th-th" #mnt1 />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="mm" data-date-min-view-mode="months" data-date-start-view="months"
                                data-provide="datepicker" data-date-language="th-th" #mnt2 />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Division
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #DIV1 id="DIV1">
                                <option style="display:none;"></option>                                
                                <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #DIV2 id="DIV2">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>

                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-6" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typedoc" [(ngModel)]="typ1s" id="typ1" value="true" #typ1>Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(year.value,mnt1.value,mnt2.value,DIV1.value,DIV2.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                      
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>