<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-12 row">
                    <h5>{{l("Employee Master List")}} </h5>
            </div>
        </div>
        <div class="m-content">

            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">

                    <h3>{{l("Employee Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="emp"
                        (onContentReady)="onContentReady($event)" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                        columnResizingMode="widget" keyExpr="id">
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-export [enabled]="true" fileName="ShiftCodeList" [allowExportSelectedData]="true">
                        </dxo-export>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                        <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                        [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>
                        <dxi-column dataField="psnidn" caption="Employee ID" [fixed]="true" fixedPosition="left"></dxi-column>
                       
                        <dxi-column dataField="psnpos" caption="Position">
                            <dxo-lookup [dataSource]="dbmtab" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>                       
                      
                        <dxi-column [allowGrouping]="false" dataField="psnidn" caption="รหัสพนักงาน" [width]="100"
                        [sortIndex]="1" sortOrder="asc" [fixed]="true" fixedPosition="left">

                    </dxi-column>
                    <dxi-column dataField="psntth" caption="คำนำหน้าชื่อ">
                        <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>

                    </dxi-column>
                    <dxi-column dataField="psnfnm" caption="ชื่อภาษาไทย">

                    </dxi-column>
                    <dxi-column dataField="psnlnm" caption="นามสกุลภาษาไทย">

                    </dxi-column>
        
                    <dxi-column dataField="psnpos" [width]="240" caption="ตำแหน่ง">
                        <dxo-lookup [dataSource]="dbmtab" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnnic" caption="ชื่อเล่น"></dxi-column>
                    <dxi-column dataField="psndep" caption="แผนก" [groupIndex]="0">
                        <dxo-lookup [dataSource]="dbmtabdep" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnaD1" caption="ที่อยู่"></dxi-column>
                    <dxi-column dataField="psnaD2" caption="ที่อยู่บัตรประชาชน"></dxi-column>
                    <dxi-column dataField="psntel" caption="โทรศัพท์"></dxi-column>
                    <dxi-column dataField="psneml" caption="อีเมล"></dxi-column>
                    <dxi-column dataField="psnbrd" caption="วันเกิด" [customizeText]="fnddmmyyyygrid"></dxi-column>
                    <dxi-column dataField="psnage" caption="อายุ"></dxi-column>
                    <dxi-column dataField="psnfna" caption="สัญชาติ">
                        <dxo-lookup [dataSource]="dbmtabfna" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnsna" caption="เชื้อชาติ">
                        <dxo-lookup [dataSource]="dbmtabsna" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnamo" caption="ศาสนา">
                        <dxo-lookup [dataSource]="dbmtabamo" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnweg" caption="น้ำหนัก"></dxi-column>
                    <dxi-column dataField="psnheg" caption="ส่วนสูง"></dxi-column>


                    <dxi-column dataField="psnsts" [fixed]="true" fixedPosition="right" alignment="center"
                        caption="สถานะ">
                        <!-- <dxo-lookup [dataSource]="dbmtabfna" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup> -->
                    </dxi-column>

                      

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:;" style="color:#3399FF	" class="" (click)="emptraining.show(data.data.psnidn)">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>

                    </dx-data-grid>
                </div>
            </div>
        </div>
        <!-- <setuptrainingadd #setuptrainingadd (modalSave)="ngOnInit()"></setuptrainingadd> -->
        <emptraining #emptraining (modalSave)="ngOnInit()"></emptraining>
    </div>