<div [@routerTransition]>
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="col-md-11 row">
        <h3 class="m-subheader__title m-subheader__title--separator" style="margin-left: 15px">
          Dashboard<small> (ผู้รับบริการ OPD)</small>
        </h3>
        <div class="col-md-2">
          <input onkeyup="chkstr(this,this.value)" data-provide="datetimepicker" data-date-language="th-th"
            autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" id="search" name="search"
            data-date-language="th-th" data-date-format="mm/yyyy" data-date-min-view-mode="months" #serach
            [(ngModel)]="search" class="form-control text-center" placeholder="เลือกเดือน">
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary" (click)="getall_data(serach.value)">Search</button>
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger pull-right" (click)="edit()">Edit&nbsp;&nbsp;<span
            class="la {{editor}}"></span></button>
      </div>
    </div>
  </div>

  <div class="row" style="padding:25px;">

    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                ตารางเปรียบเทียบสถิติการบริการผู้ป่วยนอก เดือน {{month}} {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('001',serach.value) " [hidden]="check"
                  *ngIf="item.type === '001'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '001'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input [(ngModel)]="item.setup" [(setnumber)]="item.setup"    class="form-control form-control-sm pull-right"
                  type="text" style="margin-top:3px;background-color:#ffffff;border:0px;text-align:right;"
                  [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '001'" >
                <thead>
                  <tr>
                    <th style="background-color:#F8F9F9;text-align:center;">OPD</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Plan</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Actual</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Last Year</th>
                    <th style="background-color:#F8F9F9;text-align:center;">% Var.Plan</th>
                    <th style="background-color:#F8F9F9;text-align:center;">% Var.Last Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">OPD per Month</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opmp" [(setnumber)]="item.opmp" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check" >
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" [(ngModel)]="item.opma" [(setnumber)]="item.opma" class="form-control form-control-sm decimal in-ye-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opml" [(setnumber)]="item.opml" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opmvp" [(setnumber)]="item.opmvp" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opmvl" [(setnumber)]="item.opmvl" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">OPD per Day</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyp" [(setnumber)]="item.opyp" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" [(ngModel)]="item.opya" [(setnumber)]="item.opya" class="form-control form-control-sm decimal in-ye-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyl" [(setnumber)]="item.opyl" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyvp" [(setnumber)]="item.opyvp" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyvl" [(setnumber)]="item.opyvl" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Average OPD per Visit</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.aopvp" [(setnumber)]="item.aopvp" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" [(ngModel)]="item.aopva" [(setnumber)]="item.aopva" class="form-control form-control-sm decimal in-ye-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.aopvl" [(setnumber)]="item.aopvl" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.aopvvp" [(setnumber)]="item.aopvvp" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.aopvvl" [(setnumber)]="item.aopvvl" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport" hidden>
            <dx-chart id="chart" title="ตารางเปรียบเทียบสถิติการบริการผู้ป่วยนอก เดือน {{month}} {{year}}"
              [dataSource]="item.chart_bar" *ngIf="item.type === '001'">
              <dxi-series valueField="p" name="Plan"></dxi-series>
              <dxi-series valueField="a" name="Actual"></dxi-series>
              <dxi-series valueField="l" name="Last Year	"></dxi-series>
              <dxo-common-series-settings argumentField="name" type="bar" hoverMode="allArgumentPoints"
                selectionMode="allArgumentPoints">
                <dxo-label [visible]="true" [format]="{type: 'fixedPoint',precision: '0'}">
                </dxo-label>
              </dxo-common-series-settings>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
              </dxo-legend>
              <dxo-export [enabled]="true"></dxo-export>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                ตารางเปรียบเทียบสถิติการบริการผู้ป่วยนอก ปีงบประมาณ {{year}} {{month}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('002',serach.value) " [hidden]="check"
                  *ngIf="item.type === '002'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '002'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input [(ngModel)]="item.setup" class="form-control form-control-sm pull-right"
                  type="text" style="margin-top:3px;background-color:#ffffff;border:0px;text-align:right;"
                  [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '002'" >
                <thead>
                  <tr>
                    <th style="background-color:#F8F9F9;text-align:center;">OPD</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Plan</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Actual</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Last Year</th>
                    <th style="background-color:#F8F9F9;text-align:center;">% Var.Plan</th>
                    <th style="background-color:#F8F9F9;text-align:center;">% Var.Last Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">OPD per Year</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyP2"   [(setnumber)]="item.opyP2" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" [(ngModel)]="item.opyA2" [(setnumber)]="item.opyA2"  class="form-control form-control-sm decimal in-ye-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyL2" [(setnumber)]="item.opyL2" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyvP2" [(setnumber)]="item.opyvP2" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyvL2" [(setnumber)]="item.opyvL2" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">OPD per Month</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opmp" [(setnumber)]="item.opmp" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" [(ngModel)]="item.opma" [(setnumber)]="item.opma" class="form-control form-control-sm decimal in-ye-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opml" [(setnumber)]="item.opml" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opmvp" [(setnumber)]="item.opmvp" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opmvl" [(setnumber)]="item.opmvl" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">OPD per Day</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyp" [(setnumber)]="item.opyp" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" [(ngModel)]="item.opya" [(setnumber)]="item.opya" class="form-control form-control-sm decimal in-ye-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyl" [(setnumber)]="item.opyl" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyvp" [(setnumber)]="item.opyvp" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.opyvl" [(setnumber)]="item.opyvl" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Average OPD per Visit</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.aopvp" [(setnumber)]="item.aopvp" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" [(ngModel)]="item.aopva" [(setnumber)]="item.aopva" class="form-control form-control-sm decimal in-ye-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.aopvl" [(setnumber)]="item.aopvl" class="form-control form-control-sm decimal in-wh-sh text-right"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.aopvvp" [(setnumber)]="item.aopvvp" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" [(ngModel)]="item.aopvvl" [(setnumber)]="item.aopvvl" class="form-control form-control-sm decimal in-wh-sh text-center"
                        type="text" [disabled]="check">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport" hidden>
            <dx-chart id="chart" title="ตารางเปรียบเทียบสถิติการบริการผู้ป่วยนอก ปีงบประมาณ {{year}} {{month}}"
              [dataSource]="item.chart_bar" *ngIf="item.type === '002'">
              <dxi-series valueField="p" name="Plan"></dxi-series>
              <dxi-series valueField="a" name="Actual"></dxi-series>
              <dxi-series valueField="l" name="Last Year	"></dxi-series>
              <dxo-common-series-settings argumentField="name" type="bar" hoverMode="allArgumentPoints"
                selectionMode="allArgumentPoints">
                <dxo-label [visible]="true" [format]="{type: 'fixedPoint',precision: '0'}">
                </dxo-label>
              </dxo-common-series-settings>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
              </dxo-legend>
              <dxo-export [enabled]="true"></dxo-export>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                OPD PER MONTH {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('003',serach.value) " [hidden]="check"
                  *ngIf="item.type === '003'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '003'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '003'" [hidden]="check">
                <thead>
                  <tr>
                    <th class="th-he-f8">Month</th>
                    <th class="th-bo-f8" *ngFor="let item_month of loop_month">
                      {{item_month.month}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row" style="background-color:#FDEDEC;">Plan {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octp" [(setnumber)]="item.octp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novp"  [(setnumber)]="item.novp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decp"  [(setnumber)]="item.decp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janp"  [(setnumber)]="item.janp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febp"  [(setnumber)]="item.febp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marp"  [(setnumber)]="item.marp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprp"  [(setnumber)]="item.aprp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayp"  [(setnumber)]="item.mayp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junp"  [(setnumber)]="item.junp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.julp"  [(setnumber)]="item.julp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augp"  [(setnumber)]="item.augp"> 
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepp"  [(setnumber)]="item.sepp">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EBF5FB;">Last Year {{year-1}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octl"  [(setnumber)]="item.octl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novl"  [(setnumber)]="item.novl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decl"  [(setnumber)]="item.decl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janl"  [(setnumber)]="item.janl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febl"  [(setnumber)]="item.febl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marl"  [(setnumber)]="item.marl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprl" [(setnumber)]="item.aprl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayl"  [(setnumber)]="item.mayl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junl"  [(setnumber)]="item.junl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jull"  [(setnumber)]="item.jull">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augl"  [(setnumber)]="item.augl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepl"  [(setnumber)]="item.sepl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EAFAF1;">Year Now {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octi"  [(setnumber)]="item.octi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novi" [(setnumber)]="item.novi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.deci" [(setnumber)]="item.deci">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jani" [(setnumber)]="item.jani">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febi" [(setnumber)]="item.febi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mari" [(setnumber)]="item.mari">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apri" [(setnumber)]="item.apri">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayi" [(setnumber)]="item.mayi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juni" [(setnumber)]="item.juni">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juli" [(setnumber)]="item.juli">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augi" [(setnumber)]="item.augi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepi" [(setnumber)]="item.sepi">
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_month" *ngIf="item.type === '003'">
              <dxi-series *ngFor="let chdata of setuplinechart_month" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="month">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="OPD PER MONTH {{year}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                เปรียบเทียบจำนวนคนไข้ OPD {{show_month}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('004',serach.value) " [hidden]="check"
                  *ngIf="item.type === '004'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '004'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '004'" [hidden]="check">
                <thead>
                  <tr>
                    <th style="background-color:#F8F9F9;text-align:center;min-width:120px;">Day</th>
                    <th style="background-color:#F8F9F9;text-align:center;" *ngFor="let item_day of loop_day">
                      {{item_day.day}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" style="background-color:#FDEDEC;min-width:120px;">Year Now {{year}}</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY01" [(setnumber)]="item.daY01">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY02" [(setnumber)]="item.daY02">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY03" [(setnumber)]="item.daY03">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY04" [(setnumber)]="item.daY04">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY05" [(setnumber)]="item.daY05">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY06" [(setnumber)]="item.daY06">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY07" [(setnumber)]="item.daY07">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY08" [(setnumber)]="item.daY08">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY09" [(setnumber)]="item.daY09">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY10" [(setnumber)]="item.daY10">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY11" [(setnumber)]="item.daY11">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY12" [(setnumber)]="item.daY12">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY13" [(setnumber)]="item.daY13">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY14" [(setnumber)]="item.daY14">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY15" [(setnumber)]="item.daY15">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY16" [(setnumber)]="item.daY16">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY17" [(setnumber)]="item.daY17">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY18" [(setnumber)]="item.daY18">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY19" [(setnumber)]="item.daY19">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY20" [(setnumber)]="item.daY20">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY21" [(setnumber)]="item.daY21">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY22" [(setnumber)]="item.daY22">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY23" [(setnumber)]="item.daY23">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY24" [(setnumber)]="item.daY24">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY25" [(setnumber)]="item.daY25">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY26" [(setnumber)]="item.daY26">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY27" [(setnumber)]="item.daY27">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY28" [(setnumber)]="item.daY28">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY29" [(setnumber)]="item.daY29">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY30" [(setnumber)]="item.daY30">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" style="width:100px;" [(ngModel)]="item.daY31" [(setnumber)]="item.daY31">
                    </td>

                  </tr>
                  <tr>
                    <th scope="row" style="background-color:#EBF5FB;min-width:120px;">Last Year {{year-1}}</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY01" [(setnumber)]="item.ldaY01">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY02" [(setnumber)]="item.ldaY02">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY03" [(setnumber)]="item.ldaY03">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY04" [(setnumber)]="item.ldaY04">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY05" [(setnumber)]="item.ldaY05">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY06" [(setnumber)]="item.ldaY06">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY07" [(setnumber)]="item.ldaY07">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY08" [(setnumber)]="item.ldaY08">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY09" [(setnumber)]="item.ldaY09">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY10" [(setnumber)]="item.ldaY10">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY11" [(setnumber)]="item.ldaY11">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY12" [(setnumber)]="item.ldaY12">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY13" [(setnumber)]="item.ldaY13">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY14" [(setnumber)]="item.ldaY14">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY15" [(setnumber)]="item.ldaY15">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY16" [(setnumber)]="item.ldaY16">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY17" [(setnumber)]="item.ldaY17">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY18" [(setnumber)]="item.ldaY18">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY19" [(setnumber)]="item.ldaY19">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY20" [(setnumber)]="item.ldaY20">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY21" [(setnumber)]="item.ldaY21">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY22" [(setnumber)]="item.ldaY22">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY23" [(setnumber)]="item.ldaY23">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY24" [(setnumber)]="item.ldaY24"> 
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY25" [(setnumber)]="item.ldaY25">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY26" [(setnumber)]="item.ldaY26">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY27" [(setnumber)]="item.ldaY27">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY28" [(setnumber)]="item.ldaY28">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY29" [(setnumber)]="item.ldaY29">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY30" [(setnumber)]="item.ldaY30">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ldaY31" [(setnumber)]="item.ldaY31">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_day" *ngIf="item.type === '004'">
              <dxi-series *ngFor="let chdata of setuplinechart_day" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="day">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="เปรียบเทียบจำนวนคนไข้ OPD {{show_month}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                OPD PER DAY OF MONTH {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('005',serach.value) " [hidden]="check"
                  *ngIf="item.type === '005'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '005'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '005'" [hidden]="check">
                <thead>
                  <tr>
                    <th class="th-he-f8">Month</th>
                    <th class="th-bo-f8" *ngFor="let item_month of loop_month">
                      {{item_month.month}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row" style="background-color:#FDEDEC;">Plan {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octp" [(setnumber)]="item.octp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novp"  [(setnumber)]="item.novp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decp"  [(setnumber)]="item.decp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janp"  [(setnumber)]="item.janp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febp"  [(setnumber)]="item.febp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marp"  [(setnumber)]="item.marp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprp"  [(setnumber)]="item.aprp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayp"  [(setnumber)]="item.mayp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junp"  [(setnumber)]="item.junp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.julp"  [(setnumber)]="item.julp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augp"  [(setnumber)]="item.augp"> 
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepp"  [(setnumber)]="item.sepp">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EBF5FB;">Last Year {{year-1}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octl"  [(setnumber)]="item.octl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novl"  [(setnumber)]="item.novl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decl"  [(setnumber)]="item.decl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janl"  [(setnumber)]="item.janl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febl"  [(setnumber)]="item.febl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marl"  [(setnumber)]="item.marl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprl" [(setnumber)]="item.aprl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayl"  [(setnumber)]="item.mayl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junl"  [(setnumber)]="item.junl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jull"  [(setnumber)]="item.jull">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augl"  [(setnumber)]="item.augl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepl"  [(setnumber)]="item.sepl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EAFAF1;">Year Now {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octi"  [(setnumber)]="item.octi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novi" [(setnumber)]="item.novi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.deci" [(setnumber)]="item.deci">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jani" [(setnumber)]="item.jani">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febi" [(setnumber)]="item.febi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mari" [(setnumber)]="item.mari">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apri" [(setnumber)]="item.apri">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayi" [(setnumber)]="item.mayi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juni" [(setnumber)]="item.juni">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juli" [(setnumber)]="item.juli">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augi" [(setnumber)]="item.augi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepi" [(setnumber)]="item.sepi">
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_month" *ngIf="item.type === '005'">
              <dxi-series *ngFor="let chdata of setuplinechart_month" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="month">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="OPD PER DAY OF MONTH {{year}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Avg.Rev.OPD per Visit of month {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('006',serach.value) " [hidden]="check"
                  *ngIf="item.type === '006'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '006'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '006'" [hidden]="check">
                <thead>
                  <tr>
                    <th class="th-he-f8">Month</th>
                    <th class="th-bo-f8" *ngFor="let item_month of loop_month">
                      {{item_month.month}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row" style="background-color:#FDEDEC;">Plan {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octp" [(setnumber)]="item.octp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novp"  [(setnumber)]="item.novp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decp"  [(setnumber)]="item.decp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janp"  [(setnumber)]="item.janp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febp"  [(setnumber)]="item.febp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marp"  [(setnumber)]="item.marp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprp"  [(setnumber)]="item.aprp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayp"  [(setnumber)]="item.mayp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junp"  [(setnumber)]="item.junp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.julp"  [(setnumber)]="item.julp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augp"  [(setnumber)]="item.augp"> 
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepp"  [(setnumber)]="item.sepp">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EBF5FB;">Last Year {{year-1}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octl"  [(setnumber)]="item.octl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novl"  [(setnumber)]="item.novl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decl"  [(setnumber)]="item.decl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janl"  [(setnumber)]="item.janl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febl"  [(setnumber)]="item.febl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marl"  [(setnumber)]="item.marl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprl" [(setnumber)]="item.aprl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayl"  [(setnumber)]="item.mayl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junl"  [(setnumber)]="item.junl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jull"  [(setnumber)]="item.jull">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augl"  [(setnumber)]="item.augl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepl"  [(setnumber)]="item.sepl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EAFAF1;">Year Now {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octi"  [(setnumber)]="item.octi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novi" [(setnumber)]="item.novi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.deci" [(setnumber)]="item.deci">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jani" [(setnumber)]="item.jani">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febi" [(setnumber)]="item.febi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mari" [(setnumber)]="item.mari">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apri" [(setnumber)]="item.apri">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayi" [(setnumber)]="item.mayi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juni" [(setnumber)]="item.juni">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juli" [(setnumber)]="item.juli">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augi" [(setnumber)]="item.augi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepi" [(setnumber)]="item.sepi">
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_month" *ngIf="item.type === '006'">
              <dxi-series *ngFor="let chdata of setuplinechart_month" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="month">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="Avg.Rev.OPD per Visit of month {{year}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>