<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-bars">&nbsp;</i>
                    </span>
                    <b> EMP </b>
                </h5>
                <div class="col-md-4 " style="padding-top :15px">
                    <!-- <select class="form-control m-bootstrap-select m_selectpicker" data-style="btn-success" name="orhsts" [(ngModel)]="stockh.orhsts"> -->
                    <!-- <select style="margin-top: -15px" class="form-control" data-style="btn-success" #save_sts
                     [(ngModel)]="AddReturnBorrowBudget.rtsts" [disabled]=" chk_permiss_sts == 0 ">
                        <option *ngFor="let item of ststab" [selected]="item.tabtB2 === AddReturnBorrowBudget.rtsts"
                            value="{{item.tabtB2}}">{{item.tabdsc}}</option>
                    </select> -->
                    <span style="color:white">สถานะเอกสาร</span>
                </div>
                <!-- <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>

            <div class="modal-body" id="us">

                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4" style="margin-top:-25px">
                        <label for="" class="col-form-label"><b>document</b></label>
                        <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(215, 239, 255)"
                            id="ai">
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">Doc no.</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุเลขที่เอกสาร
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">Doc date.</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center" id="d2" #dte2
                                    placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุวันที่
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">Status</label>
                                <select class="form-control text-center" name="">
                                    <option value="">
                                        <<กรุณาเลือกข้อมูล>>
                                    </option>

                                </select>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุStatus
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-form__group row" style="margin-top:75px">
                            <div class="col-lg-12">
                                <label style="color:red">*</label>
                                <label for="" class="col-form-label">ผู้จัดการ</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุชื่อผู้จัดการ
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label for="" class="col-form-label">แผนกบุกคล</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุชื่อแผนกบุกคล
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
                                >
                                 {{l("Prove ")}}</button>
                            <button type="button " class="btn btn-danger pull-right " data-dismiss="modal " style="margin-right: 5px"
                                >
                                 {{l("Cancel Prove ")}}</button>
                            <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-left: 5px"
                                >
                                 {{l("Disapproved ")}}</button>
                        </div>
                    </div>

                    <div class="col-md-12">


                        <div class="form-group m-form__group row">
                            <div class="col-lg-2">
                                <label style="color:red">*</label>
                                <label for="" class="col-form-label">รหัสพนักงาน</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุรหัสพนักงาน
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">-</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <!-- <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุชื่อผู้ทำสัญญา
                                </span> -->
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="col-form-label">แผนกที่ขึ้น</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุแผนกที่ขึ้น
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">-</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <!-- <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุชื่อผู้ทำสัญญา
                                </span> -->
                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-2">
                                <label style="color:red">*</label>
                                <label for="" class="col-form-label">วันที่ขึ้นเวร</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุวันที่ขึ้นเวร
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">ประเภทการขึ้นเวร</label>
                                <div class="col-lg-12 row">
                                <div class="col-md-6">
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="ttj" value="W" id="FFF" [(ngModel)]="ttj"><label> เพิ่มเวร</label>
                                  </div>
                                  <div class="col-md-6">
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="ttj" value="V" id="FF" [(ngModel)]="ttj"><label> OFF เวร</label>
                                  </div></div>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุประเภทการขึ้นเวร
                                </span>
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="col-form-label">ตำแหน่ง</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุตำแหน่ง
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">-</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <!-- <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุชื่อผู้ทำสัญญา
                                </span> -->
                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                                
                            <div class="col-lg-2">
                                <label style="color:red">*</label>
                                <label for="" class="col-form-label">เวรใหม่</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุเวรใหม่
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">-</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <!-- <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุชื่อผู้ทำสัญญา
                                </span> -->
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="col-form-label">ช่องใหม่</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุช่องใหม่
                                </span>
                            </div>
                            <div class="col-lg-4">
                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-2">
                                <label style="color:red">*</label>
                                <label for="" class="col-form-label">เวรเดิม</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุเวรเดิม
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">-</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <!-- <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุชื่อผู้ทำสัญญา
                                </span> -->
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="col-form-label">ช่องเดิม</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุช่องเดิม
                                </span>
                            </div>
                            <div class="col-lg-1">
                                <label for="" class="col-form-label">-</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุ ชม.
                                </span>
                            </div>
                            <div class="col-lg-1">
                                    <label for="" class="col-form-label">ลดเวร</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
                                    <span class="m-form__help" style="color:#BEBEBE">
                                        ระบุ ชม.
                                    </span>
                                </div>
                                <div class="col-lg-2">
                                        <label class="m-checkbox m-checkbox--solid m-checkbox--state-success" style="margin-top:50px">
                                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" [(ngModel)]="ttg1" name="g1" value="1"> ลดทั้งเวร
                                                <span></span>
                                              </label>
                                        
                                    </div>


                        </div>



                        <div class="form-group m-form__group row">
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">หมายเหตุ</label>
                                <textarea type="text" class="form-control  text-center" placeholder=""> </textarea>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุหมายเหตุ
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

                <hr style=" border: 1px dashed  #BEBEBE;">


                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGrid [dataSource]="Array_detail" [errorRowEnabled]="false"
                    [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                    columnResizingMode="widget">
                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                    </dxo-scrolling>

                    <dxo-editing mode="cell" [allowUpdating]="true">
                    </dxo-editing>
                    <dxi-column dataField="budgetCodeDesc" caption="วันที่ทำโอที" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="budegetTypeDesc" caption="รหัส" [allowEditing]="false">

                    </dxi-column>


                    <dxi-column dataField="budgetAmt" caption="ชื่อ-นามสกุล"></dxi-column>

                    <dxi-column dataField="budgetRetAmt" caption="ประเภท"></dxi-column>
                    <dxi-column dataField="budgetRemainAmt" caption="เวรใหม่"></dxi-column>
                    <dxi-column dataField="returndoc" caption="เวรเดิม"></dxi-column>
                    <dxi-column dataField="returnmoney" caption="ชม."></dxi-column>
                    <dxi-column dataField="returnmoney" caption="ลดเวร/ชม."></dxi-column>
                    <dxi-column dataField="returnmoney" caption="ลดทิ้งเวร."></dxi-column>



                </dx-data-grid>

                <hr style=" border: 1px dashed  #BEBEBE;">



                <div class="modal-footer col-md-12 ">

                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
                            (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-danger pull-right " data-dismiss="modal " style="margin-right: 5px"
                            (click)="save(dte1.value,dte2.value,dte3.value,save_sts.value) ">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>

                        <button type="button " class="btn btn-info pull-left " data-dismiss="modal " style="margin-left: 5px"
                            (click)="print() ">
                            <i class="fa fa-print "></i> {{l("Print ")}}</button>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- ////-------------------------------------------------m8-------------------------------------------------------/// -->
<!-- <div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close2()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-top: -10px">
                <div class="m-portlet__body">

                    <div class="form-group m-form__group row" *ngIf="varty=='c1'">

                        <dx-data-grid [allowColumnReordering]="true" #grid2s id="gridContainer" [dataSource]="ContractAmt" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" [(selectedRowKeys)]="selectedRows"
                            keyExpr="">
                            <dxo-scrolling [useNative]="true" [scrollByContent]="true" [scrollByThumb]="true"
                                showScrollbar="always">

                            </dxo-scrolling>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-pager [allowedPageSizes]="[10]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="false" [visible]="true">
                            </dxo-pager>

                            <dxo-paging [pageSize]="10"></dxo-paging>

                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                            <dxo-selection mode="single">
                            </dxo-selection>
                            <dxi-column dataField="docNo" caption="docNo"></dxi-column>
                            <dxi-column dataField="contractName" caption="contractName"></dxi-column>
                            <dxi-column dataField="contractDate" caption="Date" [customizeText]="fnddmmyyyygrid"></dxi-column>
                            <dxi-column dataField="contractAMT" caption=" Amt" format="#,##0.00"></dxi-column>
                            <dxi-column dataField="contractRemainAMT" caption="contractRemainAMT" format="#,##0.00"></dxi-column>



                        </dx-data-grid>
                        <div class="selected-data">
                            
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" value="{{grid2s.selectedRowKeys}}" hidden #data_select2s>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="get_databorrow(grid2s.selectedRowKeys)">
                                <i class="fa fa-save"></i> {{l("Select")}}</button>
                        </div>
                    </div>

                    <div *ngIf="varty=='c2'">

                        <div class="modal-body" id="us">

                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-6">
                                            <label for="" class="col-form-label">เลขที่เอกสาร</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" #doc_head value="" name="getdoc"
                                                [(ngModel)]="CreateUseBudgetHeaderInput.getdoc" placeholder="" disabled>
                                            <span class="m-form__help" style="color:#BEBEBE">
                                                ระบบจะสร้างเลขที่เอกสารอัตโนมัติหลังบันทึกข้อมูล
                                            </span>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="" class="col-form-label">วันที่ขอใช้</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1 onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control  text-center"
                                                name="getdocdate" disabled #getdocdate value="" placeholder=""
                                                [(ngModel)]="CreateUseBudgetHeaderInput.getdocdate">
                                            <span class="m-form__help" style="color:#BEBEBE">
                                                ระบุวันที่ขอใช้งบประมาณ
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-6">
                                            <label for="" class=" col-form-label">เลขที่ ศธ.</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="" placeholder=""
                                                required="true" [(ngModel)]="CreateUseBudgetHeaderInput.getst">
                                            <div class="alert alert-warning" [hidden]="CreateUseBudgetHeaderInput.getst != ''">โปรดระบุ
                                                ข้อมูล</div>
                                            <span class="m-form__help" style="color:#BEBEBE">
                                                ระบุเลขที่ใบสำคัญ
                                            </span>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="" class=" col-form-label">ลงวันที่ ศธ.</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date2 onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control  text-center"
                                                name="getstdte" #stdate value="" placeholder="" [(ngModel)]="CreateUseBudgetHeaderInput.getstdte">
                                            <span class="m-form__help" style="color:#BEBEBE">
                                                ระบุวันที่
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-6">
                                            <label for="" class=" col-form-label">แผนงาน/โครงการ: </label>
                                            <select class="form-control " id="" name="" #Plan style="width:100%"
                                                (change)="redata(Plan.value,dep.value)">
                                                <option *ngFor="let item of BudgetPlan" [selected]="CreateUseBudgetHeaderInput.getproject === item.tabtB2"
                                                    value="{{item.tabtB2}}">{{item.tabdsc}}</option>
                                            </select>
                                            <span class="m-form__help" style="color:#BEBEBE">
                                                เลือกแผนงานให้ถูกต้อง
                                            </span>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="" class=" col-form-label">*ประเภทการขอใช้</label>
                                            <select class="form-control " id="" name="" #TYPE style="width:100%">
                                                <option *ngFor="let item of USEBUDGETTYPE" [selected]="CreateUseBudgetHeaderInput.gettyp === item.tabtB2"
                                                    value="{{item.tabtB2}}">{{item.tabdsc}}</option>
                                            </select>
                                            <span class="m-form__help" style="color:#BEBEBE">
                                                เลือกประเภทที่ต้องการขอใช้
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-12">
                                            <label for="" class=" col-form-label">หมายเหตุ</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control" name="" placeholder="" [(ngModel)]="CreateUseBudgetHeaderInput.getprmk"><span
                                                class="m-form__help" style="color:#BEBEBE">
                                                ระบุหมายเหตุ
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row alert m-alert m-alert--default" style="background-color:#f7c7cf98"
                                        id="ai">
                                        <div class="col-lg-12">
                                            <label for="" class=" col-form-label">เรื่อง</label>
                                            <textarea type="text" class="form-control" name="" placeholder=""
                                                [(ngModel)]="CreateUseBudgetHeaderInput.getrmk"></textarea>
                                            <div class="alert alert-warning" [hidden]="CreateUseBudgetHeaderInput.getrmk != ''">โปรดระบุ
                                                ข้อมูล</div>
                                            <span class="m-form__help" style="color:#BEBEBE">
                                                ระบุเรื่อง
                                            </span>
                                        </div>
                                      
                                        <div class="col-lg-12">
                                            <label for="" class="col-form-label">งบประมาณของหน่วยงาน</label>
                                            <select class="form-control" id="" name="" #dep style="width:100%"
                                                [disabled]=" chk_permiss_sts == 0 " (change)="redata(Plan.value,dep.value)">
                                                <option *ngFor="let item of dbmtabsec" [selected]="CreateUseBudgetHeaderInput.getdepcode == item.tabtB2"
                                                    value="{{item.tabtB2}}">{{item.tabdsc}}</option>
                                            </select>
                                            <span class="m-form__help" style="color:#BEBEBE">
                                                ระบุหน่วยงาน
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr style=" border: 1px dashed  #BEBEBE;">
                        <div class="col-md-4" style="margin-left: 10px">
                            <div class="form-group row">
                                <button type="button" class="btn btn-primary" (click)="select_item(Plan.value,dep.value,0)">
                                    <i class="fa fa-list"></i> {{l("เลือก/เปลี่ยนแปลง งบประมาณที่ต้องการ")}}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row " id="panel2" style="display: none">

                                <div id="grid" class="col-md-12">
                                    <dx-data-grid [allowColumnReordering]="true" #grid id="grid-container" [dataSource]="RemainAmtList" keyExpr="docid"
                                        [(selectedRowKeys)]="selectedRows" [showBorders]="true">


                                        <dxo-selection mode="multiple">
                                        </dxo-selection>
                                        <dxo-paging [pageSize]="10"></dxo-paging>
                                        <dxo-filter-row [visible]="true"></dxo-filter-row>

                                        <dxi-column dataField="bgdcod" caption="รหัสงบประมาณ"></dxi-column>
                                        <dxi-column dataField="budgetNameLoc" caption="ชื่องบประมาณ"></dxi-column>
                                        <dxi-column dataField="bgdamt" caption="จำนวนเงินจัดสรร" format="฿ #,##0.##"></dxi-column>
                                        <dxi-column dataField="remainAmt" caption="จำนวนเงินคงเหลือ" format="฿ #,##0.##"></dxi-column>
                                        <dxi-column dataField="typName" caption="ประเภทงบประมาณ"></dxi-column>
                                    </dx-data-grid>

                                    <div class="selected-data">
                                      
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" hidden value="{{grid.selectedRowKeys}}" hidden #data_select>
                                    </div>
                                </div>
                                <div class="modal-footer col-md-12">

                                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-right: 5px"
                                        (click)="get_data(data_select.value)">ตกลง</button>

                                </div>

                            </div>
                        </div>
                        <br>
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGrid [dataSource]="data_fillter" [errorRowEnabled]="false"
                            [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                            columnResizingMode="widget" (onRowUpdated)="chk_edit2($event)">
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                                showScrollbar="always">
                            </dxo-scrolling>

                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxi-column dataField="bgdcod" caption="รหัสงบประมาณ" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="budgetNameLoc" caption="รายการ" [allowEditing]="false"> </dxi-column>

                            <dxi-column dataField="bgdamt" caption="ยอดจัดสรร" format="#,##0.##" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="useAmt" caption="ขอใช้ไปแล้ว" format="#,##0.##" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="remainAmt" caption="ยอดคงเหลือ" format="#,##0.##" [allowEditing]="false"></dxi-column>

                            <dxi-column dataField="usebudget_now" caption="ยอดขอใช้ครั้งนี้" format="#,##0.##"></dxi-column>
                            <dxi-column dataField="etdrefdoc" caption="เอกสารอ้างอิง"></dxi-column>
                            <dxi-column dataField="etdrmk" caption="รายละเอียด"></dxi-column>

                            <dxo-summary>
                                <dxi-total-item column="bgdamt" summaryType="sum" displayFormat="รวม: {0}" valueFormat="currency"
                                    format="#,##0.##">
                                </dxi-total-item>
                                <dxi-total-item column="useAmt" summaryType="sum" displayFormat="รวม: {0}" valueFormat="currency"
                                    format="#,##0.##">
                                </dxi-total-item>
                                <dxi-total-item column="remainAmt" summaryType="sum" displayFormat="รวม: {0}"
                                    valueFormat="currency" format="#,##0.##">
                                </dxi-total-item>
                                <dxi-total-item column="usebudget_now" summaryType="sum" displayFormat="รวม: {0}"
                                    valueFormat="currency" format="#,##0.##">
                                </dxi-total-item>
                            </dxo-summary>
                        </dx-data-grid>
                        <hr style=" border: 1px dashed  #BEBEBE;">
                        <label for="" class=" col-form-label col-md-12" > <label style="color: red"> * </label>กรุณาเพิ่มจำนวณเงินไม่เกินจำเงินที่จองเพิ่มก่อนบันทึกการจองเพิ่ม</label>
                        <div class="modal-footer col-md-12 ">
                            <div class="col-md-12 ">
                                <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                                    style="margin-right: 5px" (click)="close2() ">
                                    <i class="fa fa-close "></i> {{l("Close ")}}</button>
                                <button type="button " class="btn btn-danger pull-right " data-dismiss="modal " style="margin-right: 5px"
                                    (click)="save2(getdocdate.value,stdate.value,Plan.value,TYPE.value,dep.value) "
                                    [disabled]="sumcc != '01'">
                                    <i class="fa fa-save"></i> {{l("Save ")}}</button>

                              

                                <button type="button " class="btn btn-info pull-left " data-dismiss="modal " style="margin-left: 5px"
                                    (click)="print() ">
                                    <i class="fa fa-print "></i> {{l("Print ")}}</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->