<div [@routerTransition]>

    <div class="m-subheader">
      <div class="row align-items-center">
        <div class="mr-auto col-auto">
          <h3 class="m-subheader__title m-subheader__title--separator">
            <span>{{("Reduction Rate Setting")}}</span>
          </h3>
          <span class="m-section__sub">
  
          </span>
        </div>
        <div class="col text-right mt-3 mt-md-0">
          <button class="btn btn-primary" (click)="addreductionratesetting.show()"><i class="fa fa-plus"></i>
            {{"เพิ่มรายการ"}}</button>
        </div>
      </div>
    </div>
  
    <div class="m-content">
      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
          <h3>{{("รายการ")}} (0)</h3>
          <dx-data-grid id="gridContainer" [dataSource]="" [allowColumnReordering]="true" [showBorders]="true">
            <dxi-column dataField="" caption="Expenses Value"></dxi-column>
            <dxi-column dataField="" caption="Employee"></dxi-column>
            <dxi-column dataField="" caption="Childen not Study"></dxi-column>
            <dxi-column dataField="" caption="Life Insurance"></dxi-column>
            <dxi-column dataField="" caption="Loan/Other Interest"></dxi-column>
            <dxi-column dataField="" caption="Social Amount"></dxi-column>
            <dxi-column dataField="" caption="Minimum OF Social"></dxi-column>
            <dxi-column dataField="" caption="Father"></dxi-column>
            <dxi-column dataField="" caption="Father Health"></dxi-column>
            <dxi-column dataField="" caption="Child Health"></dxi-column>
            <dxi-column dataField="" caption="Mother"></dxi-column>
            <dxi-column dataField="" caption="Mother Health"></dxi-column>
            <dxi-column dataField="" caption="Not Over Limit"></dxi-column>
            <dxi-column dataField="" caption="Maried"></dxi-column>
            <dxi-column dataField="" caption="Studying"></dxi-column>
            <dxi-column dataField="" caption="Provident Fund"></dxi-column>
            <dxi-column dataField="" caption="Max. Prov.Fund"></dxi-column>
            <dxi-column dataField="" caption="Donate %"></dxi-column>
            <dxi-column dataField="" caption="Maximum Of Social"></dxi-column>
            <dxi-column dataField="" caption="Minimum Income for not Calculate TAX"></dxi-column>
            <dxi-column dataField="" caption="Maximum Childen for Reduction"></dxi-column>
            <dxi-column dataField="" caption="In Case Childen Birth Date"></dxi-column>
            <dxo-sorting></dxo-sorting>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
              [showPageSizeSelector]="true" [visible]="true">
            </dxo-pager>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="" [allowExportSelectedData]="true"></dxo-export>
          </dx-data-grid>
        </div>
      </div>
    </div>
  
  <app-add-reduction-rate-setting #addreductionratesetting></app-add-reduction-rate-setting>
  <app-edit-reduction-rate-setting #editreductionratesetting></app-edit-reduction-rate-setting>
  
  </div>