<div [@routerTransition]>

    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{("Transfer Payroll Data To Bank")}}</span>
                </h3>
                <span class="m-section__sub">

                </span>
            </div>
            <div class="col text-right mt-3 mt-md-0">

            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <div class="col-md-12">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 row" style="background-color:rgba(255, 196, 0, 0.39);">
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">Company From</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    class="form-control text-center m-input m-input--air" name="" placeholder="">
                            </div>
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">Branch Code</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    class="form-control text-center m-input m-input--air" name="" placeholder="">
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="col-form-label">&nbsp;</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    class="form-control text-center m-input m-input--air" name="" placeholder=""
                                    disabled>
                            </div>


                            <div class="col-lg-3">
                                <label for="" class="col-form-label">Year To Play</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                    data-provide="datepicker" data-date-language="th-th"
                                    class="form-control text-center m-input m-input--air" name="" placeholder="ปีที่ทำ">
                            </div>
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">Period</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    onkeydown="chkstr2(this)" data-date-format="mm" data-date-language="th-th"
                                    data-date-min-view-mode="months" data-date-start-view="months"
                                    data-provide="datepicker" class="form-control text-center m-input m-input--air"
                                    name="" placeholder="เดือนที่ทำ">
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="col-form-label">&nbsp;</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    class="form-control text-center m-input m-input--air" name="" placeholder=""
                                    disabled>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="col-form-label">Employee Type</label>
                                <!-- <label for="" class="col-form-label"> Type</label> -->
                                <select class="form-control m-input m-input--square " style="width:100%">
                                    <option value="" hidden>กรุณาเลือกข้อมูล</option>
                                    <option value="M">Month</option>
                                    <option value="D">Day</option>
                                    <option value="B">Both</option>
                                </select>
                                <!-- <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    class="form-control text-center m-input m-input--air" name="" placeholder=""> -->

                            </div>
                            <!-- <div class="col-lg-4">
                                <label for="" class="col-form-label">&nbsp;</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                class="form-control text-center m-input m-input--air" name="" placeholder="(M : Month , D : Day , B : Both)" disabled>
                               
                            </div> -->
                            <div class="col-lg-6">
                                <label for="" class="col-form-label"> Type</label>
                                <select class="form-control m-input m-input--square m_select2_1a" style="width:100%">
                                    <option>กรุณาเลือกข้อมูล</option>
                                    <option>Bank</option>
                                    <option>Cash</option>
                                    <option>Check</option>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label for="" class="col-form-label">Section From-To</label>
                                <select class="form-control m-input m-input--square m_select2_1a" style="width:100%">
                                    <option>ทั้งหมด</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="col-form-label">To</label>
                                <select class="form-control m-input m-input--square m_select2_1a" style="width:100%">
                                    <option>ทั้งหมด</option>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label for="" class="col-form-label">Employee ID.From</label>
                                <select class="form-control m-input m-input--square m_select2_1a" style="width:100%">
                                    <option>ทั้งหมด</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="col-form-label">To</label>
                                <select class="form-control m-input m-input--square m_select2_1a" style="width:100%">
                                    <option>ทั้งหมด</option>
                                </select>
                            </div>


                            <div class="col-lg-6">
                                <label for="" class="col-form-label">Bank Code</label>
                                <select class="form-control m-input m-input--square m_select2_1a" style="width:100%">
                                    <option>ทั้งหมด</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="col-form-label">Bank Assign No</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    class="form-control text-center m-input m-input--air" name="" placeholder=""
                                    disabled>
                            </div>

                            <div class="col-lg-6">
                                <label for="" class="col-form-label">Payment Date</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                    onkeyup="chkstr(this,this.value)" type="text" onkeydown="chkstr2(this)"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                    class="form-control text-center m-input m-input--air" name=""
                                    placeholder="วว/ดด/ปปปป">
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="col-form-label">file TxT</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    class="form-control text-center m-input m-input--air" name="" placeholder="">
                            </div>

                            <div class="col-lg-12 text-center" style="margin-top: 30px">
                                <!-- <button type="submit " class="btn btn-info ">
                                    <i class="fa fa-print"></i> {{"Print"}}</button> -->
                                <button type="submit " class="btn btn-success ">
                                    <i class="fa fa-check"></i> {{"Confirm"}}</button>
                                <button type="submit " class="btn btn-secondary ">
                                    <i class="fa fa-window-close"></i> {{"Close"}}</button>
                            </div>
                            <div class="col-lg-12">&nbsp;</div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>