<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-12 row">
                <div style="margin-top:15px;margin-left: 5px">
                    <h6>{{l("ประจำปี")}}</h6>
                </div>
                <div class="col-lg-1"><input autocomplete="off" onkeyup="chkstr(this,this.value)" id="year"
                        data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years" #yearsSr
                        data-provide="datepicker" data-date-language="th-th"
                        class="form-control text-center  m-input m-input--air">
                </div>
                <div style="margin-top:15px">
                    <h6>{{l("ประเภท")}}</h6>
                </div>
                <div class="col-lg-2">
                    <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a" #typ
                        id="typ" style="width:100%" name="typ">
                        <option value="All" selected>ทั้งหมด</option>
                        <option *ngFor="let item of TrainingCourse" value="{{item.tabtB2}}">
                            {{item.tabdsc}}
                        </option>
                    </select>
                </div>

                <div style="margin-top:15px">
                    <h6>{{l("ระหว่างวันที่")}}</h6>
                </div>
                <div class="col-lg-2"><input autocomplete="off" onkeyup="chkstr(this,this.value)"
                        data-provide="datetimepicker" data-date-language="th-th" type="text" onkeydown="chkstr2(this)"
                        data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                        class=" form-control text-center" placeholder="ตั้งแต่วันที่" #datet1sr>
                </div>
                <div style="margin-top:15px">
                    <h6>{{l("ถึง")}}</h6>
                </div>
                <div class="col-lg-2">
                    <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" onkeydown="chkstr2(this)"
                        data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                        class=" form-control text-center" placeholder="ถึงวันที่" #datet2sr>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-info m-btn m-btn--icon m-btn--icon-only"
                        style="margin-left:5px;margin-top: 3px"
                        (click)="getCourseValue(yearsSr.value,typ.value,datet1sr.value,datet2sr.value)">
                        <i class="fa fa-search"></i></button>
                </div>

                <div class="col-sm-1">
                    <button class="btn btn-info" (click)="setuptrainingadd.show()">
                        <i class="fa fa-plus"></i> {{l("Add")}}</button>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-warning" (click)="DownloadTemp()">
                        <i class="fa fa-download"></i> {{l("Template")}}</button>
                </div>
                <!-- 
                <div class="col-sm-1 text-right">
                        <button class="btn btn-info" (click)="SetupEmptrainingadd.show()">
                            <i class="fa fa-plus"></i> {{l("ccs")}}</button>
                    </div> -->
                <br>
                <div class="col-sm-12 row">
                    <div class="col-sm-4" style="margin-top: 10px">
                        <button class="btn btn-info" (click)="selectkpi.show()">
                            <i class="fa fa-check"></i> {{l("นับชั่วโมง KPI")}}</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="m-content">

            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">

                    <h3>{{l("แผนการฝึกอบรมประจำปี")}} {{yearLbl}}</h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="Course"
                        (onContentReady)="onContentReady($event)" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                        columnResizingMode="widget" keyExpr="id">

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-export [enabled]="true" fileName="ShiftCodeList" [allowExportSelectedData]="true">
                        </dxo-export>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                        <dxi-column dataField="playea" caption="ปี" [customizeText]="fnyyyy543grid"></dxi-column>
                        <dxi-column dataField="pladtefm" caption="วันที่เริ่ม" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column dataField="pladteto" caption="ถึงวันที่" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column dataField="placod" caption="Code"></dxi-column>
                        <dxi-column dataField="planam" caption="หลักสูตร"></dxi-column>
                        <dxi-column dataField="platyp" caption="ประเภทฝึกอบรม"></dxi-column>
                        <dxi-column dataField="plaseq" caption="รุ่น"></dxi-column>
                        <dxi-column dataField="platgt" caption="กลุ่ม"></dxi-column>
                        <dxi-column dataField="planaM4" caption="วิทยากร"></dxi-column>
                        <dxi-column dataField="placare" caption="ผู้รับผิดชอบ"></dxi-column>
                        <dxi-column dataField="plaamt" caption="งบประมาณ" format="#,##0.00"></dxi-column>


                        <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                            [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>

                        <dxi-column [width]="90" [allowFiltering]="false" [fixed]="true" fixedPosition="right"
                            [allowSorting]="false" cellTemplate="cellTemplate2" caption=""></dxi-column>

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:;" style="color:#3399FF	" class=""
                                (click)="setuptrainingedit.show(data.data.id)">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>

                        <div *dxTemplate="let data of 'cellTemplate2'">
                            <a href="javascript:;" style="color:#3399FF	" class=""
                                (click)="SetupEmptrainingadd.show(data.data.placod)">
                                <i class="fa fa-plus"></i> {{l("Add Emp")}}
                            </a>
                        </div>

                    </dx-data-grid>
                </div>
            </div>
        </div>
        <setuptrainingadd #setuptrainingadd (modalSave)="getTCourse()"></setuptrainingadd>
        <setuptrainingedit #setuptrainingedit (modalSave)="getTCourse()"></setuptrainingedit>
        <SetupEmptrainingadd #SetupEmptrainingadd (modalSave)="getTCourse()"></SetupEmptrainingadd>
        <selectkpi #selectkpi (modalSave)="getTCourse()"></selectkpi>


    </div>