<div bsModal *ngIf="active == true" #modal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">ข้อมูลส่วนบุคคล</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="" class="col-form-label">รหัสพนักงาน</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left"
                                            [(ngModel)]="EmployeeInformationsListDto.pswidn" name="" disabled>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="" class="col-form-label">เลขที่ผู้เสียภาษี*</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left" id="pswtax" #pswtax 
                                            [(ngModel)]="EmployeeInformationsListDto.pswtax" name="pswtax" 
                                             im-insert="true">
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="" class="col-form-label">เลขที่บัตรประกันสังคม</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left" id="pswsoc" #pswsoc
                                            [(ngModel)]="EmployeeInformationsListDto.pswsoc" name="pswsoc" 
                                             im-insert="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="" class="col-form-label">ชื่อพนักงาน</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left" name="nameps"  [(ngModel)]="nameps" disabled>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">เลขที่กองทุนสำรองฯ</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left"
                                            [(ngModel)]="EmployeeInformationsListDto.pswprv" name="">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="" class="col-form-label">Active/Inactive (A/I)*</label>
                                        <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-center"
                                            [(ngModel)]="EmployeeInformationsListDto.pswpai" name=""> -->
                                        <div class="m-radio-inline" style="margin-top: -5px">
                                            <label class="m-radio m-radio--success">
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="radio"
                                                    name="pswpai" [(ngModel)]="EmployeeInformationsListDto.pswpai"
                                                    value="A">Active
                                                <span></span>
                                            </label>
                                            <label class="m-radio m-radio--success">
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="radio"
                                                    name="pswpai" [(ngModel)]="EmployeeInformationsListDto.pswpai"
                                                    value="I">Inactive
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label for="" class="col-form-label">Provident Fund Company</label>
                                        <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left"
                                            [(ngModel)]="EmployeeInformationsListDto.pswpcm" name=""> -->
                                        <select class="form-control m-input m-input--air  m-input m-input--square"
                                            name="pswpcm" id="pswpcm" [(ngModel)]="EmployeeInformationsListDto.pswpcm">

                                            <option *ngFor="let item of PROVIDENTCOM"
                                                [selected]="item.tabtB2 === EmployeeInformationsListDto.pswpcm"
                                                value="{{item.tabtB2}}">{{item.tabtB2}}
                                                : {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="" class="col-form-label">ประเภทการเปลี่ยนแปลง</label>
                                        <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-center"
                                            [(ngModel)]="EmployeeInformationsListDto.pswpfg" name=""> -->
                                        <select class="form-control m-input m-input--air  m-input m-input--square"
                                            name="pswpfg" id="pswpfg" [(ngModel)]="EmployeeInformationsListDto.pswpfg">

                                            <option *ngFor="let item of POVIDENTTYPE"
                                                [selected]="item.tabtB2 === EmployeeInformationsListDto.pswpfg"
                                                value="{{item.tabtB2}}">{{item.tabtB2}}
                                                : {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="" class="col-form-label">วันที่เป็นสมาชิก</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            onkeydown="chkstr2(this)" data-provide="datepicker"
                                            data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                            class=" form-control  text-center" id="pswpvd"
                                            [(ngModel)]="EmployeeInformationsListDto.pswpvd" name=""
                                            placeholder="วว/ดด/ปปปป">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="" class="col-form-label">วันที่คิด %</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            onkeydown="chkstr2(this)" data-provide="datepicker"
                                            data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                            class=" form-control  text-center" id="pswpvp"
                                            [(ngModel)]="EmployeeInformationsListDto.pswpvp" name=""
                                            placeholder="วว/ดด/ปปปป">
                                    </div>


                                    <div class="col-sm-3">
                                        <label for="" class="col-form-label">วันที่สิ้นสุด</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            onkeydown="chkstr2(this)" data-provide="datepicker"
                                            data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                            class=" form-control  text-center" id="pswpve"
                                            [(ngModel)]="EmployeeInformationsListDto.pswpve" name=""
                                            placeholder="วว/ดด/ปปปป">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">เงินประกันชีวิต</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswins" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">ประกันสุขภาพบิดา</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswfatins" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">ดอกเบี้ยผ่อนบ้าน</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswint" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">ประกันสุขภาพมารดา</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswmotins" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">เงินบริจาค</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswfea" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">อุปการะเลี้ยงดูคนพิการ</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswhdc" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">ส่วนลดบิดา</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswfat" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">ส่วนลดมารดา</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswmot" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">RMF</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswrmf" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">LTF</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswltf" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">รายได้สะสม</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswpreamt" name="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="" class="col-form-label">ภาษีสะสม</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswpretax" name="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="row" style="background-color:rgb(215, 239, 255)">
                                            <div class="col-sm-12">
                                                <h6 style="margin-top:10px;">Employee Type</h6>
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="" class="col-form-label">Type</label>
                                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-center"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswfG1" name=""> -->

                                                <select
                                                    class="form-control m-input m-input--air  m-input m-input--square"
                                                    name="pswfG1" id="pswfG1"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswfG1">

                                                    <option *ngFor="let item of EMPTYPE"
                                                        [selected]="item.tabtB2 === EmployeeInformationsListDto.pswfG1"
                                                        value="{{item.tabtB2}}">{{item.tabtB2}}
                                                        : {{item.tabdsc}}</option>
                                                </select>
                                                <label for="" class="col-form-label">&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row" style="background-color:#FEF9E7;">
                                            <div class="col-sm-12">
                                                <h6 style="margin-top:10px;">Employee Sub Type</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">Type</label>
                                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-center"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswetm" name=""> -->
                                                <select
                                                    class="form-control m-input m-input--air  m-input m-input--square"
                                                    name="pswetm" id="pswetm"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswetm">

                                                    <option *ngFor="let item of EMPSUBTYPE"
                                                        [selected]="item.tabtB2 === EmployeeInformationsListDto.pswetm"
                                                        value="{{item.tabtB2}}">{{item.tabtB2}}
                                                        : {{item.tabdsc}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">
                                                    Expired Date
                                                </label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    onkeydown="chkstr2(this)" data-provide="datepicker"
                                                    data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                                    class=" form-control  text-center"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswmtd" id="pswmtd" name=""
                                                    placeholder="วว/ดด/ปปปป">
                                                <label for="" class="col-form-label">&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row" style="background-color:#FBEEE6;">
                                            <div class="col-sm-12">
                                                <h6 style="margin-top:10px;">Provident Setting</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">Employee % *</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswsep" name="">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">Company % *</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswscm" name="">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">ปี/เดือน/วัน จากวันที่บรรจุ</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    id="agewrk" disabled class=" form-control  text-center" name="">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">คิดจากวันที่บรรจุ</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    id="agewrkcal" disabled class="form-control  text-right" name="">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">Employee Summary</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswppa" name="">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">Company Summary</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswpca" name="">
                                                <label for="" class="col-form-label">&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="" class="col-form-label">จ่ายเงินด้วยวิธี</label>
                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" [(ngModel)]="EmployeeInformationsListDto.pswfG3"
                                    name=""> -->
                                <select class="form-control m-input m-input--air  m-input m-input--square" name="pswfG3"
                                    id="pswfG3" [(ngModel)]="EmployeeInformationsListDto.pswfG3">

                                    <option *ngFor="let item of PAYSALARYTYPE"
                                        [selected]="item.tabtB2 === EmployeeInformationsListDto.pswfG3"
                                        value="{{item.tabtB2}}">{{item.tabtB2}}
                                        : {{item.tabdsc}}</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label for="" class="col-form-label">เลขที่บัญชีธนาคาร</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" [(ngModel)]="EmployeeInformationsListDto.pswacc"
                                    name="">
                            </div>

                            <div class="col-sm-3">
                                <label for="" class="col-form-label">ธนาคาร</label>
                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" [(ngModel)]="EmployeeInformationsListDto.pswbnk"
                                    name="" disabled> -->
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    id="pswbnk" style="width:100%" name="pswbnk" #pswbnk
                                    [(ngModel)]="EmployeeInformationsListDto.pswbnk">
                                    <option value="NO">-</option>
                                    <option *ngFor="let item of BNKCOD" value={{item.tabtB2}}>
                                        {{item.tabdsc}}</option>
                                </select>
                            </div>

                            <div class="col-sm-3">
                                <label for="" class="col-form-label">สาขา</label>
                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-left" [(ngModel)]="EmployeeInformationsListDto.pswbbn"
                                    name="" disabled> -->
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    id="pswbbn" style="width:100%" name="pswbbn" #pswbbn
                                    [(ngModel)]="EmployeeInformationsListDto.pswbbn">
                                    <option value="NO">-</option>
                                    <option *ngFor="let item of BNKBRN" value={{item.tabtB2}}>
                                        {{item.tabdsc}}</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                    <!-- [disabled]="(pswbnk.value == 'NO'||pswbnk.value == ''||pswbnk.value == null)&&(pswbbn.value == 'NO'||pswbbn.value == ''||pswbbn.value == null)" -->
                                <button type="submit" class="btn btn-info" style="margin-top:40px;"
                                    
                                    (click)="select_item_togle()">More Bank &nbsp;&nbsp;<i
                                        class="fa fa-angle-double-down"></i></button>
                            </div>



                            <div class="col-sm-12"
                                style="margin-top:8px;background-color:RGB(237, 243, 245,0.5);display: none"
                                id="panel_togle">
                                <div class="col-sm-12 row">
                                    <div class="col-sm-2">
                                        <label for="" class="col-form-label">เลขที่บัญชีธนาคาร</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left" id="bnkaccid" #bnkaccid name="">
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-form-label">ธนาคาร</label>
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            id="bnkcod" style="width:100%" name="bnkcod" #bnkcod>
                                            <option *ngFor="let item of BNKCOD" value={{item.tabtB2}}>
                                                {{item.tabdsc}}</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-form-label">สาขา</label>
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            id="bnkbrn" style="width:100%" name="bnkbrn" #bnkbrn>
                                            <option *ngFor="let item of BNKBRN" value={{item.tabtB2}}>
                                                {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-success" style="margin-top:40px;"
                                            (click)="addacc(bnkaccid.value,bnkcod.value,bnkbrn.value)"> <i
                                                class="fa fa-plus"></i> Add
                                            Account</button>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-top:20px">
                                    <dx-data-grid id="gridContainer" [dataSource]="MoreBankAccountsListDto"
                                        [allowColumnReordering]="true" [allowColumnResizing]="true"
                                        [columnAutoWidth]="true" [showBorders]="true">
                                        <dxi-column dataField="bnkacc" caption="เลขที่บัญชีธนาคาร"></dxi-column>
                                        <dxi-column dataField="bnkbnk" caption="รหัสธนาคาร"></dxi-column>
                                        <dxi-column dataField="bnkbnk" caption="ชื่อธนาคาร">
                                            <dxo-lookup [dataSource]="BNKCOD" displayExpr="tabdsc" valueExpr="tabtB2">
                                            </dxo-lookup>
                                        </dxi-column>
                                        <dxi-column dataField="bnkbrn" caption="รหัสสาขา"></dxi-column>
                                        <dxi-column dataField="bnkbrn" caption="ชื่อสาขา">
                                            <dxo-lookup [dataSource]="BNKBRN" displayExpr="tabdsc" valueExpr="tabtB2">
                                            </dxo-lookup>
                                        </dxi-column>
                                        <dxi-column dataField="bnkact" caption="Active/Inactive"></dxi-column>
                                        <dxo-sorting></dxo-sorting>

                                        <dxo-pager [allowedPageSizes]="[3, 5]" [showInfo]="true"
                                            [showNavigationButtons]="true" [showPageSizeSelector]="true"
                                            [visible]="true">
                                        </dxo-pager>
                                        <dxo-paging [pageSize]="3"></dxo-paging>
                                        <dxo-editing [allowDeleting]="true" [useIcons]="true" fixedPosition="right">
                                        </dxo-editing>
                                        <dxi-column [width]="100" [allowFiltering]="false" [fixed]="true"
                                            fixedPosition="right" [allowSorting]="false" cellTemplate="cellTemplate"
                                            caption=""></dxi-column>
                                        <div *dxTemplate="let data of 'cellTemplate'">
                                            <!-- <a href="javascript:;" class="" (click)="activeBnk(data.data)">
                                                Active
                                            </a> -->
                                            <a href="javascript:;" class="" (click)="activeBnk(data.data)">
                                                <h6 *ngIf="data.data.bnkact == 'I'">Active</h6>
                                                <h6 *ngIf="data.data.bnkact == 'A'">Inactive</h6>
                                            </a>
                                        </div>

                                        <!-- <dxo-search-panel [visible]="true"></dxo-search-panel>
                                    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
                                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                                    <dxo-export [enabled]="true" fileName="" [allowExportSelectedData]="true">
                                    </dxo-export> -->
                                    </dx-data-grid>
                                </div><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr style=" border: 1px dashed  #BEBEBE;">
                        <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
                            <!-- <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link " data-toggle="tab" href="#tab1" role="tab">
                                    Guarantee Setting
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab2" role="tab">
                                    Loan Setting
                                </a>
                            </li> -->
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#tab3" role="tab">
                                    Other Setting
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab4" role="tab">
                                    Overtime Option
                                </a>
                            </li>
                            <!-- <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab5" role="tab">
                                    Area Amount
                                </a>
                            </li> -->
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab6" role="tab">
                                    Guarantee Income
                                </a>
                            </li>
                            <!-- <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab7" role="tab">
                                    Default Withholding Tax
                                </a>
                            </li> -->
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab8" role="tab">
                                    More Income
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane " id="tab1" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-8 row">
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Guarantee Type</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-left"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswgty" name="">
                                            </div>
                                            <div class="col-sm-8">
                                                <label for="" class="col-form-label">&nbsp;</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-left" name="" disabled>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Guarantee Amt.</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswgty" name="">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="" class="col-form-label">Period</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right" name="">
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="" class="col-form-label">Amount/Period</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right" name="">
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="" class="col-form-label">Due Date</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    onkeydown="chkstr2(this)" data-provide="datepicker"
                                                    data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                                    class=" form-control  text-center" name="" placeholder="วว/ดด/ปปปป">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <div class="col-sm-12">
                                                    <label class="m-checkbox m-checkbox--state-success">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="checkbox">
                                                        Loan Flag<span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 row">
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Credit Amount</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right" name="">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Loan Amount</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right" name="">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Total Pay Amount</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right" name="">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Period</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-left" name="">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Period Amount</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right" name="">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Current Period</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-left" name="">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab3" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">

                                            <div class="col-sm-12" style="margin-top:20px">
                                                <label class="m-checkbox m-checkbox--state-success">
                                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                        type="checkbox"
                                                        [(ngModel)]="EmployeeInformationsListDto.pswscs">
                                                    Calculate Social<span></span>
                                                </label></div>
                                            <div class="col-sm-12">
                                                <label class="m-checkbox m-checkbox--state-success">
                                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                        type="checkbox"
                                                        [(ngModel)]="EmployeeInformationsListDto.pswtim">
                                                    Shift Flag<span></span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-9 row">
                                            <div class="col-sm-4">
                                                <label for="" class="col-form-label">Shift Code</label>
                                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-left"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswshf" name=""> -->
                                                <select
                                                    class="form-control m-input m-input--air  m-input m-input--square m_select2_1at"
                                                    style="width:100%" name="pswshf" id="pswshf"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswshf">

                                                    <option *ngFor="let item of SHIFTCODE"
                                                        [selected]="item.tabtB2 === EmployeeInformationsListDto.pswshf"
                                                        value="{{item.tabtB2}}">{{item.tabtB2}}
                                                        : {{item.tabdsc}}</option>
                                                </select>
                                            </div>
                                            <!-- <div class="col-sm-4">
                                                <label for="" class="col-form-label">&nbsp;</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-left" name="">
                                            </div> -->
                                            <div class="col-sm-3">
                                                <label for="" class="col-form-label">Default Work Hours/Day</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswrte" name="">
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="" class="col-form-label">Request for Time Recorder</label>
                                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswrec" name=""> -->
                                                <div class="m-radio-inline" style="margin-top: 10px">
                                                    <label class="m-radio m-radio--success">
                                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)"
                                                            type="radio" name="pswrec"
                                                            [(ngModel)]="EmployeeInformationsListDto.pswrec"
                                                            value="Y">Yes
                                                        <span></span>
                                                    </label>
                                                    <label class="m-radio m-radio--success">
                                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)"
                                                            type="radio" name="pswrec"
                                                            [(ngModel)]="EmployeeInformationsListDto.pswrec"
                                                            value="N">No
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-8 row">
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">คิด Overtime แบบ</label>
                                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswetu" name="">
                                                <label for="" class="col-form-label">1.(1,1.5,3) , 2.Fix OT ,
                                                    3.เวรแต่เบิกเป็นแบบเป็นเท่า ,
                                                    4.เวรแต่เบิกแบบเป็นเท่า+เวรเหมา</label> -->
                                                <select
                                                    class="form-control m-input m-input--air  m-input m-input--square"
                                                    name="pswetu" id="pswetu"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswetu">
                                                    <option value=""></option>
                                                    <option *ngFor="let item of OvertimeTyp"
                                                        [selected]="item.tabtB2 === EmployeeInformationsListDto.pswetu"
                                                        value="{{item.tabtB2}}">{{item.tabtB2}}
                                                        : {{item.tabdsc}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">แบบชั่วโมงปฎิบัติการ</label>
                                                <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswtyp" name="">
                                                <label for="" class="col-form-label">1. 40 ชม. , 2. 44 ชม. , 3. 48
                                                    ชม.</label> -->
                                                <select
                                                    class="form-control m-input m-input--air  m-input m-input--square"
                                                    name="pswtyp" id="pswtyp"
                                                    [(ngModel)]="EmployeeInformationsListDto.pswtyp">
                                                    <option value=""></option>
                                                    <option *ngFor="let item of OvertimeP"
                                                        [selected]="item.tabtB2 === EmployeeInformationsListDto.pswtyp"
                                                        value="{{item.tabtB2}}">{{item.tabtB2}}
                                                        : {{item.tabdsc}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab5" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-8 row">
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">Area Amount</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right" name="">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6" role="tabpanel">
                                <div class="col-md-12 row">
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Per Hour</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswgph" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Incharge</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right" name=""
                                            [(ngModel)]="EmployeeInformationsListDto.pswinc">
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="" class="col-form-label">On Call ไม่มี</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswcaln" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Per Day</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswgpd" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">On Call มี</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswcal" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Shift Code</label>
                                        <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswsfad" name=""> -->

                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1at"
                                            style="width:100%" name="pswsfad" id="pswsfad"
                                            [(ngModel)]="EmployeeInformationsListDto.pswsfad">

                                            <option *ngFor="let item of SHIFTCODE"
                                                [selected]="item.tabtB2 === EmployeeInformationsListDto.pswsfad"
                                                value="{{item.tabtB2}}">{{item.tabtB2}}
                                                : {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Per Week</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswgpw" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">เวรเหมา</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswoth" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Shift Code</label>
                                        <!-- <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswsfaa" name=""> -->

                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1at"
                                            style="width:100%" name="pswsfaa" id="pswsfaa"
                                            [(ngModel)]="EmployeeInformationsListDto.pswsfaa">

                                            <option *ngFor="let item of SHIFTCODE"
                                                [selected]="item.tabtB2 === EmployeeInformationsListDto.pswsfaa"
                                                value="{{item.tabtB2}}">{{item.tabtB2}}
                                                : {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Per Month</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswgpm" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">ค่ากะบ่าย</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswsfa" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">ORเล็ก-SCRUB/ANGIO</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.psworscu" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Per Year</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswgpy" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">ค่ากะดึก</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswsfn" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">ORเล็ก-CIR/CT/MRI</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswmri" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Food</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswfod" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">ผู้ดูแล</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right" name="pswsup"
                                            [(ngModel)]="EmployeeInformationsListDto.pswsup">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">MAJOR-SCRUB</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswmajscr" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Sat and Sunday</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswgphw" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">หักสายต่อเวร</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswlate" name="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">MINOR/ENDO-SCRUB</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right"
                                            [(ngModel)]="EmployeeInformationsListDto.pswminscr" name="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab7" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-8 row">
                                            <div class="col-sm-6">
                                                <label for="" class="col-form-label">Withholding Tax Rate</label>
                                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                                    class="form-control  text-right" name="">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab8" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="" class="col-form-label">Code</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left" name="" #code id="cdcode">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="" class="col-form-label">Decription</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-left" name="">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="" class="col-form-label">Amount</label>
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                            class="form-control  text-right" name="" #amt id="cdamt" (change)="fnnum()">
                                    </div>
                                    <div class="col-sm-2">
                                        <!-- <button type="submit" class="btn btn-danger pull-right"
                                            style="margin-top:40px;">เพิ่มข้อมูล</button> -->
                                        <button type="submit" class="btn btn-success"
                                            style="margin-top:40px;margin-left:-15px"
                                            (click)="addinc(code.value,amt.value)"> <i class="fa fa-plus"></i> Add
                                            Income</button>
                                    </div>
                                    <!-- <div class="col-sm-1">
                                        <button type="submit" class="btn btn-info pull-right"
                                            style="margin-top:40px;">Income Setting</button>
                                    </div> -->
                                    <div class="col-sm-12" style="margin-top:8px;">
                                        <dx-data-grid id="gridContainer" [dataSource]="MoreIncomesListDto"
                                            [allowColumnReordering]="true" [allowColumnResizing]="true"
                                            [columnAutoWidth]="true" [showBorders]="true">

                                            <dxi-column dataField="inecod" caption="Code"></dxi-column>
                                            <dxi-column dataField="" caption="Decription"></dxi-column>
                                            <dxi-column dataField="ineamt" caption="Amount" format="#,##0.00">
                                            </dxi-column>
                                            <dxi-column dataField="inests" caption="Active/Inactive"></dxi-column>
                                            <dxi-column [width]="100" [allowFiltering]="false" [fixed]="true"
                                                fixedPosition="right" [allowSorting]="false" cellTemplate="cellTemplate"
                                                caption=""></dxi-column>
                                            <div *dxTemplate="let data of 'cellTemplate'">
                                                <a href="javascript:;" *ngIf="data.data.inests == 'I'" class=""
                                                    (click)="activeINC(data.data,'A')">
                                                    <!-- <i class="fa fa-search-plus"></i> -->Active
                                                </a>
                                                <a href="javascript:;" *ngIf="data.data.inests == 'A'" class=""
                                                    (click)="activeINC(data.data,'I')">
                                                    <!-- <i class="fa fa-search-plus"></i> -->Inactive
                                                </a>
                                            </div>
                                            <dxo-summary>
                                                <dxi-total-item column="ineamt" summaryType="sum" valueFormat="#,##0.00"
                                                    displayFormat="{0}">
                                                </dxi-total-item>

                                            </dxo-summary>
                                            <dxo-sorting></dxo-sorting>

                                            <dxo-search-panel [visible]="true"></dxo-search-panel>
                                            <dxo-pager [allowedPageSizes]="[3, 5]" [showInfo]="true"
                                                [showNavigationButtons]="true" [showPageSizeSelector]="true"
                                                [visible]="true">
                                            </dxo-pager>
                                            <dxo-paging [pageSize]="3"></dxo-paging>
                                            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
                                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                                            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                                            <dxo-export [enabled]="true" fileName="" [allowExportSelectedData]="true">
                                            </dxo-export>
                                        </dx-data-grid>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal"
                        style="margin-right: 5px" (click)="close()">
                        <i class="la la-close"></i> {{l("Close")}}</button>
                    <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="save(pswtax.value,pswsoc.value)">
                        <i class="fa fa-save"></i> {{l("Save/Confirm")}}</button>
                    <!-- <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
                        กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label> -->
                </div>
            </div>

        </div>
    </div>
</div>