<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานหลักสูตรอบรมประจำเดือน")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <label class="col-form-label col-lg-5 col-sm-12" style="margin-top: 5px;text-align:right">
                        Starting
                    </label>
                    <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                        Ending
                    </label>
                    <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                    </label>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ปี
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th" #yearmo />
                        </div>
                        <div class="col-lg-6">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            วันที่อบรม
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d1as
                                placeholder="วว/ดด/ปปปป">
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as
                                placeholder="วว/ดด/ปปปป">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onclick="this.select()"  #emidr1 id="emidr1"/>
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="emplist.show('1')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onclick="this.select()"  #emidr2 id="emidr2" value="ALL" />
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="emplist.show('2')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <!-- <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ประเภทการฝึกอบรม
                        </label>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a">
                                <option value="0">ACT</option>
                                <option value="1">CNEU</option>
                                <option value="2">INH</option>
                            </select> </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            หลักสูตร
                        </label>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label> -->
                        <!-- <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            </label>
                        <div class="col-lg-3" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-list">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typr" id="typr" #typr value=" " checked (click)="ditell()">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(yearmo.value,d1as.value,d2as.value,emidr1.value,emidr2.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                            <button type="submit " class="btn btn-info text-center" style="margin-right: 5px"
                            (click)="dowload(yearmo.value,d1as.value,d2as.value,emidr1.value,emidr2.value,typr.value)">
                            <i class="fa fa-file-excel "></i> {{l("Excel")}}</button>
                        <button type="submit " class="btn btn-secondary text-center" style="margin-right: 5px">
                            <i class="fa fa-window-close "></i> {{l("Close ")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <emplist #emplist (modalSave)="ngOnInit()"></emplist>
</div>