<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("ใบลงทะเบียนผู้รับการฝึกอบรม")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company Code
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" value="001"/>
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" 
                            value="โรงพยาบาลมหาวิทยาลัยเทคโนโลยีสุรนารี" disabled/>
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Year
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" data-date-format="yyyy" data-date-min-view-mode="years" 
                            data-date-start-view="years" data-provide="datepicker" data-date-language="th-th" #year/>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                           
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                           หลักสูตร
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onkeyup="chkstr(this,this.value)" name="placod" id="placod" #placod disabled>
                                <div class="input-group-append" style="margin-left:5px" [hidden]="chk_year == 1">
                                    <button class="btn btn-info" type="button" (click)="showc()">
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" id="namecourse" disabled/>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px" hidden>
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" id="idcourse" #idcourse disabled/>
                        </div>
                        <!-- <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            วันที่
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label> -->
                        <!-- <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            รายงานแบบ
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a" >
                               <option value="0">ส่งศูนย์พัฒนา</option>
                               <option value="1">ลงทะเบียนแผนกบุคคล</option>
                               <option value="2">ลงทะเบียน</option>
                               <option value="3">ผลสอบปฐมนิเทศ</option>

                           </select>
                        </div> -->
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <!-- <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Export type
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a" >
                               <option value="0">PDF</option>
                               <option value="1">Record</option>
                               <option value="2">Workbook</option>

                           </select>
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label> -->
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px" (click)="prints(idcourse.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px" (click)="download(idcourse.value)">
                            <i class="fa fa-file-excel"></i> {{l("Excel")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px" >
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- ///---------------------------------------------------modal6 course---------------------------------------------------------------------/// -->
<div bsModal #modal_course="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Course")}}</b>
                </h5>
                <button type="button" (click)="closecourse()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Course Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gCourse [dataSource]="getcourse"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        keyExpr="id" [(selectedRowKeys)]="selectedRows">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="placod" caption="รหัสหลักสูตร"></dxi-column>
                        <dxi-column dataField="planam" caption="ชื่อหลักสูตร"></dxi-column>
                    </dx-data-grid>
                    <div class="selected-data">
                        <!-- {{grid.selectedRowKeys}} -->
                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                            value="{{gCourse.selectedRowKeys}}" hidden #data_selectc>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_course(data_selectc.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>