<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Transfer Data Form Talf")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 row " style="margin-top: 15px">
                            <div class="col-md-12">
                                <label for="" class="col-form-label">{{l("Search Path")}}</label>
                                <div class="input-group">
                                    <input class=" form-control text-center  m-input m-input--air">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button" >
                                            <i class="fa fa-search"></i> ฺBrowse</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="col-form-label">{{l("From Date")}}</label>
                                <input class=" form-control text-center  m-input m-input--air"  data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                            <div class="col-md-6">
                                <label for="" class="col-form-label">{{l("To Date")}}</label>
                                <input class=" form-control text-center  m-input m-input--air"  data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                            <div class="col-md-6">
                                <label for="" class="col-form-label">{{l("From Com")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6">
                                <label for="" class="col-form-label">{{l("To Com")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("From Department")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To Department")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("From Emp")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To Emp")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-12 ">
                                <label for="" class="col-form-label">{{l("Current Date")}}</label>
                                <input class=" form-control text-center  m-input m-input--air"  data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy">
                            </div>
                            <div class="col-md-12 ">
                                <label for="" class="col-form-label">{{l("Time Recoder Name")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-12 ">
                                <label for="" class="col-form-label">{{l("Current Employee")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-12 " style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="m-checkbox-inline">
                                        <label class="m-checkbox">
                                            <input type="checkbox"> {{l("Load Data From Finger Scan (Step 1. Very Long Time)")}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label for="" class="col-form-label">Progressive</label>
                                <!-- <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: progressbarss" id="pbb"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{progressbarss}}</div>
                              </div> -->
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 10%" id="pbb"
                                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="submit " class="btn btn-success " >
                                    <i class="fa fa-check"></i> {{l("Ok")}}</button>
                                <button type="submit " class="btn btn-secondary " >
                                    <i class="fa fa-close "></i> {{l("Close ")}}</button>
                            </div>
                            <div class="col-lg-12">&nbsp;</div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>