<div [@routerTransition]>

  <div class="m-subheader">
    <div class="row align-items-center">
      <div class="mr-auto col-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{("Cancel Calculated Payroll of Period")}}</span>
        </h3>
        <span class="m-section__sub">

        </span>
      </div>
      <div class="col text-right mt-3 mt-md-0">

      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">

        <div class="col-md-12">
          <div class="form-group m-form__group row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 row" style="background-color:rgba(255, 196, 0, 0.39);">
              <div class="col-lg-3">
                <label for="" class="col-form-label">Company Code</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="">
              </div>
              <div class="col-lg-9">
                <label for="" class="col-form-label">&nbsp;</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="" disabled>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">Payroll Type</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="">
              </div>
              <div class="col-lg-9">
                <label for="" class="col-form-label">&nbsp;</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="" disabled>
              </div>
              <div class="col-lg-4">
                <label for="" class="col-form-label">Year</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)"
                  data-provide="datepicker" data-date-language="th-th" data-date-format="yyyy"
                  data-date-min-view-mode="years" class="form-control text-center m-input m-input--air">
              </div>
              <div class="col-lg-8"></div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">Period</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="">
              </div>
              <div class="col-lg-9">
                <label for="" class="col-form-label">&nbsp;</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="" disabled>
              </div>
              <div class="col-lg-6">
                <label for="" class="col-form-label">Department From</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="">
              </div>
              <div class="col-lg-6">
                <label for="" class="col-form-label">To</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="">
              </div>
              <div class="col-lg-6">
                <label for="" class="col-form-label">Employee From</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="">
              </div>
              <div class="col-lg-6">
                <label for="" class="col-form-label">To</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                  class="form-control text-center m-input m-input--air" name="" placeholder="">
              </div>
              <div class="col-lg-12">
                <label for="" class="col-form-label">Progressive</label>
                <div class="progress" style="height: 20px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                    style="width: progressbarGen" id="pbb" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    {{progressbarGen}}</div>
                </div>
              </div>
              <hr>
              <div class="col-lg-12 text-center" style="margin-top: 30px">
                <button type="submit " class="btn btn-success " (click)="submit()">
                  <i class="fa fa-check"></i> {{("OK")}}</button>
                <button type="submit " class="btn btn-secondary ">
                  <i class="fa fa-window-close"></i> {{"Close"}}</button>
              </div>
              <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>