<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Save Recruitment</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("ฝ่าย")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    style="width:100%" name="uitdiv" [(ngModel)]="RecruitmentObject.uitdiv" id="uitdiv">
                                    <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                        {{item.tabdsc}}
                                    </option>
                                </select>
                                <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"  /> -->
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("แผนก")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    style="width:100%" name="uitdep" [(ngModel)]="RecruitmentObject.uitdep" id="uitdep">
                                    <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                        {{item.tabdsc}}
                                    </option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("ตำแหน่ง")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    style="width:100%" name="uitpos" [(ngModel)]="RecruitmentObject.uitpos" id="uitpos">
                                    <option *ngFor="let item of POSITION" value={{item.tabtB2}}>
                                        {{item.tabdsc}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("หมายเหตุ")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="RecruitmentObject.uitrmk" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("วันที่ขออัตรากำลัง")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" [(ngModel)]="RecruitmentObject.uitdte" #uitdte id="uitdte"/>
                            </div>
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("สถานะ")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                name="uitsts"  [(ngModel)]="RecruitmentObject.uitsts" id="uitsts"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label class="col-form-label">
                                <b>{{l("อัตรากำลังที่ต้องการ(จำนวน)")}}</b>
                            </label>
                            <div class="form-group row alert m-alert m-alert--default">
                                <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                    {{l("Full Time")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 2px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        [(ngModel)]="RecruitmentObject.uitwanm" />
                                </div>
                                <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                    {{l("Part Time")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 2px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        [(ngModel)]="RecruitmentObject.uitwand" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-window-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save")}}</button>
                    </div>
                </div>

            </div>
        </div>


    </div>