<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-calendar">&nbsp;</i>
                    </span>
                    <b>{{l("บันทึกข้อมูล")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">{{l("รหัสพนักงาน")}}</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate">
                            </div>
                            <div class="col-lg-6" style="margin-top: 10px">
                                <label for="" class="col-form-label"></label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" disabled>
                            </div>
                            <div class="col-lg-3" style="margin-top: 10px">
                                <label for="" class="col-form-label"></label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="">
                            </div>
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">{{l("มีผล:")}}</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    data-date-format="dd/mm/yyyy" data-provide="datepicker" data-date-language="th-th" placeholder=""
                                    id="dte1">
                            </div>
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">{{l("ใช้สิทธิ์:")}}</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    data-date-format="dd/mm/yyyy" data-provide="datepicker" data-date-language="th-th" placeholder=""
                                    id="dte2">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">{{l("ประเภท")}}</label>
                                <select onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate">
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="col-form-label">{{l("นาที/ชม:")}}</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate" >
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>

                    </div>
                </div>
            </div>
        </div>