<div [@routerTransition]>
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto col-lg-12 row">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{l("Workwage List")}}</span>
        </h3>
        <!-- (click)="getPapyToDate(date1z.value,date2z.value)" -->
      </div>
    </div>
    <div class="col-lg-12 row">
      <div class="col-lg-1"></div>
      <div style="margin-top:15px">
        <h6>{{l("ตั้งแต่วันที่")}}</h6>
      </div>
      <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1z onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center" placeholder="ตั้งแต่วันที่"></div>
      <div style="margin-top:15px">
        <h6>{{l("ถึงวันที่")}}</h6>
      </div>
      <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date2z onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center" placeholder="ถึงวันที่"></div>
      <div class="col-lg-1"><button class="btn btn-info"><i class="fa fa-search"></i> {{l("ค้นหา")}}</button></div>
      <div class="col-sm-3 text-right"  style="margin-right:-50px">
        <button class="btn btn-info" (click)="appworkwageadd.show()">
          <i class="fa fa-plus"></i> {{l("เพิ่มรายการ")}}</button>
      </div>

    </div>
  </div>


  <div class="m-content">

    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">

        <h3>{{l("รายการ")}} </h3>
        <!-- ({{PapyH.length}}) -->
        <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true"
          [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()">
        </dx-load-panel>
        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="" [errorRowEnabled]="false" [hoverStateEnabled]="true"
          [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
          keyExpr="id">
          <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
          </dxo-scrolling>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-export [enabled]="true" fileName="GLHeader" [allowExportSelectedData]="true"></dxo-export>
          <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
            [showPageSizeSelector]="true" [visible]="true">
          </dxo-pager>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


          <dxi-column dataField="" caption="เลขที่เอกสาร"></dxi-column>
          <dxi-column dataField="" caption="วันที่"></dxi-column>
          <dxi-column dataField="" caption="รหัส"></dxi-column>
          <dxi-column dataField="" caption="ชื่อ-นามสกุล"></dxi-column>
          <dxi-column dataField="" caption="แผนก"></dxi-column>
          <dxi-column dataField="" caption="เหตุผล"></dxi-column>
          <dxi-column dataField="" caption="ประเภท"></dxi-column>
          <dxi-column dataField="" caption="สถานะ"></dxi-column>
          <dxi-column dataField="" caption="ผู้อนุมัติ"></dxi-column>
          <dxi-column dataField="" caption="บุคคล"></dxi-column>
          <dxi-column dataField="" caption="สถานะการอนุมัติ"></dxi-column>


          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false"
            cellTemplate="cellTemplate" caption=""></dxi-column>
          <div *dxTemplate="let data of 'cellTemplate'">
            <a href="javascript:;" class="" (click)="appworkwageedit.show(data.data.bhddoc)">
              <!--  -->
              <i class="fa fa-search-plus"></i>
            </a>
          </div>

        </dx-data-grid>
      </div>
    </div>
  </div>
  <appworkwageadd #appworkwageadd ></appworkwageadd>
 <appworkwageedit #appworkwageedit ></appworkwageedit>
</div>