<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-md-4">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Employee Movement")}}</span>
                    </h3>
                </div>
                <div style="margin-top:15px">
                    <h6>{{l("ตั้งแต่")}}</h6>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder=" " #frm>
                </div>
                <div style="margin-top:15px">
                    <h6>{{l("ถึง")}}</h6>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder="" #to id="to">
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-info" (click)="getMovement(frm.value,to.value)">
                        <i class="fa fa-search"></i>
                        {{l("ค้นหา")}}</button>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                <button class="btn btn-info" (click)="empmoveadd.show()">
                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Employee Movement")}} ({{EmployeeMovmentsListDto.length}})</h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                    [dataSource]="EmployeeMovmentsListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
                    [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                    >
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-pager [allowedPageSizes]="[10, 20,50]" [showInfo]="true" [showNavigationButtons]="true"
                    [showPageSizeSelector]="true" [visible]="true">
                </dxo-pager>

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                    [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>


                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:;" class="" (click)="empmoveadd.showedit(data)">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </div>
                    <dxi-column dataField="movdoc" caption="Document No"></dxi-column>
                    <dxi-column dataField="movidn" caption="Employee ID">
                            <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup>
                    </dxi-column>
                   
                    <dxi-column dataField="movfL4" caption="From Department">
                            <dxo-lookup [dataSource]="DEPARTMENT" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="movcps" caption="From Position">
                            <dxo-lookup [dataSource]="POSITION" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                    </dxi-column>
                
                    <dxi-column dataField="movtL4" caption="To Department">
                            <dxo-lookup [dataSource]="DEPARTMENT" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="movnps" caption="To Position">
                            <dxo-lookup [dataSource]="POSITION" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="movdte" [customizeText]="fnddmmyyyygrid" caption="Document Date"></dxi-column>
                   
                    <dxi-column dataField="movefd" [customizeText]="fnddmmyyyygrid" caption="Effective Date"></dxi-column>
                    <dxi-column dataField="movsts" caption="Status" [fixed]="true" fixedPosition="right"></dxi-column>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <empmoveadd #empmoveadd (modalSave)="getMovement(frm.value,to.value)"></empmoveadd>

</div>