<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-10 row">
                <div class="col-md-3">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Employee Notice")}}</span>
                    </h3>
                </div>
                
                <div style="margin-top:15px">
                        <h6>{{l("ตั้งแต่")}}</h6>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder=" " #frm>
                </div>
                <div style="margin-top:15px">
                        <h6>{{l("ถึง")}}</h6>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder="" #to id="to">
                </div>
                <div class="col-lg-2">
                        <button class="btn btn-info" (click)="getPunish(frm.value,to.value)">
                                <i class="fa fa-search"></i>
                                    {{l("ค้นหา")}}</button>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                    <button class="btn btn-primary" (click)="employeenoticeadd.show()">
                            <i class="fa fa-plus"></i> {{l("CreateNewNotice")}}</button>
            </div>
            
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Employee Notice List")}} ({{PunishmentInformationListDto.length}})</h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="PunishmentInformationListDto"
                    [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [rowAlternationEnabled]="true" columnResizingMode="widget" >
                    <dxo-pager [allowedPageSizes]="[10, 20,50]" [showInfo]="true" [showNavigationButtons]="true"
                    [showPageSizeSelector]="true" [visible]="true">
                </dxo-pager>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                    [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:;" class="" (click)="employeenoticeadd.showedit(data)">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </div>
                    <dxi-column dataField="notdoc" caption="Document No"></dxi-column>
                    <dxi-column dataField="noteid" caption="Employee ID"></dxi-column>
                    <dxi-column dataField="noteid" caption="Employee Name">
                        <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup>
                    </dxi-column>
                    
                    <dxi-column dataField="notdte" [customizeText]="fnddmmyyyygrid" caption="Document Date"></dxi-column>
                    <dxi-column dataField="notrea" caption="Reason">
                        <dxo-lookup [dataSource]="NOTICERESULT" displayExpr="tabdsc" valueExpr="tabtB2">
                        </dxo-lookup>
                    </dxi-column>
                    
                    <!-- <dxi-column dataField="notiss" caption="Issue Warning">
                        <dxo-lookup [dataSource]="WARNINGISSUE" displayExpr="tabdsc" valueExpr="tabtB2">
                        </dxo-lookup>
                    </dxi-column> -->
                    <dxi-column dataField="notres" caption="Result">
                        <dxo-lookup [dataSource]="NOTICEREASON" displayExpr="tabdsc" valueExpr="tabtB2">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="notsts" caption="Status" [fixed]="true" fixedPosition="right"></dxi-column>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <employeenoticeadd #employeenoticeadd (modalSave)="getPunish(frm.value,to.value)"></employeenoticeadd>
</div>