<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Loan Inquiry</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>3
                </button>

            </div>
            <div class="modal-body">
                    <div class="form-group row">
                            <div class="col-md-12">
                                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                                    style="margin-right: 5px" (click)="show2() ">
                                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
                            </div>
                        </div>
                <div class="form-group row">
                    
                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="EmployeeLoanAccountListDto" [errorRowEnabled]="false"
                            [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                            columnResizingMode="widget" (onRowRemoved)="removed($event)"
                            >
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                                </dxo-editing>
                            <!-- <dxi-column dataField="sbyear" caption="Table Code">
                            </dxi-column> -->
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                            [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column dataField="acccod" caption="Account No"></dxi-column>
                            <dxi-column dataField="acceid" caption="Account Name"></dxi-column>
                            <dxi-column dataField="accpam" caption="Loan Amount"></dxi-column>
                            <dxi-column dataField="accout" caption="Out.Balance"></dxi-column>
                            <dxi-column dataField="accpam" caption="Loan Type"></dxi-column>
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                            <div *dxTemplate="let data of 'cellTemplate'">
                                <a href="javascript:;" class="" (click)="showedit(data)">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>

                </div>
            </div>

        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Loan Account</h5>
                <button type="button" (click)="close2()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type2">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Account No.")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.acccod" />
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 2px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Employee No.")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.acceid" disabled/>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"[(ngModel)]="nameLQ"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Account Type")}}
                                    </label>
                                    <!-- <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accrea" />
                                    </div> -->

                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="accrea" [(ngModel)]="EmployeeLoanAccountObject.accrea" id="accrea">
                                            <option *ngFor="let item of LOANREASON" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>

                                    <!-- <div class="col-lg-6" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            disabled />
                                    </div> -->
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Reason Code")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <!-- <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accfG1" /> -->
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="accfG1" [(ngModel)]="EmployeeLoanAccountObject.accfG1" id="accfG1">
                                            <option *ngFor="let item of LOANSUBREASON" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-4" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-centerm-input m-input--air" />
                                    </div> -->
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Status")}}
                                    </label>
                                    <!-- <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accsts" />
                                    </div>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-centerm-input m-input--air" />
                                    </div> -->

                                    <div class="col-lg-5" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="accsts" [(ngModel)]="EmployeeLoanAccountObject.accsts" id="accsts">
                                            <!-- <option *ngFor="let item of dbmtabenen" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option> -->
                                        </select>
                                    </div>

                                    
                                    <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                        {{l("Status Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accstd" id="accstd"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Credit Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.acccrm" id="acccrm"
                                            (change)="fnnum()" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Approved Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accaam" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Loan Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accpam" id="accpam"
                                            (change)="fnnum()" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("OutStanding Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accout" id="accout"
                                            (change)="fnnum()" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Total Period")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accnpr" id="accnpr"
                                            (change)="fnnum()" />
                                    </div>
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Installment Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accins" />
                                    </div>
                                </div>
                                <!-- <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Total Period")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-centerm-input m-input--air"  [(ngModel)]="EmployeeLoanAccountObject.acccod" />
                                    </div>
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Installment Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-centerm-input m-input--air"  [(ngModel)]="EmployeeLoanAccountObject.acccod" />
                                    </div>
                                </div> -->
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Pay Every Day")}}
                                    </label>
                                    <!-- <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accday" />
                                    </div> -->
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="accday" [(ngModel)]="EmployeeLoanAccountObject.accday" id="accday">
                                            <option *ngFor="let item of PAYDAY" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("First Period Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accpdt" id="accpdt"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Payment Type")}}
                                    </label>
                                    <!-- <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accpay" />
                                    </div> -->
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="accpay" [(ngModel)]="EmployeeLoanAccountObject.accpay" id="accpay">
                                            <option *ngFor="let item of PAYTYPE" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Receiving Type")}}
                                    </label>
                                    <!-- <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accrec" />
                                    </div> -->
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="accrec" [(ngModel)]="EmployeeLoanAccountObject.accrec" id="accrec">
                                            <option *ngFor="let item of RECTYPE" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Interest Type")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="accrty" [(ngModel)]="EmployeeLoanAccountObject.accrty" id="accrty">
                                            <option *ngFor="let item of INTEREST" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accrty" />
                                    </div> -->
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Interest Rate Type")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="acccty" [(ngModel)]="EmployeeLoanAccountObject.acccty" id="acccty">
                                            <option *ngFor="let item of INTERESTTYPE" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.acccty" />
                                    </div> -->
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Bank for Ref")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="accbnk" [(ngModel)]="EmployeeLoanAccountObject.accbnk" id="accbnk">
                                            <option *ngFor="let item of BNKCOD" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accbnk" />
                                    </div> -->
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Fixed Rate")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accrte" />
                                    </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                        {{l("Ref Rate+,-")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accrre" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Cal Reg No")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.acccar" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Issue by Province")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accpro" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Down Payment Amt")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accdow" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Approval By")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accapr" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Approval Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accapd" id="accapd"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Remark")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accrmk" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Guarantor 1")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accgA1" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Guarantor 2")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accgA2" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Guarantor 3")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-centerm-input m-input--air"
                                            [(ngModel)]="EmployeeLoanAccountObject.accgA3" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="margin-bottom: 10px">
                                    <img class="img-thumbnail mx-auto d-block" src="" style="width:100% ; height:180px">
                                </div>
                                <div class="modal-footer col-md-12 ">
                                    <button type="button " class="btn btn-info" data-dismiss="modal "
                                        style="margin-right: 5px;width:100%">
                                        {{l("Ins.Detail")}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close2() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>



        </div>
    </div>
</div>