<div bsModal #modal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">

  <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height:60px;background-color:#66CCFF">
        <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Add Person List</h5>
        <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group row">

          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-6">
                <label for="" class="col-form-label">Personal ID.</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perid">
                <span class="m-form__help" style="color:#BEBEBE">
                  Personal ID.
                </span>
              </div>
              <div class="col-sm-6">
                <label for="" class="col-form-label">Person Name</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perna">
                <span class="m-form__help" style="color:#BEBEBE">
                  Person Name
                </span>
              </div>
              <div class="col-sm-12">
                <label for="" class="col-form-label">Address</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perad">
                <span class="m-form__help" style="color:#BEBEBE">
                  Address
                </span>
              </div>
              <div class="col-sm-5">
                <label for="" class="col-form-label">State/City</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perst">
                <span class="m-form__help" style="color:#BEBEBE">
                  State/City
                </span>
              </div>
              <div class="col-sm-5">
                <label for="" class="col-form-label">Country</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perco">
                <span class="m-form__help" style="color:#BEBEBE">
                  Country
                </span>
              </div>
              <div class="col-sm-2">
                <label for="" class="col-form-label">Zip Code</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perzi">
                <span class="m-form__help" style="color:#BEBEBE">
                  Zip Code
                </span>
              </div>
              <div class="col-sm-3">
                <label for="" class="col-form-label">Telephone No.</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perte">
                <span class="m-form__help" style="color:#BEBEBE">
                  Telephone No.
                </span>
              </div>
              <div class="col-sm-3">
                <label for="" class="col-form-label">Fax No.</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perfa">
                <span class="m-form__help" style="color:#BEBEBE">
                  Fax No.
                </span>
              </div>
              <div class="col-sm-3">
                <label for="" class="col-form-label">Mobile No.</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="permo">
                <span class="m-form__help" style="color:#BEBEBE">
                  Mobile No.
                </span>
              </div>
              <div class="col-sm-3">
                <label for="" class="col-form-label">Pager No.</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perpa">
                <span class="m-form__help" style="color:#BEBEBE">
                  Pager No.
                </span>
              </div>
              <div class="col-sm-6">
                <label for="" class="col-form-label">E-mail Address</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perem">
                <span class="m-form__help" style="color:#BEBEBE">
                  E-mail Address
                </span>
              </div>
              <div class="col-sm-6">
                <label for="" class="col-form-label">URL</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perur">
                <span class="m-form__help" style="color:#BEBEBE">
                  URL
                </span>
              </div>
              <div class="col-sm-4">
                <label for="" class="col-form-label">Related With</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perrel">
                <span class="m-form__help" style="color:#BEBEBE">
                  Related With
                </span>
              </div>
              <div class="col-sm-4">
                <label for="" class="col-form-label">Percent</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perpe">
                <span class="m-form__help" style="color:#BEBEBE">
                  Percent
                </span>
              </div>
              <div class="col-sm-4">
                <label for="" class="col-form-label">Receive Amount</label>
                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text" class="form-control  text-left"
                  name="" [(ngModel)]="perrec">
                <span class="m-form__help" style="color:#BEBEBE">
                  Receive Amount
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer col-md-12">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
            (click)="close()">
            <i class="la la-close"></i> {{l("Close")}}</button>
          <button type="submit" class="btn btn-danger pull-right" style="margin-right: 5px" (click)="add()">
            <i class="fa fa-save"></i> {{l("Add")}}</button>
          <!-- <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
            กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label> -->
        </div>
      </div>

    </div>
  </div>
</div>