<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Print Summary Employee by Position")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right" hidden>
                            As of Date
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px"hidden>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" id="daysmep"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" />
                        </div>
                        <div class="col-lg-7" style="margin-top: 5px"hidden>
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Age From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chknum(this,this.value)" #agF id="agF" type="text" class="form-control text-center m-input m-input--air"  maxlength="2"/>
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                            Age To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chknum(this,this.value)" #agT id="agT" class="form-control text-center m-input m-input--air" maxlength="2" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            working Age From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chknum(this,this.value)" #waF id="waF" class="form-control text-center m-input m-input--air" maxlength="2"/>
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                            working Age To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chknum(this,this.value)" #waT id="waT" class="form-control text-center m-input m-input--air" maxlength="2"/>
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Salary From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" (change)="fnnum()" id="sf" maxlength="18"/>
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                            Salary To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" (change)="fnnum()" id="st"  maxlength="10"/>
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Employee Type
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square "
                             name="empType" [(ngModel)]="empType"
                            id="empType">
                            <option value="M">
                                Month
                                  </option>
                            <option  value="D">
                                Day
                            </option>
                            <option  value="B">
                                Both
                            </option>
                        </select>
                            <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air" /> -->
                        </div>

                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                            สถานะพนักงาน
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square "
                             name="stsType" [(ngModel)]="stsType"
                            id="stsType">
                            <option value="No">
                                พนักงานปกติ
                                  </option>
                            <option  value="Yes">
                                รวมพนักงาน
                            </option>
                        </select>
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>





                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right" hidden>
                            (M:Month , D:Day , B:Both)
                        </label>
                        <label class="col-form-label col-lg-5 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <!-- <div class="col-lg-6" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typedoc" id="typ1" value="1" checked (click)="ditell()">Include
                                        Employee Resigned
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typedoc" id="typ1" value="1" (click)="ditell()">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-lg-12" hidden>
                            <hr style=" border: 1px dashed  #BEBEBE;">
                        </div>
                        <div class="col-lg-12" style="margin-top:15px;margin-bottom:5px" hidden>
                            <button type="button" class="btn btn-warning btn-sm m-btn m-btn--custom col-md-12"
                                (click)="process(date1m.value,date2m.value,dbmtab1.value,dbmtab2.value,acccode1.value,acccode2.value,depcode1.value,depcode2.value,yearp.value,monthp.value)">
                                <i class="fa fa-sync-alt"></i> {{l("Process")}}</button>
                        </div>
                        <div class="col-lg-12" hidden>
                            <label for="" class="col-form-label" >Progressive</label>
                            <!-- <div class="progress" style="height: 20px;">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: progressbarss" id="pbb"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{progressbarss}}</div>
                                          </div> -->
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                    role="progressbar" style="width: progressbarGen" id="pbb" aria-valuenow="10"
                                    aria-valuemin="0" aria-valuemax="100">{{"progress>>"}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints('False',agF.value,agT.value,waF.value,waT.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                        (click)="prints('True',agF.value,agT.value,waF.value,waT.value)">
                            <i class="fa fa-file-excel"></i> {{l("Excel")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>