<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}" style="overflow-y:auto;">
  <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
    <div class="modal-content">

      <div class="modal-header" style="background-color:#58A3DC">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b>{{("Edit Tax Rate Setting")}}</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>

      <div class="modal-body" id="us">
        <div class="form-group row" id="md">

          <div class="col-md-12">
            <div class="form-group m-form__group row">
              <div class="col-lg-3">
                <label for="" class="col-form-label">Item</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  Item
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">Amount From</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-right"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  Amount From
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">Amount To</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-right"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  Amount To
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">Tax Rate</label>
                <div class="input-group">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                    class="form-control text-right" name="" placeholder="">
                </div>
                <span class="m-form__help" style="color:#BEBEBE">
                  Tax Rate
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer col-md-12">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
            (click)="close()">
            <i class="la la-close"></i> {{l("Close")}}</button>
          <button type="submit" class="btn btn-success pull-right"
            style="margin-right: 5px" (click)="save()">
            <i class="fa fa-save"></i> {{l("Save")}}</button>
          <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
            กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label>
        </div>
      </div>

    </div>
  </div>
</div>