<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-md-2">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Employee")}}</span>
                    </h3>
                </div>
                <div style="margin-top:15px">
                    <h6>{{l("ค้นหาจาก")}}</h6>
                </div>
                <div class="col-lg-3">
                    <select class="form-control m-input m-input--air  m-input m-input--square" id="heads" #heads>
                        <option *ngFor="let item of hd" value={{item.code}}>{{item.val}}</option>
                    </select>
                </div>
                <div style="margin-top:15px">
                    <h6>{{l("ตั้งแต่")}}</h6>
                </div>
                <div class="col-lg-2"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" #from></div>
                <div style="margin-top:15px">
                    <h6>{{l("ถึง")}}</h6>
                </div>
                <div class="col-lg-2"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" id="to" #to></div>
                <div class="col-lg-1"><button class="btn btn-primary"
                        (click)="getEmployeesData(heads.value,from.value,to.value)"><i class="fa fa-search"></i>
                        {{l("ค้นหา")}}</button></div>
            </div>
            <div class="col-sm-2 text-right">
                <!-- <button class="btn btn-metal pull-right" style="margin-left:5px" (click)="showtotal('S')">
                    <i class="fa flaticon-cogwheel-1"></i>
                    {{l("ตั้งค่า")}}
                </button> -->
                <button class="btn btn-primary" (click)="createEmpModal()">
                    <i class="fa fa-plus"></i> {{l("CreateNewEmployee")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("AllEmployee")}} ({{emp.length}})</h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="emp"
                    [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                    [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">


                    <!-- <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                        showScrollbar="always">
                    </dxo-scrolling> -->




                    <dxo-export [enabled]="true" fileName="ข้อมูลพนักงาน" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
                        [showPageSizeSelector]="true" [visible]="true">
                    </dxo-pager>

                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>


                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                        [allowSorting]="false" cellTemplate="cellTemplate" caption="#"></dxi-column>


                    <div *dxTemplate="let data of 'cellTemplate'">

                        <a href="javascript:;" class="" (click)="EditEmpModal(data.data.psnidn)">
                            <i class="fa fa-search-plus"></i>
                        </a>

                    </div>
                    <dxi-column [allowGrouping]="false" dataField="psnidn" caption="รหัสพนักงาน" [width]="100"
                        [sortIndex]="1" sortOrder="asc" [fixed]="true" fixedPosition="left">

                    </dxi-column>
                    <dxi-column dataField="psntth" caption="คำนำหน้าชื่อ">
                        <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>

                    </dxi-column>
                    <dxi-column dataField="psnfnm" caption="ชื่อภาษาไทย">

                    </dxi-column>
                    <dxi-column dataField="psnlnm" caption="นามสกุลภาษาไทย">

                    </dxi-column>
                    <dxi-column dataField="psnteg" caption="Title">
                        <dxo-lookup [dataSource]="dbmtabenen" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>

                    </dxi-column>
                    <dxi-column dataField="psnfen" caption="Name">

                    </dxi-column>
                    <dxi-column dataField="psnlen" caption="Surname">

                    </dxi-column>
                    <dxi-column dataField="psnpos" [width]="240" caption="ตำแหน่ง">
                        <dxo-lookup [dataSource]="dbmtab" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnnic" caption="ชื่อเล่น"></dxi-column>
                    <dxi-column dataField="psndep" caption="แผนก" [groupIndex]="0">
                        <dxo-lookup [dataSource]="DEPARTMENT" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnaD1" caption="ที่อยู่"></dxi-column>
                    <dxi-column dataField="psnaD2" caption="ที่อยู่บัตรประชาชน"></dxi-column>
                    <dxi-column dataField="psntel" caption="โทรศัพท์"></dxi-column>
                    <dxi-column dataField="psneml" caption="อีเมล"></dxi-column>
                    <dxi-column dataField="psnbrd" caption="วันเกิด" [customizeText]="fnddmmyyyygrid"></dxi-column>
                    <dxi-column dataField="psnage" caption="อายุ"></dxi-column>
                    <dxi-column dataField="psnfna" caption="สัญชาติ">
                        <dxo-lookup [dataSource]="dbmtabfna" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnsna" caption="เชื้อชาติ">
                        <dxo-lookup [dataSource]="dbmtabsna" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnamo" caption="ศาสนา">
                        <dxo-lookup [dataSource]="dbmtabamo" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="psnweg" caption="น้ำหนัก"></dxi-column>
                    <dxi-column dataField="psnheg" caption="ส่วนสูง"></dxi-column>


                    <dxi-column dataField="psnsts" [fixed]="true" fixedPosition="right" alignment="center"
                        caption="สถานะ">
                        <!-- <dxo-lookup [dataSource]="dbmtabfna" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup> -->
                    </dxi-column>

                </dx-data-grid>

            </div>
        </div>

    </div>
    <!-- <empP1Modal #empP1Modal (modalSave)="getEmployees()"></empP1Modal>
    <createEmpModal #createEmpModal (modalSave)="getEmployees()"></createEmpModal> -->

</div>