<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
                <div class="modal-header" style="height:60px;background-color:#66CCFF">
                        <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Leaving Record</h5>
                        <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            <div class="m-subheader">
                <div class="d-flex align-items-center">
                    <div class="mr-auto col-sm-9 row">
                        <h3 class="m-subheader__title m-subheader__title--separator">
                            <span>{{l("Leaving")}}</span>
                        </h3>
                        <div style="margin-top:15px">
                            <h6>{{l("ตั้งแต่วันที่")}}</h6>
                        </div>
                        <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                #date1z id="date1z" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                class=" form-control text-center" placeholder="ตั้งแต่วันที่"></div>
                        <div style="margin-top:15px">
                            <h6>{{l("ถึงวันที่")}}</h6>
                        </div>
                        <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                #date2z id="date2z" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                class=" form-control text-center" placeholder="ถึงวันที่"></div>
                        <div class="col-lg-2"><button class="btn btn-info"
                                (click)="getReceivInvenToDate(date1z.value,date2z.value)"><i class="fa fa-search"></i>
                                {{l("ค้นหา")}}</button></div>
                    </div>
                    <!-- <div class="col-sm-3 text-right">
                        <button class="btn btn-warning" (click)="LeavingProfileComponent.show()">
                            <i class="fa fa-trophy"></i> {{l("ดูโปรไฟล์")}}</button>
                       
                    </div> -->
                </div>
            </div>


            <div class="m-content">

                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__body">

                        <h3>{{l("รายการ")}} (0)</h3>
                        <!-- <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true"
                          [showPane]="true" [shading]="true" [closeOnOutsideClick]="false" (onShown)="onShown()">
                      </dx-load-panel> -->



                        <dx-data-grid [allowColumnReordering]="true" #grid id="gridContainer" [dataSource]=""
                            (onContentReady)="onContentReady($event)" [errorRowEnabled]="false"
                            [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget" >

                            
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-export [enabled]="true" fileName="รายการ" [allowExportSelectedData]="true">
                            </dxo-export>

                            <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                                [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>

                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>


                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                            <dxi-column [visible]="false" dataField="id" caption="id" [sortIndex]="1" sortOrder="asc">
                            </dxi-column>
                            <dxi-column [allowGrouping]="false" dataField="schdoc" caption="เลขที่เอกสาร">
                            </dxi-column>

                            <dxi-column dataField="" caption="ID No."></dxi-column>
                            <dxi-column dataField="" caption="Employee Name"></dxi-column>
                            <dxi-column dataField="" caption="การลา"></dxi-column>
                            <dxi-column dataField="" caption="แผนก"></dxi-column>

                            <dxi-column dataField="" caption="ระหว่างวันที่"></dxi-column>
                            <dxi-column dataField="" caption="Effective Date"></dxi-column>
                            <dxi-column dataField="" caption="Status"></dxi-column>
                            <dxi-column dataField="" caption="หัวหน้า"></dxi-column>
                            <dxi-column dataField="" caption="ผู้จัดการ"></dxi-column>
                            <dxi-column dataField="" caption="บุคคล"></dxi-column>
                            <dxi-column dataField="" caption="สถานะการอนุมัติ"></dxi-column>

                            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                                [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <a href="javascript:;" class="">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>



                        </dx-data-grid>
                    </div>

                </div>

            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    
                </div>
            </div>


        </div>
    </div>


</div>
<!-- <appleavingprofile #LeavingProfileComponent></appleavingprofile> -->