<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-12 row">
                <h5>{{l("Course Training")}} </h5>
            </div>
        </div>
        <div class="m-content">

            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">

                    <h3>{{l("Course Training")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="Course"
                        (onContentReady)="onContentReady($event)" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                        columnResizingMode="widget" keyExpr="id">
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-export [enabled]="true" fileName="hsrcom" [allowExportSelectedData]="true">
                        </dxo-export>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                        <dxi-column dataField="playea" caption="ปี"></dxi-column>
                        <dxi-column dataField="placod" caption="Course"></dxi-column>
                        <dxi-column dataField="planam" caption="Course Name"></dxi-column>

                        <dxi-column dataField="planaM3" caption="สถานที่ฝึกอบรม"></dxi-column>
                        <dxi-column dataField="pladtefm" caption="วันที่เริ่มฝึกอบรม" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column dataField="pladteto" caption="วันสิ้นสุดฝึกอบรม" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column dataField="plastrtim" caption="เวลาที่เริ่มอบรม"></dxi-column>
                        <dxi-column dataField="plaendtim" caption="เวลาสิ้นสุดฝึกอบรม"></dxi-column>



                        <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="right"
                            [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>
                        <dxi-column [width]="140" [allowFiltering]="false" [fixed]="true" fixedPosition="right"
                            [allowSorting]="false" cellTemplate="cellTemplate1" caption=""></dxi-column>

                    
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:;" style="color:#3399FF	" class=""
                                (click)="registeradd.show(data.data.placod)">
                                <i class="fa fa-user-plus"></i>
                            </a>
                        </div>
                        <div *dxTemplate="let data of 'cellTemplate1'">
                            <a href="javascript:;" style="color:#3399FF" class=""
                            (click)="checktraining.show(data.data.placod)">
                            <i class="fa fa-check-circle"></i> {{l("Confirm Register")}}
                        </a>                        
                        </div>

                    </dx-data-grid>
                </div>
            </div>
        </div>
        <registeradd #registeradd (modalSave)="ngOnInit()"></registeradd>
        <checktraining #checktraining (modalSave)="ngOnInit()"></checktraining>

    </div>