<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานการทำงานประจำวัน")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto;background-color:#003399;color: white">
                <div class="modal-body" style="margin-top: 10px">
                    <div class="form-group m-form__group row" >
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company ID
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Payroll Type
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" disabled />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Year To Pay
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Period No
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" disabled />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Employee Type
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                            (M:Month , D:Day , B:Both )
                        </label>
                        <div class="col-lg-4" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Section From To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Employee ID From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center" style="margin-top: 10px">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                        <button type="submit " class="btn btn-secondary text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>