<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานสรุปเบิกเงิน")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto;;background-color:#003399;color: white">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Branch From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-10 col-sm-12" style="margin-top: 5px;text-align:center">
                            Type(M=รายเดือน,D=รายวัน,B=ทั้งหมด)
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Date From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To Date
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
                                data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control" #d2as>
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>

                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Dep From
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To Dep
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            From Emp
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            To Emp
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="form-group">
                                <div class="m-checkbox-list" >
                                    <label class="m-checkbox" style="color: white">
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="typedoc" id="typ1" value="1" checked (click)="ditell()">เฉพาะแผนกหลัก
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-1" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Report Break By
                        </label>
                        <div class="col-lg-1" style="margin-top: 5px">
                            <input class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-12 col-sm-12" style="margin-top: 5px;text-align:center">
                            (1.รายงานเบิกค่าเวรบ่ายดึก , 2.รายงานสรุปเบิก OT , 3.รายงานเบิกค่าเวรรายวัน , 4.รายงานสรุปเบิกOT(Office) , 5.รายงานเบิกค่า
                            In Charge , 6.รายงานสรุปเบิกแบบตารางเวรจ่ายแบบ Office )
                        </label>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                        <button type="submit " class="btn btn-secondary text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>