<div [@routerTransition]>
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="col-md-11 row">
        <h3 class="m-subheader__title m-subheader__title--separator" style="margin-left: 15px">
          Dashboard<small> (ผู้รับบริการ IPD)</small>
        </h3>
        <div class="col-md-2">
          <input onkeyup="chkstr(this,this.value)" data-provide="datetimepicker" data-date-language="th-th"
            autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" id="search" name="search"
            data-date-language="th-th" data-date-format="mm/yyyy" data-date-min-view-mode="months" #serach
            [(ngModel)]="search" class="form-control text-center" placeholder="เลือกเดือน">
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary" (click)="getall_data(serach.value)">Search</button>
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger pull-right" (click)="edit()">Edit&nbsp;&nbsp;<span
            class="la {{editor}}"></span></button>
      </div>
    </div>
  </div>

  <div class="row" style="padding:25px;">

    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                ตารางเปรียบเทียบสถิติการบริการผู้ป่วยใน เดือน {{month}} {{year}}
                <div *ngFor="let item of typereport">
                  <button class="btn btn-success" (click)="check_data('007',serach.value)" [hidden]="check"
                    *ngIf="item.type === '007'" style="margin-left:30px;">{{item.datadsc}}</button>
                </div>
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '007'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '007'">
                <thead>
                  <tr>
                    <th style="background-color:#F8F9F9;text-align:center;">IPD</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Plan</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Actual</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Last Year</th>
                    <th style="background-color:#F8F9F9;text-align:center;">% Var.Plan</th>
                    <th style="background-color:#F8F9F9;text-align:center;">% Var.Last Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Average Patient per Day (bed)</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [(ngModel)]="item.appdp" [(setnumber)]="item.appdp" [disabled]="check">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                        [disabled]="check" [(setnumber)]="item.appda"  [(ngModel)]="item.appda">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(setnumber)]="item.appdl"  [(ngModel)]="item.appdl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(setnumber)]="item.appdvp"  [(ngModel)]="item.appdvp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(setnumber)]="item.appdvl"  [(ngModel)]="item.appdvl">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Admission per Day</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.apdp" [(setnumber)]="item.apdp" >
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.apda" [(setnumber)]="item.apda"></td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.apdl" [(setnumber)]="item.apdl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.apdvp" [(setnumber)]="item.apdvp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.apdvl" [(setnumber)]="item.apdvl">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Avg. Rev.IPD per Day (baht)</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdp" [(setnumber)]="item.arpdp">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.arpda" [(setnumber)]="item.arpda">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdl" [(setnumber)]="item.arpdl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdvp" [(setnumber)]="item.arpdvp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdvy" [(setnumber)]="item.arpdvy">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Avg. Rev.IPD per Discharge (baht)</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdisp" [(setnumber)]="item.arpdisp">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdisa" [(setnumber)]="item.arpdisa">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdisl" [(setnumber)]="item.arpdisl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdisvp" [(setnumber)]="item.arpdisvp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.arpdisvl" [(setnumber)]="item.arpdisvl">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Length of Stay (day)</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.losp" [(setnumber)]="item.losp">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.losa" [(setnumber)]="item.losa">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.losl" [(setnumber)]="item.losl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.losvp" [(setnumber)]="item.losvp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.losvl" [(setnumber)]="item.losvl">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Occupancy Rate (%)</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.orp" [(setnumber)]="item.orp">
                    </td>
                    <td style="padding:0px;background-color:#FEF9E7;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.ora" [(setnumber)]="item.ora">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.orl" [(setnumber)]="item.orl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.orvp" [(setnumber)]="item.orvp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                        [disabled]="check" [(ngModel)]="item.orvl" [(setnumber)]="item.orvl">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                ตารางเปรียบเทียบสถิติผู้ป่วยใน ปีงบประมาณ {{year}} {{month}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('008',serach.value) " [hidden]="check"
                  *ngIf="item.type === '008'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '008'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input onclick="this.select()" [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '008'">
                <thead>
                  <tr>
                    <th style="background-color:#F8F9F9;text-align:center;">IPD</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Plan</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Actual</th>
                    <th style="background-color:#F8F9F9;text-align:center;">Last Year</th>
                    <th style="background-color:#F8F9F9;text-align:center;">% Var.Plan</th>
                    <th style="background-color:#F8F9F9;text-align:center;">% Var.Last Year</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Average Patient per Day (bed)</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [(ngModel)]="item.appdp" [(setnumber)]="item.appdp" [disabled]="check">
                      </td>
                      <td style="padding:0px;background-color:#FEF9E7;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                          [disabled]="check" [(setnumber)]="item.appda"  [(ngModel)]="item.appda">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(setnumber)]="item.appdl"  [(ngModel)]="item.appdl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(setnumber)]="item.appdvp"  [(ngModel)]="item.appdvp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(setnumber)]="item.appdvl"  [(ngModel)]="item.appdvl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Admission per Day</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apdp" [(setnumber)]="item.apdp" >
                      </td>
                      <td style="padding:0px;background-color:#FEF9E7;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apda" [(setnumber)]="item.apda"></td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apdl" [(setnumber)]="item.apdl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.apdvp" [(setnumber)]="item.apdvp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.apdvl" [(setnumber)]="item.apdvl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Avg. Rev.IPD per Day (baht)</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdp" [(setnumber)]="item.arpdp">
                      </td>
                      <td style="padding:0px;background-color:#FEF9E7;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.arpda" [(setnumber)]="item.arpda">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdl" [(setnumber)]="item.arpdl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdvp" [(setnumber)]="item.arpdvp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdvy" [(setnumber)]="item.arpdvy">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Avg. Rev.IPD per Discharge (baht)</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdisp" [(setnumber)]="item.arpdisp">
                      </td>
                      <td style="padding:0px;background-color:#FEF9E7;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdisa" [(setnumber)]="item.arpdisa">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdisl" [(setnumber)]="item.arpdisl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdisvp" [(setnumber)]="item.arpdisvp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.arpdisvl" [(setnumber)]="item.arpdisvl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Length of Stay (day)</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.losp" [(setnumber)]="item.losp">
                      </td>
                      <td style="padding:0px;background-color:#FEF9E7;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.losa" [(setnumber)]="item.losa">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.losl" [(setnumber)]="item.losl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.losvp" [(setnumber)]="item.losvp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.losvl" [(setnumber)]="item.losvl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Occupancy Rate (%)</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.orp" [(setnumber)]="item.orp">
                      </td>
                      <td style="padding:0px;background-color:#FEF9E7;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-ye-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.ora" [(setnumber)]="item.ora">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.orl" [(setnumber)]="item.orl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.orvp" [(setnumber)]="item.orvp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-center" type="text"
                          [disabled]="check" [(ngModel)]="item.orvl" [(setnumber)]="item.orvl">
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Patient day of month {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('009',serach.value) " [hidden]="check"
                  *ngIf="item.type === '009'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '009'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input onclick="this.select()" [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '009'" [hidden]="check">
                <thead>
                  <tr>
                    <th class="th-he-f8">Month</th>
                    <th class="th-bo-f8" *ngFor="let item_month of loop_month">{{item_month.month}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" style="background-color:#FDEDEC;">Plan {{year}}</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.octp" [(setnumber)]="item.octp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.novp"[(setnumber)]="item.novp" >
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.decp" [(setnumber)]="item.decp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.janp" [(setnumber)]="item.janp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.febp" [(setnumber)]="item.febp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.marp" [(setnumber)]="item.marp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.aprp" [(setnumber)]="item.aprp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.mayp" [(setnumber)]="item.mayp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.junp" [(setnumber)]="item.junp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.julp" [(setnumber)]="item.julp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.augp" [(setnumber)]="item.augp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.sepp" [(setnumber)]="item.sepp">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" style="background-color:#EBF5FB;">Last Year {{year-1}}</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.octl" [(setnumber)]="item.octl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.novl" [(setnumber)]="item.novl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.decl" [(setnumber)]="item.decl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.janl" [(setnumber)]="item.janl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.febl" [(setnumber)]="item.febl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.marl" [(setnumber)]="item.marl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.aprl" [(setnumber)]="item.aprl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.mayl" [(setnumber)]="item.mayl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.junl" [(setnumber)]="item.junl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.jull" [(setnumber)]="item.jull">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.augl" [(setnumber)]="item.augl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.sepl" [(setnumber)]="item.sepl">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" style="background-color:#EAFAF1;">Year Now {{year}}</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.octi" [(setnumber)]="item.octi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.novi" [(setnumber)]="item.novi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.deci" [(setnumber)]="item.deci">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.jani" [(setnumber)]="item.jani">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.febi" [(setnumber)]="item.febi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.mari" [(setnumber)]="item.mari"> 
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.apri" [(setnumber)]="item.apri">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.mayi" [(setnumber)]="item.mayi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.juni" [(setnumber)]="item.juni">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.juli" [(setnumber)]="item.juli">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.augi" [(setnumber)]="item.augi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.sepi" [(setnumber)]="item.sepi">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_month" *ngIf="item.type === '009'">
              <dxi-series *ngFor="let chdata of setuplinechart_month" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="month">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="Patient day of month {{year}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Avg.Admission per day of month {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('010',serach.value) " [hidden]="check"
                  *ngIf="item.type === '010'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '010'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input onclick="this.select()" [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '010'" [hidden]="check">
                <thead>
                  <tr>
                    <th class="th-he-f8">Month</th>
                    <th class="th-bo-f8" *ngFor="let item_month of loop_month">
                      {{item_month.month}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" style="background-color:#FDEDEC;">Plan {{year}}</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.octp" [(setnumber)]="item.octp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.novp"  [(setnumber)]="item.novp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.decp"  [(setnumber)]="item.decp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.janp"  [(setnumber)]="item.janp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.febp"  [(setnumber)]="item.febp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.marp"  [(setnumber)]="item.marp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.aprp"  [(setnumber)]="item.aprp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.mayp"  [(setnumber)]="item.mayp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.junp"  [(setnumber)]="item.junp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.julp"  [(setnumber)]="item.julp">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.augp"  [(setnumber)]="item.augp"> 
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.sepp"  [(setnumber)]="item.sepp">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" style="background-color:#EBF5FB;">Last Year {{year-1}}</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.octl"  [(setnumber)]="item.octl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.novl"  [(setnumber)]="item.novl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.decl"  [(setnumber)]="item.decl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.janl"  [(setnumber)]="item.janl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.febl"  [(setnumber)]="item.febl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.marl"  [(setnumber)]="item.marl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.aprl" [(setnumber)]="item.aprl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.mayl"  [(setnumber)]="item.mayl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.junl"  [(setnumber)]="item.junl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.jull"  [(setnumber)]="item.jull">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.augl"  [(setnumber)]="item.augl">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.sepl"  [(setnumber)]="item.sepl">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" style="background-color:#EAFAF1;">Year Now {{year}}</th>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.octi"  [(setnumber)]="item.octi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.novi" [(setnumber)]="item.novi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.deci" [(setnumber)]="item.deci">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.jani" [(setnumber)]="item.jani">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.febi" [(setnumber)]="item.febi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.mari" [(setnumber)]="item.mari">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.apri" [(setnumber)]="item.apri">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.mayi" [(setnumber)]="item.mayi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.juni" [(setnumber)]="item.juni">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.juli" [(setnumber)]="item.juli">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.augi" [(setnumber)]="item.augi">
                    </td>
                    <td style="padding:0px;">
                      <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                        [disabled]="check" [(ngModel)]="item.sepi" [(setnumber)]="item.sepi">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_month" *ngIf="item.type === '010'">
              <dxi-series *ngFor="let chdata of setuplinechart_month" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="month">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="Avg.Admission per day of month {{year}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Avg.Rev.IPD per day of month {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('011',serach.value) " [hidden]="check"
                  *ngIf="item.type === '011'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '011'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input onclick="this.select()" [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '011'" [hidden]="check">
                <thead>
                  <tr>
                    <th class="th-he-f8">Month</th>
                    <th class="th-bo-f8" *ngFor="let item_month of loop_month">
                      {{item_month.month}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row" style="background-color:#FDEDEC;">Plan {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octp" [(setnumber)]="item.octp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novp"  [(setnumber)]="item.novp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decp"  [(setnumber)]="item.decp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janp"  [(setnumber)]="item.janp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febp"  [(setnumber)]="item.febp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marp"  [(setnumber)]="item.marp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprp"  [(setnumber)]="item.aprp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayp"  [(setnumber)]="item.mayp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junp"  [(setnumber)]="item.junp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.julp"  [(setnumber)]="item.julp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augp"  [(setnumber)]="item.augp"> 
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepp"  [(setnumber)]="item.sepp">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EBF5FB;">Last Year {{year-1}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octl"  [(setnumber)]="item.octl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novl"  [(setnumber)]="item.novl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decl"  [(setnumber)]="item.decl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janl"  [(setnumber)]="item.janl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febl"  [(setnumber)]="item.febl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marl"  [(setnumber)]="item.marl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprl" [(setnumber)]="item.aprl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayl"  [(setnumber)]="item.mayl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junl"  [(setnumber)]="item.junl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jull"  [(setnumber)]="item.jull">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augl"  [(setnumber)]="item.augl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepl"  [(setnumber)]="item.sepl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EAFAF1;">Year Now {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octi"  [(setnumber)]="item.octi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novi" [(setnumber)]="item.novi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.deci" [(setnumber)]="item.deci">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jani" [(setnumber)]="item.jani">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febi" [(setnumber)]="item.febi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mari" [(setnumber)]="item.mari">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apri" [(setnumber)]="item.apri">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayi" [(setnumber)]="item.mayi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juni" [(setnumber)]="item.juni">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juli" [(setnumber)]="item.juli">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augi" [(setnumber)]="item.augi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepi" [(setnumber)]="item.sepi">
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_month" *ngIf="item.type === '011'">
              <dxi-series *ngFor="let chdata of setuplinechart_month" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="month">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="Avg.Rev.IPD per day of month {{year}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Avg.Rev.IPD per Discharge {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('012',serach.value) " [hidden]="check"
                  *ngIf="item.type === '012'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '012'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input onclick="this.select()" [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '012'" [hidden]="check">
                <thead>
                  <tr>
                    <th class="th-he-f8">Month</th>
                    <th class="th-bo-f8" *ngFor="let item_month of loop_month">
                      {{item_month.month}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row" style="background-color:#FDEDEC;">Plan {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octp" [(setnumber)]="item.octp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novp"  [(setnumber)]="item.novp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decp"  [(setnumber)]="item.decp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janp"  [(setnumber)]="item.janp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febp"  [(setnumber)]="item.febp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marp"  [(setnumber)]="item.marp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprp"  [(setnumber)]="item.aprp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayp"  [(setnumber)]="item.mayp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junp"  [(setnumber)]="item.junp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.julp"  [(setnumber)]="item.julp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augp"  [(setnumber)]="item.augp"> 
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepp"  [(setnumber)]="item.sepp">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EBF5FB;">Last Year {{year-1}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octl"  [(setnumber)]="item.octl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novl"  [(setnumber)]="item.novl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decl"  [(setnumber)]="item.decl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janl"  [(setnumber)]="item.janl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febl"  [(setnumber)]="item.febl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marl"  [(setnumber)]="item.marl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprl" [(setnumber)]="item.aprl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayl"  [(setnumber)]="item.mayl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junl"  [(setnumber)]="item.junl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jull"  [(setnumber)]="item.jull">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augl"  [(setnumber)]="item.augl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepl"  [(setnumber)]="item.sepl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EAFAF1;">Year Now {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octi"  [(setnumber)]="item.octi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novi" [(setnumber)]="item.novi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.deci" [(setnumber)]="item.deci">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jani" [(setnumber)]="item.jani">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febi" [(setnumber)]="item.febi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mari" [(setnumber)]="item.mari">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apri" [(setnumber)]="item.apri">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayi" [(setnumber)]="item.mayi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juni" [(setnumber)]="item.juni">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juli" [(setnumber)]="item.juli">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augi" [(setnumber)]="item.augi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepi" [(setnumber)]="item.sepi">
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_month" *ngIf="item.type === '012'">
              <dxi-series *ngFor="let chdata of setuplinechart_month" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="month">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="Avg.Rev.IPD per Discharge {{year}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-12">
      <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Occupancy rate of month {{year}}
              </h3>
              <div *ngFor="let item of typereport">
                <button class="btn btn-success" (click)="check_data('013',serach.value) " [hidden]="check"
                  *ngIf="item.type === '013'" style="margin-left:30px;">{{item.datadsc}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div *ngFor="let item of AccDashBoardListDto">
            <div class="col-md-3 row pull-right" *ngIf="item.reporttyp === '013'" style="margin-top:-75px">
              <div class="col-md-3" style="margin-top:5px;">หน่วย </div>
              <div class="col-md-9"><input onclick="this.select()" [(ngModel)]="item.setup"
                  class="form-control form-control-sm pull-right in-wh-sh text-right" type="text" [disabled]="check">
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered" *ngIf="item.reporttyp === '013'" [hidden]="check">
                <thead>
                  <tr>
                    <th class="th-he-f8">Month</th>
                    <th class="th-bo-f8" *ngFor="let item_month of loop_month">
                      {{item_month.month}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row" style="background-color:#FDEDEC;">Plan {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octp" [(setnumber)]="item.octp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novp"  [(setnumber)]="item.novp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decp"  [(setnumber)]="item.decp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janp"  [(setnumber)]="item.janp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febp"  [(setnumber)]="item.febp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marp"  [(setnumber)]="item.marp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprp"  [(setnumber)]="item.aprp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayp"  [(setnumber)]="item.mayp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junp"  [(setnumber)]="item.junp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.julp"  [(setnumber)]="item.julp">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augp"  [(setnumber)]="item.augp"> 
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepp"  [(setnumber)]="item.sepp">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EBF5FB;">Last Year {{year-1}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octl"  [(setnumber)]="item.octl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novl"  [(setnumber)]="item.novl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.decl"  [(setnumber)]="item.decl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.janl"  [(setnumber)]="item.janl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febl"  [(setnumber)]="item.febl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.marl"  [(setnumber)]="item.marl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.aprl" [(setnumber)]="item.aprl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayl"  [(setnumber)]="item.mayl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.junl"  [(setnumber)]="item.junl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jull"  [(setnumber)]="item.jull">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augl"  [(setnumber)]="item.augl">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepl"  [(setnumber)]="item.sepl">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" style="background-color:#EAFAF1;">Year Now {{year}}</th>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.octi"  [(setnumber)]="item.octi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.novi" [(setnumber)]="item.novi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.deci" [(setnumber)]="item.deci">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.jani" [(setnumber)]="item.jani">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.febi" [(setnumber)]="item.febi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mari" [(setnumber)]="item.mari">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.apri" [(setnumber)]="item.apri">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.mayi" [(setnumber)]="item.mayi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juni" [(setnumber)]="item.juni">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.juli" [(setnumber)]="item.juli">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.augi" [(setnumber)]="item.augi">
                      </td>
                      <td style="padding:0px;">
                        <input onclick="this.select()" class="form-control form-control-sm decimal in-wh-sh text-right" type="text"
                          [disabled]="check" [(ngModel)]="item.sepi" [(setnumber)]="item.sepi">
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div id="chart-demo" *ngFor="let item of typereport">
            <dx-chart [dataSource]="item.chart_line_month" *ngIf="item.type === '013'">
              <dxi-series *ngFor="let chdata of setuplinechart_month" [valueField]="chdata.value" [name]="chdata.name">
              </dxi-series>
              <dxo-common-series-settings #seriesSettings argumentField="month">
              </dxo-common-series-settings>
              <dxo-margin [bottom]="20"></dxo-margin>
              <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                <dxo-grid [visible]="true"></dxo-grid>
              </dxo-argument-axis>
              <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
              </dxo-legend>
              <dxo-title text="Occupancy rate of month {{year}}">
                <dxo-subtitle text="">
                </dxo-subtitle>
              </dxo-title>
              <dxo-export [enabled]="true"></dxo-export>
              <dxo-tooltip [enabled]="true" format="#,##0.00 บาท">
              </dxo-tooltip>
            </dx-chart>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>