<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานหลักสูตรอบรมประจำเดือน")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            วันที่อบรม
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ตำแหน่งงานที่
                        </label>
                        <div class="col-lg-1" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            1 = ตำแหน่งงานที่ 1 2 = ตำแหน่งงานที่ 2
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสตำแหน่ง
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" placeholder="ZZZZ" />
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสพนักง่าน
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" placeholder="ZZZZ" />
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ประเภทการฝึกอบรม
                        </label>
                        <div class="col-lg-3" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="radio"
                                            name="typedoc" id="typ1" value="1" checked (click)="ditell()">อบรมภายใน
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="radio"
                                            name="typedoc" id="typ1" value="1" checked (click)="ditell()">อบรมภายนอก
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-3" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-list">
                                    <label class="m-checkbox">
                                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="checkbox"
                                            name="typedoc" id="typ1" value="1" checked (click)="ditell()">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                        <button type="submit " class="btn btn-secondary text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>