<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">ManPower Detail</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-4">
                                        <label for="" class="col-form-label"></label>
                                        <label class="col-form-label">
                                            {{l("เลขที่เอกสาร")}}
                                        </label>
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.mandoc" disabled />
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("สถานะเอกสาร")}}
                                        </label>
                                        <select class="form-control m-input m-input--air  m-input m-input--square"
                                            name="manstR1" id="manstR1" [(ngModel)]="ManPowerObject.manstR1">
                                            <option value="A">
                                                Active
                                            </option>
                                            <option value="C">
                                                Cancel
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manstR1" /> -->
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("วันที่เอกสาร")}}
                                        </label>
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป"
                                            [(ngModel)]="ManPowerObject.mandte" id="mandte" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("ฝ่าย")}}
                                        </label>
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="mandiv" [(ngModel)]="ManPowerObject.mandiv"
                                            id="mandiv">
                                            <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("หน่วยงาน")}}
                                        </label>
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="mandep" [(ngModel)]="ManPowerObject.mandep"
                                            id="mandep">
                                            <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("ตำแหน่งที่ต้องการ")}}
                                        </label>
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="manpos" [(ngModel)]="ManPowerObject.manpos"
                                            id="manpos">
                                            <option *ngFor="let item of POSITION" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-3">
                                        <label class="col-form-label">
                                            {{l("จำนวนอัตราที่ต้องการ(ตำแหน่ง)")}}
                                        </label>
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manqty" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="col-form-label">
                                            {{l("เพศ")}}
                                        </label>
                                        <select class="form-control m-input m-input--air  m-input m-input--square"
                                            name="mansex" id="mansex" [(ngModel)]="ManPowerObject.mansex">
                                            <option value="M">
                                                ชาย
                                            </option>
                                            <option value="F">
                                                หญิง
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.mansex" /> -->
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-form-label">
                                            {{l("สถานภาพ")}}
                                        </label>
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="manstR2" [(ngModel)]="ManPowerObject.manstR2" id="manstR2">
                                            <option *ngFor="let item of MARRIEDSTATUS" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>

                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manstR2" /> -->
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="col-form-label">
                                            {{l("น้ำหนัก(กิโลกรัม)")}}
                                        </label>
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manweg" />
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="col-form-label">
                                            {{l("ส่วนสูง(เซ็นติเมตร)")}}
                                        </label>
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manhig" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-2">
                                        <label class="col-form-label">
                                            {{l("วุฒิการศึกษาขั้นต่ำ")}}
                                        </label>
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="manedu" [(ngModel)]="ManPowerObject.manedu"
                                            id="manedu">
                                            <option *ngFor="let item of EDUCATION" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manedu" /> -->
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="col-form-label">
                                            {{l("ประสบการณ์ขั้นต่ำ")}}
                                        </label>

                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manepr" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("ความชำนาญอื่นๆ")}}
                                        </label>
                                        <textarea autocomplete="off"
                                            class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manexpert">
                                                </textarea>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("คุณสมบัติอื่นๆ")}}
                                        </label>
                                        <textarea autocomplete="off"
                                            class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manprp">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("ประเภทการขออัตรากำลัง")}}
                                        </label>
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="manreA1" [(ngModel)]="ManPowerObject.manreA1" id="manreA1">
                                            <option *ngFor="let item of MANPOWERTYP" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manreA1" /> -->
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("ชื่อ-สกุล")}}
                                        </label>
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.mannam" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("เหตุผล")}}
                                        </label>
                                        <textarea autocomplete="off"
                                            class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manreA2">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-4">
                                        <label class="col-form-label">
                                            {{l("ผู้ขออัตรากำลัง")}}
                                        </label>
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.manbeg" />
                                    </div>
                                    <div class="col-lg-8">
                                        <label class="col-form-label">
                                            {{l("หมายเหตุเพิ่มเติม(ถ้ามี)")}}
                                        </label>
                                        <textarea autocomplete="off"
                                            class="form-control text-center m-input m-input--air"
                                            [(ngModel)]="ManPowerObject.mannoit">
                                                                </textarea>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-4">
                                        <div class="" style="margin-top:-20px">
                                            <label for="" class=" col-form-label">ฝ่ายบุคคล</label>
                                            <div class="form-group row alert m-alert m-alert"
                                                style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                                <div class="col-lg-6">
                                                    <label for="" class=" col-form-label">สถานะ</label>
                                                    <select
                                                        class="form-control m-input m-input--air  m-input m-input--square"
                                                        name="manprovehr" id="manprovehr"
                                                        [(ngModel)]="ManPowerObject.manprovehr">
                                                        <option value="A">
                                                            อนุมัติ
                                                        </option>
                                                        <option value="C">
                                                            ไม่อนุมัติ
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label for="" class=" col-form-label">วันที่จ้างเพิ่ม</label>
                                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                        type="text" class="form-control  text-center" name=""
                                                        placeholder="" data-provide="datepicker"
                                                        [(ngModel)]="ManPowerObject.mandst" id="mandst"
                                                        data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                                        placeholder="วว/ดด/ปปปป">
                                                </div>

                                                <div class="col-lg-12">
                                                    <label for="" class="col-form-label">ดำเนินการโดย</label>
                                                    <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center" name="manhr"
                                                            placeholder="" [(ngModel)]="ManPowerObject.manhr">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-info" type="button"
                                                                (click)="show2('1')"><i class="fa fa-arrow-right"></i>
                                                                เลือก</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center"
                                                            name="manhrname" placeholder="" [(ngModel)]="manhrname"
                                                            id="manhrname" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <label for="" class="col-form-label">ชื่อผู้อนุมัติฝ่ายบุคคล</label>
                                                    <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center" name="manprV1"
                                                            placeholder="" [(ngModel)]="ManPowerObject.manprV1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-info" type="button"
                                                                (click)="show2('2')"><i class="fa fa-arrow-right"></i>
                                                                เลือก</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center"
                                                            name="manprV1name" placeholder="" [(ngModel)]="manprV1name"
                                                            id="manprV1name" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <label for=""
                                                        class=" col-form-label">ชื่อพนักงานที่จ้างเพิ่ม</label>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-info col-lg-12" type="button"
                                                            (click)="show3()"><i class="fa fa-arrow-right"></i>
                                                            เลือกพนักงานที่จ้างเพิ่ม</button>
                                                    </div>
                                                    <!-- <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center" name=""
                                                            placeholder="">
                                                        <div class="input-group-append">
                                                            
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <!-- <div class="col-lg-12">
                                                    <label for="" class=" col-form-label">วันที่จ้างเพิ่ม</label>
                                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                        type="text" class="form-control  text-center" name=""
                                                        placeholder="" data-provide="datepicker"
                                                        data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                                        placeholder="วว/ดด/ปปปป">
                                                </div> -->
                                                <br><br><br><br><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="" style="margin-top:-20px">
                                            <label for="" class=" col-form-label">ผู้จัดการฝ่าย</label>
                                            <div class="form-group row alert m-alert m-alert"
                                                style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                                <div class="col-lg-12">
                                                    <label for="" class="col-form-label">ชื่อ</label>
                                                    <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center" name="manprV3"
                                                            [(ngModel)]="ManPowerObject.manprV3" placeholder="">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-info" type="button"
                                                                (click)="show2('3')"><i class="fa fa-arrow-right"></i>
                                                                เลือก</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center"
                                                            name="manprV3name" placeholder="" [(ngModel)]="manprV3name"
                                                            id="manprV3name" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <label for="" class=" col-form-label">เรียนผู้อำนวยการ</label>
                                                    <div class="input-group">
                                                        <textarea onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center" name="manreA3"
                                                            [(ngModel)]="ManPowerObject.manreA3" placeholder="">
                                                            </textarea>
                                                    </div>
                                                </div>
                                                <br><br><br><br><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="" style="margin-top:-20px">
                                            <label for="" class=" col-form-label">ผู้อนุมัติ</label>
                                            <div class="form-group row alert m-alert m-alert"
                                                style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                                <div class="col-lg-6">
                                                    <label for="" class=" col-form-label">สถานะ</label>
                                                    <select
                                                        class="form-control m-input m-input--air  m-input m-input--square"
                                                        name="manprov" id="manprov"
                                                        [(ngModel)]="ManPowerObject.manprov">
                                                        <option value="A">
                                                            อนุมัติ
                                                        </option>
                                                        <option value="C">
                                                            ไม่อนุมัติ
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label for="" class=" col-form-label">วันที่</label>
                                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                        type="text" class="form-control  text-center" name=""
                                                        placeholder="" data-provide="datepicker"
                                                        [(ngModel)]="ManPowerObject.manprovedte" id="manprovedte"
                                                        data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                                        placeholder="วว/ดด/ปปปป">
                                                </div>
                                                <div class="col-lg-12">
                                                    <label for="" class=" col-form-label">ชื่อ</label>
                                                    <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center" name=""
                                                            placeholder="" [(ngModel)]="ManPowerObject.manprV2">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-info" type="button"
                                                                (click)="show2('4')"><i class="fa fa-arrow-right"></i>
                                                                เลือก</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                            type="text" class="form-control  text-center"
                                                            name="manprV2name" placeholder="" [(ngModel)]="manprV2name"
                                                            id="manprV2name" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <label for="" class=" col-form-label">ความคิดเห็น</label>
                                                    <textarea onkeyup="chkstr(this,this.value)" autocomplete="off"
                                                        type="text" class="form-control  text-center" name="manreA4"
                                                        [(ngModel)]="ManPowerObject.manreA4" placeholder="">
                                                                    </textarea>

                                                </div>
                                                <br><br><br><br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="col-md-12">
                    <button type="button " class="btn btn-danger pull-left " data-dismiss="modal "
                        style="margin-right: 5px" (click)="removed2() " [hidden]="Editing != 1">
                        <i class="fa fa-close "></i> {{l("Delete ")}}</button>

                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- ///----------------------------------------------Employee Master List------------------------------------------------------------------------------////// -->
<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Master")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployee [dataSource]="emp"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        [(selectedRowKeys)]="selectedRows">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="psnidn" caption="Employee ID"></dxi-column>
                        <dxi-column dataField="psntth" caption="Title">
                            <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfnm" caption="First Name"></dxi-column>
                        <dxi-column dataField="psnlnm" caption="Last Name"></dxi-column>
                        <dxi-column dataField="psncom" caption="Company"></dxi-column>
                    </dx-data-grid>

                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan2(gEmployee.selectedRowKeys)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>
<!-- ///----------------------------------------------Add Employee------------------------------------------------------------------------------////// -->
<div bsModal #modal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee LIst")}}</b>
                </h5>
                <button type="button" (click)="close3()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <!-- <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">
                                    {{l("เลขที่เอกสาร")}}
                                </label>
                                
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="manreA1doc"  disabled/>
                            </div>
                            <div class="col-lg-3">
                                <label class="col-form-label">
                                    {{l("ลำดับ")}}
                                </label>
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="manreA1no" />
                            </div>
                            <div class="col-lg-3">
                            </div>
                        </div> -->
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label class="col-form-label">
                                    {{l("ชื่อ")}}
                                </label>
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="manreA1name" />
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">
                                    {{l("นามสกุล")}}
                                </label>
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="manreA1sername" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label for="" class=" col-form-label">วันที่จ้างเพิ่ม</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                                    [(ngModel)]="manreA1day" class="form-control  text-center" name="" placeholder=""
                                    data-provide="datepicker" id="manreA1day" data-date-language="th-th"
                                    data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป">
                            </div>
                            <div class="col-lg-2">
                                <button type="submit" style="margin-top:40px" class="btn btn-success pull-left"
                                    (click)="addlist() ">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>


                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployee
                        [dataSource]="ManPowerListListDto" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                        columnResizingMode="widget" [(selectedRowKeys)]="selectedRows" (onRowRemoved)="removed($event)">

                        <dxo-editing [allowDeleting]="true" [useIcons]="true">
                        </dxo-editing>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                        <dxi-column dataField="manseq" caption="ลำดับ" [width]="50"></dxi-column>
                        <dxi-column dataField="manfnm" caption="ชื่อพนักงานที่จ้างเพิ่ม"></dxi-column>
                        <dxi-column dataField="manlnm" caption="นามสกุลพนักงานที่จ้างเพิ่ม"></dxi-column>
                        <dxi-column dataField="mandte" [customizeText]="fnddmmyyyygrid" caption="วันที่จ้างเพิ่ม">
                        </dxi-column>

                    </dx-data-grid>


                    <div class="modal-footer ">
                        <div class="">
                            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                                style="margin-right: 5px" (click)="close3() ">
                                <i class="fa fa-close "></i> {{l("Close ")}}</button>
                            <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                                style="margin-right: 5px" (click)=" save2('1') " [hidden]="Editing == 0">
                                <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>