<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Table Code Listing + ATTCOL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-top: -10px">
                <div class="m-portlet__body">

                    <div class="form-group m-form__group row">

                        <dx-data-grid [allowColumnReordering]="true" #grid3 id="gridContainer" [dataSource]=" " [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" keyExpr="chtcod"
                            [(selectedRowKeys)]="selectedRows">
                            <dxo-scrolling [useNative]="true" [scrollByContent]="true" [scrollByThumb]="true"
                                showScrollbar="always">

                            </dxo-scrolling>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-pager [allowedPageSizes]="[10]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="false" [visible]="true">
                            </dxo-pager>

                            <dxo-paging [pageSize]="10"></dxo-paging>

                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                            <dxo-selection mode="single">
                            </dxo-selection>
                            <dxi-column dataField="chtcod" caption="Table Code"></dxi-column>
                            <dxi-column dataField="chtdsc" caption="Description"></dxi-column>
                            <dxi-column dataField="chtdsl" caption="Flag1"></dxi-column>
                            <dxi-column dataField="chtfG2" caption="Flag2"></dxi-column>
                            <dxi-column dataField="chttyp" caption="Flag3"></dxi-column>

                        </dx-data-grid>
                        <div class="selected-data">
                            <!-- {{grid.selectedRowKeys}} -->
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" value="{{grid3.selectedRowKeys}}" hidden #data_select>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="get_data2(data_select.value)">
                                <i class="fa fa-save"></i> {{l("Select")}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>