<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Important Letter")}}</span>
                </h3>
                <div style="margin-top:15px">
                    <font size="2">{{l("Employee Form")}}</font>
                </div>
                <div class="col-lg-2"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" #from></div>
                <div style="margin-top:15px">
                    <font size="2">{{l("To")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                            id="to" class=" form-control text-center" #to>
                </div>
                <div class="col-lg-2"><button class="btn btn-primary" (click)="getLetter(from.value,to.value)"><i
                            class="fa fa-search"></i>
                        {{l("ค้นหา")}}</button>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                <button class="btn btn-info" (click)="importantletteradd.show()">
                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Important Letter")}} ({{ImportantLetterListDto.length}})</h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                    [dataSource]="ImportantLetterListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
                    [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">
                    
                    <dxo-pager [allowedPageSizes]="[10, 20,50]" [showInfo]="true" [showNavigationButtons]="true"
                    [showPageSizeSelector]="true" [visible]="true">
                </dxo-pager>

                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                    [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:;" class="" (click)="importantletteradd.showedit(data)">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </div>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                    <dxi-column dataField="letdoc" caption="Document No"></dxi-column>
                    <dxi-column dataField="leteid" caption="Employee ID"></dxi-column>
                    <dxi-column dataField="leteid" caption="Employee Name">
                            <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup>
                    </dxi-column>
                  
                    <dxi-column dataField="letdte" [customizeText]="fnddmmyyyygrid" caption="Document Date"></dxi-column>
                    <dxi-column dataField="letrea" caption="Reason">
                            <dxo-lookup [dataSource]="LETTERREASON" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="lettyp" caption="Type">
                            <dxo-lookup [dataSource]="LETTERTYPE" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="letaut" caption="Authorized">
                            <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="letsts" caption="Status" [fixed]="true" fixedPosition="right"></dxi-column>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <importantletteradd #importantletteradd (modalSave)="getLetter(from.value,to.value)"></importantletteradd>

</div>