<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-calendar">&nbsp;</i>
                    </span>
                    <b>Holiday List</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="" class="col-form-label">
                            <b>Holiday Year List</b>
                        </label>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">Table Code</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years" data-provide="datepicker"
                                    data-date-language="th-th" placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-8">
                                <label for="" class="col-form-label">Table Description</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" value="วันหยุดประจำปี">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="panel">
                        <div class="col-md-12">
                            <label for="" class="col-form-label">
                                <b>Holiday Date List</b>
                            </label>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2">
                                    <label for="" class="col-form-label">Type Of Holiday</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                        #typeholiday id="typeholiday" placeholder="">
                                </div>
                                <div class="col-lg-2">
                                    <label for="" class="col-form-label">Holiday Year</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                        data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                        data-provide="datepicker" data-date-language="th-th" placeholder="" #holidayyear id="holidayyear">
                                </div>
                                <div class="col-lg-3">
                                    <label for="" class="col-form-label">Holiday Date</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" data-provide="datepicker" data-date-language="th-th"
                                        data-date-format="dd/mm/yyyy" class="form-control text-center" name="getdocdate" placeholder=""
                                        #holidaydate id="holidaydate">
                                </div>
                                <div class="col-lg-4">
                                    <label for="" class="col-form-label">Description (Thai)</label>
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                        placeholder="" #description id="description">
                                </div>
                                <div class="col-lg-1" style="margin-top: 38px">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 5px" (click)="insertd(typeholiday.value,holidayyear.value,holidaydate.value,description.value)">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr style=" border: 1px dashed  #BEBEBE;">

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="array_data_complete" [errorRowEnabled]="false"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                         (onContentReady)="onContentReady($event)"
                        (onSelectionChanged)="funti($event)" >
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true">
                        </dxo-editing>
                        <!-- <dxi-column dataField="hdtyp" caption="Type Of Holiday" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="hdyear" caption="Holiday Year"  [allowEditing]="false"></dxi-column> -->
                        <dxi-column dataField="hddate" caption="Holiday Date" [customizeText]="fnddmmyyyygrid" ></dxi-column>
                        <dxi-column dataField="hddescr" caption="Description (Thai)"  ></dxi-column>
                    </dx-data-grid>

                </div>


                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>

                    </div>
                </div>
            </div>
        </div>