<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานการฝึกอบรมพนักงาน")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company Code
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                value="001" />
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                value="โรงพยาบาลมหาวิทยาลัยเทคโนโลยีสุรนารี" disabled />
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ปี
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th" #yea1 />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th" #yea2 />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ตำแหน่ง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="position"
                                #postrf id="postrf">
                                <option value=" ">
                                </option>
                                <option *ngFor="let item of POSITION" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="positionto"
                                #postrt id="postrt">
                                <option value="ZZ">ALL</option>
                                <option *ngFor="let item of POSITION" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" type="text" class=" form-control m-input m-input--air" #idempf
                                    id="idempf">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="emplist.show('1')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" type="text" class=" form-control m-input m-input--air" #idempt
                                    id="idempt" value="ALL">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="emplist.show('2')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="depart"
                                #depart id="depart">
                                <option value=" ">
                                </option>
                                <option *ngFor="let item of DEPARTMENT" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="depart1"
                                #depart1 id="depart1">
                                <option value="ZZ">ALL</option>
                                <option *ngFor="let item of DEPARTMENT" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            หลักสูตร
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control m-input m-input--air"
                                    onkeyup="chkstr(this,this.value)" name="placod" id="placod" #placod>
                                <div class="input-group-append" style="margin-left:5px" [hidden]="chk_year == 1">
                                    <button class="btn btn-info" type="button" (click)="showc()">
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control m-input m-input--air"
                                    onkeyup="chkstr(this,this.value)" name="placod2" id="placod2" #placod2 value="ALL">
                                <div class="input-group-append" style="margin-left:5px" [hidden]="chk_year == 1">
                                    <button class="btn btn-info" type="button" (click)="showc2()">
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            วันที่
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #dtefm
                                placeholder="วว/ดด/ปปปป">
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #dteto
                                placeholder="วว/ดด/ปปปป">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ผ่านการฝึกอบ
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                #passed>
                                <option value="Y">ผ่าน</option>
                                <option value="N">ไม่ผ่าน</option>
                                <option value="ALL">ทั้งหมด</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            เข้าอบรม
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                #training>
                                <option value="Y">เข้า</option>
                                <option value="N">ไม่เข้า</option>
                                <option value="ALL">ทั้งหมด</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Report Header
                        </label>
                        <div class="col-lg-6" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                #reporthea>
                                <option value="ATY">รายงานผู้ที่เข้ารับการอบรม</option>
                                <option value="ATN">รายงานผู้ที่ไม่เข้ารับการอบรม </option>
                                <option value="REY">รายงานผู้ที่ไม่ผ่านการอบรม</option>
                                <option value="REN">รายงานผู้ที่ผ่านการอบรม</option>
                                <option value="IDN">รายงานการฝึกอบรมพนักงาน</option>
                                <option value="POS">รายงานการฝึกอบรมพนักงานแยกตามตำแหน่ง</option>
                                <option value="COD">รายงานการฝึกอบรมแยกตามหลักสูตร</option>
                                <option value="MES">รายงานการอบรมสัมมนาประจำเดือน</option>
                                <option value="DEP">รายงานการฝึกอบรมพนักงานแยกตามแผนก</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>

                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(yea1.value,yea2.value,postrf.value,postrt.value,idempf.value,idempt.value,depart.value,depart1.value
                            ,placod.value,placod2.value,dtefm.value,dteto.value,passed.value,training.value,reporthea.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info text-center" style="margin-right: 5px"
                            (click)="dowload(yea1.value,yea2.value,postrf.value,postrt.value,idempf.value,idempt.value,depart.value,depart1.value
                            ,placod.value,placod2.value,dtefm.value,dteto.value,passed.value,training.value,reporthea.value)">
                            <i class="fa fa-file-excel "></i> {{l("Excel")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <emplist #emplist (modalSave)="ngOnInit()"></emplist>
</div>
<!-- ///---------------------------------------------------modal6 course---------------------------------------------------------------------/// -->
<div bsModal #modal_course="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Course")}}</b>
                </h5>
                <button type="button" (click)="closecourse()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Course Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gCourse [dataSource]="getcourse"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id"
                        [(selectedRowKeys)]="selectedRows">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="placod" caption="รหัสหลักสูตร"></dxi-column>
                        <dxi-column dataField="planam" caption="ชื่อหลักสูตร"></dxi-column>
                    </dx-data-grid>
                    <div class="selected-data">
                        <!-- {{grid.selectedRowKeys}} -->
                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                            value="{{gCourse.selectedRowKeys}}" hidden #data_selectc>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_course(data_selectc.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>
<!-- ///---------------------------------------------------modal6 course---------------------------------------------------------------------/// -->
<div bsModal #modal_course2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Course")}}</b>
                </h5>
                <button type="button" (click)="closecourse2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Course Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gCourse [dataSource]="getcourse"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id"
                        [(selectedRowKeys)]="selectedRows">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="placod" caption="รหัสหลักสูตร"></dxi-column>
                        <dxi-column dataField="planam" caption="ชื่อหลักสูตร"></dxi-column>
                    </dx-data-grid>
                    <div class="selected-data">
                        <!-- {{grid.selectedRowKeys}} -->
                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                            value="{{gCourse.selectedRowKeys}}" hidden #data_selectc>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_course2(data_selectc.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>