<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Employee Resign Entry</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">
                <div class="form-group row">
                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                    <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                                {{l("Document No.")}}
                                            </label>
                                            <div class="col-lg-3" style="margin-top: 2px">
                                                <input autocomplete="off" [(ngModel)]="EmployeeResignsObject.resdoc"
                                                    class="form-control text-center m-input m-input--air" />
                                            </div>
                                            <div class="col-lg-5" style="margin-top: 2px">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                                {{l("Document Date")}}
                                            </label>
                                            <div class="col-lg-3" style="margin-top: 2px">
                                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                                    data-provide="datepicker" data-date-language="th-th" [(ngModel)]="EmployeeResignsObject.resdte" id="resdte"
                                                    data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                            </div>
                                            <div class="col-lg-6" style="margin-top: 2px">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                                {{l("Employee ID")}}
                                            </label>
                                            <div class="col-lg-3" style="margin-top: 2px">
                                                    <div class="input-group">
                                                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                                                [(ngModel)]="EmployeeResignsObject.residn" disabled />
                        
                                                            <div class="input-group-append">
                                                                <button class="btn btn-info" type="button" (click)="show5('Emp')"
                                                                    [disabled]="Editing == 1">เลือก</button>
                                                            </div>
                                                        </div>
                                            </div>
                                            <div class="col-lg-6" style="margin-top: 2px">
                                                <input autocomplete="off"
                                                    class="form-control text-center m-input m-input--air" id="empname" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                                <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                                    {{l("Resign Type")}}
                                                </label>
                                                <div class="col-lg-3" style="margin-top: 2px">
                                                    <input autocomplete="off" [(ngModel)]="EmployeeResignsObject.restyp"
                                                        class="form-control text-center m-input m-input--air" maxlength="1"/>
                                                </div>
                                                <div class="col-lg-6" style="margin-top: 2px">
                                                    <!-- <input autocomplete="off"
                                                        class="form-control text-center m-input m-input--air" /> -->
                                                </div>
                                            </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Effective Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" [(ngModel)]="EmployeeResignsObject.resefd" id="resefd"
                                            class="form-control text-center m-input m-input--air" #resefd
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Reason")}}
                                    </label>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                        <!-- [(ngModel)]="EmployeeResignsObject.resres" -->
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                            style="width:100%" name="resres" [(ngModel)]="EmployeeResignsObject.resres"
                                            id="resres">
                                            <option *ngFor="let item of RESIGNREASON" value={{item.tabtB2}}>
                                                {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3"></div>
    
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Authorized Person")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <div class="input-group">
                                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                                [(ngModel)]="EmployeeResignsObject.resaut" disabled />
    
                                            <div class="input-group-append">
                                                <button class="btn btn-info" type="button" (click)="show5('Aut')">เลือก</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                        <input class="form-control text-center m-input m-input--air" id="autname"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                            {{l("Status")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 2px">
                                            <input autocomplete="off" [(ngModel)]="EmployeeResignsObject.ressts"
                                                class="form-control text-center m-input m-input--air" maxlength="1"/>
                                        </div>
                                        <div class="col-lg-6" style="margin-top: 2px">
                                        </div>
                                    </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Remark")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <input autocomplete="off" [(ngModel)]="EmployeeResignsObject.resrmk"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center" >
                                <div style="margin-bottom: 10px">
                                    <img class="img-thumbnail mx-auto d-block" src="" style="width:100% ; height:180px">
                                </div>
                                <div class="modal-footer col-md-12" style="margin-left:15px">
                                    <button type="button " class="btn btn-info" data-dismiss="modal "
                                        style="width:240px">
                                        <font size="1"> {{l("Interview Form before Resign")}}</font></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <div class="modal-footer ">
                        <div class="col-md-12">
                                <button type="button " class="btn btn-danger pull-left " data-dismiss="modal "
                                    style="margin-right: 5px" (click)="cancelResign() " [hidden]="Editing != 1">
                                    <i class="fa fa-close "></i> {{l("Cancel Resign ")}}</button>
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- ///---------------------------------------------------modal5 emp---------------------------------------------------------------------/// -->
<div bsModal #modal5="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Master")}}</b>
                </h5>
                <button type="button" (click)="closeemp()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployeea [dataSource]="emp"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        keyExpr="psnidn">

                        <dxo-selection mode="single"> </dxo-selection>

                      

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="psnidn" caption="Employee ID"></dxi-column>
                        <dxi-column dataField="psntth" caption="Title">
                            <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfnm" caption="First Name"></dxi-column>
                        <dxi-column dataField="psnlnm" caption="Last Name"></dxi-column>
                        <dxi-column dataField="psnfen" caption="First Name(Eng)"></dxi-column>
                        <dxi-column dataField="psnlen" caption="Last Name(Eng)"></dxi-column>
                        <dxi-column dataField="psncom" caption="Company"></dxi-column>
                        <dxi-column dataField="psnbrn" caption="Branch"></dxi-column>
                        
                    </dx-data-grid>
                    <div class="selected-data">
                        <!-- {{grid.selectedRowKeys}} -->
                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                            value="{{gEmployeea.selectedRowKeys}}" hidden #data_select2a>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan(data_select2a.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>