<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Position Code</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("รหัสตำแหน่ง")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="POSITIONEMP.tabtB2" [disabled]="EDITS == 1" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("ชื่อตำแหน่ง")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="POSITIONEMP.tabdsc" />
                            </div>
                        </div>
                        <!-- <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("ระดับชั้น")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("รายละเอียดของงานเบื้องต้น")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Job Superior")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Job Relation")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <textarea autocomplete="off" class="form-control text-center m-input m-input--air"
                                    style="height: 50px"></textarea>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("หน้าที่หลัก")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <textarea autocomplete="off" class="form-control text-center m-input m-input--air"
                                    style="height: 100px"></textarea>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("หน้าที่รอง")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <textarea autocomplete="off" class="form-control text-center m-input m-input--air"
                                    style="height: 70px"></textarea>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Limits of Authority")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <textarea autocomplete="off" class="form-control text-center m-input m-input--air"
                                    style="height: 70px"></textarea>
                            </div>
                        </div> -->
                        <hr>
                        <div class="form-group m-form__group">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("รหัสรายได้")}}
                                </label>
                                <!-- <div class="col-lg-2" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air">
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    disabled>
                            </div> -->
                                <div class="col-lg-6" style="margin-top: 5px">
                                    <select class="form-control m-input m-input--square" name="inctyp" id="inctyp"
                                        #inctyp>
                                        <option *ngFor="let item of INCOMEPOSITION" value={{item.tabtB2}}>
                                            {{item.tabtB2}} : {{item.tabdsc}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("จำนวนเงิน")}}
                                </label>
                                <div class="col-lg-5" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        id="incamt" #incamt disable>
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <button type="button " class="btn btn-info pull-left" data-dismiss="modal "
                                        style="margin-right: 5px" (click)="Add() ">
                                        <i class="fa fa-plus"></i> {{l("Add")}}</button>
                                </div>
                            </div>


                            <dx-data-grid [allowColumnReordering]="true" id="gridContainer"
                                [dataSource]="INCPOS00ListDto" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                                [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                                columnResizingMode="widget">
                                <dxo-editing [allowDeleting]="true" [useIcons]="true">
                                </dxo-editing>
                                <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"
                                    [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                                </dxo-pager>

                                <dxo-paging [pageSize]="5"></dxo-paging>
                                <dxi-column dataField="incins" caption="รหัสรายได้"></dxi-column>
                                <dxi-column dataField="incins" caption="ชื่อ">
                                    <dxo-lookup [dataSource]="INCOMEPOSITION" displayExpr="tabdsc" valueExpr="tabtB2">
                                    </dxo-lookup>
                                </dxi-column>
                                <dxi-column dataField="incamt" format="#,##0.00" caption="จำนวนเงิน"></dxi-column>

                            </dx-data-grid>
                            <div>
                                <button type="button " class="btn btn-success pull-left " data-dismiss="modal "
                                >
                                <i class="fa fa-plus-square"></i>
                                {{l("Update Values to all Employee on this position")}}</button>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="">
                        
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-window-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-danger pull-left " data-dismiss="modal "
                            style="margin-right: 5px" (click)="delete()">
                            <i class="fa fa-trash-alt"></i> {{l("Delete")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save")}}</button>
                    </div>
                </div>

            </div>
        </div>


    </div>