<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Employee Movement Entry</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group row">
                            <!-- <div class="col-md-12">
                              <button class="btn btn-primary pull-right" type="button" (click)="showAdd()">
                              <i class="fa fa-plus"></i> Add</button>
                            </div> -->
                          </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="EmployeeMovmentsListDto"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget"
                           >
                           <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                           [showPageSizeSelector]="true" [visible]="true">
                       </dxo-pager>
                       <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column dataField="movdoc"caption="Document No">
                            </dxi-column>
                            <dxi-column dataField="movefd"caption="Effective Date"></dxi-column>
                            <dxi-column dataField="movrmk"caption="Reason"></dxi-column>
                            <dxi-column dataField="movfL1"caption="From Branch"></dxi-column>
                            <dxi-column dataField="movfL4"caption="From Department"></dxi-column>
                            <dxi-column dataField="movfL3"caption="From Section"></dxi-column>
                            <dxi-column dataField="movcps"caption="From Position"></dxi-column>
                            <dxi-column dataField="movtL1"caption="To Branch"></dxi-column>
                            <dxi-column dataField="movtL4"caption="To Department"></dxi-column>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
                <div class="modal-footer ">
                    <div class="">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        
                    </div>
                </div>
            
        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Employee Movement Entry</h5>
                <button type="button" (click)="closeAdd()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("Document No")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>

                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Document Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" /> </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                        {{l("Effective Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" /> </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("Employee No")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" disabled />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("Authorized Person")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" disabled />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("Reason")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" disabled />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Status")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" maxlength="1"/>
                                    </div>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                        {{l("Status Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Authorized Person")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>

                                </div>
                                
                            </div>
                            <div class="col-md-3">
                                <div style="margin-bottom: 10px">
                                    <img class="img-thumbnail mx-auto d-block" src="" style="width:100% ; height:180px">
                                </div>
                                <div class="modal-footer col-md-12 ">
                                    <button type="button " class="btn btn-info" data-dismiss="modal "
                                        style="margin-right: 5px;width:100%">
                                        {{l("Apprasal Form")}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="col-form-label">
                                    <b>{{l("From Location")}}</b>
                                </label>
                                <div class="form-group row alert m-alert m-alert--default">
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Company")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Branch")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                   
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Department")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Section")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("From Position")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">
                                    <b>{{l("To Location")}}</b>
                                </label>
                                <div class="form-group row alert m-alert m-alert--default">
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Move to Company")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Move to Branch")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Move to Depart.")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("Move to Section")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("New Position")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                    <label class="col-form-label col-lg-4" style="margin-top: 2px;text-align:right">
                                        {{l("New Salary")}}
                                    </label>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
                <div class="modal-footer ">
                    <div class="">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="closeAdd() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Post/Confirm ")}}</button>
                    </div>
                </div>


            
        </div>
    </div>
</div>