<div [@routerTransition]>
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto col-sm-9 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Institute")}}</span>
                    </h3>
                </div>
                <div class="col-sm-2 text-right">
                    <button class="btn btn-info" (click)="Addinstituteinformation.show()">
                        <i class="fa fa-plus"></i> {{l("Add")}}</button>
                </div>
            </div>
        </div>
        <div class="m-content">
    
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
    
                    <h3>{{l("Institute List")}} </h3>
    
                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]=" " (onContentReady)="onContentReady($event)"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                        [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">
    
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                        </dxo-scrolling>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-export [enabled]="true" fileName="ShiftCodeList" [allowExportSelectedData]="true"></dxo-export>
    
                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                            [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    
                        <dxi-column dataField="" caption="Company"></dxi-column>
                        <dxi-column dataField="" caption="Institute Name"></dxi-column>
                        <dxi-column dataField="" caption="E-mail"></dxi-column>
                        <dxi-column dataField="" caption="State/city "></dxi-column>
                        <dxi-column dataField="" caption="Country"></dxi-column>
                        <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false" cellTemplate="cellTemplate"
                            caption=""></dxi-column>
    
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:;" style="color:#3399FF	" class="" (click)="tableshiftcodeedit.show()">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>
    
                    </dx-data-grid>
                </div>
            </div>
        </div>
        <Addinstituteinformation #Addinstituteinformation (modalSave)="ngOnInit()"></Addinstituteinformation>
        <tableshiftcodeedit #tableshiftcodeedit (modalSave)="ngOnInit()"></tableshiftcodeedit>
    </div>