/deep/ .dx-command-edit .dx-link {
    text-decoration: none;
    font-size: 18px;
    margin: 0 3px;
}
/deep/ .dx-command-edit .dx-link:hover {
     opacity: 0.8;
}
/deep/ #select-position {
    display: inline-block;
    vertical-align: middle;
}
/deep/ .select-position span {
    vertical-align: middle;
    margin-right: 10px;
}