<div [@routerTransition]>
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto col-sm-6">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("DepartmentMaster")}}</span>
                    </h3>
                </div>
                <!-- <div class="col-sm-6 text-right">
                    <button class="btn btn-primary" (click)="createPersonModal.show()"><i class="fa fa-plus"></i> {{l("CreateNewPerson")}}</button>
                </div> -->
            </div>
        </div>
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <dx-data-grid id="depgridContainer"
                        [dataSource]="dbmtab" 
                        (onContentReady)="onContentReady($event)"
                        (onCellPrepared)="onCellPrepared($event)"
                        (onRowUpdating)="updateDbmtab($event)"  
                        (onRowRemoving)="deleteDbmtab($event)"
                        (onRowInserting)="insertDbmtab($event)" 
                        [errorRowEnabled] = "false"                                  
                        [hoverStateEnabled]="true"  
                        [allowColumnResizing]="true"  
                        [columnAutoWidth]="true"      
                        [rowAlternationEnabled]="true" 
                        columnResizingMode="widget"
                        >      
                        <dxo-scrolling
                            [useNative]="false"
                            [scrollByContent]="true"
                            [scrollByThumb]="true"
                            showScrollbar="always"> 
                        </dxo-scrolling>          
                    <dxo-export [enabled]="true" fileName="Department Master" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-editing mode="popup" 
                    [allowUpdating]="true" 
                    [allowDeleting]="true" 
                    [allowAdding]="true"
                    [texts]= "{confirmDeleteMessage: ''}">
                        <dxo-popup
                            title="Budget Master Info"
                            [showTitle]="true"
                            [width]="800"
                            [height]="345"
                            [position]="{ my: 'center', at: 'center', of: window }">
                        </dxo-popup>               
                    </dxo-editing>
                    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>    
                    <dxo-search-panel 
                        [visible]="true" 
                        [width]="240" 
                        placeholder="Search..."></dxo-search-panel>
                    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>   
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>             
                        
                        <dxi-column dataField="tabtB2" caption="Deprtment Code" [allowHiding]="false">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>

                        <dxi-column dataField="tabdsc" caption="Description(Thai)" [allowHiding]="false">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>

                        <dxi-column dataField="tabdse" caption="Description(Eng)"></dxi-column> 
                        <dxi-column dataField="tabfG1" caption="Group By" [allowHiding]="false" [groupIndex]="0"></dxi-column>

                        <dxi-column dataField="tabsts" caption="Lock ในการบันทึกคำจองบประมาณ" cellTemplate="cellTemplateGrid" editCellTemplate="cellTemplateEdit" [allowHiding]="false"></dxi-column>
                        <div *dxTemplate="let data of 'cellTemplateGrid'">
                            <dx-check-box [value]="data.value | convertCheckbox" [disabled]="true"></dx-check-box>
                        </div>    
                        <div *dxTemplate="let data of 'cellTemplateEdit'">
                            <dx-check-box [value]="data.value | convertCheckbox" (onValueChanged)="onValueChanged($event, data)"></dx-check-box>
                        </div>



                        <!-- <dxi-column dataField="budgetHeader" caption="Header" cellTemplate="cellTemplateGrid" editCellTemplate="cellTemplateEdit" [allowHiding]="false"></dxi-column>
                        
                        <div *dxTemplate="let data of 'cellTemplateGrid'">
                            <dx-check-box [(value)]="data.value" [disabled]="true"></dx-check-box>
                        </div>    
                        <div *dxTemplate="let data of 'cellTemplateEdit'">
                            <dx-check-box [(value)]="data.value" (onValueChanged)="onValueChanged($event, data)"></dx-check-box>
                        </div> 
                        <dxi-column dataField="budgetGroup" caption="Group Code" [visible]="false"></dxi-column>
                        <dxi-column dataField="budgetFG1" caption="Config 1" [visible]="false"></dxi-column>
                        <dxi-column dataField="budgetFG2" caption="Config 2" [visible]="false"></dxi-column>
                        <dxi-column dataField="budgetFG3" caption="Config 3" [visible]="false"></dxi-column>
                        <dxi-column dataField="budgetFG4" caption="Config 4" [visible]="false"></dxi-column>
                        <dxi-column dataField="budgetFG5" caption="Config 5" [visible]="false"></dxi-column> -->

                        <!-- <dxi-column dataField="glStartDate" dataType= "date" [visible]="false"></dxi-column>
                        <dxi-column dataField="glDraA" format="decimal" [visible]="false"></dxi-column>
                        <dxi-column dataField="glCraA" format="decimal" [visible]="false"></dxi-column> -->
                        <dxo-remote-operations
                            [sorting]="true"
                            [paging]="true">
                        </dxo-remote-operations>
                        <dxo-paging [pageSize]="30"></dxo-paging>
                        <dxo-pager
                            [showPageSizeSelector]="true"
                            [allowedPageSizes]="[10, 30, 60, 100]"
                            [showInfo]="true"                    
                        ></dxo-pager>
                    </dx-data-grid>   
                </div>
        </div>
    </div>
</div>