<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("TestRunProgram")}}</span>
                </h3>
            </div>
            <!-- <div class="col-sm-6 text-right">
                <button class="btn btn-primary" (click)="createPersonModal.show()"><i class="fa fa-plus"></i> {{l("CreateNewPerson")}}</button>
            </div> -->
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">                                 
                
                <button class="btn btn-success" (click)="runINFA()"><i class="fa fa-check"></i> Interface Data</button>    
                <button class="btn btn-success" (click)="runRCCP()"><i class="fa fa-check"></i> Transaction Receiving System</button> 
                <button class="btn btn-success" (click)="runCUSP()"><i class="fa fa-check"></i> Customer Master Information</button> 
                <button class="btn btn-success" (click)="runVENP()"><i class="fa fa-check"></i> Vendor/Supplier Information</button> 
                <button class="btn btn-success" (click)="runASMP()"><i class="fa fa-check"></i> Assets Management</button> 
                <button class="btn btn-success" (click)="runVATP()"><i class="fa fa-check"></i> Tax Center</button> 
                <button class="btn btn-success" (click)="runPTTP()"><i class="fa fa-check"></i> Payment and Petty Cash</button> 
                <button class="btn btn-success" (click)="runINVP()"><i class="fa fa-check"></i> Inventory and Warehouse</button> 
                <button class="btn btn-success" (click)="runCBKP()"><i class="fa fa-check"></i> Bank and Cheque Center</button> 
                <button class="btn btn-success" (click)="runGLLP()"><i class="fa fa-check"></i> General Ledger</button> 

                <button class="btn btn-success" (click)="runAPSP()"><i class="fa fa-check"></i> Global and Application Setting</button> 

                <button class="btn btn-success" (click)="runPAFP()"><i class="fa fa-check"></i> Performance Appraisal System</button> 
                <button class="btn btn-success" (click)="runAPPP()"><i class="fa fa-check"></i> Appraisal System</button>
                <button class="btn btn-success" (click)="runMASP()"><i class="fa fa-check"></i> Employee Master</button>
                <button class="btn btn-success" (click)="runTRNP()"><i class="fa fa-check"></i> Training and Development</button>
                <button class="btn btn-success" (click)="runATTP()"><i class="fa fa-check"></i> Time and Attendance</button>
                <button class="btn btn-success" (click)="runWRKP()"><i class="fa fa-check"></i> WorkPlan</button>
                <button class="btn btn-success" (click)="runATLP()"><i class="fa fa-check"></i> Time and Attendance Light</button>
                <button class="btn btn-success" (click)="runPAYP()"><i class="fa fa-check"></i> Payroll System</button>
                <button class="btn btn-success" (click)="runINDP()"><i class="fa fa-check"></i> Interface Doctorfee Data</button>
                <button class="btn btn-success" (click)="runDTYP()"><i class="fa fa-check"></i> Doctor Pay System</button>
                <button class="btn btn-success" (click)="runDTFP()"><i class="fa fa-check"></i> Doctor Fee System</button>
                <button class="btn btn-success" (click)="runDMSP()"><i class="fa fa-check"></i> Doctor Master System</button>                      
                <!-- <dx-data-grid id="gridContainer"
                    [dataSource]="people"
                    [masterDetail]="{ enabled: true, template: 'detail' }"
                    (onCellPrepared)="onCellPrepared($event)"
                    keyExpr="id">

                    <dxi-column [width]="100" [allowFiltering]="false"
                        [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <button *ngIf="isGranted('Pages.Tenant.PhoneBook.EditPerson')" (click)="editPersonModal.show(data.data.id)" title="{{l('EditPerson')}}" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--pill">
                            <i class="fa fa-pencil"></i>
                        </button>
                       <button id="deletePerson" (click)="deletePerson(data.data)" title="{{l('Delete')}}" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill" href="javascript:;">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <dxi-column dataField="id"></dxi-column>
                    <dxi-column dataField="name"></dxi-column>
                    <dxi-column dataField="surname"></dxi-column>
                    <dxi-column dataField="emailAddress"></dxi-column>

                    <div *dxTemplate="let employee of 'detail'">
                        <div class="master-detail-caption">{{employee.data.name + " " + employee.data.surname }}</div>
                        <dx-data-grid
                            [dataSource]="employee.data.phones"
                            [showBorders]="true"
                            [columnAutoWidth]="true">
                                <dxi-column dataField="type"></dxi-column>
                                <dxi-column dataField="number"></dxi-column>                                
                        </dx-data-grid>
                    </div>
                </dx-data-grid> -->

<!-- ############################################################################################ -->
                <!-- <form autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filter" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getPeople()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="m-widget1">
                    <div class="m-widget1__item" *ngFor="let person of people" [ngClass]="{'bg-secondary m--padding-10': person===editingPerson}">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">{{person.name + ' ' + person.surname}}</h3>
                                <span class="m-widget1__desc">{{person.emailAddress}}</span>
                            </div>
                            <div class="col m--align-right">                                    
                                <button (click)="editPerson(person)" title="{{l('Edit')}}" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button *ngIf="isGranted('Pages.Tenant.PhoneBook.EditPerson')" (click)="editPersonModal.show(person.id)" title="{{l('EditPerson')}}" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--pill">
                                    <i class="fa fa-pencil"></i>
                                </button>
                               <button id="deletePerson" (click)="deletePerson(person)" title="{{l('Delete')}}" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill" href="javascript:;">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 m--margin-top-20" *ngIf="person===editingPerson">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:10%"></th>
                                            <th style="width:15%">{{l("Type")}}</th>
                                            <th style="width:75%">{{l("PhoneNumber")}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let phone of person.phones">
                                            <td>
                                                <button (click)="deletePhone(phone, person)" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                            <td>{{getPhoneTypeAsString(phone.type)}}</td>
                                            <td>{{phone.number}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button (click)="savePhone()" class="btn btn-sm btn-success">
                                                    <i class="fa fa-floppy-o"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <select name="Type" [(ngModel)]="newPhone.type"class="form-control">
                                                    <option value="0">{{l("PhoneType_Mobile")}}</option>
                                                    <option value="1">{{l("PhoneType_Home")}}</option>
                                                    <option value="2">{{l("PhoneType_Business")}}</option>
                                                </select>
                                            </td>
                                            <td><input type="text" name="number" [(ngModel)]="newPhone.number" class="form-control" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--  -->
            </div>
        </div>
    </div>
    <!-- <createPersonModal #createPersonModal (modalSave)="getPeople()"></createPersonModal>
    <editPersonModal #editPersonModal (modalSave)="getPeople()"></editPersonModal> -->
</div>