<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>Level Control Table</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="us">
                <div class="form-group row" id="panel">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(177, 219, 245)">
                                    <label for="" class="col-form-label">
                                        <b>ข้อกำหนด</b>
                                    </label>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:left">
                                            </label>
                                            <label class="col-form-label col-lg-4" style="margin-top: 5px;text-align:left">
                                                1.ระดับรองหัวหน้าแผนก
                                            </label>
                                            <div class="col-lg-5" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:left">
                                            </label>
                                            <label class="col-form-label col-lg-4" style="margin-top: 5px;text-align:left">
                                                2.ระดับหัวหน้าแผนก
                                            </label>
                                            <div class="col-lg-5" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:left">
                                            </label>
                                            <label class="col-form-label col-lg-4" style="margin-top: 5px;text-align:left">
                                                3.ระดับผู้ช่วยผู้จัดการฝ่าย
                                            </label>
                                            <div class="col-lg-5" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:left">
                                            </label>
                                            <label class="col-form-label col-lg-4" style="margin-top: 5px;text-align:left">
                                                4.ระดับผู้จัดการฝ่าย
                                            </label>
                                            <div class="col-lg-5" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:left">
                                            </label>
                                            <label class="col-form-label col-lg-4" style="margin-top: 5px;text-align:left">
                                                5.ระดับผู้ช่วยผู้อำนวยการ
                                            </label>
                                            <div class="col-lg-5" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:left">
                                            </label>
                                            <label class="col-form-label col-lg-4" style="margin-top: 5px;text-align:left">
                                                6.ระดับรองผู้อำนวยการ
                                            </label>
                                            <div class="col-lg-5" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:left">
                                            </label>
                                            <label class="col-form-label col-lg-4" style="margin-top: 5px;text-align:left">
                                                7.ระดับผู้อำนวยการ
                                            </label>
                                            <div class="col-lg-5" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer col-md-12 ">
                <div class="col-md-12 ">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save ")}}</button>

                </div>
            </div>
        </div>
    </div>