<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Training History")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                   
                <div class="form-group row">
                    <div style="margin-top:15px;margin-left: 5px">
                        <h6>{{l("Employee Code")}}</h6>
                    </div>
                    <div class="col-sm-3">
                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)" class="form-control text-center m-input m-input--air"
                            onkeyup="chkstr(this,this.value)" name="empcode" [(ngModel)]="empcode">
                    </div>
                    <div class="col-sm-5">
                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)" class="form-control text-center m-input m-input--air"
                            name="empname" [(ngModel)]="empname">
                    </div>
                 
                    <div class="col-sm-2 text-right" hidden>
                        <button class="btn btn-info" (click)="emptrainingadd.show()">
                            <i class="fa fa-plus"></i> {{l("Add")}}</button>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="form-group row">
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="coursedetail" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                            (onContentReady)="onContentReady($event)" (onSelectionChanged)="funti($event)" 
                             keyExpr="id">
              
                          
                            <dxo-editing mode="row">
                            </dxo-editing>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>

                            <!-- <dxi-column dataField="hdtyp" caption="Type Of Holiday" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="hdyear" caption="Holiday Year"  [allowEditing]="false"></dxi-column> -->
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                                [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>
                            <dxi-column dataField="hsrfmd" caption="Training Date" [customizeText]="fnddmmyyyygrid"
                                [fixed]="true" fixedPosition="left"></dxi-column>
                            <dxi-column dataField="hsrcsu" caption="Course" [fixed]="true" fixedPosition="left">
                            </dxi-column>
                            <!-- <dxi-column dataField="hsrcsu" caption="Course Description" [fixed]="true"
                                fixedPosition="left">
                                <dxo-lookup [dataSource]="Course" displayExpr="planam" valueExpr="planam"></dxo-lookup>
                            </dxi-column> -->
                            <dxi-column dataField="hsrfmt" caption="From Time" [fixed]="true" fixedPosition="left">
                            </dxi-column>
                            <dxi-column dataField="hsrtot" caption="To Time" [fixed]="true" fixedPosition="left">
                            </dxi-column>
                            <dxi-column dataField="hsrndy" caption="Hrs." [fixed]="true" fixedPosition="left">
                            </dxi-column>
                            <dxi-column dataField="hsrfmd" caption="From Date" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="hsrtod" caption="To Date" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="hsradd" caption="Institue"></dxi-column>
                            <dxi-column dataField="hsrfee" caption="Cost"></dxi-column>

                            <dxi-column dataField="hsrpsf" caption="สถานะผลการสอบ" [fixed]="true" fixedPosition="right"></dxi-column>


                            <div *dxTemplate="let data of 'cellTemplate'">
                                <a href="javascript:;" style="color:#3399FF	" class=""
                                    (click)="emptrainingedit.show(data.data.hsreid,data.data.hsrcsu)">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <emptrainingadd #emptrainingadd (modalSave)="ngOnInit()"></emptrainingadd>
    <emptrainingedit #emptrainingedit (modalSave)="ngOnInit()"></emptrainingedit>

</div>