<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Employee Certificate")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    id="eidfm" #eidfm />
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="empmasterlist.show('1')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    id="eidto" #eidto value="ALL"/>
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="empmasterlist.show('2')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ตำแหน่งงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #empposf id="empposf">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of dbmtab" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> 
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #emppost id="emppost">
                                <option  value="ZZZZ">ALL</option>
                                <option *ngFor="let item of dbmtab" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #depf id="depf">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #dept id="dept">
                                <option  value="ZZZZ">ALL</option>
                                <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ฝ่าย
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #divsfm id="divsfm">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #divsto id="divsto">
                                <option  value="ZZZZ">ALL</option>
                                <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            วันที่
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" id="datf" #datf/>
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" id="datt" #datt/>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ประเภทรายงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a">
                                <option value="1" id="typrep" #typrep>ALL</option>
                            </select>
                        </div>
                        <div class="col-lg-6" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-6" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="chkex" id="chkex" #chkex [(ngModel)]="typ1">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-8" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <!-- <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"  (click)="setpositionbycer.show()">
                                {{l("กำหนดตำแหน่งที่ต้องมีใบประกอบวิชาชีพ")}}</button> -->
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(eidfm.value,eidto.value,empposf.value,emppost.value,depf.value,dept.value,divsfm.value,divsto.value,datf.value,datt.value,typrep.value,chkex.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <empmasterlist #empmasterlist (modalSave)="ngOnInit()"></empmasterlist>
    <!-- <setpositionbycer #setpositionbycer (modalSave)="ngOnInit()"></setpositionbycer> -->

</div>
