<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Attendance History</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-form-label" style="text-align:right;margin-left: 10px">
                        {{l("Year")}}
                    </label>
                    <div class="col-lg-1">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air"
                            onkeyup="chkstr(this,this.value)" data-date-format="yyyy"
                            data-date-min-view-mode="years" data-date-start-view="years"
                            data-provide="datepicker" data-date-language="th-th" name="playea" id="playea"
                           />
                    </div>
                    <label class="col-form-label" style="text-align:right">
                        {{l("Emp.ID.")}}
                    </label>
                    <div class="col-lg-5 row">
                        
                        <div class="col-lg-5">
                                <input class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-7">
                        <input class="form-control text-center m-input m-input--air" disabled />
                    </div>
                </div>
                    <label class="col-form-label" style="text-align:right">
                        {{l("Att.Prd.Type")}}
                    </label>
                    <div class="col-lg-3">
                        <select class="form-control m-input m-input--square">
                            <option hidden>กรุณาเลือกข้อมูล</option>

                        </select>
                    </div>

                    <div class="col-lg-1">
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal ">
                            <i class="fa fa-save"></i> {{l("Apply")}}</button>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]=""
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget">



                            <dxi-column caption="Year"></dxi-column>
                            <dxi-column caption="Period"></dxi-column>
                            <dxi-column caption="From Date"></dxi-column>
                            <dxi-column caption="To Date"></dxi-column>
                            <dxi-column caption="No.of Working Day"></dxi-column>
                            <dxi-column caption="No.of Holiday"></dxi-column>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>

                </div>
            </div>

        </div>
    </div>


</div>



<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
    <div class="modal-content">

      <div class="modal-header" style="height:60px;background-color:#66CCFF">
        <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Attendance History</h5>
        <button type="button" (click)="close2()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group row">
          
        </div>
      </div>

      <div class="modal-footer ">
        <div class="">

          <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
            (click)="close2()">
            <i class="la la-close"></i> {{l("Close")}}</button>
          <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="save()">
            <i class="fa fa-save"></i> {{l("Save")}}</button>
          <!-- <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
            กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label> -->

        </div>
      </div>

    </div>
  </div>
</div>

