<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Budget Information Entry")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="md" (click)="fnnum1()">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Company Code")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <select class="form-control m-input m-input--square " style="width:100%" name="budcod" [(ngModel)]="TRBUD00.budcod">
                                    <option value="" hidden>กรุณาเลือกข้อมูล</option>
                                    <option value="001" >โรงพยาบาลมหาวิทยาลัยเทคโนโลยีสุรนารี</option>
                                </select>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <!-- <input autocomplete="off"   class="form-control text-center m-input m-input--air" disabled/> -->
                            </div>
                        </div>
                        <!-- <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Name")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                             
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        </div> -->
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right" >
                                {{l("Year")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th" name="budyea" [(ngModel)]="TRBUD00.budyea" #budyea id="budyear2"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Budget")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <div class="input-group">
                                    
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" onclick="this.select()"  type="text" name="budamt" id="budamt1" [(ngModel)]="TRBUD00.budamt" #budamt (click)="budamt.select()"  (keyup) ="Chke()" />
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button" (click)="show2(budyea.value)" [disabled]=" Chk == 0 "><i
                                                class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:left">
                                {{l("ตั้งงบประมาณฝึกอบรมตามฝ่าย")}}
                            </label>
                            <div class="col-lg-2" style="margin-top: 5px">
                                    <!-- <input autocomplete="off"   class="form-control text-center m-input m-input--air decimal" type="text"  name="tast" /> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-window-close"></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-danger pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="clear1() ">
                            <i class="fa fa-redo"></i> {{l("Clear ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="SaveH(budyea.value) " >
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("ตั้งงบฝึกอบรมตามฝ่าย")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" (click)="fnnum()">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Company Code")}}
                            </label>

                            
                            <div class="col-lg-5" style="margin-top: 5px">
                                <select class="form-control m-input m-input--square " style="width:100%" name="budcod2" [(ngModel)]="budcod2" disabled>
                                    <option value="" hidden>กรุณาเลือกข้อมูล</option>
                                    <option value="001" >โรงพยาบาลมหาวิทยาลัยเทคโนโลยีสุรนารี</option>
                                </select>
                                <!-- <input autocomplete="off"   class="form-control text-center m-input m-input--air"  name="budcod2" [(ngModel)]="budcod2"   /> -->
                            </div>
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("Year")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="budyea2" [(ngModel)]="budyea2"   data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th"  #sbyear disabled/>
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Department")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                
                                <select
                                class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                name="" style="width:100%" #dips >
                                <option *ngFor="let item of dbmtab" value={{item.tabtB2}}>
                                    {{item.tabdsc}}
                                </option>
                            </select>
                            </div>
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("Faction")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                
                                <select
                                class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                name=""  style="width:100%"  #dips2>
                                <option *ngFor="let item of dbmtab2" value={{item.tabtB2}}>
                                    {{item.tabdsc}}
                                </option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("งบประมาณ")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="amt" id="amt" [(ngModel)]="amt" onkeyup="chknum(this,this.value)"  #amt22  (click)="amt22.select()" (keyup)="kuacc(amt22.value)" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("งบประมาณคงเหลือ")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="budamt2" id="budamt2"  [(setnumber)]="budamt2" [(ngModel)]="budamt2"  disabled/>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">

                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                        {{l("ประเภทงบ")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        
                                        <select
                                        class="form-control m-input m-input--air  m-input m-input--square "
                                        name=""  #typeP >
                                        <option  value="IN">
                                            ภายใน
                                        </option>
                                        <option  value="OUT">
                                            ภายนอก
                                        </option>
                                    </select>
                                    </div>


                                    <!-- <div class="col-lg-9" style="margin-top: 5px">
                                        <div class="form-group">
                                            <label>{{l("งบแบบ")}}</label>
                                            <div class="m-radio-inline" #sbtype>
                                                <label class="m-radio">
                                                    <input autocomplete="off"   type="radio" name="type" checked="checked" id="typ0" value="IN" > ภายใน
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input autocomplete="off"   type="radio" name="type" value="OUT" id="typ0" > ภายนอก
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div> -->



                                    <div class="col-lg-7" style="margin-top: 5px">
                                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"
                                            style="margin-right: 5px"
                                            (click)="Add2(dips.value,dips2.value,typeP.value)">
                                            <i class="fa fa-plus-square"></i>Add</button>
                                    </div>
                        </div>
                    </div>
                    <hr style=" border: 1px dashed  #BEBEBE;">

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                        [dataSource]="CreateTRBUD01Input" [errorRowEnabled]="false" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        (onContentReady)="onContentReady($event)" (onSelectionChanged)="funti($event)" 
                        (onRowRemoving)="Deletes22($event)">
                        
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always" >
                        </dxo-scrolling>

                        <dxo-editing mode="row" [allowDeleting]="true" [useIcons]="true">
                        </dxo-editing>
                        <dxi-column dataField="budyea" [customizeText]="fnyyyy543grid" caption="ปี" >
                        </dxi-column>
                        <dxi-column dataField="buddep" caption="ฝ่าย">
                            <dxo-lookup [dataSource]="dbmtab" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="budamt" caption="งบประมาณ"></dxi-column>
                        <dxi-column dataField="budtyp" caption="ประเภท">
                             <dxo-lookup [dataSource]="budtyp.data" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                    </dx-data-grid>
                </div>
                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close2() ">
                            <i class="fa fa-window-close"></i> {{l("Close ")}}</button>
                        <!-- <button type="button " class="btn btn-danger pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="clear2() ">
                            <i class="fa fa-redo"></i> {{l("Clear ")}}</button> -->
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="SaveH(budyea.value) ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>