<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Employee Registration Report")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Employee Type
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #emptype1 id="emptype1">
                                <option *ngFor="let item of emptype" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                            (M:Month , D:Day , B:Both)
                        </label>
                        <label class="col-form-label col-lg-5 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Section From To
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #secfm id="secfm">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of section" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #secto id="secto">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of section" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Employee Status
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #empsts id="empsts">
                                <option value=" ">ALL</option>
                                <option *ngFor="let item of status" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select> </div>
                        <div class="col-lg-7" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Employee ID From
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" #empreidf
                                id="empreidf" />
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="empmasterlist.show('1')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" #empreidt
                                    id="empreidt" value="ALL"/>
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="empmasterlist.show('2')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Emp Working Date
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" #wdtefm id="wdtefm" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" #wdteto id="wdteto" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Report Type
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a">
                                <option value="1"> ทะเบียนลูกจ้างแบบบริษัท</option>
                            </select>
                        </div>
                        <div class="col-lg-6" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-6" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typedoc" id="typre1" #typ1 value="" (click)="fnexcel()">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(emptype1.value,secfm.value,secto.value,empsts.value,empreidf.value,empreidt.value,wdtefm.value,wdteto.value,typ1.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <!-- <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="download(year.value,dteFm.value,dteTo.value,hsreids1.value,hsreids2.value)">
                            <i class="fa fa-file-excel"></i> {{l("Excel")}}</button> -->
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <empmasterlist #empmasterlist (modalSave)="ngOnInit()"></empmasterlist>
</div>