<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-group">&nbsp;</i>
                    </span>
                    <b>Edit Employee Data Before Transfer to Payroll</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="array_data_complete" [errorRowEnabled]="false"
                    [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                    (onContentReady)="onContentReady($event)" (onSelectionChanged)="funti($event)">
                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                    </dxo-scrolling>

                    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true">
                    </dxo-editing>

                    <dxi-column caption="Employee Info">
                        <dxi-column caption="Date" dataField="Date" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column caption="Shift" dataField="Shift">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column caption="Time Table">
                        <dxi-column caption="In" dataField="In" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column caption="Out" dataField="Out">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column caption="Real Time">
                        <dxi-column caption="From Date" dataField="From_Date" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column caption="In" dataField="Out">
                        </dxi-column>
                        <dxi-column caption="To Date" dataField="To_Date" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column caption="Out" dataField="Out">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column caption="Detail">
                        <dxi-column caption="Type" dataField="Type">
                        </dxi-column>
                        <dxi-column caption="Status" dataField="Status">
                        </dxi-column>
                        <dxi-column caption="Hrs" dataField="Hours">
                        </dxi-column>
                        <dxi-column caption="นอน" dataField="sleep">
                        </dxi-column>
                        <dxi-column caption="Inc" dataField="Inc">
                        </dxi-column>
                        <dxi-column caption="ค่ากะ" dataField="shiftcode">
                        </dxi-column>
                        <dxi-column caption="ผู้ดูแล" dataField="admin">
                        </dxi-column>
                    </dxi-column>
                    <dxo-summary>
                        <dxi-total-item column="Hrs" summaryType="">
                            <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
                        </dxi-total-item>
                        <dxi-total-item column="นอน" summaryType="">
                            <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
                        </dxi-total-item>
                        <dxi-total-item column="Inc" summaryType="">
                            <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
                        </dxi-total-item>
                        <dxi-total-item column="ค่ากะ" summaryType="">
                            <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
                        </dxi-total-item>
                        <dxi-total-item column="ผู้ดูแล" summaryType="">
                            <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
                        </dxi-total-item>
                    </dxo-summary>
                </dx-data-grid>

                <hr style=" border: 1px dashed  #BEBEBE;">

                <div class="form-group row" id="panel">
                    <div class="col-md-12">
                        <label for="" class="col-form-label" style="text-align: center">
                            <b>Summary Information</b>
                        </label>

                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--info m-tabs-line--2x" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1">
                                    สรุปเวลาต่างๆ
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_2">
                                    ค่าตอบแทน
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_3">
                                    การลาต่างๆ
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_4">
                                    หักค่าต่างๆ
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_5">
                                    เบิกค่าพิเศษต่างๆ
                                </a>
                            </li>


                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="m_tabs_1" role="tabpanel">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-5 col-form-label">วันหยุดทั้งหมด</label>
                                            <div class="col-lg-4">
                                                <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                            </div>
                                            <label class="col-lg-1 col-form-label">เวร</label>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-5 col-form-label">รวมเวลาทำงานปกติ</label>
                                            <div class="col-lg-4">
                                                <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                            </div>
                                            <label class="col-lg-1 col-form-label">เวร</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-6 col-form-label">รวมเวลาค่าเวรทั้งหมด</label>
                                            <div class="col-lg-4">
                                                <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                            </div>
                                            <label class="col-lg-1 col-form-label">เวร</label>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-6 col-form-label">รวมเวลาทั้งหมด</label>
                                            <div class="col-lg-4">
                                                <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                            </div>
                                            <label class="col-lg-1 col-form-label">เวร</label>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-6 col-form-label">เวรขาดหลังหักเวร</label>
                                            <div class="col-lg-4">
                                                <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                            </div>
                                            <label class="col-lg-1 col-form-label">เวร</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-6 col-form-label">เวลาทำงานประจำเดือน</label>
                                            <div class="col-lg-4">
                                                <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                            </div>
                                            <label class="col-lg-1 col-form-label">เวร</label>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-6 col-form-label">รวมเวรจริงทั้งหมด</label>
                                            <div class="col-lg-4">
                                                <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                            </div>
                                            <label class="col-lg-1 col-form-label">เวร</label>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-6 col-form-label">ผลต่าง</label>
                                            <div class="col-lg-4">
                                                <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                            </div>
                                            <label class="col-lg-1 col-form-label">เวร</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="m_tabs_2" role="tabpanel">
                            </div>
                            <div class="tab-pane" id="m_tabs_3" role="tabpanel">
                            </div>
                            <div class="tab-pane" id="m_tabs_4" role="tabpanel">
                            </div>
                            <div class="tab-pane" id="m_tabs_5" role="tabpanel">
                            </div>
                        </div>
                    </div>
                </div>




                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>

                    </div>
                </div>
            </div>
        </div>