<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("ประวัติการฝึกอบรมพนักงานรายบุคคล")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company Code
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                value="001" />
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                value="โรงพยาบาลมหาวิทยาลัยเทคโนโลยีสุรนารี" disabled />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Year
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th" #year />
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onclick="this.select()" (keyup.enter)="chgindex('btnss')" #hsreids1 id="hsreids1"
                                    (keyup)="kuacc(hsreids.value)" />
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="emplist.show('1')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onclick="this.select()" (keyup.enter)="chgindex('btnss')" #hsreids2 id="hsreids2"
                                    (keyup)="kuacc(hsreids.value)" value="ALL"/>
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="emplist.show('2')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                     
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            วันที่
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #dteFm
                                placeholder="วว/ดด/ปปปป">
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #dteTo
                                placeholder="วว/ดด/ปปปป">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>

                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(year.value,dteFm.value,dteTo.value,hsreids1.value,hsreids2.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="download(year.value,dteFm.value,dteTo.value,hsreids1.value,hsreids2.value)">
                            <i class="fa fa-file-excel"></i> {{l("Excel")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <emplist #emplist (modalSave)="ngOnInit()"></emplist>
</div>