<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานค่าใช้จ่ายฝึกอบรม")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <ul class="nav nav-tabs m-tabs-line m-tabs-line--secndary m-tabs-line--2x" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1">
                                ค่าใช้จ่ายฝึกอบรม
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_2">
                                ค่าใช้จ่ายฝึกอบรมภายใน
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_1" role="tabpanel">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                    ปี
                                </label>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" data-date-format="yyyy"
                                        data-date-min-view-mode="years" data-date-start-view="years"
                                        data-provide="datepicker" data-date-language="th-th" />
                                </div>
                                <label class="col-form-label col-lg-6 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <div class="col-lg-3" style="margin-top: 8px">
                                    <div class="form-group">
                                        <div class="m-radio-list">
                                            <label class="m-radio">
                                                <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="radio"
                                                    name="typedoc" id="typ1" value="1" checked
                                                    (click)="ditell()">ตามหน่วย
                                                <span></span>
                                            </label>
                                            <label class="m-radio">
                                                <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="radio"
                                                    name="typedoc" id="typ1" value="1" checked
                                                    (click)="ditell()">ตามฝ่าย
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-form-label col-lg-5 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <div class="col-lg-3" style="margin-top: 8px">
                                    <div class="form-group">
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input autocomplete="off"   onkeyup="chkstr(this,this.value)"  
                                                    type="checkbox" name="typedoc" id="typ1" value="1" checked
                                                    (click)="ditell()">Excel
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_2" role="tabpanel">
                            <label class="col-form-label col-lg-5 col-sm-12" style="margin-top: 5px;text-align:right">
                                ข้อมูลเริ่มเติม
                            </label>
                            <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                                ข้อมูลสุดท้าย
                            </label>
                            <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            </label>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                    ฝ่าย
                                </label>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                                </div>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                    แผนก
                                </label>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                                </div>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                    รหัสพนักงาน
                                </label>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                                </div>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                    หลักสูตร
                                </label>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                                </div>
                                <label class="col-form-label col-lg-6 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                    วันที่ฝึกอบรม
                                </label>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                        onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                        data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                        onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th"
                                        data-date-format="dd/mm/yyyy" class=" form-control m-input m-input--air" #d2as>
                                </div>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                    ประเภทการฝึกอบรม
                                </label>
                                <div class="col-lg-4" style="margin-top: 5px">
                                    <select
                                        class="form-control m-input m-input--air  m-input m-input--square m_select2_1a">
                                        <option value="0">ACT</option>
                                        <option value="1">CNEU</option>
                                        <option value="2">INH</option>
                                    </select> </div>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <label class="col-form-label col-lg-4 col-sm-12"
                                    style="margin-top: 5px;text-align:right">
                                </label>
                                <div class="col-lg-3" style="margin-top: 8px">
                                    <div class="form-group">
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input autocomplete="off"   onkeyup="chkstr(this,this.value)"  
                                                    type="checkbox" name="typedoc" id="typ1" value="1" checked
                                                    (click)="ditell()">Excel
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                        <button type="submit " class="btn btn-secondary text-center" style="margin-right: 5px"
                            (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>