<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Training History")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <div class="col-md-12  form-group m-form__group row">
                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                        {{l("หลักสูตร")}}
                    </label>

                    <div class="col-lg-5" style="margin-top: 5px">
                        <input class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                            style="width:100%" #expper22 name="expper22" id="expper22"  disabled />

                    </div>

                    <div class="col-lg-2" style="margin-top: 5px">
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="savetrue(data_select2.value) ">
                            <i class="fa fa-save"></i> {{l("ผ่าน")}}</button>
                    </div>
                    <div class="col-lg-2" style="margin-top: 5px" >
                        <button type="button " class="btn btn-success pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="send(data_select2.value) " [disabled]="chk_out == 0">
                            <i class="fa fa-check-circle"></i> {{l("ส่งรายงานแล้ว")}}</button>
                    </div>
                    <div class="col-lg-2">
                    </div>
                    <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                        {{l("วันที่เริ่ม")}}
                    </label>
                    <div class="col-lg-2" style="margin-top: 15px">
                        <input autocomplete="off" class="form-control text-center m-input m-input--air" #date1
                            name="date1" id="date1" disabled />
                    </div>
                    <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                        {{l("เวลา")}}
                    </label>
                    <div class="col-lg-2" style="margin-top: 15px">
                        <input autocomplete="off" class="form-control text-center m-input m-input--air" #tami1
                            name="tami1" id="tami1" disabled />
                    </div>

                    <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                        {{l("ถึงวันที่")}}
                    </label>
                    <div class="col-lg-2" style="margin-top: 15px">
                        <input autocomplete="off" class="form-control text-center m-input m-input--air" #date2
                            name="date2" id="date2" disabled />
                    </div>
                    <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                        {{l("เวลา")}}
                    </label>
                    <div class="col-lg-2" style="margin-top: 15px">
                        <input autocomplete="off" class="form-control text-center m-input m-input--air" #tami2
                            name="tami2" id="tami2" disabled />
                    </div>



                </div>
                <div class="col-md-12 ">

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGridempsE
                        [dataSource]="CreateCourseDetailInputData" [errorRowEnabled]="false"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                        columnResizingMode="widget" (onContentReady)="onContentReady($event)"
                        [(selectedRowKeys)]="selectedRows" keyExpr="hsreid">
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>
                        <dxo-selection mode="multiple">
                        </dxo-selection>

                        <dxi-column dataField="hsrcsu" caption="หลักสูตร"></dxi-column>
                        <dxi-column dataField="hsreid" caption="รหัสพนักงาน"></dxi-column>
                        <dxi-column dataField="hrsunam" caption="ชื่อ - นามสกุล">
                            <!-- <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn">
                            </dxo-lookup> -->
                        </dxi-column>
                        <dxi-column dataField="hsrfmd" caption="วันที่เริ่ม" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column dataField="hsrfmt" caption="เวลา"></dxi-column>
                        <dxi-column dataField="hsrtod" caption="ถึงวันที่" [customizeText]="fnddmmyyyygrid">
                        </dxi-column>
                        <dxi-column dataField="hsrtot" caption="เวลา"></dxi-column>
                        <dxi-column dataField="hsrpsf" caption="สถานะการอบรม"></dxi-column>
                        <dxi-column dataField="hrssnw" caption="สถานะการส่งรายงาน"></dxi-column>
                        <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                            [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>


                        <div class="selected-data">
                            <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                value="{{targetDataGridempsE.selectedRowKeys}}" hidden #data_select2>
                        </div>


                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:;" style="color:#3399FF	" class=""
                                (click)="emptrainingedit.show(data.data.hsreid,data.data.hsrcsu)">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>

                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
    <emptrainingedit #emptrainingedit (modalSave)="gatdata()"></emptrainingedit>
</div>