<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">ประวัติการผ่านงาน</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- <div class=" col-md-12 ">
                <div class="col-md-12 ">
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="show2() ">
                        <i class="fa fa-save"></i> {{l("Add")}}</button>
                </div>
            </div> -->
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="WorkingExperienceListDto"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget" (onRowRemoved)="removed($event)">
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                              [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>
              
                            <dxo-paging [pageSize]="5"></dxo-paging>

                            <dxi-column dataField="wrkseq" caption="Items"></dxi-column>
                            <dxi-column dataField="wrkdte" [customizeText]="fnddmmyyyygrid" caption="่Jointed Date"></dxi-column>
                            <dxi-column dataField="wrkled" [customizeText]="fnddmmyyyygrid" caption="Resigned Date"></dxi-column>
                            <dxi-column dataField="wrkcom" caption="Company"></dxi-column>
                            <dxi-column dataField="wrkpos" caption="Position"></dxi-column>
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
            
            
                          <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:;" class="" (click)="showedit(data)">
                              <i class="fa fa-search-plus"></i>
                            </a>
                          </div>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close()">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="show2() ">
                            <i class="fa fa-save"></i> {{l("Add")}}</button> -->
                </div>
            </div>

        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("เพิ่มประวัติการผ่านงาน")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Items")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="WorkingExperienceObj.wrkseq" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Jointed Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-center" name="pladteto" placeholder="วว/ดด/ปปปป" [(ngModel)]="WorkingExperienceObj.wrkdte"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" id="wrkdte">
                            </div>

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Resigned Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-center" name="pladteto" placeholder="วว/ดด/ปปปป" [(ngModel)]="WorkingExperienceObj.wrkled"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" id="wrkled">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Company")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="WorkingExperienceObj.wrkcom"/>
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Position")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="WorkingExperienceObj.wrkpos"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Department")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="WorkingExperienceObj.wrkloc"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Salary")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" id="wrksal" (change)="fnnum()" [(ngModel)]="WorkingExperienceObj.wrksal"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Remark")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="WorkingExperienceObj.wrkrmk"/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close2() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="saveData() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>


        </div>
    </div>
</div>