<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-11 row">
                <h6 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Finger Scan")}}</span>
                </h6>
                <div style="margin-top:15px">
                    <font size="2" style="text-align:right">{{l("Date")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air"
                        id="date1" data-date-format="dd/mm/yyyy" data-provide="datepicker" data-date-language="th-th">
                </div>
                <div style="margin-top:15px">
                    <font size="2" style="text-align:right">{{l("To")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air"
                        id="date2" data-date-format="dd/mm/yyyy" data-provide="datepicker" data-date-language="th-th">
                </div>
                <div style="margin-top:15px">
                    <font size="2" style="text-align:right">{{l("Department")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air">
                </div>
                <div style="margin-top: 5px">
                    <button class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="col-sm-2 text-right">
                    <button class="btn btn-info " (click)="timerecordadd.show()">
                        <i class="fa fa-plus"></i>{{l("Add")}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("Date Time Info")}} </h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]=" " (onContentReady)="onContentReady($event)"
                    [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">

                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                    </dxo-scrolling>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-export [enabled]="true" fileName="Special Cost Document List" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                        [visible]="true">
                    </dxo-pager>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxi-column dataField="psnidn" caption="Date"> </dxi-column>
                    <dxi-column dataField="psnfnm" caption="Time"></dxi-column>
                    <dxi-column dataField="psnlnm" caption="ID No"></dxi-column>
                    <dxi-column dataField="psndep" caption="Name"> </dxi-column>
                    <dxi-column dataField="psndev" caption="Position"> </dxi-column>
                    <dxi-column dataField="psnpty" caption="Dep Name"> </dxi-column>

                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false" cellTemplate="cellTemplate"
                        caption=""></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" style="color:#3399FF	" class="" (click)="empbftopayrolledit.show()">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <timerecordadd #timerecordadd (modalSave)="ngOnInit()"></timerecordadd>
    <empbftopayrolledit #empbftopayrolledit (modalSave)="ngOnInit()"></empbftopayrolledit>
</div>