<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("รายงานจำนวนผู้ฝึกอบรม")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company Code
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Year
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                            data-provide="datepicker" data-date-language="th-th"/>
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Period
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-3" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-radio-list">
                                    <label class="m-radio" >
                                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="radio" name="typedoc" id="typ1" value="1" checked (click)="ditell()">ยอดรวม
                                        <span></span>
                                    </label>
                                    <label class="m-radio" >
                                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="radio" name="typedoc" id="typ1" value="1" checked (click)="ditell()">รายละเอียด
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                        <button type="submit " class="btn btn-secondary text-center" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>