<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>

                    <b>{{l("Training Detail Entry")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="moda">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Training Date")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป"
                                    name="hsrdte" [(ngModel)]="updateCoursedetail.hsrdte" #dte1 />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Course")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrcsu"
                                    [(ngModel)]="updateCoursedetail.hsrcsu" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrcsuname"
                                    [(ngModel)]="hsrcsuname" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Institute")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrcsu"
                                    [(ngModel)]="updateCoursedetail.hsradd" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("สถานที่")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrloc"
                                    [(ngModel)]="updateCoursedetail.hsrloc" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("ผู้เข้ารับการอบรม")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <select class="form-control m-input m-input--air  m-input m-input--square " name=""
                                    #Trainess [(ngModel)]="updateCoursedetail.hsratt">
                                    <option value="IN">
                                        เข้า
                                    </option>
                                    <option value="NOT IN">
                                        ไม่เข้า
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>

                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--info m-tabs-line--2x" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1">
                                    ผลการสอบครั้งที่ 1
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_2">
                                    ผลการสอบครั้งที่ 2
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_3">
                                    ผลการสอบครั้งที่ 3
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="m_tabs_1" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Passed (Y/N)")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square"
                                            #Passed1 id="Passed1" [(ngModel)]="updateCoursedetail.hsrpsf">
                                            <option value="Y" >ผ่าน</option>
                                            <option value="N" >ไม่ผ่าน</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Max Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrmsc"
                                            [(ngModel)]="updateCoursedetail.hsrmsc" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Actual Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrasc"
                                            [(ngModel)]="updateCoursedetail.hsrasc" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <div class="col-lg-6">
                                        <label for="" class="col-form-label">Remark</label>
                                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                            class="form-control text-center m-input m-input--air" name="getdocdate"
                                            placeholder="" name="hsrremark" [(ngModel)]="updateCoursedetail.hsrremark">
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="m_tabs_2" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Passed (Y/N)")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square"
                                            #Passed2 id="Passed2" [(ngModel)]="updateCoursedetail.hsrpsF2">
                                            <option value="Y" >ผ่าน</option>
                                            <option value="N" >ไม่ผ่าน</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Max Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrmsc2"
                                            [(ngModel)]="updateCoursedetail.hsrmsC2" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Actual Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrasC2"
                                            [(ngModel)]="updateCoursedetail.hsrasC2" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <div class="col-lg-6">
                                        <label for="" class="col-form-label">Remark</label>
                                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                            class="form-control text-center m-input m-input--air" name="getdocdate"
                                            placeholder="" name="hsrremark2" [(ngModel)]="updateCoursedetail.hsrremark2">
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="m_tabs_3" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Passed (Y/N)")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <select
                                            class="form-control m-input m-input--air  m-input m-input--square"
                                            #Passed3 id="Passed3" [(ngModel)]="updateCoursedetail.hsrpsF3">
                                            <option value="Y" >ผ่าน</option>
                                            <option value="N" >ไม่ผ่าน</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Max Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrmsc3"
                                            [(ngModel)]="updateCoursedetail.hsrmsC3" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Actual Score")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrasC3"
                                            [(ngModel)]="updateCoursedetail.hsrasC3" />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    </label>
                                    <div class="col-lg-6">
                                        <label for="" class="col-form-label">Remark</label>
                                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                                            class="form-control text-center m-input m-input--air" placeholder=""
                                            name="hsrremark3" [(ngModel)]="updateCoursedetail.hsrremark3">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("From Date")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air"
                                        data-provide="datepicker" data-date-language="th-th"
                                        data-date-format="dd/mm/yyyy" name="hsrfmd" placeholder="วว/ดด/ปปปป"
                                        [(ngModel)]="updateCoursedetail.hsrfmd" #dtefm />
                                </div>
                                <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    {{l("To Date")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air"
                                        data-provide="datepicker" data-date-language="th-th"
                                        data-date-format="dd/mm/yyyy" name="hsrtod" placeholder="วว/ดด/ปปปป"
                                        [(ngModel)]="updateCoursedetail.hsrtod" #dteto />
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("From Time")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrfmt"
                                        [(ngModel)]="updateCoursedetail.hsrfmt" placeholder="0000" />
                                </div>
                                <label class="col-form-label" style="margin-top: 5px;text-align:right">
                                    {{l("(0000)")}}
                                </label>
                                <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                    {{l("To Time")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrtot"
                                        [(ngModel)]="updateCoursedetail.hsrtot" placeholder="0000" />
                                </div>
                                <label class="col-form-label" style="margin-top: 5px;text-align:right">
                                    {{l("(0000)")}}
                                </label>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Estimate Time")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrndy"
                                        [(ngModel)]="updateCoursedetail.hsrndy" />
                                </div>
                                <label class="col-form-label" style="margin-top: 5px;text-align:right">
                                    {{l("Cost Amount")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrfee"
                                        [(ngModel)]="updateCoursedetail.hsrfee" />
                                </div>
                                <div class="col-lg-2" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Certificate Name")}}
                                </label>
                                <div class="col-lg-8" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrcrn"
                                        [(ngModel)]="updateCoursedetail.hsrcrn" />
                                </div>
                                <div class="col-lg-1" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Teacher/Conductor")}}
                                </label>
                                <div class="col-lg-8" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrrmk"
                                        [(ngModel)]="updateCoursedetail.hsrrmk" />
                                </div>
                                <div class="col-lg-1" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Remark")}}
                                </label>
                                <div class="col-lg-8" style="margin-top: 5px">
                                    <input autocomplete="off"   class="form-control text-center m-input m-input--air" name="hsrrmk2"
                                        [(ngModel)]="updateCoursedetail.hsrrmk2" />
                                </div>
                                <div class="col-lg-1" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("สถานะการนำส่งกรมพัฒนาแรงงาน")}}
                                </label>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <select class="form-control m-input m-input--air  m-input m-input--square " name=""
                                        #stsvf [(ngModel)]="updateCoursedetail.hsrvf">
                                        <option value="SEND">
                                            ส่ง
                                        </option>
                                        <option value="NOT SEND">
                                            ไม่ส่ง
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-7" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("สถานะการส่งใบเสร็จ")}}
                                </label>
                                <div class="col-lg-2" style="margin-top: 5px">
                                    <select class="form-control m-input m-input--air  m-input m-input--square " name=""
                                        #stsbill   [(ngModel)]="updateCoursedetail.hsrrec">
                                        <option value="SEND">
                                            ส่ง
                                        </option>
                                        <option value="NOT SEND">
                                            ไม่ส่ง
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-7" style="margin-top: 5px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-danger pull-left " data-dismiss="modal "
                            style="margin-right: 5px" (click)="Delete() ">
                            <i class="fa fa-trash-alt"></i> {{l("Delete")}}</button>
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-window-close"></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px"
                            (click)="save(dte1.value,dteto.value,dtefm.value,Trainess.value,Passed1.value,Passed2.value,Passed3.value,stsvf.value,stsbill.value) ">
                            <i class="fa fa-save"></i> {{l("SaveChange")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>