<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0099FF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-bars">&nbsp;</i>
                    </span>
                    <b> บันทึกการแลกเวร / ขายเวร </b>
                </h5>
                <div class="col-md-2 " style="margin-top :-5px">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdoc" placeholder="" disabled>
                    <span style="color:white">สถานะ</span>
                </div>
            </div>

            <div class="modal-body" id="us">

                <div class="form-group row" id="md">
                    <div class="col-md-8">
                        <label for="" class="col-form-label"><b>Data Entity</b></label>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">ขอเปลี่ยนเวรวันที่</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center" name="browubgdoc"
                                    placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุขอเปลี่ยนเวรที่ 
                                </span> 
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">รหัสแผนก</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="browdate" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุรหัสแผนก
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">ชื่อแผนก</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="browdate" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ชื้อแผนก
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label" style="color:blue">รหัสกะ</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุรหัสกะ
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">เวลา</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    เวลาที่เลือกจากรหัสกะ
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label" style="color:blue">ช่อง</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุช่อง
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">รหัสกะ(ใหม่)</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุรหัสกะ(ใหม่)
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">เวลา</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    เวลาที่เลือกจากรหัสกะ(ใหม่)
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">ช่อง(Workplan)</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุช่อง(Workplan)
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3">
                                <label for="" class="col-form-label">พนักงานที่แลกเวร</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุพนักงานที่แลกเวร
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">ชื่อพนักงานที่แลกเวร</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ชื่อพนักงานที่แลกเวรเลือกจากรหัส
                                </span>
                            </div>
                            <div class="col-lg-5">
                                <label for="" class="col-form-label">Position</label>
                                <div class="input-group">
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" type="button">Clear Data</button>
                                    </div>
                                </div>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุ Position
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">ขอเปลี่ยนเวรวันที่</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุวันที่ขอเปลี่ยนเวร
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">รหัสแผนก</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุรหัสแผนก
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">ชื่อแผนก</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ชื่อแผนก
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">รหัสกะ</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุรหัสกะ
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">เวลา</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    เวลาที่เลือกจากรหัสกะ
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">ช่อง</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุช่อง
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label" style="color:blue">รหัสกะ(ใหม่)</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุรหัสกะ(ใหม่)
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">เวลา</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    เวลาที่เลือกจากรหัสกะ(ใหม่)
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label" style="color:blue">ช่อง(Workplan)</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุช่อง(Workplan)
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="margin-top:15px">
                        <label for="" class="col-form-label"><b>ใบขอเปลี่ยนเวร</b></label>
                        <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(215, 239, 255)"
                            id="ai">
                            <div class="col-lg-12" style="margin-top:30px">
                                <label for="" class=" col-form-label">Effective Date</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control  text-center" name="browname"
                                    placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุ Effective Date
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">Doc Type</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="browpos" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุ Doc Type
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">Document No.</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="browtelno" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุ Document No.
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">Employee Code</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="browtelno" placeholder="">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุ Employee Code
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">Employee Name</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="browtelno" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    Employee Name
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <label for="" class=" col-form-label">Position</label>
                                <textarea type="text" class="form-control text-center" name="browtelno" placeholder=""
                                    disabled></textarea>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุ Position
                                </span>
                            </div>
                            <br><br><br><br><br><br><br><br><br>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-12">
                                <label for="" class="col-form-label">หมายเหตุ</label>
                                <textarea type="text" class="form-control text-center" placeholder=""></textarea>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุหมายเหตุ
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr style=" border: 1px dotted #BEBEBE;">
                    <div class="col-md-12 row" style="margin-top:25px">
                        <div class="col-md-3">
                            <div class="col-md-12" style="margin-top:-20px">
                                <div class="form-group row alert m-alert m-alert" style="border-color:#0099FF;border-style:solid;border-width: 5px;border-radius: 10px">
                                    <div class="col-lg-12">
                                        <label for="" class=" col-form-label">ผู้ยินยอม</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname"
                                            placeholder="" disabled>
                                    </div>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12" style="margin-top:-20px">
                                <div class="form-group row alert m-alert m-alert" style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                    <div class="col-lg-12">
                                        <label for="" class=" col-form-label">หัวหน้า</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname"
                                            placeholder="" disabled>
                                    </div>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12" style="margin-top:-20px">
                                <div class="form-group row alert m-alert m-alert" style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                    <div class="col-lg-12">
                                        <label for="" class=" col-form-label">ผู้จัดการ</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname"
                                            placeholder="" disabled>
                                    </div>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12" style="margin-top:-20px">
                                <div class="form-group row alert m-alert m-alert" style="border-color:#0099FF;border-style: solid;border-width: 5px;border-radius: 10px">
                                    <div class="col-lg-12">
                                        <label for="" class=" col-form-label">แผนกบุคคล</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browname"
                                            placeholder="" disabled>
                                    </div>
                                    <br><br><br><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center ">
                        <div class="col-md-12 ">
                            <button type="button " class="btn btn-info  " data-dismiss="modal " style="margin-right: 5px">
                                <i class="fa fa-user"></i> {{l("Approve ")}}</button>
                            <button type="button " class="btn btn-secondary  " data-dismiss="modal " style="margin-right: 5px"
                                (click)="close() ">
                                <i class="fa fa-close "></i> {{l("Cancle Approve ")}}</button>
                            <button type="button " class="btn btn-danger  " data-dismiss="modal " style="margin-right: 5px"
                                (click)="close() ">
                                <i class="fa fa-user-times "></i> {{l("Disapproved ")}}</button>
                        </div>
                    </div>
                    <hr style=" border: 1px dotted #BEBEBE;">
                    <div class="col-md-12 row" style="margin-top:25px">
                        <div class="col-md-6">
                            <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGrid [dataSource]="Array_detail" [errorRowEnabled]="false"
                            [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                            </dxo-scrolling>
                  
                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxi-column dataField="budgetCodeDesc" caption="Doc No." [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="แผนก" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="เวรวันที่"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="ช่อง"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="รหัสกะ"></dxi-column>
                        </dx-data-grid>
                        </div>
                        <div class="col-md-6">
                            <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGrid [dataSource]="Array_detail" [errorRowEnabled]="false"
                            [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                            </dxo-scrolling>
                  
                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxi-column dataField="budgetCodeDesc" caption="Doc No." [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="แผนก" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="เวรวันที่"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="ช่อง"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="รหัสกะ"></dxi-column>
                        </dx-data-grid>
                        </div>

                        <div class="col-md-12">
                            <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGrid [dataSource]="Array_detail" [errorRowEnabled]="false"
                            [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                            </dxo-scrolling>
                  
                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxi-column dataField="budgetCodeDesc" caption="Emp ID." [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="ชื่อ-นามสกุล" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="วันที่"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="แผนก"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="รหัสกะ"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="ช่อง"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="รหัส(ใหม่)"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="ช่อง"></dxi-column>
                            <dxi-column dataField="budegetTypeDesc" caption="หมายเหตุ"></dxi-column>
                        </dx-data-grid>
                        </div>
                    </div>
                   


                </div>



                <div class="modal-footer col-md-12 ">

                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
                            (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px">
                            <i class="fa fa-save"></i> {{l("Save ")}}</button>
                    </div>
                </div>


            </div>