<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}" style="overflow-y:auto;">
  <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
    <div class="modal-content">

      <div class="modal-header" style="background-color:#58A3DC">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b>{{("Add Tax Rate Setting")}}</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>

      <div class="modal-body" id="us">
        <div class="form-group row" id="md">

          <div class="col-md-12">
            <div class="form-group m-form__group row">
              <div class="col-lg-3">
                <label for="" class="col-form-label">Item</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  Item
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">Amount From</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-right"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  Amount From
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">Amount To</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-right"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  Amount To
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">Tax Rate</label>
                <div class="input-group">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                    class="form-control text-right" name="" placeholder="">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                  </div>
                </div>
                <span class="m-form__help" style="color:#BEBEBE">
                  Tax Rate
                </span>
              </div>
            </div>
          </div>
          <dx-data-grid id="gridContainer" [dataSource]="" [allowColumnReordering]="true" [showBorders]="true">
            <dxi-column dataField="" caption="Item"></dxi-column>
            <dxi-column dataField="" caption="Amount From"></dxi-column>
            <dxi-column dataField="" caption="Amount To"></dxi-column>
            <dxi-column dataField="" caption="Tax Rate"></dxi-column>
            <dxo-sorting></dxo-sorting>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
              [showPageSizeSelector]="true" [visible]="true">
            </dxo-pager>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="" [allowExportSelectedData]="true"></dxo-export>
          </dx-data-grid>

        </div>
      </div>

      <div class="modal-footer col-md-12">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
            (click)="close()">
            <i class="la la-close"></i> {{l("Close")}}</button>
          <button type="submit" class="btn btn-success pull-right"
            style="margin-right: 5px" (click)="save()">
            <i class="fa fa-save"></i> {{l("Save")}}</button>
          <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
            กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label>
        </div>
      </div>

    </div>
  </div>
</div>