<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Telephone</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">



                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("รหัสพนักงาน")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="CreatePhoneNumberInput.dtleid" disabled />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmpName"
                                    disabled  />
                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("ลำดับที่")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="CreatePhoneNumberInput.dtlnum" />
                            </div>


                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("เบอร์โทร")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="CreatePhoneNumberInput.dtlnam" />
                            </div>
                            <!-- <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" disabled />
                            </div> -->

                        </div>


                    </div>
                </div>




                <div class="form-group row">
                    <div class="col-md-12" style="text-align:center">
                        <button type="button " class="btn btn-info" data-dismiss="modal " style="margin-right: 5px"
                            (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                        <button type="button " class="btn btn-secondary" data-dismiss="modal " style="margin-right: 5px"
                            (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>

                    </div>
                </div>




                <div class="form-group">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="phonelist" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                            (onSelectionChanged)="funti($event)" (onContentReady)="onContentReady($event)" (onRowRemoved)="delete($event)">
                            <dxo-selection mode="single">
                            </dxo-selection>
                            <dxo-pager [allowedPageSizes]="[10]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="false" [visible]="true">
                            </dxo-pager>
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-editing mode="row" [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxi-column [width]="100" caption="ลำดับ" dataField="dtlnum"></dxi-column>
                            <!-- <dxi-column caption="ตำแหน่ง"></dxi-column> -->
                            <dxi-column caption="เบอร์โทร" dataField="dtlnam"></dxi-column>


                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>