<div [@routerTransition]>

    <div class="m-subheader">
      <div class="row align-items-center">
        <div class="mr-auto col-auto">
          <h3 class="m-subheader__title m-subheader__title--separator">
            <span>{{("Tax Rate Setting")}}</span>
          </h3>
          <span class="m-section__sub">
  
          </span>
        </div>
        <div class="col text-right mt-3 mt-md-0">
          <button class="btn btn-primary" (click)="addtaxratesetting.show()"><i class="fa fa-plus"></i>
            {{"เพิ่มรายการ"}}</button>
        </div>
      </div>
    </div>
  
    <div class="m-content">
      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
          <h3>{{("รายการ")}} (0)</h3>
          <dx-data-grid id="gridContainer" [dataSource]="" [allowColumnReordering]="true" [showBorders]="true">
            <dxi-column dataField="" caption="Item"></dxi-column>
            <dxi-column dataField="" caption="Amount From"></dxi-column>
            <dxi-column dataField="" caption="Amount To"></dxi-column>
            <dxi-column dataField="" caption="Tax Rate"></dxi-column>
            <dxo-sorting></dxo-sorting>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
              [showPageSizeSelector]="true" [visible]="true">
            </dxo-pager>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="" [allowExportSelectedData]="true"></dxo-export>
          </dx-data-grid>
        </div>
      </div>
    </div>
  
  <app-add-tax-rate-setting #addtaxratesetting></app-add-tax-rate-setting>
  <app-edit-tax-rate-setting #edittaxratesetting></app-edit-tax-rate-setting>
  
  </div>