<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Recruitment")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ฝ่าย
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #DIV1 id="DIV1">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #DIV2 id="DIV2">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #DEP1 id="DEP1">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #DEP2 id="DEP2">
                                <option value="ZZZZ">ALL</option>
                                <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ณ วันที่
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" id="dte" #dte/>
                        </div>
                        <div class="col-lg-6" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-6" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typedoc" [(ngModel)]="typ1s" id="typ1" value="true" #typ1>Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(DIV1.value,DIV2.value,DEP1.value,DEP2.value,dte.value,typ1.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <!-- <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="download(year.value,dteFm.value,dteTo.value,hsreids1.value,hsreids2.value)">
                            <i class="fa fa-file-excel"></i> {{l("Excel")}}</button> -->
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>