<div [@routerTransition]>

  <div class="m-subheader">
    <div class="row align-items-center">
      <div class="mr-auto col-sm-9 row" style="margin-left:10px;">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{("Summary Income and Reduce by Year")}}</span>
        </h3>
        <span class="m-section__sub">

        </span>
        <div style="margin-top:15px">
          <h6>{{("รหัสพนักงาน")}}</h6>
        </div>
        <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
            onkeydown="chkstr2(this)" class="form-control text-center" placeholder=""></div>
        <div class="col-lg-2"><button class="btn btn-info"><i class="fa fa-search"></i> {{("ค้นหา")}}</button></div>
      </div>
      <div class="col text-right mt-3 mt-md-0">
        <button class="btn btn-primary" (click)="addsummaryincomeandreducebyyear.show()"><i class="fa fa-plus"></i>
          {{"เพิ่มรายการ"}}</button>
      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <h3>{{("รายการ")}} (0)</h3>
        <dx-data-grid id="gridContainer" [dataSource]="" [allowColumnReordering]="true" [showBorders]="true">
          <dxi-column dataField="" caption="Employee ID."></dxi-column>
          <dxi-column dataField="" caption="Employee Name"></dxi-column>
          <dxi-column dataField="" caption="Year"></dxi-column>
          <dxi-column dataField="" caption="Total Income"></dxi-column>
          <dxi-column dataField="" caption="Status"></dxi-column>
          <dxi-column dataField="" caption="Status Date"></dxi-column>
          <dxi-column dataField="" caption="Num Wrk Day"></dxi-column>
          <dxi-column dataField="" caption="Total Deduct"></dxi-column>
          <dxi-column dataField="" caption="Net Income" [fixed]="true" fixedPosition="right"></dxi-column>
          <dxo-sorting></dxo-sorting>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
            [showPageSizeSelector]="true" [visible]="true">
          </dxo-pager>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
          <dxo-export [enabled]="true" fileName="" [allowExportSelectedData]="true"></dxo-export>
        </dx-data-grid>
      </div>
    </div>
  </div>

  <app-add-summary-income-and-reduce-by-year #addsummaryincomeandreducebyyear>
  </app-add-summary-income-and-reduce-by-year>
  <app-edit-summary-income-and-reduce-by-year #editsummaryincomeandreducebyyear>
  </app-edit-summary-income-and-reduce-by-year>
</div>