<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog"
    aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">ข้อมูลผู้ค้ำประกัน</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group row">
                            <div class="col-md-12">
                                <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                                    <i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="EmployeeGuarantorObject"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget" (onRowRemoved)="removed($event)">
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>
                            <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column dataField="gpapid" caption="Personal"></dxi-column>
                            <dxi-column  dataField="gpanam" caption="Guarrantor Name"></dxi-column>
                            
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:;" class="" (click)="showedit(data)">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
                <div class="modal-footer ">
                    <div class="">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="show2() ">
                            <i class="fa fa-save"></i> {{l("Add")}}</button> -->
                    </div>
                </div>
            
        </div>
    </div>


</div>
<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("เพิ่มข้อมูลผู้ค้ำประกัน")}}</b>
                </h5>
                <button type="button" (click)="close4()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Personal ID.")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeGuarantorObject.gpapid"/>
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Guarrantor Name")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeGuarantorObject.gpanam" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Address")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeGuarantorObject.gpaaD1"/>
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                            <div class="col-lg-8" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeGuarantorObject.gpaaD2" />
                            </div>

                        </div>


                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("State/City")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"   [(ngModel)]="EmployeeGuarantorObject.gpasta"/>
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Country")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeGuarantorObject.gpacon" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Zip Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeGuarantorObject.gpazip" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Telephon No.")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeGuarantorObject.gpatel" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                    {{l("Fax No.")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input class="form-control text-center m-input m-input--air"   [(ngModel)]="EmployeeGuarantorObject.gpafax" />
                                </div>
                                <div class="col-lg-6" style="margin-top: 5px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Mobile No.")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeGuarantorObject.gpambl"/>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("Pager No.")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air"   [(ngModel)]="EmployeeGuarantorObject.gpapag" />
                                        </div>
                                        <div class="col-lg-6" style="margin-top: 5px">
                                        </div>
                                    </div>

                            <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("E-Mail Address")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeGuarantorObject.gpaeml" />
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 5px">
                                    </div>
                                </div>
                                
                            <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("URL")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeeGuarantorObject.gpaurl" />
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("Current Company")}}
                                        </label>
                                        <div class="col-lg-4" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air"   [(ngModel)]="EmployeeGuarantorObject.gpacmn"/>
                                        </div>
                                        <div class="col-lg-5" style="margin-top: 5px">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                                {{l("Salary")}}
                                            </label>
                                            <div class="col-lg-3" style="margin-top: 5px">
                                                    <input class="form-control text-center m-input m-input--air"   [(ngModel)]="EmployeeGuarantorObject.gpasal" id="gpasal"  (change)="fnnum()"/>

                                                    <!-- <select  class="form-control m-input m-input--air  m-input m-input--square"  [(ngModel)]="EmployeeGuarantorObject.gpasal">
                                                            <option value="IN">1</option>
                                                        </select> -->
                                            </div>
                
                                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                                {{l("Guarrantor Amount")}}
                                            </label>
                                            <div class="col-lg-3" style="margin-top: 5px">

                                                    <input class="form-control text-center m-input m-input--air"   [(ngModel)]="EmployeeGuarantorObject.gpacrt" id="gpacrt"  (change)="fnnum()"/>
                                                    <!-- <select  class="form-control m-input m-input--air  m-input m-input--square " [(ngModel)]="EmployeeGuarantorObject.gpacrt">
                                                            <option value="IN">1</option>
                                                        </select> -->
                                            </div>
                                        </div>

                    </div>
                </div>



            </div>
                <div class="modal-footer ">
                    <div class="">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close4() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>


            
        </div>
    </div>
</div>