<div [@routerTransition]>
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto col-sm-6">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Printngpm1")}}</span>
                    </h3>
                </div>
                <!-- <div class="col-sm-6 text-right">
                    <button class="btn btn-primary" (click)="createPersonModal.show()"><i class="fa fa-plus"></i> {{l("CreateNewPerson")}}</button>
                </div> -->
            </div>
        </div>
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">            
                    
                </div>
        </div>
    </div>
</div>