<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Table Code Listing+SHIFTCODE")}}</span>
                </h3>
            </div>
            <div class="col-sm-2 text-right">
                <button class="btn btn-info" (click)="tableshiftcodeadd.show()">
                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All ShiftCode")}} </h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="Dbshiftcode" (onContentReady)="onContentReady($event)"
                    [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">

                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                    </dxo-scrolling>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-export [enabled]="true" fileName="ShiftCodeList" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                        [visible]="true">
                    </dxo-pager>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxi-column dataField="tabtB2" caption="Shift Code">
                        <!-- <dxo-lookup [dataSource]="Dbshiftcode" displayExpr="tabtB2" valueExpr="tabtB2"></dxo-lookup> -->
                    </dxi-column>
                    <dxi-column dataField="tabdsc" caption="Description">
                        <!-- <dxo-lookup [dataSource]="Dbshiftcode" displayExpr="tabdsc" valueExpr="tabdsc"></dxo-lookup>  -->
                    </dxi-column>


                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false" cellTemplate="cellTemplate"
                        caption=""></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" style="color:#3399FF	" class="" (click)="tableshiftcodeedit.show()">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <tableshiftcodeadd #tableshiftcodeadd (modalSave)="ngOnInit()"></tableshiftcodeadd>
    <tableshiftcodeedit #tableshiftcodeedit (modalSave)="ngOnInit()"></tableshiftcodeedit>
</div>