<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Training Program Information Entry")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="md" (click)="fnnum()">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("ปี")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 2px">
                                <input autocomplete="off" class="form-control text-center"
                                    onkeyup="chkstr(this,this.value)" data-date-format="yyyy"
                                    (change)="chkvalu(playea.value)" data-date-min-view-mode="years"
                                    data-date-start-view="years" data-provide="datepicker" data-date-language="th-th"
                                    name="playea" id="playea" #playea [(ngModel)]="createcource.playea"
                                    [disabled]="disabInput == 1" />
                            </div>
                            <div hidden id="playearChg" (click)="fnchgyear(playea.value)"></div>
                            <div class="col-lg-8" style="margin-top: 2px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("ประเภท")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 2px">
                                <div class="input-group">
                                    <select
                                        class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                        id="platyp" name="platyp" #platyp [disabled]="disabInput == 1"
                                        [(ngModel)]="createcource.platyp" style="width:80%">
                                        <option *ngFor="let item of TrainingCourse"
                                            [selected]="item.tabtB2 === createcource.platyp" value="{{item.tabtB2}}">
                                            {{item.tabdsc}}
                                        </option>
                                    </select>
                                    <div class="input-group-append" style="margin-left:5px">
                                        <button class="btn btn-info" type="button" (click)="show3('A')">
                                            เพิ่มประเภท</button>
                                    </div>
                                </div>
                                <div hidden id="platypChg" (click)="fnchgtyp(platyp.value)"></div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row" *ngIf="createcource.platyp == 'OUT'">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">

                            </label>
                            <div class="col-lg-8" style="margin-top: 2px">
                                <select class="form-control m-input m-input--air  m-input m-input--square" id="platyps2"
                                    name="platyps2" #platyps2 [disabled]="disabInput == 1"
                                    [(ngModel)]="createcource.plaiou">
                                    <option value="001">
                                        นโยบาย/คำสั่งซื้อ
                                    </option>
                                    <option value="002">
                                        เพิ่มพูนทักษะ/สนใจ
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("รหัส")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 2px">
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                        onkeyup="chkstr(this,this.value)" name="placod"
                                        [(ngModel)]="createcource.placod" disabled>
                                    <div class="input-group-append" style="margin-left:5px" [hidden]="chk_year == 1">
                                        <button class="btn btn-info" type="button" (click)="show6()">
                                            เลือก</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("หลักสูตร")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 2px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onkeyup="chkstr(this,this.value)" name="planam" [(ngModel)]="createcource.planam" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 2px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("ฝ่าย")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 2px">
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    name="pladev" id="pladev" [(ngModel)]="createcource.pladev" style="width:100%">
                                    <option *ngFor="let item of DIVISION"
                                        [selected]="item.tabtB2 === createcource.pladev" value="{{item.tabtB2}}">
                                        {{item.tabdsc}}</option>
                                </select>
                            </div>
                            <!-- <div class="col-lg-5" style="margin-top: 2px">
                                <select class="form-control text-center" name="pladep" id="pladep" disabled>
                                    <option *ngFor="let item of DEPARTMENT"
                                        [selected]="item.tabtB2 === createcource.pladep" value="{{item.tabtB2}}">
                                        {{item.tabdsc}}</option>
                                </select>
                            </div> -->
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("แผนก")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 2px">
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    name="pladep" id="pladep" style="width:100%">
                                    <option *ngFor="let item of DEPARTMENT"
                                        [selected]="item.tabtB2 === createcource.pladep" value="{{item.tabtB2}}">
                                        {{item.tabdsc}}</option>
                                </select>
                            </div>
                            <!-- <div class="col-lg-5" style="margin-top: 2px">
                                <select class="form-control text-center" name="pladep" id="pladep" disabled>
                                    <option *ngFor="let item of DEPARTMENT"
                                        [selected]="item.tabtB2 === createcource.pladep" value="{{item.tabtB2}}">
                                        {{item.tabdsc}}</option>
                                </select>
                            </div> -->
                            <div class="col-lg-1" style="margin-top: 2px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("สถานที่")}}
                            </label>
                            <div class="col-lg-8" style="margin-top: 2px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onkeyup="chkstr(this,this.value)" name="planaM3"
                                    [(ngModel)]="createcource.planaM3" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("รุ่นที่")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 2px">
                                <input autocomplete="off" class="form-control text-center"
                                    onkeyup="chkstr(this,this.value)" name="plaseq" [(ngModel)]="createcource.plaseq" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 2px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("กลุ่มเป้าหมาย")}}
                            </label>
                            <div class="col-lg-7" style="margin-top: 2px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onkeyup="chkstr(this,this.value)" name="platgt" [(ngModel)]="createcource.platgt" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("ผู้รับผิดชอบ")}}
                            </label>
                            <div class="col-lg-7" style="margin-top: 2px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onkeyup="chkstr(this,this.value)" name="placare"
                                    [(ngModel)]="createcource.placare" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("ชื่อวิทยากร")}}
                            </label>
                            <div class="col-lg-7" style="margin-top: 2px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onkeyup="chkstr(this,this.value)" name="planaM4"
                                    [(ngModel)]="createcource.planaM4" />
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                {{l("ประเภทวิทยากร")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 2px">
                                <select class="form-control m-input m-input--air  m-input m-input--square "
                                    name="platyP2" id="platyP2" [(ngModel)]="createcource.platyP2">
                                    <option value="IN">IN-ภายใน</option>
                                    <option value="OUT">OUT-ภายนอก</option>
                                </select>
                            </div>
                            <div class="col-lg-3" style="margin-top: 2px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                            </label>
                            <div class="col-lg-3" style="margin-top: 2px">
                                <button type="button " class="btn btn-info " data-dismiss="modal "
                                    style="margin-right: 5px"
                                    (click)="show2(playea.value,platyp.value,dtefm.value,dteto.value)">
                                    <i class="fa fa-user-friends "></i> {{l("รายชื่อผู้เข้าฝึกอบรม")}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" (click)="fncaltime(dtefm.value,dteto.value)">
                        <label for="" class="col-form-label"><b>วัน เดือน ปี ที่อบรม</b></label>
                        <div class="form-group row alert m-alert m-alert--default" style="background-color:#AED6F1">
                            <div class="col-lg-6">
                                <label for="" class=" col-form-label">ตั้งแต่วันที่</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control text-center " name="pladtefm" placeholder="วว/ดด/ปปปป"
                                    [(ngModel)]="createcource.pladtefm"   data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy" id="datefm" #dtefm>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ตั้งแต่วันที่
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class=" col-form-label">เวลา</label>
                                <input autocomplete="off" onkeyup="chknum(this,this.value)" type="text"
                                    class="form-control  text-center" name="plastrtim" placeholder="0000" maxlength="4"
                                    [(ngModel)]="createcource.plastrtim">
                                <!-- <input autocomplete="off" type="text" class="form-control  text-center" name="plastrtim"
                                    placeholder="0000" id="kt_inputmask_5"> -->
                                <span class="m-form__help" style="color:#BEBEBE">
                                    (0000)
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class=" col-form-label">ถึงวันที่</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control text-center " name="pladteto" placeholder="วว/ดด/ปปปป"
                                    [(ngModel)]="createcource.pladteto" data-provide="datepicker"
                                    data-date-language="th-th" data-date-format="dd/mm/yyyy" id="dateto" #dteto>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ถึงวันที่
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class=" col-form-label">เวลา</label>
                                <input autocomplete="off" onkeyup="chknum(this,this.value)" type="text"
                                    class="form-control  text-center" name="plaendtim" placeholder="0000" maxlength="4"
                                    [(ngModel)]="createcource.plaendtim">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    (0000)
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class=" col-form-label">จำนวนชั่วโมง</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-center" name="plahrs" placeholder=""
                                    [(ngModel)]="createcource.plahrs">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    จำนวนชั่วโมง
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class=" col-form-label">ชั่วโมงพัก</label>
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-center" name="plabrk" placeholder=""
                                    [(ngModel)]="createcource.plabrk" #brkT (keyup)="keybrk(brkT.value)">
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ชั่วโมงพัก
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="" class=" col-form-label">ค่าใช้จ่าย</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <select
                                        class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                        style="width:60%" #expsid name="expsid" id="expsid">
                                        <option *ngFor="let item of TrainingPay" value="{{item.tabtB2}}">
                                            {{item.tabdsc}}</option>
                                    </select>
                                    <div class="input-group-append" style="margin-left:5px">
                                        <button class="btn btn-info" type="button" (click)="show3('B')">
                                            <i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="" class=" col-form-label" style="margin-left:-2px">จำนวนเงิน</label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input autocomplete="off" onkeyup="chkstr(this,this.value)" id="expam" type="text"
                                        class="form-control  text-center" name="expam" placeholder="" #expam>
                                    <div class="input-group-append" style="margin-left:5px">
                                        <button class="btn btn-info" type="button"
                                            (click)="saveAMT(expsid.value,expam.value)">
                                            Save Amount</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="Expense"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget"
                            (onContentReady)="onContentReady($event)">
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                                showScrollbar="always">
                            </dxo-scrolling>

                            <dxo-editing mode="row" [allowDeleting]="true">
                            </dxo-editing>
                            <!-- <dxi-column dataField="hdtyp" caption="Type Of Holiday" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="hdyear" caption="Holiday Year"  [allowEditing]="false"></dxi-column> -->
                            <dxi-column dataField="ExpID" caption="รหัส">
                            </dxi-column>
                            <dxi-column dataField="ExpID" caption="ค่าใช้จ่าย">
                                <dxo-lookup [dataSource]="TrainingPay" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>

                            </dxi-column>
                            <dxi-column dataField="ExpAmt" caption="จำนวนเงิน" format="#,##0.00"></dxi-column>
                            <dxo-summary>
                                <dxi-total-item column="ExpAmt" summaryType="sum" displayFormat="{0}"
                                    [valueFormat]="{ type: 'fixedPoint', precision: 2 }">
                                </dxi-total-item>
                            </dxo-summary>
                        </dx-data-grid>
                        <div class="form-group m-form__group row" style="margin-top:10px">
                            <label for="" class=" col-form-label" style="margin-left:-2px">ค่าใช้จ่ายรวม</label>
                            <div class="col-lg-4">
                                <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                                    class="form-control  text-center" name="plaamt" placeholder="" id="plaamt"
                                    [(ngModel)]="createcource.plaamt" disabled>
                            </div>
                            <label for="" class=" col-form-label" style="margin-left:-2px">บาท</label>
                        </div>
                    </div>
                    <div class="modal-footer col-md-12 ">
                        <div class="col-md-12 ">
                            <button type="button " class="btn btn-secondary pull-left " data-dismiss="modal "
                                style="margin-right: 5px">
                                <i class="fa fa-search"></i> {{l("แสดงรูปภาพหรือ PDF ฝึกอบรม")}}</button>
                            <button type="button " class="btn btn-success pull-left " data-dismiss="modal "
                                style="margin-right: 5px">
                                <i class="fa fa-file-excel"></i> {{l("ใบเบิกสำรองจ่าย")}}</button>
                            <button type="button " class="btn btn-danger pull-left " data-dismiss="modal "
                                style="margin-right: 5px">
                                <i class="fa fa-file-pdf"></i> {{l("ใบเบิกสำรองจ่าย")}}</button>
                            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                                style="margin-right: 5px" (click)="close() ">
                                <i class="fa fa-window-close "></i> {{l("Close")}}</button>
                            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                                style="margin-right: 5px" (click)="clear1() ">
                                <i class="fa fa-redo"></i> {{l("Clear ")}}</button>
                            <button type="button" class="btn btn-info pull-right " data-dismiss="modal "
                                style="margin-right: 5px" (click)="save(dtefm.value,dteto.value,playea.value) ">
                                <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///----------------------------------------------Training Course Employee List------------------------------------------------------------------------------////// -->
<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Training Course Employee List")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us" (click)="fnnum1()">
                <div class="row">
                    <div class="col-md-12  form-group m-form__group row">
                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            {{l("หลักสูตร")}}
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                [(ngModel)]="CreateCourseDetailInput.hsrcsu" disabled />
                        </div>

                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                [(ngModel)]="createcource.planam" disabled />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square" id="outsource1"
                                name="outsource" #outsource1 (change)="fnout(outsource1.value)">
                                <option value="001">
                                    EMPLOYEES
                                </option>
                                <option value="OUTSOURCE">
                                    OUTSOURCE
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12  form-group m-form__group row">
                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            {{l("พนักงาน")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                (keyup.enter)="chgindex(hsreid.value)" (keyup)="kuacc(hsreid.value)" id="hsreid"
                                [(ngModel)]="CreateCourseDetailInput.hsreid" #hsreid [disabled]="chk_id == 0" />
                        </div>
                        <div class="col-lg-1" style="margin-left:-19px;margin-top: 5px" [hidden]="chk_id == 0">
                            <button class="btn btn-info" type="button" (click)="show5()">
                                เลือก</button>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" id="hrsunam"
                                [(ngModel)]="CreateCourseDetailInput.hrsunam" [disabled]="chk_id == 1" />
                        </div>
                        <label class="col-form-label" style="margin-top: 5px;text-align:right">
                            {{l("Hrs.")}}
                        </label>
                        <div class="col-lg-1" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                [(ngModel)]="CreateCourseDetailInput.hsrndy" />
                        </div>
                        <div class="col-md-4 form-group m-form__group row" style="margin-top: 5px"
                            *ngIf="CreateCourseDetailInput.hsreid == 'OUTSOURCE'">
                            <label class="col-form-label">
                                {{l("เบอร์โทร")}}
                            </label>
                            <div class="col-lg-8">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    onkeyup="chknum(this,this.value)" maxlength="10"
                                    [(ngModel)]="CreateCourseDetailInput.hrstel" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                                    style="margin-left: 0px"
                                    (click)="saveEmppro(dtefm.value,dteto.value,playea.value)">{{l("Save")}}</button>
                                <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                                    style="margin-left: 0px" (click)="cancelselectExp()"><i
                                        class="fa fa-undo"></i></button>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 ">
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGrid2
                            [dataSource]="CreateCourseDetailInputData" [errorRowEnabled]="false"
                            [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                            columnResizingMode="widget" (onContentReady)="onContentReady($event)"
                            (onRowRemoved)="RemovedEmp($event)" (onSelectionChanged)="selectExp($event)">
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                                showScrollbar="always">
                            </dxo-scrolling>
                            <dxo-selection mode="single">
                            </dxo-selection>
                            <dxo-editing mode="row" [allowDeleting]="true">
                            </dxo-editing>
                            <dxi-column dataField="hsrcsu" caption="หลักสูตร"></dxi-column>
                            <dxi-column dataField="hsreid" caption="รหัสพนักงาน"></dxi-column>
                            <dxi-column caption="ชื่อ - นามสกุล" dataField="hrsunam">
                                <!-- <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn">
                                </dxo-lookup> -->
                            </dxi-column>
                            <dxi-column dataField="hsrfmd" caption="วันที่เริ่ม" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="hsrfmt" caption="เวลา"></dxi-column>
                            <dxi-column dataField="hsrtod" caption="ถึงวันที่" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="hsrtot" caption="เวลา"></dxi-column>
                            <dxi-column dataField="hsrndy" caption="ชั่วโมง"></dxi-column>
                            <dxi-column dataField="hsramT1" caption="ค่าใช้จ่าย" format="#,##0.00"></dxi-column>
                            <dxo-summary>
                                <dxi-total-item column="hsramT1" summaryType="sum" displayFormat="{0}"
                                    [valueFormat]="{ type: 'fixedPoint', precision: 2 }">
                                </dxi-total-item>
                            </dxo-summary>
                        </dx-data-grid>
                    </div>
                    <div class="col-md-12 form-group alert alert-danger m-alert m-alert--air m-alert--outline">

                        <div class="row">


                            <div class="col-lg-3" style="margin-top: 5px">
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    style="width:100%" #expperid name="expper" id="expper">
                                    <option *ngFor="let item of TrainingPay" value="{{item.tabtB2}}">
                                        {{item.tabdsc}}</option>
                                </select>
                            </div>

                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    id="expperamt" #expperamt />
                            </div>
                            <div class="col-lg-2" style="margin-top: 5px">
                                <button type="button " class="btn btn-secondary pull-left " data-dismiss="modal "
                                    style="margin-left: 0px"
                                    (click)="saveExpper(expperid.value,expperamt.value)">{{l("Save")}}</button>
                            </div>
                            <div class="col-lg-4 row" style="margin-top: 5px">
                                <label class="col-form-label col-lg-6"
                                    style="margin-top: 5px;text-align:right">{{l("ค่าใช้จ่ายของ")}}</label>
                                <input class="form-control text-center m-input m-input--air col-lg-6"
                                    [(ngModel)]="nameser" disabled />
                            </div>





                            <div class="col-md-8 " style="margin-top: 15px">
                                <dx-data-grid [allowColumnReordering]="true" id="gridContainer"
                                    [dataSource]="ExpPerDataP" [errorRowEnabled]="false" [allowColumnResizing]="true"
                                    [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                                    (onContentReady)="onContentReady($event)" (onRowRemoved)="RemovedExp($event)">
                                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                                        showScrollbar="always">
                                    </dxo-scrolling>

                                    <dxo-editing mode="row" [allowDeleting]="true">
                                    </dxo-editing>
                                    <!-- <dxi-column dataField="hdtyp" caption="Type Of Holiday" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="hdyear" caption="Holiday Year"  [allowEditing]="false"></dxi-column> -->
                                    <dxi-column dataField="ExpID" caption="รหัส">
                                    </dxi-column>
                                    <dxi-column dataField="ExpID" caption="ค่าใช้จ่าย">
                                        <dxo-lookup [dataSource]="TrainingPay" displayExpr="tabdsc" valueExpr="tabtB2">
                                        </dxo-lookup>

                                    </dxi-column>
                                    <dxi-column dataField="ExpAmt" caption="จำนวนเงิน" format="#,##0.00"></dxi-column>
                                    <dxo-summary>
                                        <dxi-total-item column="ExpAmt" summaryType="sum" displayFormat="{0}"
                                            [valueFormat]="{ type: 'fixedPoint', precision: 2 }">
                                        </dxi-total-item>
                                    </dxo-summary>
                                </dx-data-grid>
                            </div>

                        </div>

                    </div>


                </div>
                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close2() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <!-- <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="clear2() ">
                            <i class="fa fa-close "></i> {{l("Clear ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button> -->
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- ///---------------------------------------------------Table Code 1-2 ---------------------------------------------------------------/////// -->
<div bsModal #modal3="bs-modal" *ngIf="active == true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">

    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Table Code Listing + TrainingCourse")}}</b>
                </h5>
                <button type="button" (click)="close3()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type" *ngIf="varty=='A'">
                <div class="col-lg-12">
                    <div class="form-group m-form__group row">
                        <button type="button" class="btn btn-info" style="margin-left: -15px" (click)="Addtype('A')">
                            <i class="fa fa-plus"></i> {{l("Add Item")}}</button></div>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                        [dataSource]="TrainingCourse" [errorRowEnabled]="false" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        (onContentReady)="onContentReady($event)" (onSelectionChanged)="funti($event)">
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-editing mode="row" [allowDeleting]="true">
                        </dxo-editing>
                        <!-- <dxi-column dataField="hdtyp" caption="Type Of Holiday" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="hdyear" caption="Holiday Year"  [allowEditing]="false"></dxi-column> -->
                        <dxi-column dataField="tabtB2" caption="Table Code">
                        </dxi-column>
                        <dxi-column dataField="tabdsc" caption="Description"></dxi-column>
                        <dxi-column dataField="sbbudget" caption="flag1"></dxi-column>
                        <dxi-column dataField="sbtype" caption="flag2"></dxi-column>
                        <dxi-column dataField="sbtype" caption="flag3"></dxi-column>

                    </dx-data-grid>
                </div>
                <!-- <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="get_data8(data_select.value)">
                              <i class="fa fa-save"></i> {{l("Select")}}</button>
                          </div>                       
                    </div>
                </div> -->
            </div>

            <div class="modal-body" id="us" *ngIf="varty=='B'">
                <div class="form-group m-form__group row">

                    <div class="col-lg-12">
                        <button type="button" class="btn btn-info" style="margin-left: -15px" (click)="Addtype('B')">
                            <i class="fa fa-plus"></i> {{l("Add Item")}}</button></div>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                        [dataSource]="TrainingPay" [errorRowEnabled]="false" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        (onContentReady)="onContentReady($event)" (onSelectionChanged)="funti($event)">
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-editing mode="row">
                        </dxo-editing>
                        <!-- <dxi-column dataField="hdtyp" caption="Type Of Holiday" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="hdyear" caption="Holiday Year"  [allowEditing]="false"></dxi-column> -->
                        <dxi-column dataField="tabtB2" caption="Table Code">
                        </dxi-column>
                        <dxi-column dataField="tabdsc" caption="Description"></dxi-column>
                        <dxi-column dataField="sbbudget" caption="flag1"></dxi-column>
                        <dxi-column dataField="sbtype" caption="flag2"></dxi-column>
                        <dxi-column dataField="sbtype" caption="flag3"></dxi-column>

                    </dx-data-grid>
                </div>
                <!-- <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close3() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="clear2() ">
                            <i class="fa fa-close "></i> {{l("Clear ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div> -->
            </div>

        </div>



    </div>
</div>
<!-- ///---------------------------------------------------modal4 เพิ่มรายละอียด---------------------------------------------------------------------/// -->
<div bsModal #modal4="bs-modal" *ngIf="active == true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Add Table Control")}}</b>
                </h5>
                <button type="button" (click)="close4()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type" *ngIf="varty2=='A'">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Table Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="tabtB2" [(ngModel)]="createtypetraining.tabtB2" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Table Description")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="tabdsc" [(ngModel)]="createtypetraining.tabdsc" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag1")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag2")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag3")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag4")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag5")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag6")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-12"></div>
                            <br><br><br>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Amount 1")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>

                            <div class="col-lg-4" style="margin-top: 5px;text-align:right">
                                <button type="button " class="btn btn-info " style="width: 220px" data-dismiss="modal ">
                                    {{l("Set for Head of Department")}}</button>
                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Amount 2")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-4" style="margin-top: 5px;text-align:right">
                                <button type="button " class="btn btn-info " style="width: 220px" data-dismiss="modal ">
                                    {{l("Set for Manager")}}</button>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Rate 1")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px;text-align:right">

                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Rate 2")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px;text-align:right">

                            </div>
                        </div>
                    </div>
                </div>




                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close4() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="savetypetraining() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>


            </div>

            <div class="modal-body" id="type" *ngIf="varty2=='B'">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Table Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="tabtB2" [(ngModel)]="createpaytraining.tabtB2" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Table Description")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                    name="tabdsc" [(ngModel)]="createpaytraining.tabdsc" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag1")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag2")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag3")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag4")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag5")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Flag6")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-12"></div>
                            <br><br><br>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Amount 1")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>

                            <div class="col-lg-4" style="margin-top: 5px;text-align:right">
                                <button type="button " class="btn btn-info " style="width: 220px" data-dismiss="modal ">
                                    {{l("Set for Head of Department")}}</button>
                            </div>

                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Amount 2")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-4" style="margin-top: 5px;text-align:right">
                                <button type="button " class="btn btn-info " style="width: 220px" data-dismiss="modal ">
                                    {{l("Set for Manager")}}</button>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Rate 1")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px;text-align:right">

                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Rate 2")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px;text-align:right">

                            </div>
                        </div>
                    </div>
                </div>




                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close5() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="savepaytraining() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
<!-- ///---------------------------------------------------modal5 emp---------------------------------------------------------------------/// -->
<div bsModal #modal5="bs-modal" *ngIf="active == true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Program Search")}}</b>
                </h5>
                <button type="button" (click)="closeemp()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Master List")}} ({{emp.length}}) </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployeea [dataSource]="emp"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        keyExpr="psnidn">
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-selection mode="multiple"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column [allowGrouping]="false" dataField="psnidn" caption="Employee ID" 
                            [sortIndex]="1" sortOrder="asc" [fixed]="true" fixedPosition="left">
                        </dxi-column>
                        <dxi-column dataField="psntth" caption="Title">
                            <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfnm" caption="First Name"></dxi-column>
                        <dxi-column dataField="psnlnm" caption="Last Name"></dxi-column>
                        <dxi-column dataField="psnpos"  caption="ตำแหน่ง">
                            <dxo-lookup [dataSource]="dbmtab" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psndep" caption="แผนก" >
                            <dxo-lookup [dataSource]="DEPARTMENT" displayExpr="tabdsc" valueExpr="tabtB2">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfst" caption="Status"></dxi-column>
                    </dx-data-grid>
                    <div class="selected-data">
                        <!-- {{grid.selectedRowKeys}} -->
                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                            value="{{gEmployeea.selectedRowKeys}}" hidden #data_select2a>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan(data_select2a.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>
<!-- ///---------------------------------------------------modal6 emp---------------------------------------------------------------------/// -->
<div bsModal #modal6="bs-modal" *ngIf="active == true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Course")}}</b>
                </h5>
                <button type="button" (click)="closecourse()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Course Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gCourse [dataSource]="corseget"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id"
                        [(selectedRowKeys)]="selectedRows">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="placod" caption="รหัสหลักสูตร"></dxi-column>
                        <dxi-column dataField="planam" caption="ชื่อหลักสูตร"></dxi-column>
                    </dx-data-grid>
                    <div class="selected-data">
                        <!-- {{grid.selectedRowKeys}} -->
                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="text"
                            value="{{gCourse.selectedRowKeys}}" hidden #data_selectc>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_course(data_selectc.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>
<!-- ///---------------------------------------------------modal outsourse---------------------------------------------------------------------/// -->
<!-- <div bsModal #modal_outsourse="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Add OutSourse")}}</b>
                </h5>
                <button type="button" (click)="closeos()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12  form-group m-form__group row">
                        <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                            {{l("รหัส outsourse")}}
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" 
                            [(ngModel)]="CreateCourseDetailInput.hsreid"/>
                        </div>
                        <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                            {{l("ชื่อ-นามสกุล")}}
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" 
                            [(ngModel)]="CreateCourseDetailInput.hrsunam"/>
                        </div>
                        <div class="col-lg-1" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                            {{l("เบอร์โทร")}}
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" 
                            [(ngModel)]="CreateCourseDetailInput.hrstel"/>
                        </div>
                        <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                            {{l("E-mail")}}
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" 
                            [(ngModel)]="CreateCourseDetailInput.hrsmail"/>
                        </div>
                        <br><br><br><br>
                        <div class="modal-footer col-md-12 ">
                            <div class="col-md-12 ">
                                <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                                    style="margin-right: 5px" (click)="closeos() ">
                                    <i class="fa fa-window-close "></i> {{l("Close")}}</button>
                                <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                                    style="margin-right: 5px" (click)="saveoutsource(dtefm.value,dteto.value,playea.value)">
                                    <i class="fa fa-save"></i> {{l("Save")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->