<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Promotion Record</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group row">
                            <div class="col-md-12">
                                <button class="btn btn-primary pull-right" type="button" (click)="AddPromotion()">
                                    <i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="EmployeePromotionsListDto"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true" (onRowRemoved)="removed($event)"
                            [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                                </dxo-editing>
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                            [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>
                        <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column dataField="prmdte" caption="Effective Date" [customizeText]="fnddmmyyyygrid"></dxi-column>
                            <dxi-column dataField="prmrea" caption="Type"></dxi-column>
                            <dxi-column dataField="prmcps" caption="From Position"></dxi-column>
                            <dxi-column dataField="prmclv" caption="Description"></dxi-column>
                            <dxi-column dataField="prmnps" caption="To Position"></dxi-column>
                            <dxi-column dataField="prmnlv" caption="Description"></dxi-column>
                            <dxi-column dataField="prmnsa" caption="New Salary"></dxi-column>
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                            <div *dxTemplate="let data of 'cellTemplate'">
                                <a href="javascript:;" class="" (click)="showedit(data)">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="AddPromotion() ">
                        <i class="fa fa-save"></i> {{l("Add")}}</button> -->
                </div>
            </div>

        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Promotion Record Entry</h5>
                <button type="button" (click)="closeAddPro()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">
                <div class="form-group row">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                    {{l("Employee ID.")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 2px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air" disabled [(ngModel)]="EmployeePromotionsObject.prmeid" />
                                </div>
                                <div class="col-lg-6" style="margin-top: 2px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air" disabled [(ngModel)]="namePR" />
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                    {{l("Effective Date")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 2px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeePromotionsObject.prmdte" id="prmdte"
                                        data-provide="datepicker" data-date-language="th-th"
                                        data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                </div>
                                <div class="col-lg-6" style="margin-top: 2px">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                    {{l("Type/Reason")}}
                                </label>
                                <div class="col-lg-9" style="margin-top: 2px">
                                    <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="prmrea" [(ngModel)]="EmployeePromotionsObject.prmrea" id="prmrea">
                                            <option *ngFor="let item of PROMOTIONREASON" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                </div>
                                <!-- <div class="col-lg-6" style="margin-top: 2px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                                </div> -->
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group row alert m-alert m-alert--default">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Current Position")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="prmcps" [(ngModel)]="EmployeePromotionsObject.prmcps" id="prmcps">
                                            <option *ngFor="let item of POSITION" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-6" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div> -->

                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Current Sub Post")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="prmclv" [(ngModel)]="EmployeePromotionsObject.prmclv" id="prmclv">
                                            <option *ngFor="let item of POSITIONLEVEL" value={{item.tabtB2}}>
                                                    {{item.tabtB2}} : {{item.tabdsc}}</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-6" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div> -->
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("Current Salary")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeePromotionsObject.prmcsa" id="prmcsa" (change)="fnnum()"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group row alert m-alert m-alert--default">
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("New Position")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                            name="prmnps" [(ngModel)]="EmployeePromotionsObject.prmnps" id="prmnps">
                                            <option *ngFor="let item of POSITION" value={{item.tabtB2}}>
                                                        {{item.tabdsc}}</option>
                                        </select>
                                       
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("New Sub Post")}}
                                    </label>
                                    <div class="col-lg-9" style="margin-top: 2px">
                                        <select class="form-control m-input m-input--air  m-input m-input--square "
                                        name="prmnlv" [(ngModel)]="EmployeePromotionsObject.prmnlv" id="prmnlv">
                                        <option *ngFor="let item of POSITIONLEVEL" value={{item.tabtB2}}>
                                                    {{item.tabdsc}}</option>
                                    </select>
                                    </div>
                                    
                                    <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                        {{l("New Salary")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 2px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeePromotionsObject.prmnsa" id="prmnsa" (change)="fnnum()" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 2px">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                    {{l("Remark")}}
                                </label>
                                <div class="col-lg-9" style="margin-top: 2px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air"  [(ngModel)]="EmployeePromotionsObject.prmrM1"/>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">

                                </label>
                                <div class="col-lg-9" style="margin-top: 2px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeePromotionsObject.prmrM2"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="margin-bottom: 10px">
                                <img class="img-thumbnail mx-auto d-block" src="" style="width:100% ; height:180px">
                            </div>
                            <div class="modal-footer col-md-12 ">
                                <button type="button " class="btn btn-info" data-dismiss="modal "
                                    style="margin-right: 5px;width:100%">
                                    {{l("Link Appraisal Sheet")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer ">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="closeAddPro() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>


            </div>
        </div>
    </div>
</div>