<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-clock-o">&nbsp;</i>
                    </span>
                    <b>Application for work with overtime</b>
                </h5>
                <div class="col-md-3">
                    <select class="form-control " style="margin-top: -5px" data-style="btn-success">
                    </select>
                    <span style="color:white">สถานะเอกสาร</span>
                </div>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">เลขที่เอกสาร</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">วันที่พิมพ์ข้อมูล</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"   placeholder="" id="holidaycode">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">วันที่ขึ้นโอที</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"   placeholder="" id="holidaycode">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">รหัสพนักงาน</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="">
                            </div>
                            <div class="col-lg-6" style="margin-top: 40px">
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" disabled>
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">ขอขึ้น OT ที่แผนก</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="">
                            </div>
                            <div class="col-lg-6" style="margin-top: 40px">
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="" disabled>
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>
                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--info m-tabs-line--2x" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#tabs_1">
                                    หน้าที่ 1
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#tabs_2">
                                    หน้าที่ 2
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs_1" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-3">
                                        <label for="" class="col-form-label">จากวันที่</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                        data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"   placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="" class="col-form-label">จากเวลา</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                            placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="" class="col-form-label">ถึงวันที่</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                        data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"   placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="" class="col-form-label">ถึงเวลา</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-2">
                                        </div>
                                        <label class="col-lg-1 col-form-label">OT</label>
                                        <div class="col-lg-2">
                                            <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                        </div>
                                        <label class="col-lg-1 col-form-label">Hrs.</label>
                                        <label class="col-lg-1 col-form-label">OT I.S</label>
                                        <div class="col-lg-2">
                                            <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                        </div>
                                        <label class="col-lg-1 col-form-label">Hrs.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs_2" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-3">
                                        <label for="" class="col-form-label">จากวันที่</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                        data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"    placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="" class="col-form-label">จากเวลา</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                            placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="" class="col-form-label">ถึงวันที่</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                        data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"    placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="" class="col-form-label">ถึงเวลา</label>
                                        <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-2">
                                        </div>
                                        <label class="col-lg-1 col-form-label">OT</label>
                                        <div class="col-lg-2">
                                            <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                        </div>
                                        <label class="col-lg-1 col-form-label">Hrs.</label>
                                        <label class="col-lg-1 col-form-label">OT I.S</label>
                                        <div class="col-lg-2">
                                            <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                        </div>
                                        <label class="col-lg-1 col-form-label">Hrs.</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-12 " style="margin-top: 15px">
                                <div class="form-group">
                                    <div class="m-checkbox-inline">
                                        <label class="m-checkbox">
                                            <input type="checkbox"> {{l("แลกเป็นวันหยุด")}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-form-label">
                                <b>รวมชั่วโมงขอทำ OT</b>
                            </label>
                            <div class="form-group row alert m-alert m-alert--default">
                                <div class="col-lg-2" style="margin-top: 20px">
                                </div>
                                <label class="col-lg-1 col-form-label" style="margin-top: 20px">OT</label>
                                <div class="col-lg-2" style="margin-top: 20px">
                                    <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                </div>
                                <label class="col-lg-1 col-form-label" style="margin-top: 20px">Hrs.</label>
                                <label class="col-lg-1 col-form-label" style="margin-top: 20px">OT I.S</label>
                                <div class="col-lg-2" style="margin-top: 20px">
                                    <input onkeyup="chkstr(this,this.value)" type="text" class="form-control m-input" placeholder="">
                                </div>
                                <label class="col-lg-1 col-form-label" style="margin-top: 20px">Hrs.</label>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-lg-12">
                                <label for="" class="col-form-label">หมายเหตุ</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                    placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer col-md-12 ">
                        <div class="col-md-12 ">
                            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                <i class="fa fa-close "></i> {{l("Close ")}}</button>
                            <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                                <i class="fa fa-save"></i> {{l("Save ")}}</button>

                        </div>
                    </div>
                </div>
            </div>