<footer class="m-grid__item m-footer ">
    <div class="m-container {{ui.getContainerClass()}} m-container--full-height m-page__container">
        <!-- <div *ngIf="useWrapperDiv" class="m-footer__wrapper">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                    <span class="m-footer__copyright">
                        KWANP<span *ngIf="appSession.tenant && appSession.tenant.edition && appSession.tenant.edition.displayName"> {{appSession.tenant.edition.displayName}}</span> <br />
                        v{{appSession.application.version}} [{{releaseDate}}]
                    </span>
                </div>
                <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                </div>
            </div>
        </div>
        <div *ngIf="!useWrapperDiv" class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    KWANP<span *ngIf="appSession.tenant && appSession.tenant.edition && appSession.tenant.edition.displayName"> {{appSession.tenant.edition.displayName}}</span> <br />
                    v{{appSession.application.version}} [{{releaseDate}}]
                </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
            </div>
        </div> -->
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    <!-- KWANP<span *ngIf="appSession.tenant && appSession.tenant.edition && appSession.tenant.edition.displayName"> {{appSession.tenant.edition.displayName}}</span> <br />
                    v{{appSession.application.version}} [อัพเดทล่าสุด : {{releaseDate}}] -->          
                </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                <span class="m-footer__copyright pull-right col-md-12" style="margin-right:15px;color:#8c8c8c">
                    KWANP<span *ngIf="appSession.tenant && appSession.tenant.edition && appSession.tenant.edition.displayName"> {{appSession.tenant.edition.displayName}}</span> 
                    v{{updateVersion}} [อัพเดทล่าสุด : {{updateDate}}]
                    <!-- <a (click)="clear_Cache()" style="color:red ; cursor: pointer;"><b><u>อัพเดทระบบ</u></b></a> -->
                </span>
            </div>
        </div>
    </div>
</footer>
