<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height:100px;background-color:#0099FF">
        <h3 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b> บันทึกปรับปรุงใบขอค่าพิเศษต่างๆ </b>
        </h3>
        <div class="col-md-2 " style="margin-top :-5px">
          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdoc" placeholder="" disabled>
          <span style="color:white">สถานะ</span>
        </div>
      </div>

      <div class="modal-body" id="us">
        <div class="form-group row">
          <div class="col-md-8">
            <label for="" class="col-form-label"><b>ขอค่าพิเศษต่างๆ</b></label>
            <div class="form-group m-form__group row">
              <div class="col-lg-12">
                <label for="" class="col-form-label">ประเภท</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุประเภท
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label for="" class="col-form-label">จำนวนเคส</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุจำนวนเคส
                </span>
              </div>
              <div class="col-lg-6">
                <label for="" class="col-form-label">รวมเป็นเงิน</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate" placeholder="">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-lg-12">
                <label for="" class="col-form-label">หมายเหตุ</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(215, 239, 255)">
              <div class="col-lg-12">
                <label for="" class="col-form-label">ผู้บันทึก</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdoc" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุผู้บันทึก
                </span>
              </div>
              <div class="col-lg-12">
                <label for="" class="col-form-label">เลขที่เอกสาร</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1 onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control  text-center" name="getdocdate" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบบจะสร้างเลขที่เอกสารอัตโนมัติหลังบันทึกข้อมูล
                </span>
              </div>
              <div class="col-lg-12">
                <label for="" class="col-form-label">วันที่</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1 onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control  text-center" name="getdocdate" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุวันที่
                </span>
              </div>
              <br><br><br><br><br><br><br>
            </div>

          </div>
        </div>
      </div>


      <div class="modal-footer col-md-12 ">
        <div class="col-md-12 ">
          <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
            (click)="close() ">
            <i class="fa fa-close "></i> {{l("Close ")}}</button>
          <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px"
            (click)="save() ">
            <i class="fa fa-save"></i> {{l("Save ")}}</button>

        </div>
      </div>
    </div>
  </div>