<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Addinstituteinformation")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="md">
                
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Institute Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Name")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Address")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <textarea class="col-lg-12" ></textarea>
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("State/city ")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"/>
                            </div>
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("County")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"/>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Zip Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"/>
                            </div>
                             <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("Telephone")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"/>
                            </div>
                        </div>


                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Fax No.")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"/>
                            </div>
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("E-mail")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"/>
                            </div>
                           
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("URL")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"/>
                            </div>

                            <div class="col-lg-2" style="margin-top: 5px">
                                <button type="button " class="btn btn-info " data-dismiss="modal ">
                           {{l("Course Description ")}}</button>
                            </div>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <button type="button " class="btn btn-info " data-dismiss="modal ">
                                {{l("Course Opening ")}}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="clear1() ">
                            <i class="fa fa-close "></i> {{l("Clear ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("ตั้งงบฝึกอบรมตามฝ่าย")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Main Code")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"  />
                            </div>
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                {{l("Year")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air"   data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th"  #sbyear/>
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Department")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" #sbdep/>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" disabled/>
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("งบประมาณ")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input autocomplete="off"   class="form-control text-center m-input m-input--air" #sbbudget />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                            <div class="col-lg-1" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-2" style="margin-top: 5px">
                            </div>
                            <div class="col-lg-9" style="margin-top: 5px">
                                <div class="form-group">
                                    <label>{{l("งบแบบ")}}</label>
                                    <div class="m-radio-inline" #sbtype>
                                        <label class="m-radio">
                                            <input autocomplete="off"   type="radio" name="type" checked="checked" id="typ0" value="IN" > ภายใน
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input autocomplete="off"   type="radio" name="type" value="OUT" id="typ0" > ภายนอก
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1" style="margin-top: 38px">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    style="margin-right: 5px"
                                    (click)="insertd(sbyear.value,sbdep.value,sbbudget.value,sbtype.value)">Add</button>
                            </div>
                        </div>
                    </div>
                    <hr style=" border: 1px dashed  #BEBEBE;">

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                        [dataSource]="array_data_complete" [errorRowEnabled]="false" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        (onContentReady)="onContentReady($event)" (onSelectionChanged)="funti($event)">
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true">
                        </dxo-editing>
                        <!-- <dxi-column dataField="hdtyp" caption="Type Of Holiday" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="hdyear" caption="Holiday Year"  [allowEditing]="false"></dxi-column> -->
                        <dxi-column dataField="sbyear" caption="ปี" >
                        </dxi-column>
                        <dxi-column dataField="sbdep" caption="ฝ่าย"></dxi-column>
                        <dxi-column dataField="sbbudget" caption="งบประมาณ"></dxi-column>
                        <dxi-column dataField="sbtype" caption="ประเภท"></dxi-column>
                    </dx-data-grid>
                </div>
                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close2() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="clear2() ">
                            <i class="fa fa-close "></i> {{l("Clear ")}}</button>
                        <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>