<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Bonus History</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="BonusInformationListDto"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget"
                            >
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>
                            <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column dataField="bonyea" caption="Year"></dxi-column>
                            <dxi-column dataField="bonprd" caption="Period"></dxi-column>
                            <dxi-column dataField="bonsal" caption="Cur.Salary"></dxi-column>
                            <dxi-column dataField="bonpty" caption="Range"></dxi-column>
                            <dxi-column dataField="bonpam" caption="Rate"></dxi-column>
                            <dxi-column dataField="bonamt" caption="Amount"></dxi-column>
                            <dxi-column dataField="bonbam" caption="Bonus Amt"></dxi-column>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
                <div class="modal-footer ">
                    <div class="">
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                        <!-- <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="show2() ">
                            <i class="fa fa-save"></i> {{l("Add")}}</button> -->
                    </div>
                </div>
            
        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
                <div class="modal-header" style="height:60px;background-color:#66CCFF">
                        <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Bonus Entry</h5>
                        <button type="button" (click)="close2()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Employee Code")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Year")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 1px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-date-format="yyyy" data-date-min-view-mode="years"
                                            data-date-start-view="years" data-provide="datepicker"
                                            data-date-language="th-th" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("PayRoll Pay Type")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Period")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 1px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-date-format="months" data-date-min-view-mode="months"
                                            data-date-start-view="months" data-provide="datepicker"
                                            data-date-language="th-th" />
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 1px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Transaction Status")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" maxlength="1"/>
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Date of Status")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 1px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Effective Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 1px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Current Salary")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 1px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Range")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 1px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">a
                                        {{l("Rate")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Month/12")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 1px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 1px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Deduct Rate")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Deduct Amt")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Adjust Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 1px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Bonus Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-7" style="margin-top: 1px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">a
                                        {{l("Year Of Period")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 1px;text-align:right">
                                        {{l("Payroll Period")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 1px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="margin-bottom: 10px">
                                    <img class="img-thumbnail mx-auto d-block" src="" style="width:100% ; height:180px">
                                </div>
                                <div class="modal-footer col-md-12 ">
                                    <button type="button " class="btn btn-info" data-dismiss="modal "
                                        style="margin-right: 5px;width:100%">
                                        {{l("Appraisal Form")}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close2() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>


        </div>
    </div>
</div>