<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("ใบบันทึกประวัติฝึกอบรมในงาน (ON THE JOB TRAINING) ")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company Code
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                value="001" />
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                value="โรงพยาบาลมหาวิทยาลัยเทคโนโลยีสุรนารี" disabled />
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Year
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th" #yyy />
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ตำแหน่ง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="position"
                                #position id="position">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of POSITION" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="positionto"
                                #positionto id="positionto">
                                <option value="zz">ALL</option>
                                <option *ngFor="let item of POSITION" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            รหัสพนักงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" type="text" class=" form-control m-input m-input--air" #emidf
                                    id="emidf">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="emplist.show('1')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <div class="input-group">
                                <input autocomplete="off" type="text" class=" form-control m-input m-input--air" #emidt
                                    id="emidt" value="ALL">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" (click)="emplist.show('2')"><i
                                            class="fa fa-arrow-right"></i>
                                        เลือก</button>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="depcode1"
                                #depcode1 id="depcode1">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DEPARTMENT" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="depcode2"
                                #depcode2 id="depcode2">
                                <option value="zz">ALL</option>
                                <option *ngFor="let item of DEPARTMENT" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-1 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            Report Header
                        </label>
                        <div class="col-lg-6" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                #rehead>
                                <option value="NO">รายงานใบบันทึกประวัติฝึกอบรมในงาน (OJT)</option>
                                <option value="DEP">รายงานใบบันทึกประวัติฝึกอบรมในงาน (OJT) ตามแผนก</option>
                                <option value="POS">รายงานใบบันทึกประวัติฝึกอบรมในงาน (OJT) ตามตำแหน่ง</option>
                            </select>
                        </div>
                        <label class="col-form-label col-lg-2 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">

                        </label>
                        <div class="col-lg-3" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-list">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typojt" id="typojt" #typojt [(ngModel)]="typojt1">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <label class="col-form-label col-lg-5 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(yyy.value,position.value,positionto.value,emidf.value,emidt.value,depcode1.value,depcode2.value,rehead.value,typojt.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <emplist #emplist (modalSave)="ngOnInit()"></emplist>
</div>