<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-calendar">&nbsp;</i>
                    </span>
                    <b>Setting Hours For Position</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="form-group row" id="panel">
                        <div class="col-md-12">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                            ปี
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air" id="year" data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                        data-provide="datepicker" data-date-language="th-th" #year />
                                        </div>
                                        <div class="form-group" style="margin-top: 15px;margin-left: 2px">
                                            <div class="m-checkbox-Inline">
                                                <label class="m-checkbox">
                                                    <input type="checkbox">Copy data to another year
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                            เดือน
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air" id="month" data-date-format="mm" data-date-min-view-mode="months" data-date-start-view="months"
                                            data-provide="datepicker" data-date-language="th-th" #month />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                            ถึง
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air" id="to" data-date-format="mm" data-date-min-view-mode="months" data-date-start-view="months"
                                            data-provide="datepicker" data-date-language="th-th" #to />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group m-form__group row" style="margin-left: 2px">
                                <div class="col-md-5">
                                    <label for="" class="col-form-label">
                                        <b>Full Time</b>
                                    </label>
                                    <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <label for="" class="col-form-label">เวรทำงาน</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                placeholder="" id="working" #working>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="" class="col-form-label">จำนวนชั่วโมงโอที</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                placeholder="" id="hourot" #hourot> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group row">
                                        <label for="" class="col-form-label">
                                            <b>Manager</b>
                                        </label>
                                        <div class="col-md-12">
                                            <label for="" class="col-form-label">เวรทำงาน</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                placeholder="" id="working1" #working1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group m-form__group row">
                                        <label for="" class="col-form-label">
                                            <b>Part Time</b>
                                        </label>
                                        <div class="col-md-12">
                                            <label for="" class="col-form-label">จำนวนชั่วโมงโอที</label>
                                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate"
                                                placeholder="" id="hourot1" #hourot1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1" style="margin-top: 48px">
                                    <label for="" class="col-form-label">
                                    </label>
                                    <button type="button " class="btn btn-danger pull-right" (click)="insertd(year.value,month.value,to.value,working.value,hourot.value,working1.value,hourot1.value)">
                                        <i class="fa fa-plus">Add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style=" border: 1px dashed  #BEBEBE;">

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="array_data_complete" [errorRowEnabled]="false"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        (onContentReady)="onContentReady($event)" (onSelectionChanged)="funti($event)">
                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                        </dxo-scrolling>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true">
                        </dxo-editing>
                        <!-- <dxi-column dataField="hdtyp" caption="Type Of Holiday" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="hdyear" caption="Holiday Year"  [allowEditing]="false"></dxi-column> -->
                        <dxi-column dataField="hpyear" caption="ปี"></dxi-column>
                        <dxi-column dataField="hpmonth" caption="เดือน"></dxi-column>
                        <dxi-column dataField="hpnumwork" caption="จำนวนเวร"></dxi-column>
                        <dxi-column dataField="hphourot" caption="จำนวนชั่วโมงโอที"></dxi-column>
                        <dxi-column dataField="hphourotn" caption="จำนวนชั่วโมงโอที" ></dxi-column>
                        <dxi-column dataField="hpworking" caption="เวรทำงาน"></dxi-column>
                    </dx-data-grid>


                    <div class="modal-footer col-md-12 ">
                        <div class="col-md-12 ">
                            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                <i class="fa fa-close "></i> {{l("Close ")}}</button>
                            <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                                <i class="fa fa-save"></i> {{l("Save ")}}</button>

                        </div>
                    </div>
                </div>
            </div>