<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Benifit Inquiry</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="EmployeeBenefitsListDto"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget" (onRowRemoved)="removed($event)"
                            >
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxo-pager [allowedPageSizes]="[5, 10, 20]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>
                            <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxi-column dataField="paydoc" caption="Document No." ></dxi-column>
                            <dxi-column dataField="paybty" caption="Type">
                                <dxo-lookup [dataSource]="BENTYPE" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="payrmk" caption="Description"></dxi-column>
                            <dxi-column dataField="payamt" format="#,##0.00" caption="Cost Amount"></dxi-column>

                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                            <div *dxTemplate="let data of 'cellTemplate'">
                                <a href="javascript:;" class="" (click)="showedit(data)">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>

                </div>
            </div>

        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Benifits Daily Entry</h5>
                <button type="button" (click)="close2()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Document No")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" [(ngModel)]="EmployeeBenefitsObject.paydoc"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Document Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th" [(ngModel)]="EmployeeBenefitsObject.paydte" id="paydte"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Employee Code")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payeid" disabled/>
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air" [(ngModel)]="nameBE"
                                            disabled />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Benefit Type")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <!-- <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.paybty"/> -->
                                            <select class="form-control m-input m-input--air  m-input m-input--square" name="paybty"
                                            id="paybty" [(ngModel)]="EmployeeBenefitsObject.paybty">
                                            <option *ngFor="let item of BENTYPE" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            disabled /> -->
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Transection Status")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" maxlength="1" [(ngModel)]="EmployeeBenefitsObject.paysts"/>
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Status Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th" [(ngModel)]="EmployeeBenefitsObject.paystd" id="paystd"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Reference Code")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payrno"/>
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Reference Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th" [(ngModel)]="EmployeeBenefitsObject.payrdt" id="payrdt"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Cause")}}
                                    </label>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <!-- <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.paycau"/> -->
                                            <select class="form-control m-input m-input--air  m-input m-input--square" name="paycau"
                                            id="paycau" [(ngModel)]="EmployeeBenefitsObject.paycau">
                                            <option *ngFor="let item of BENCAUSE" value={{item.tabtB2}}>
                                                {{item.tabdsc}}
                                            </option>
                                        </select>
                                        </div>
                                    <div class="col-lg-4" style="margin-top: 5px">
                                        <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            disabled /> -->
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Remark")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payrmk"/>
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Total Amount")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payamt" id="payamt" (change)="fnnum()"/>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Receive Amt")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payamr" id="payamr" (change)="fnnum()"/>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("For Member of Family")}}
                                    </label>
                                    <div class="col-lg-8" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payfnm"/>
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Ref.Seq.No")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payfsq"/>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Payment Type")}}
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.paytyp"/>
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Payment Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th" [(ngModel)]="EmployeeBenefitsObject.paypdt" id="paypdt"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Pay Reference No")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payrfn"/>
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Approve Code")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off"
                                            class="form-control text-center m-input m-input--air" [(ngModel)]="EmployeeBenefitsObject.payaut"/>
                                    </div>
                                    <div class="col-lg-5" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            disabled />
                                    </div>
                                    <div class="col-lg-1" style="margin-top: 5px">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("Approved Date")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                            data-provide="datepicker" data-date-language="th-th" [(ngModel)]="EmployeeBenefitsObject.payaud" id="payaud"
                                            data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                                    </div>
                                    <div class="col-lg-6" style="margin-top: 5px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="margin-bottom: 10px">
                                    <img class="img-thumbnail mx-auto d-block" src="" style="width:100% ; height:180px">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close2() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>



        </div>
    </div>
</div>