<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h3 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-bars">&nbsp;</i>
                    </span>
                    <b> Special Cost Entry </b>
                </h3>
                <div class="col-md-2 " style="margin-top :-5px">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdoc" placeholder=""
                        disabled>
                    <span style="color:white">สถานะ</span>
                </div>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="col-md-8">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class="col-form-label">รหัสพนักงาน</label>
                                <div class="input-group">
                                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" style="background-color:rgb(215, 239, 255)"
                                        placeholder="">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="button">
                                            <i class="fa fa-arrow-right"></i> เลือก</button>
                                    </div>
                                </div>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    รหัสพนักงานจากการเลือก
                                </span>
                            </div>
                            <div class="col-lg-8">
                                <label for="" class=" col-form-label">ชื่อ-นามสกุล</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc"
                                    placeholder="" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ชื่อ-นามสกุล
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">เลขที่เอกสาร</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc"
                                    placeholder="" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบบจะสร้างอัตโนมัติหลังบันทึกข้อมูล
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">วันที่</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" placeholder=""
                                    disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุวันที่
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <label for="" class=" col-form-label">รหัส</label>
                                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="browdoc"
                                    placeholder="" disabled>
                                <span class="m-form__help" style="color:#BEBEBE">
                                    ระบุรหัส
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-12">
                                <label for="" class="col-form-label">
                                    <b>ขอค่าพิเศษต่างๆ</b>
                                </label>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            จำนวนกะ N
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            กะๆละ
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            รวม
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Remark N
                                        </label>
                                        <div class="col-lg-10" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            ค่า In Charge
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            ชมๆละ
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            รวม
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Remark Inc
                                        </label>
                                        <div class="col-lg-10" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Oncal
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            ชมๆละ
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            รวม
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Remark Oncal
                                        </label>
                                        <div class="col-lg-10" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Oncal
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            ชมๆละ
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            รวม
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Remark Oncal
                                        </label>
                                        <div class="col-lg-10" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Oncal มี Case
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            ชมๆละ
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            รวม
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Remark OncalC
                                        </label>
                                        <div class="col-lg-10" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            ค่าอาหาร
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            ชมๆละ
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            รวม
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Remark Food
                                        </label>
                                        <div class="col-lg-10" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Emergency
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            ชมๆละ
                                        </label>
                                        <label class="col-form-label col-lg-3" style="margin-top: 2px;text-align:right">
                                            จำนวนเงิน
                                        </label>
                                        <div class="col-lg-2" style="margin-top: 2px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-1" style="margin-top: 2px;text-align:right">
                                            บาท
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                            Remark
                                        </label>
                                        <div class="col-lg-10" style="margin-top: 5px">
                                            <input class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group m-form__group row">
                                    <div class="col-md-12">
                                        <label for="" class="col-form-label">
                                            <b>Authorized</b>
                                        </label>
                                        <div class="col-md-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                                    หัวหน้าแผนก
                                                </label>
                                                <div class="col-lg-3" style="margin-top: 5px">
                                                    <input class="form-control text-center m-input m-input--air" />
                                                </div>
                                                <div class="col-lg-7" style="margin-top: 5px">
                                                    <input class="form-control text-center m-input m-input--air" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-form-label col-lg-2" style="margin-top: 2px;text-align:right">
                                                ผู้จัดการ
                                            </label>
                                            <div class="col-lg-3" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                            <div class="col-lg-7" style="margin-top: 5px">
                                                <input class="form-control text-center m-input m-input--air" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="col-form-label">
                            <b>Prove Document</b>
                        </label>
                        <div class="form-group row alert m-alert m-alert--default" style="background-color:white">
                            <div class="form-group row alert m-alert m-alert--default" style="border-color: darkblue;background-color:rgb(215, 239, 255)">
                                <label for="" class="col-form-label">
                                    <b>Prove จากผู้ขอทำ OT</b>
                                </label>
                                <div class="col-lg-12">
                                    <button type="button " class="btn btn-info pull-left " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                        {{l("Prove")}}</button>
                                    <button type="button " class="btn btn-danger pull-left " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                        {{l("Cancel Prove")}}</button>
                                </div>
                                <div class="col-lg-8">
                                </div>
                                <div class="col-lg-4">
                                    <label for="" class="col-form-label">
                                        Employee Code
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row alert m-alert m-alert--default" style="border-color: darkblue;background-color:rgb(215, 239, 255)">

                                <label for="" class="col-form-label">
                                    <b>Prove จากหัวหน้าแผนก</b>
                                </label>
                                <div class="col-lg-12">
                                    <button type="button " class="btn btn-info pull-left " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                        {{l("Prove")}}</button>
                                    <button type="button " class="btn btn-danger pull-left " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                        {{l("Cancel Prove")}}</button>
                                </div>
                                <div class="col-lg-8">
                                </div>
                                <div class="col-lg-4">
                                    <label for="" class="col-form-label">
                                        Employee Code
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row alert m-alert m-alert--default" style="border-color: darkblue;background-color:rgb(215, 239, 255)">

                                <label for="" class="col-form-label">
                                    <b>Prove จากผู้จัดการ</b>
                                </label>
                                <div class="col-lg-12">
                                    <button type="button " class="btn btn-info pull-left " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                        {{l("Prove")}}</button>
                                    <button type="button " class="btn btn-danger pull-left " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                        {{l("Cancel Prove")}}</button>
                                </div>
                                <div class="col-lg-8">
                                </div>
                                <div class="col-lg-4">
                                    <label for="" class="col-form-label">
                                        Employee Code
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row alert m-alert m-alert--default" style="border-color: darkblue;background-color:rgb(215, 239, 255)">

                                <label for="" class="col-form-label">
                                    <b>Prove จากผู้จัดการ</b>
                                </label>
                                <div class="col-lg-12">
                                    <button type="button " class="btn btn-info pull-left " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                        {{l("Prove")}}</button>
                                    <button type="button " class="btn btn-danger pull-left " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                        {{l("Cancel Prove")}}</button>
                                </div>
                                <div class="col-lg-8">
                                </div>
                                <div class="col-lg-4">
                                    <label for="" class="col-form-label">
                                        Employee Code
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer col-md-12 ">
                <div class="col-md-12 ">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save ")}}</button>

                </div>
            </div>
        </div>
    </div>