<div [@routerTransition]>
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <!-- <div class="mr-auto col-sm-4 row">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{l("Dashboard Test")}}</span>
        </h3>
        <div class="btn-group col-lg-6">
          <select class="form-control text-center" id="change_m" #change_m (change)="change_reload_data_main(change_m.value)"
            style="background-color:rgb(151, 171, 194);width: 200px">
            <option selected value="10">ตุลาคม</option>
            <option value="11">พฤษจิกายน</option>
          </select>
        </div>
      </div> -->

      <!-- <div class="col-sm-3 pull-right">
        <div class="m-portlet__head-tools">
          <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
            role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_widget11_tab1_content" role="tab"
                aria-selected="true">
                งบดุล
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget11_tab2_content" role="tab"
                aria-selected="false">
                รายได้ ค่าใช้จ่าย
              </a>
            </li>
          </ul>
        </div>
      </div> -->


    </div>
  </div>
  <div class="m-content col-md-12">

    <div class="m-portlet m-portlet--tabs">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption col-md-5">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Dashboard<h6><small>(ข้อมูลทดสอบ)</small></h6>
            </h3>
          </div>
          <input onkeyup="chkstr(this,this.value)" data-provide="datetimepicker" data-date-language="th-th"
            autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
            data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center"
            placeholder="ตั้งแต่วันที่">
          <div style="margin-top:15px">
            <h6>{{l("ถึง")}}</h6>
          </div>
          <input onkeyup="chkstr(this,this.value)" data-provide="datetimepicker" data-date-language="th-th"
            autocomplete="off" type="text" onkeydown="chkstr2(this)" data-provide="datepicker"
            data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center"
            placeholder="ถึงวันที่">
        </div>
        <div class="m-portlet__head-tools">
          <ul class="nav nav-tabs m-tabs-line m-tabs-line--warning m-tabs-line--2x" role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                <i class="la la-cog"></i>
                รายได้ - ค่าใช้จ่าย
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                <i class="la la-briefcase"></i>
                งบดุล
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                <i class="la la-bell-o"></i>
                สถิติผู้ป่วย
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                <i class="la la-bell-o"></i>
                สัดส่วนลูกหนี้
              </a>
            </li>
          </ul>

        </div>
      </div>

    </div>
    <div class="m-portlet m-portlet--half-height col-md-12">
      <div class="m-portlet__body  m-portlet__body--no-padding">

        <div class="row m-row--no-padding m-row--col-separator-xl">
          <div class="col-xl-4">
            <!--begin:: Widgets/Stats2-1 -->
            <div class="m-widget1">
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">
                      สินทรัพย์
                    </h3>
                    <span class="m-widget1__desc">
                      สินทรัพย์ทั้งสิ้น
                    </span>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-brand">
                      60,298 ล้านบาท
                    </span>
                  </div>
                </div>
              </div>
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">
                      หนี้สิน
                    </h3>
                    <span class="m-widget1__desc">
                      หนี้สินรวม ทั้งสิ้น
                    </span>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-danger">
                      56,390 ล้าน
                    </span>
                  </div>
                </div>
              </div>
              <div class="m-widget1__item">
                <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">
                      ทุน
                    </h3>
                    <span class="m-widget1__desc">
                      ทุน ทั้งสิ้น
                    </span>
                  </div>
                  <div class="col m--align-right">
                    <span class="m-widget1__number m--font-success">
                      7400 ล้านบาท
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--end:: Widgets/Stats2-1 -->
          </div>
          <div class="col-xl-4">
            <!--begin:: Widgets/Profit Share-->
            <div class="m-widget14">
              <div class="m-widget14__header">
                <h3 class="m-widget14__title">
                  NET PROFIT
                </h3>
                <span class="m-widget14__desc">
                  รายจได้สทธิปี 2561
                </span>
              </div>
              <div class="row  align-items-center m-widget25">
                <span class="m-widget25__price m--font-brand">
                  355,554
                </span>
                <br>
                <span class="m-widget25__desc">
                  หน่วยล้านบาท
                </span>
              </div>
            </div>
            <!--end:: Widgets/Profit Share-->
          </div>
          <div class="col-xl-4">
            <!--begin:: Widgets/Profit Share-->
            <div class="m-widget14">
              <div class="m-widget14__header">
                <h3 class="m-widget14__title">
                  EXPEMSES
                </h3>
                <span class="m-widget14__desc">
                  รายจ่ายสทธิปี 2561
                </span>
              </div>
              <div class="row  align-items-center m-widget25">
                <span class="m-widget25__price m--font-brand">
                  355,554
                </span>
                <br>
                <span class="m-widget25__desc">
                  หน่วยล้านบาท
                </span>
              </div>
            </div>
            <!--end:: Widgets/Profit Share-->
          </div>
        </div>
        <!-- <div class="row m-row--no-padding m-row--col-separator-xl">
          <div class="m-portlet m-portlet--half-height  m-portlet--border-bottom-warning col-md-3">
            <div class="m-portlet__body">
              <div class="m-widget26">
                <div class="m-widget26__number">
                  59,487,440
                  <small>
                    NET PROFIT
                  </small>
                </div>
                <div class="m-widget26__chart">
                  รายได้สุทธิปี 2561
                </div>
              </div>
            </div>

          </div>

          <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger col-md-3">
            <div class="m-portlet__body">
              <div class="m-widget26">
                <div class="m-widget26__number">
                  39,222,313
                  <small>
                    EXPEMSES
                  </small>
                </div>
                <div class="m-widget26__chart">
                  รายจ่ายสทธิปี 2561
                </div>
              </div>
            </div>
          </div>

          <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-warning col-md-3">
            <div class="m-portlet__body ">
              <div class="m-widget26">
                <div class="m-widget26__number">
                  72,343,156
                  <small>
                    ทรัพสินย์
                  </small>
                </div>
                <div class="m-widget26__chart">
                  ทรัพสินย์รวม
                </div>
              </div>
            </div>

          </div>

          <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger col-md-3">
            <div class="m-portlet__body ">
              <div class="m-widget26">
                <div class="m-widget26__number">
                  72,343,156
                  <small>
                    หนี้สิน
                  </small>
                </div>
                <div class="m-widget26__chart">
                  หนี้สินรวม
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div class="m-portlet m-portlet--half-height col-md-12" style="background-color:#F2F2F2">
      <br>
      <div class="tab-content">
        <!-- ///////////////// tab 1 -->
        <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">



          <div class="m-portlet m-portlet--half-height col-md-12">
            <div class="m-portlet__body  m-portlet__body--no-padding">
              <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-6">
                  <div class="m-widget14">
                    <div class="m-widget14__header">
                      <h3 class="m-widget14__title">
                        NET PROFIT
                      </h3>
                      <span class="m-widget14__desc">
                        วิเคราะห์ข้อมูล รายได้สุทธิ
                      </span>
                    </div>
                    <div class="row  align-items-center">

                      <dx-polar-chart id="chart" [useSpiderWeb]="true" [dataSource]="spider_map_netprofit"
                        style="margin-left: 20px">
                        <!-- <dxi-series valueField="lastyear" name="lastyear"></dxi-series> -->
                        <dxi-series valueField="actual" name="actual" color="#00FF00"></dxi-series>
                        <dxo-common-series-settings type="line">
                          <dxo-label [visible]="false" overlappingBehavior="rotate" [rotationAngle]="90"></dxo-label>
                        </dxo-common-series-settings>
                        <!-- <dxo-export [enabled]="true"></dxo-export> -->
                        <dxo-tooltip [enabled]="true" format="fixedPoint %"></dxo-tooltip>
                        <dxo-legend [visible]="false"></dxo-legend>
                      </dx-polar-chart>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="m-widget14">
                    <div class="m-widget14__header">
                      <h3 class="m-widget14__title">
                        EXPEMSES
                      </h3>
                      <span class="m-widget14__desc">
                        วิเคราะห์ข้อมูล ค่าใช้จ่ายสุทธิ
                      </span>
                    </div>
                    <div class="row  align-items-center">

                      <dx-polar-chart id="chart" [useSpiderWeb]="true" [dataSource]="spider_map_expemses">
                        <!-- <dxi-series valueField="lastyear" name="lastyear"></dxi-series> -->
                        <dxi-series valueField="actual" name="actual" color="red"></dxi-series>
                        <dxo-common-series-settings type="line">
                          <dxo-label [visible]="false" overlappingBehavior="rotate" [rotationAngle]="90"></dxo-label>
                        </dxo-common-series-settings>
                        <!-- <dxo-export [enabled]="true"></dxo-export> -->
                        <dxo-tooltip [enabled]="true" format="fixedPoint %"></dxo-tooltip>
                        <dxo-legend [visible]="false"></dxo-legend>
                      </dx-polar-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="m-portlet m-portlet--half-height col-md-12">
            <div class="m-portlet__body  m-portlet__body--no-padding">
              <div>

                <div class="m-portlet__body">
                  <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active show" data-toggle="tab" href="#m_tabs_5_1">
                        Compare Rev.
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#m_tabs_5_2">
                        รายได้
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#m_tabs_5_3">
                        ค่าใช้จ่าย
                      </a>
                    </li>
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane active show" id="m_tabs_5_1" role="tabpanel">


                      <div id="chart-demo">
                        <dx-chart palette="Violet" [dataSource]="compare_opd">
                          <dxi-value-axis [maxValueMargin]="0.01">
                            <dxo-label [customizeText]="customizeText"></dxo-label>
                            <!-- <dxi-constant-line [width]="2" [value]="lowAverage" color="#8c8cff" dashStyle="dash">
                            <dxo-label text="Low Average"></dxo-label>
                          </dxi-constant-line> -->
                            <dxi-constant-line [width]="2" [value]="highAverage" color="#ff7c7c" dashStyle="dash">
                              <dxo-label text="Average Budget {{highAverage | number}}"></dxo-label>
                            </dxi-constant-line>
                          </dxi-value-axis>
                          <dxi-series *ngFor="let energy of EnergyOPD" [valueField]="energy.value" [name]="energy.name">
                          </dxi-series>

                          <dxo-common-series-settings argumentField="title" [type]="line">
                          </dxo-common-series-settings>

                          <dxo-margin [bottom]="20"></dxo-margin>
                          <dxo-argument-axis [valueMarginsEnabled]="true" discreteAxisDivisionMode="crossLabels">
                            <dxo-grid [visible]="true"></dxo-grid>
                          </dxo-argument-axis>
                          <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
                          </dxo-legend>
                          <dxo-title text="Compare Rev. OPD of month 2019-2018">
                            <dxo-subtitle text="(1:1,000)">
                            </dxo-subtitle>
                          </dxo-title>
                          <dxo-export [enabled]="false"></dxo-export>
                          <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="#,##0.00">
                          </dxo-tooltip>
                        </dx-chart>
                      </div>

                      <div id="chart-demo2">
                        <dx-chart palette="Violet" [dataSource]="compare_ipd">
                          <dxi-value-axis [maxValueMargin]="0.01">
                            <dxo-label [customizeText]="customizeText"></dxo-label>
                            <!-- <dxi-constant-line [width]="2" [value]="lowAverage" color="#8c8cff" dashStyle="dash">
                            <dxo-label text="Low Average"></dxo-label>
                          </dxi-constant-line> -->
                            <dxi-constant-line [width]="2" [value]="highAverage" color="#ff7c7c" dashStyle="dash">
                              <dxo-label text="Average Budget {{highAverage | number}}"></dxo-label>
                            </dxi-constant-line>
                          </dxi-value-axis>
                          <dxi-series *ngFor="let energy of EnergyIPD" [valueField]="energy.value" [name]="energy.name">
                          </dxi-series>

                          <dxo-common-series-settings argumentField="title" [type]="line">
                          </dxo-common-series-settings>

                          <dxo-margin [bottom]="20"></dxo-margin>
                          <dxo-argument-axis [valueMarginsEnabled]="true" discreteAxisDivisionMode="crossLabels">
                            <dxo-grid [visible]="true"></dxo-grid>
                          </dxo-argument-axis>
                          <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
                          </dxo-legend>
                          <dxo-title text="Compare Rev. IPD of month 2019-2018">
                            <dxo-subtitle text="(1:1,000)">
                            </dxo-subtitle>
                          </dxo-title>
                          <dxo-export [enabled]="false"></dxo-export>
                          <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="#,##0.00">
                          </dxo-tooltip>
                        </dx-chart>
                      </div>

                      <div id="chart-demo3">
                        <dx-chart palette="Violet" [dataSource]="compare_total">
                          <dxi-value-axis [maxValueMargin]="0.01">
                            <dxo-label [customizeText]="customizeText"></dxo-label>
                            <!-- <dxi-constant-line [width]="2" [value]="lowAverage" color="#8c8cff" dashStyle="dash">
                              <dxo-label text="Low Average"></dxo-label>
                            </dxi-constant-line> -->
                            <dxi-constant-line [width]="2" [value]="highAverage" color="#ff7c7c" dashStyle="dash">
                              <dxo-label text="Average Budget {{highAverage | number}}"></dxo-label>
                            </dxi-constant-line>
                          </dxi-value-axis>
                          <dxi-series *ngFor="let energy of EnergyTotal" [valueField]="energy.value"
                            [name]="energy.name">
                          </dxi-series>

                          <dxo-common-series-settings argumentField="title" [type]="line">
                          </dxo-common-series-settings>

                          <dxo-margin [bottom]="20"></dxo-margin>
                          <dxo-argument-axis [valueMarginsEnabled]="true" discreteAxisDivisionMode="crossLabels">
                            <dxo-grid [visible]="true"></dxo-grid>
                          </dxo-argument-axis>
                          <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
                          </dxo-legend>
                          <dxo-title text="Compare Rev. of month ">
                            <dxo-subtitle text="(1:1,000)">
                            </dxo-subtitle>
                          </dxo-title>
                          <dxo-export [enabled]="false"></dxo-export>
                          <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="#,##0.00">
                          </dxo-tooltip>
                        </dx-chart>
                      </div>



                    </div>
                    <div class="tab-pane" id="m_tabs_5_2" role="tabpanel">

                      <div class="col-md-12 text-center">
                        <div class="m-portlet__body ">
                          <div class="m-widget25 ">
                            <h1 class=" m--font-brand">
                              {{sum_income | number}}
                            </h1>
                            <br>
                            <span class="m-widget25__desc">
                              รวมรายได้
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 row">
                        <div class="col-md-6">
                          <table class="table">
                            <thead>
                              <tr>
                                <td class="m-widget11__app">
                                  รายการ
                                </td>
                                <td class="m-widget11__sales text-right">
                                  ปี 2561
                                </td>
                                <td class="m-widget11__price text-right">
                                  ปี 2560
                                </td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of income">
                                <td>
                                  <span class="m-widget11__title">
                                    {{ item.state}}
                                  </span>
                                </td>
                                <td class="text-right">
                                  {{ item.firstyear | number}}
                                </td>
                                <td class="text-right">
                                  {{ item.lastyear | number}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div class="col-md-6">
                          <dx-chart id="chart" [dataSource]="income" (onPointClick)="onPointClick($event)">
                            <dxo-argument-axis>
                              <!-- or dxi-value-axis, or dxo-common-axis-settings -->
                              <dxo-label overlappingBehavior="rotate" [rotationAngle]="45">
                              </dxo-label>
                            </dxo-argument-axis>
                            <dxi-series valueField="firstyear" name="2561" color="#ffa500"></dxi-series>
                            <dxi-series valueField="lastyear" name="2560"></dxi-series>
                            <dxo-common-series-settings argumentField="state" type="bar" hoverMode="allArgumentPoints"
                              selectionMode="allArgumentPoints">
                              <dxo-label [visible]="false" overlappingBehavior="rotate" [rotationAngle]="270"
                                format="#,##0">
                              </dxo-label>
                            </dxo-common-series-settings>
                            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                            </dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                          </dx-chart>
                        </div>
                      </div>


                      <br>
                      <div class="col-md-12">
                        <dx-chart id="chart" title="ตารางเปรียบเทียบรายได้" [dataSource]="netprofit"
                          (onPointClick)="onPointClick($event)">
                          <dxi-series valueField="plan" name="plan"></dxi-series>
                          <dxi-series valueField="actual" name="actual"></dxi-series>
                          <dxi-series valueField="lastyear" name="lastyear"></dxi-series>
                          <dxo-common-series-settings argumentField="title" type="bar" hoverMode="allArgumentPoints"
                            selectionMode="allArgumentPoints">
                            <dxo-label [visible]="true" [format]="{
                                                  type: 'fixedPoint',
                                                  precision: '0'
                                              }">
                            </dxo-label>
                          </dxo-common-series-settings>
                          <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                          </dxo-legend>
                          <dxo-export [enabled]="false"></dxo-export>
                        </dx-chart>
                      </div>
                      <div class="col-md-12 row">
                        <div class="col-md-6">
                          <dx-chart id="chart" [dataSource]="data_opd" [customizePoint]="customizePoint">
                            <dxo-title text="รายได้ OPD">
                              <dxo-subtitle text="(1:1,000)">
                              </dxo-subtitle>
                            </dxo-title>
                            <dxi-value-axis [maxValueMargin]="0.01">
                              <dxo-label [customizeText]="customizeText"></dxo-label>
                              <dxi-constant-line [width]="2" [value]="Plan_opd" color="red" dashStyle="dash">
                                <dxo-label text="Plan OPD {{Plan_opd | number}}"></dxo-label>
                              </dxi-constant-line>
                            </dxi-value-axis>
                            <dxi-series argumentField="title" valueField="val" type="bar">
                            </dxi-series>
                            <dxo-legend [visible]="false"></dxo-legend>
                          </dx-chart>
                        </div>
                        <div class="col-md-6">
                          <dx-chart id="chart" [dataSource]="data_ipd" [customizePoint]="customizePoint"
                            (onPointClick)="pointClick($event)">
                            <dxo-title text="รายได้ IPD">
                              <dxo-subtitle text="(1:1,000)">
                              </dxo-subtitle>
                            </dxo-title>
                            <dxi-value-axis [maxValueMargin]="0.01">
                              <dxo-label [customizeText]="customizeText"></dxo-label>
                              <dxi-constant-line [width]="2" [value]="Plan_ipd" color="red" dashStyle="dash">
                                <dxo-label text="Plan IPD {{Plan_ipd | number}}"></dxo-label>
                              </dxi-constant-line>
                            </dxi-value-axis>

                            <dxi-series argumentField="title" valueField="val" type="bar" color="#e7d19a">
                            </dxi-series>
                            <dxo-legend [visible]="false"></dxo-legend>
                          </dx-chart>
                        </div>
                      </div>


                    </div>
                    <div class="tab-pane" id="m_tabs_5_3" role="tabpanel">

                      <div class="col-md-12 text-center">
                        <div class="m-portlet__body">
                          <div class="m-widget25 ">
                            <h1 class=" m--font-brand">
                              {{sum_pay | number}}
                            </h1>
                            <br>
                            <span class="m-widget25__desc">
                              รวมค่าใช้จ่าย
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 row">
                        <div class="col-md-6">
                          <table class="table">
                            <thead>
                              <tr>
                                <td class="m-widget11__app">
                                  รายการ
                                </td>
                                <td class="m-widget11__sales text-right">
                                  ปี 2561
                                </td>
                                <td class="m-widget11__price text-right">
                                  ปี 2560
                                </td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of pay">
                                <td>
                                  <span class="m-widget11__title">
                                    {{ item.state}}
                                  </span>
                                </td>
                                <td class="text-right">
                                  {{ item.firstyear | number}}
                                </td>
                                <td class="text-right">
                                  {{ item.lastyear | number}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-6">
                          <dx-chart id="chart" [dataSource]="pay" (onPointClick)="onPointClick($event)">
                            <dxo-argument-axis>
                              <!-- or dxi-value-axis, or dxo-common-axis-settings -->
                              <dxo-label overlappingBehavior="rotate" [rotationAngle]="45">
                              </dxo-label>
                            </dxo-argument-axis>
                            <dxi-series valueField="firstyear" name="2561" color="#ffa500"></dxi-series>
                            <dxi-series valueField="lastyear" name="2560"></dxi-series>
                            <dxo-common-series-settings argumentField="state" type="bar" hoverMode="allArgumentPoints"
                              selectionMode="allArgumentPoints">
                              <dxo-label [visible]="false" overlappingBehavior="rotate" [rotationAngle]="270"
                                format="#,##0">
                              </dxo-label>
                            </dxo-common-series-settings>
                            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                            </dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                          </dx-chart>
                        </div>
                      </div>


                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

        <!-- ///////////////// tab 2 -->
        <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
          <div class="m-portlet m-portlet--half-height col-md-12">
            <div class="m-portlet__body  m-portlet__body--no-padding">

              <br>
              <div class="col-xl-12">
                <div class="">
                  <div class="">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                          วิเคราะห์ข้อมูล ทั้งหมด
                        </h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      วิเคราะห์ข้อมูล
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <div class="m-widget11">
                      <div class="table-responsive">

                        <div class="col-md-12 row">
                          <div class="col-md-6">
                            <dx-pie-chart id="pie" type="doughnut" title="" palette="Soft Pastel"
                              [dataSource]="analy_alldata">
                              <!-- <dxo-export [enabled]="true"></dxo-export> -->
                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="title" valueField="amt">
                                <dxo-small-values-grouping mode="topN" [topCount]="4"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint"
                                  [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>

                          <div class="col-md-6">
                            <div class="m-portlet__body">
                              <div class="m-widget13">
                                <div class="m-widget13__item">
                                  <span class="m-widget13__desc m--align-right">
                                    สินทรัพย์หมุนเวียน
                                  </span>
                                  <span class="m-widget13__text m-widget13__text-bolder">
                                    {{ sum_asset | number}}
                                  </span>
                                </div>
                                <div class="m-widget13__item">
                                  <span class="m-widget13__desc m--align-right">
                                    สินทรัพย์ไม่หมุนเวียน
                                  </span>
                                  <span class="m-widget13__text m-widget13__text-bolder">
                                    {{ sum_asset_loop | number}}
                                  </span>
                                </div>
                                <div class="m-widget13__item">
                                  <span class="m-widget13__desc m--align-right">
                                    หนี้สินหมุนเวียน
                                  </span>
                                  <span class="m-widget13__text m-widget13__text-bolder">
                                    {{ sum_debit_asset | number}}
                                  </span>
                                </div>
                                <div class="m-widget13__item">
                                  <span class="m-widget13__desc m--align-right">
                                    หนี้สินไม่หมุนเวียน
                                  </span>
                                  <span class="m-widget13__text m-widget13__text-bolder">
                                    {{ sum_debit_asset_loop | number}}
                                  </span>
                                </div>
                                <div class="m-widget13__item">
                                  <span class="m-widget13__desc m--align-right">
                                    สินทรัพย์ - หนี้สิน :
                                  </span>
                                  <span class="m-widget13__text m-widget13__text-bolder">
                                    {{ res | number}}
                                  </span>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-xl-12">
                <div class=" ">
                  <div class="">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                          สินทรัพย์หมุนเวียน
                        </h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      วิเคราะห์ข้อมูล
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <div class="m-widget11">
                      <div class="table-responsive">


                        <div class="col-md-12">
                          <dx-chart id="chart" [rotated]="true" [dataSource]="asset"
                            (onPointClick)="onPointClick($event)">
                            <dxo-argument-axis>

                              <dxo-label overlappingBehavior="rotate" [rotationAngle]="45">
                              </dxo-label>
                            </dxo-argument-axis>
                            <dxi-series valueField="firstyear" name="2561" color="#ffa500"></dxi-series>
                            <dxi-series valueField="lastyear" name="2560"></dxi-series>
                            <dxo-common-series-settings argumentField="state" type="bar" hoverMode="allArgumentPoints"
                              selectionMode="allArgumentPoints">
                              <dxo-label [visible]="false" overlappingBehavior="rotate" [rotationAngle]="270"
                                format="#,##0">
                              </dxo-label>
                            </dxo-common-series-settings>
                            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                            </dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                          </dx-chart>
                        </div>


                        <!-- <div class="col-md-12 row">
                          <div class="col-md-12">
                            <dx-pie-chart id="pie" type="doughnut" title="ปี 2561" palette="Soft Pastel" [dataSource]="asset">
                           
                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="state" valueField="firstyear">
                                <dxo-small-values-grouping mode="topN" [topCount]="20"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint" [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>
                          <div class="col-md-12">
                            <dx-pie-chart id="pie" type="doughnut" title="ปี 2560" palette="Soft Pastel" [dataSource]="asset">
                            
                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="state" valueField="lastyear">
                                <dxo-small-values-grouping mode="topN" [topCount]="20"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint" [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>
                        </div> -->

                        <div class="col-md-12 row">
                          <div class="col-md-6">
                            <table class="table">
                              <thead>
                                <tr>
                                  <td class="m-widget11__app">
                                    รายการ
                                  </td>
                                  <td class="m-widget11__sales text-right">
                                    ปี 2561
                                  </td>
                                  <td class="m-widget11__price text-right">
                                    คิดเป็น %
                                  </td>
                                  <td class="m-widget11__sales text-right">
                                    ปี 2560
                                  </td>
                                  <td class="m-widget11__price text-right">
                                    คิดเป็น %
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of asset">
                                  <td>
                                    <span class="m-widget11__title">
                                      {{ item.state}}
                                    </span>
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyear | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyearpersen | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyear | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.lastyearpersen | number}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <div class="col-md-6">
                            <div class="m-portlet__body">
                              <div class="m-widget25 text-center">
                                <h1 class=" m--font-brand">
                                  {{sum_asset | number}}
                                </h1>
                                <br>
                                <span class="m-widget25__desc">
                                  รวมทรัพสินย์หมุนเวียน
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-12">
                <div class="">
                  <div class="">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                          สินทรัพย์ไม่หมุนเวียน
                        </h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      วิเคราะห์ข้อมูล
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <div class="m-widget11">
                      <div class="table-responsive">


                        <div class="col-md-12">
                          <dx-chart id="chart" [rotated]="true" [dataSource]="asset_loop"
                            (onPointClick)="onPointClick($event)">
                            <dxo-argument-axis>
                              <dxo-label overlappingBehavior="rotate" [rotationAngle]="45">
                              </dxo-label>
                            </dxo-argument-axis>
                            <dxi-series valueField="firstyear" name="2561" color="#ffa500"></dxi-series>
                            <dxi-series valueField="lastyear" name="2560"></dxi-series>
                            <dxo-common-series-settings argumentField="state" type="bar" hoverMode="allArgumentPoints"
                              selectionMode="allArgumentPoints">
                              <dxo-label [visible]="false" overlappingBehavior="rotate" [rotationAngle]="270"
                                format="#,##0">
                              </dxo-label>
                            </dxo-common-series-settings>
                            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                            </dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                          </dx-chart>
                        </div>
                        <!-- <div class="col-md-12 row">
                          <div class="col-md-12">
                            <dx-pie-chart id="pie" type="doughnut" title="ปี 2561" palette="Soft Pastel" [dataSource]="asset_loop">

                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="state" valueField="firstyear">
                                <dxo-small-values-grouping mode="topN" [topCount]="20"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint" [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>
                          <div class="col-md-12">
                            <dx-pie-chart id="pie" type="doughnut" title="ปี 2560" palette="Soft Pastel" [dataSource]="asset_loop">

                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="state" valueField="lastyear">
                                <dxo-small-values-grouping mode="topN" [topCount]="20"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint" [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>
                        </div> -->

                        <div class="col-md-12 row">
                          <div class="col-md-6">
                            <table class="table">
                              <thead>
                                <tr>
                                  <td class="m-widget11__app">
                                    รายการ
                                  </td>
                                  <td class="m-widget11__sales text-right">
                                    ปี 2561
                                  </td>
                                  <td class="m-widget11__price text-right">
                                    คิดเป็น %
                                  </td>
                                  <td class="m-widget11__sales text-right">
                                    ปี 2560
                                  </td>
                                  <td class="m-widget11__price text-right">
                                    คิดเป็น %
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of asset_loop">
                                  <td>
                                    <span class="m-widget11__title">
                                      {{ item.state}}
                                    </span>
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyear | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyearpersen | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyear | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.lastyearpersen | number}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <div class="col-md-6">
                            <div class="m-portlet__body">
                              <div class="m-widget25 text-center">
                                <h1 class=" m--font-brand">
                                  {{sum_asset_loop | number}}
                                </h1>
                                <br>
                                <span class="m-widget25__desc">
                                  รวมทรัพสินย์ไม่หมุนเวียน
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-xl-12">
                <div class="">
                  <div class="">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                          หนี้สินหมุนเวียน
                        </h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      วิเคราะห์ข้อมูล
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <div class="m-widget11">
                      <div class="table-responsive">

                        <div class="col-md-12">
                          <dx-chart id="chart" [rotated]="true" [dataSource]="debit_asset"
                            (onPointClick)="onPointClick($event)">
                            <dxo-argument-axis>

                              <dxo-label overlappingBehavior="rotate" [rotationAngle]="45">
                              </dxo-label>
                            </dxo-argument-axis>
                            <dxi-series valueField="firstyear" name="2561" color="#ffa500"></dxi-series>
                            <dxi-series valueField="lastyear" name="2560"></dxi-series>
                            <dxo-common-series-settings argumentField="state" type="bar" hoverMode="allArgumentPoints"
                              selectionMode="allArgumentPoints">
                              <dxo-label [visible]="false" overlappingBehavior="rotate" [rotationAngle]="270"
                                format="#,##0">
                              </dxo-label>
                            </dxo-common-series-settings>
                            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                            </dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                          </dx-chart>
                        </div>

                        <!-- <div class="col-md-12 row">
                          <div class="col-md-12">
                            <dx-pie-chart id="pie" type="doughnut" title="ปี 2561" palette="Soft Pastel" [dataSource]="debit_asset">

                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="state" valueField="firstyear">
                                <dxo-small-values-grouping mode="topN" [topCount]="20"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint" [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>
                          <div class="col-md-12">
                            <dx-pie-chart id="pie" type="doughnut" title="ปี 2560" palette="Soft Pastel" [dataSource]="debit_asset">

                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="state" valueField="lastyear">
                                <dxo-small-values-grouping mode="topN" [topCount]="20"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint" [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>
                        </div> -->


                        <div class="col-md-12 row">
                          <div class="col-md-6">
                            <table class="table">
                              <thead>
                                <tr>
                                  <td class="m-widget11__app">
                                    รายการ
                                  </td>
                                  <td class="m-widget11__sales text-right">
                                    ปี 2561
                                  </td>
                                  <td class="m-widget11__price text-right">
                                    คิดเป็น %
                                  </td>
                                  <td class="m-widget11__sales text-right">
                                    ปี 2560
                                  </td>
                                  <td class="m-widget11__price text-right">
                                    คิดเป็น %
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of debit_asset">
                                  <td>
                                    <span class="m-widget11__title">
                                      {{ item.state}}
                                    </span>
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyear | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyearpersen | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyear | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.lastyearpersen | number}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <div class="col-md-6">
                            <div class="m-portlet__body">
                              <div class="m-widget25 text-center">
                                <h1 class=" m--font-brand">
                                  {{sum_debit_asset | number}}
                                </h1>
                                <br>
                                <span class="m-widget25__desc">
                                  รวมหนี้สินย์หมุนเวียน
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-xl-12">
                <div class="">
                  <div class="">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                          หนี้สินไม่หมุนเวียน
                        </h3>
                      </div>
                    </div>
                    <div class="m-portlet__head-tools">
                      วิเคราะห์ข้อมูล
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <div class="m-widget11">
                      <div class="table-responsive">

                        <div class="col-md-12">
                          <dx-chart id="chart" [rotated]="true" [dataSource]="debit_asset_loop"
                            (onPointClick)="onPointClick($event)">
                            <dxo-argument-axis>

                              <dxo-label overlappingBehavior="rotate" [rotationAngle]="45">
                              </dxo-label>
                            </dxo-argument-axis>
                            <dxi-series valueField="firstyear" name="2561" color="#ffa500"></dxi-series>
                            <dxi-series valueField="lastyear" name="2560"></dxi-series>
                            <dxo-common-series-settings argumentField="state" type="bar" hoverMode="allArgumentPoints"
                              selectionMode="allArgumentPoints">
                              <dxo-label [visible]="false" overlappingBehavior="rotate" [rotationAngle]="270"
                                format="#,##0">
                              </dxo-label>
                            </dxo-common-series-settings>
                            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                            </dxo-legend>
                            <dxo-export [enabled]="false"></dxo-export>
                          </dx-chart>
                        </div>
                        <!-- <div class="col-md-12 row">
                          <div class="col-md-12">
                            <dx-pie-chart id="pie" type="doughnut" title="ปี 2561" palette="Soft Pastel" [dataSource]="debit_asset_loop">

                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="state" valueField="firstyear">
                                <dxo-small-values-grouping mode="topN" [topCount]="20"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint" [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>
                          <div class="col-md-12">
                            <dx-pie-chart id="pie" type="doughnut" title="ปี 2560" palette="Soft Pastel" [dataSource]="debit_asset_loop">

                              <dxo-legend horizontalAlignment="center" verticalAlignment="bottom"></dxo-legend>
                              <dxi-series argumentField="state" valueField="lastyear">
                                <dxo-small-values-grouping mode="topN" [topCount]="20"></dxo-small-values-grouping>
                                <dxo-label [visible]="true" format="#,##0" format="fixedPoint" [customizeText]="customizeLabel">
                                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                                </dxo-label>
                              </dxi-series>
                            </dx-pie-chart>
                          </div>
                        </div> -->

                        <div class="col-md-12 row">
                          <div class="col-md-6">
                            <table class="table">
                              <thead>
                                <tr>
                                  <td class="m-widget11__app">
                                    รายการ
                                  </td>
                                  <td class="m-widget11__sales text-right">
                                    ปี 2561
                                  </td>
                                  <td class="m-widget11__price text-right">
                                    คิดเป็น %
                                  </td>
                                  <td class="m-widget11__sales text-right">
                                    ปี 2560
                                  </td>
                                  <td class="m-widget11__price text-right">
                                    คิดเป็น %
                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of debit_asset_loop">
                                  <td>
                                    <span class="m-widget11__title">
                                      {{ item.state}}
                                    </span>
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyear | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyearpersen | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.firstyear | number}}
                                  </td>
                                  <td class="text-right">
                                    {{ item.lastyearpersen | number}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <div class="col-md-6">
                            <div class="m-portlet__body">
                              <div class="m-widget25 text-center">
                                <h1 class=" m--font-brand">
                                  {{sum_debit_asset_loop | number}}
                                </h1>
                                <br>
                                <span class="m-widget25__desc">
                                  รวมหนี้สินย์ไม่หมุนเวียน
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>

        <!-- ///////////////// tab 3 -->
        <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">

          <div class="m-portlet m-portlet--half-height col-md-12">
            <div class="m-portlet__body  m-portlet__body--no-padding">
              สถิติผู้ป่วย
            </div>
          </div>
        </div>
        <!-- ///////////////// tab 4 -->
        <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">

          <div class="m-portlet m-portlet--half-height col-md-12">
            <div class="m-portlet__body  m-portlet__body--no-padding">
              <br>

              <dx-chart id="chart" [rotated]="true" [dataSource]="debtor_list">
                <dxi-series valueField="GCD" name="กรมบัญชีกลาง"></dxi-series>
                <dxi-series valueField="Security" name="ประกันสังคม"></dxi-series>
                <dxi-series valueField="insurance" name="หลักประกันสุขภาพ"></dxi-series>
                <dxi-series valueField="Insurance_Company" name="บริษัทประกัน"></dxi-series>
                <dxi-series valueField="Counterparty" name="บริษัทคู่สัญญา"></dxi-series>
                <dxi-series valueField="Family" name="บุคลากรและครอบครับ"></dxi-series>
                <dxi-series valueField="other" name="ลูกหนี้อื่นๆ"></dxi-series>

                <dxo-common-series-settings argumentField="country" type="fullStackedBar">
                </dxo-common-series-settings>
                <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="right">
                </dxo-legend>
                <dxo-title text="สัดส่วนลูกหนี้ ประจำปี">
                  <dxo-subtitle text="(คำนวนเป็น % )"></dxo-subtitle>
                </dxo-title>
                <dxo-export [enabled]="false"></dxo-export>
                <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
                </dxo-tooltip>
              </dx-chart>

            </div>
          </div>
        </div>
        <!-- <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-accent col-md-3">
        <div class="m-portlet__body">
          <div class="m-widget26">
            <div class="m-widget26__number">
              470
              <small>
                All Comissions
              </small>
            </div>
            <div class="m-widget26__chart" style=" width: 220px;">
              test
            </div>
          </div>
        </div>
      </div> -->



      </div>



    </div>
  </div>