<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Program Search")}}</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12  form-group m-form__group row">
                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            {{l("หลักสูตร")}}
                        </label>

                        <div class="col-lg-5" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" #expper22 name="expper22" id="expper22" disabled>
                                <option *ngFor="let item of Course" value="{{item.placod}}">
                                    {{item.planam}}</option>
                            </select>
                        </div>

                        <div class="col-lg-2" style="margin-top: 5px">
                            <button type="button " class="btn btn-secondary pull-left " data-dismiss="modal "
                                style="margin-left: 0px">{{l("ค้นหา")}}</button></div>
                        <div class="col-lg-4">

                        </div>

                        <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                            {{l("วันที่เริ่ม")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 15px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" #date1 name="date1" id="date1"
                                disabled />
                        </div>
                        <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                            {{l("เวลา")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 15px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" #tami1 name="tami1" id="tami1"
                                disabled />
                        </div>

                        <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                            {{l("ถึงวันที่")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 15px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" #date2 name="date2" id="date2"
                                disabled />
                        </div>
                        <label class="col-form-label col-lg-1" style="margin-top: 15px;text-align:right">
                            {{l("เวลา")}}
                        </label>
                        <div class="col-lg-2" style="margin-top: 15px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" #tami2 name="tami2" id="tami2"
                                disabled />
                        </div>



                    </div>

                    <div class="col-md-12  form-group m-form__group row">
                        <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            {{l("พนักงาน")}}
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" onclick="this.select()"
                                (keyup.enter)="chgindex('btnss')" #hsreids id="hsreids"
                                (keyup)="kuacc(hsreids.value)" />
                        </div>

                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off"   class="form-control text-center m-input m-input--air" disabled
                                [(ngModel)]="nameempcs" />
                        </div>

                        <div class="col-lg-1" style="margin-top: 5px">
                            <button type="button " class="btn btn-success pull-left " data-dismiss="modal " #btnss
                                id="btnss" style="margin-left: 0px"
                                (click)="savemini(hsreids.value)">{{l("Save")}}</button></div>

                        <div class="col-lg-1" style="margin-top: 5px">
                            <button type="button " class="btn btn-warning pull-left " data-dismiss="modal " #btnss
                                id="btnss" style="margin-left: 0px" (click)="importf()">{{l("Impot Excel")}}</button></div>

                        <div class="col-lg-2" style="margin-top: 5px">
                            <button type="button " class="btn btn-danger pull-right " data-dismiss="modal "
                                style="margin-left: 0px" (click)="show2() ">{{l("เลือกพนักงาน")}}</button></div>
                    </div>
                    <div class="form-group col-md-12" *ngIf="imported==1">
                        <label for="DefaultFileUploadFileInput" class="control-label">*ขนาดไฟล์ต้องไม่เกิน 300 MB</label>
                        <p-fileUpload multiple="multiple" id="DefaultFileUploadFileInput" name="DefaultFileUploadFileInput[]"
                            [url]="uploadUrl" accept="application/vnd.ms-excel" maxFileSize="300000000" (onUpload)="onUpload($event)"
                            (onBeforeSend)="onBeforeSend($event)">
    
                            <ng-template pTemplate="content">
                                <ul class="m-menu__inner" *ngIf="uploadedFilesexcel.length" >
    
                                    <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true" *ngFor="let file of uploadedFiles">
                                        <a href={{downloadServerLink+file.name}} class="m-menu__link ">
                                            <span class="m-menu__link-text"> {{file.name}} - {{file.size}} bytes</span>
                                        </a>
                                    </li>
                                </ul>
                            </ng-template>
    
                        </p-fileUpload>
    
                    </div>

                    <div class="col-md-12 ">
                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #targetDataGridempsE
                            [dataSource]="CreateCourseDetailInputData" [errorRowEnabled]="false"
                            [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                            columnResizingMode="widget" (onContentReady)="onContentReady($event)"
                            (onRowRemoving)="Deletesemp($event)">
                            <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                                showScrollbar="always">
                            </dxo-scrolling>
                            <dxo-selection mode="single">
                            </dxo-selection>
                            <dxo-editing mode="row" [allowDeleting]="true">
                            </dxo-editing>
                            <dxi-column dataField="hsrcsu" caption="หลักสูตร"></dxi-column>
                            <dxi-column dataField="hsreid" caption="รหัสพนักงาน"></dxi-column>
                            <dxi-column dataField="hrsunam" caption="ชื่อ - นามสกุล">
                                <!-- <dxo-lookup [dataSource]="emp" [displayExpr]="getDisplayExpr" valueExpr="psnidn"></dxo-lookup> -->
                            </dxi-column>
                            <dxi-column dataField="hsrfmd" caption="วันที่เริ่ม" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="hsrfmt" caption="เวลา"></dxi-column>
                            <dxi-column dataField="hsrtod" caption="ถึงวันที่" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="hsrtot" caption="เวลา"></dxi-column>
                        </dx-data-grid>
                    </div>
                </div>
                <div class="modal-footer col-md-12 ">
                    <div class="col-md-12 ">
                        <button type="button " class="btn btn-success pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="saveY() ">
                            <i class="fa fa-close "></i> {{l("Save ")}}</button>
                        <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                            style="margin-right: 5px" (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- ///----------------------------------------------Employee Master List------------------------------------------------------------------------------////// -->
<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Master")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployee [dataSource]="emp"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        keyExpr="psnidn" [(selectedRowKeys)]="selectedRows">

                        <dxo-selection mode="multiple"> </dxo-selection>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="psnidn" caption="Employee ID"></dxi-column>
                        <dxi-column dataField="psntth" caption="Title">
                            <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfnm" caption="First Name"></dxi-column>
                        <dxi-column dataField="psnlnm" caption="Last Name"></dxi-column>
                        <dxi-column dataField="psnfen" caption="First Name(Eng)"></dxi-column>
                        <dxi-column dataField="psnlen" caption="Last Name(Eng)"></dxi-column>
                        <dxi-column dataField="psncom" caption="Company"></dxi-column>
                        <dxi-column dataField="psnbrn" caption="Branch"></dxi-column>
                        <!-- <dxi-column dataField="psnfst" caption="Status"></dxi-column> -->
                    </dx-data-grid>
                    <div class="selected-data">
                        <input autocomplete="off"   onkeyup="chkstr(this,this.value)"   type="text"
                            value="{{gEmployee.selectedRowKeys}}" hidden #data_select2>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan2(data_select2.value)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>