<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-11 row">
                <div style="margin-top:15px">
                    <font size="2">{{l("รหัสพนักงาน")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder=" ">
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("ถึง")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("แผนก")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("ถึง")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("ประเภท")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="col-sm-2 text-right">
                    <button class="btn btn-info " (click)="timerecordadd.show()">
                        <i class="fa fa-plus"></i>{{l("Add")}}
                    </button>
                </div>
            </div>

        </div>
        <div class="mr-auto col-sm-11 row" style="margin-top: 7px;margin-left: 30px">
            <div style="margin-top:15px">
                <font size="2" style="text-align:right">{{l("วันที่")}}</font>
            </div>
            <div class="col-lg-2">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air"
                    id="date1" data-date-format="dd/mm/yyyy" data-provide="datepicker" data-date-language="th-th">
            </div>
            <div style="margin-top:15px">
                <font size="2" style="text-align:right">{{l("ถึง")}}</font>
            </div>
            <div class="col-lg-2">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air"
                    id="date2" data-date-format="dd/mm/yyyy" data-provide="datepicker" data-date-language="th-th">
            </div>
            <div style="margin-top: 5px">
                <button class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div style="margin-left:0px">
                <div class="col-sm-2 text-left">
                    <button class="btn btn-warning ">
                        {{l("โอนข้อมูลจากรายงานทำงานประจำวัน")}}
                    </button>
                </div>
            </div>
            <div style="margin-top:15px">
                <font size="2" style="text-align:right">{{l("นับอายุงานจนถึง")}}</font>
            </div>
            <div class="col-lg-2">
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center m-input m-input--air"
                    id="date3" data-date-format="dd/mm/yyyy" data-provide="datepicker" data-date-language="th-th">
            </div>
        </div>
    </div>

    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Time Record Entry")}} </h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]=" " (onContentReady)="onContentReady($event)"
                    [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">

                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                    </dxo-scrolling>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-export [enabled]="true" fileName="Special Cost Document List" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                        [visible]="true">
                    </dxo-pager>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxi-column dataField="psnidn" caption="รหัสพนักงาน"> </dxi-column>
                    <dxi-column dataField="psnfnm" caption="ชื่อ"></dxi-column>
                    <dxi-column dataField="psnlnm" caption="นามสกุล"></dxi-column>
                    <dxi-column dataField="psndep" caption="วันที่"> </dxi-column>
                    <dxi-column dataField="psndev" caption="รหัสกะ"> </dxi-column>
                    <dxi-column dataField="psnpty" caption="รหัสประเภท"> </dxi-column>
                    <dxi-column dataField="psnsts" caption="ชื่อประเภท"> </dxi-column>
                    <dxi-column dataField="psnmmn" caption="รหัสแผนก"> </dxi-column>
                    <dxi-column dataField="psnmmn" caption="ชื่อแผนก"> </dxi-column>
                    <dxi-column dataField="psnmmn" caption="ชม."> </dxi-column>

                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false" cellTemplate="cellTemplate"
                        caption=""></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" style="color:#3399FF	" class="" (click)="empbftopayrolledit.show()">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <timerecordadd #timerecordadd (modalSave)="ngOnInit()"></timerecordadd>
    <empbftopayrolledit #empbftopayrolledit (modalSave)="ngOnInit()"></empbftopayrolledit>
</div>