<div bsModal #modal_rate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
  <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
    <div class="modal-content">

      <div class="modal-header" style="background-color:#58A3DC">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b>{{("Income and Reduce Code Setting")}}</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close('rate')">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>

      <div class="modal-body" id="us">
        <div class="form-group row" id="md">

          <div class="col-md-12">
            <div class="form-group m-form__group row">
              <div class="col-lg-2">
                <label for="" class="col-form-label">รหัสประเภทรายได้</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  name="" placeholder="" disabled>
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุรหัสประเภทรายได้
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">รายละเอียด</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-left"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุรายละเอียด
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">รายละเอียดภาษาไทย</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-left"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุรายละเอียดภาษาไทย
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">รายละเอียดภาษาอังกฤษ</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-left"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุรายละเอียดภาษาอังกฤษ
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">จำนวนทศนิยม</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-left"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบจำนวนทศนิยม
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-lg-3 m-portlet" style="background-color:#FEF9E7;">
                <label for="" class="col-form-label">ตัวเลือกรหัสประเภท</label>
                <div class="input-group">
                  <label class="m-radio m-radio--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="typecode">
                    Income<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-radio m-radio--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="typecode">
                    Special Income<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-radio m-radio--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="typecode">
                    Deduction<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-radio m-radio--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="typecode">
                    Other<span></span>
                  </label>
                </div>
                <span class="m-form__help" style="color:#BEBEBE">
                  เลือกตัวเลือกรหัสประเภท
                </span>
              </div>
              <div class="col-lg-3 m-portlet" style="background-color:#FBEEE6;">
                <label for="" class="col-form-label">ตัวเลือกการคำนวณ</label>
                <div class="input-group">
                  <label class="m-checkbox m-checkbox--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox">
                    Calculate TAX<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-checkbox m-checkbox--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox">
                    Calculate Social<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-checkbox m-checkbox--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox">
                    Provident Fund<span></span>
                  </label>
                </div>
                <span class="m-form__help" style="color:#BEBEBE">
                  เลือกตัวเลือกการคำนวณ
                </span>
              </div>
              <div class="col-lg-3 m-portlet" style="background-color:#F4ECF7;">
                <label for="" class="col-form-label">ตัวเลือกเพิ่มเติม</label>
                <div class="input-group">
                  <label class="m-checkbox m-checkbox--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox">
                    Clear Data When Recalculate Payroll<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-checkbox m-checkbox--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox">
                    Active/Enabled<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-checkbox m-checkbox--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox">
                    Must Passed Probation<span></span>
                  </label>
                </div>
                <span class="m-form__help" style="color:#BEBEBE">
                  เลือกตัวเลือกเพิ่มเติม
                </span>
              </div>
              <div class="col-lg-3 m-portlet" style="background-color:#FDEDEC;">
                <label for="" class="col-form-label">Rounding Condition</label>
                <div class="input-group">
                  <label class="m-radio m-radio--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="RoundingC">
                    Auto Rounding<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-radio m-radio--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="RoundingC">
                    Auto Rounding to 0<span></span>
                  </label>
                </div>
                <div class="input-group">
                  <label class="m-radio m-radio--state-success">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="radio" name="RoundingC">
                    OFF Auto Rounding<span></span>
                  </label>
                </div>
                <span class="m-form__help" style="color:#BEBEBE">
                  Rounding Condition
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-lg-12">
                <div class="input-group">
                  <button class="btn btn-success" type="button" (click)="show_modal_employee()"><i
                      class="fa fa-address-card"></i> Employee List for Fix
                    Amount</button>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-lg-12">
                <hr style=" border: 1px dashed  #BEBEBE;">
                <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#tab1" role="tab">
                      Data Source
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab2" role="tab">
                      Control Function
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab3" role="tab">
                      Print Line Group
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#tab4" role="tab">
                      Show At Pay-Slip
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab1" role="tabpanel">
                    <div class="col-md-12">
                      <div class="form-group m-form__group row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 row">
                          <div class="col-lg-6">
                            <label for="" class="col-form-label">Get Data From</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                          </div>
                          <div class="col-lg-6">
                            <label for="" class="col-form-label">&nbsp;</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="" disabled>
                          </div>
                          <div class="col-lg-6">
                            <label for="" class="col-form-label">Attendance Code</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                          </div>
                          <div class="col-lg-6">
                            <label for="" class="col-form-label">&nbsp;</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="" disabled>
                          </div>
                        </div>
                        <div class="col-lg-4"></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab2" role="tabpanel">
                    <div class="col-md-12">
                      <div class="form-group m-form__group row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 row">
                          <div class="col-lg-12">
                            <label for="" class="col-form-label">Routine Name</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                          </div>
                        </div>
                        <div class="col-lg-4"></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab3" role="tabpanel">
                    <div class="col-md-12">
                      <div class="form-group m-form__group row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 row">
                          <div class="col-lg-12">
                            <label for="" class="col-form-label">Group Line NO.</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                          </div>
                        </div>
                        <div class="col-lg-4"></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab4" role="tabpanel">
                    <div class="col-md-12">
                      <div class="form-group m-form__group row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 row">
                          <div class="col-lg-4">
                            <label for="" class="col-form-label">Show At Pay-Slip</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                          </div>
                          <div class="col-lg-4">
                            <label for="" class="col-form-label">Routine Name</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                            <span class="m-form__help" style="color:#BEBEBE">
                              (1-6)
                            </span>
                          </div>
                          <div class="col-lg-4">
                            <label for="" class="col-form-label">Order Deduct</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                            <span class="m-form__help" style="color:#BEBEBE">
                              (1-6)
                            </span>
                          </div>
                          <div class="col-lg-4">
                            <label for="" class="col-form-label">Order Income</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                            <span class="m-form__help" style="color:#BEBEBE">
                              (1-17)
                            </span>
                          </div>
                          <div class="col-lg-4">
                          </div>
                          <div class="col-lg-4">
                          </div>
                          <div class="col-lg-4">
                            <label for="" class="col-form-label">Order for Deduction</label>
                            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                              class="form-control text-center m-input m-input--air" name="" placeholder="">
                            <span class="m-form__help" style="color:#BEBEBE">
                              (1-15)
                            </span>
                          </div>
                          <div class="col-lg-4">
                          </div>
                          <div class="col-lg-4">
                          </div>
                        </div>
                        <div class="col-lg-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer col-md-12">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
            (click)="close('rate')">
            <i class="la la-close"></i> {{l("Close")}}</button>
          <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="save()">
            <i class="fa fa-save"></i> {{l("Save")}}</button>
          <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
            กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label>
        </div>
      </div>

    </div>
  </div>
</div>

<div bsModal #modal_employee="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
  <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
    <div class="modal-content">

      <div class="modal-header" style="background-color:#58A3DC">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b>{{("Income and Reduce Code for Employee")}}</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close('employee')">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>

      <div class="modal-body" id="us">
        <div class="form-group row" id="md">

          <div class="col-md-12">
            <div class="form-group m-form__group row">
              <div class="col-lg-3">
                <label for="" class="col-form-label">รหัสพนักงาน</label>
                <div class="input-group">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                    class="form-control text-center" name="" placeholder="">
                </div>
                <span class="m-form__help" style="color:#BEBEBE">
                  เลือกรหัสพนักงาน
                </span>
              </div>
              <div class="col-lg-3">
                <label for="" class="col-form-label">ถึงรหัสพนักงาน</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-left"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  เลือกรหัสพนักงาน
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">From Type</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  From Type
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">To Type</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  To Type
                </span>
              </div>
              <div class="col-lg-2">
                <label for="" class="col-form-label">To Year</label>
                <input onkeyup="chkstr(this,this.value)" maxlength="4" autocomplete="off" type="text"
                  class="form-control text-center" name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  To Year
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">To Period</label>
                <input onkeyup="chkstr(this,this.value)" maxlength="2" autocomplete="off" type="text"
                  class="form-control text-center" name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  To Period
                </span>
              </div>
              <div class="col-lg-1">
                <button type="submit" class="btn btn-success pull-right" style="margin-top:40px;">ค้นหาข้อมูล</button>
              </div>
            </div>
            <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(215, 239, 255)">
              <div class="col-lg-2">
                <label for="" class="col-form-label">รหัสพนักงาน</label>
                <div class="input-group">
                  <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                    class="form-control text-center" name="" placeholder="">
                </div>
                <span class="m-form__help" style="color:#BEBEBE">
                  เลือกรหัสพนักงาน
                </span>
              </div>
              <div class="col-lg-2">
                <label for="" class="col-form-label">ชื่อพนักงาน</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-left"
                  name="" placeholder="" disabled>
                <span class="m-form__help" style="color:#BEBEBE">
                  ชื่อพนักงาน
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">Type</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  Type
                </span>
              </div>
              <div class="col-lg-2">
                <label for="" class="col-form-label">จำนวนเงิน</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-right"
                  name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุจำนวนเงิน
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">จากปี</label>
                <input onkeyup="chkstr(this,this.value)" maxlength="4" autocomplete="off" type="text"
                  class="form-control text-center" name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุปี
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">จากเดือน</label>
                <input onkeyup="chkstr(this,this.value)" maxlength="2" autocomplete="off" type="text"
                  class="form-control text-center" name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุเดือน
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">ถึงปี</label>
                <input onkeyup="chkstr(this,this.value)" maxlength="4" autocomplete="off" type="text"
                  class="form-control text-center" name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุปี
                </span>
              </div>
              <div class="col-lg-1">
                <label for="" class="col-form-label">ถึงเดือน</label>
                <input onkeyup="chkstr(this,this.value)" maxlength="2" autocomplete="off" type="text"
                  class="form-control text-center" name="" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุเดือน
                </span>
              </div>
              <div class="col-lg-1">
                <button type="submit" class="btn btn-success pull-right" style="margin-top:40px;">เพิ่มข้อมูล</button>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group m-form__group row">
              <dx-data-grid id="gridContainer" [dataSource]="" [allowColumnReordering]="true" [showBorders]="true">
                <dxi-column dataField="" caption="รหัสพนักงาน"></dxi-column>
                <dxi-column dataField="" caption="ชื่อพนักงาน"></dxi-column>
                <dxi-column dataField="" caption="รหัสประเภท"></dxi-column>
                <dxi-column dataField="" caption="รายละเอียด"></dxi-column>
                <dxi-column dataField="" caption="จำนวนเงิน"></dxi-column>
                <dxi-column dataField="" caption="จากปี"></dxi-column>
                <dxi-column dataField="" caption="จากเดือน"></dxi-column>
                <dxi-column dataField="" caption="ถึงปี"></dxi-column>
                <dxi-column dataField="" caption="ถึงเดือน"></dxi-column>
                <dxo-sorting></dxo-sorting>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
                  [showPageSizeSelector]="true" [visible]="true">
                </dxo-pager>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-export [enabled]="true" fileName="" [allowExportSelectedData]="true"></dxo-export>
              </dx-data-grid>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer col-md-12">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal" style="margin-right: 5px"
            (click)="close('employee')">
            <i class="la la-close"></i> {{l("Close")}}</button>
          <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px" (click)="save()">
            <i class="fa fa-save"></i> {{l("Save")}}</button>
          <label for="" class=" col-form-label pull-right"><label style="color:red">*</label>
            กรุณากรอกข้อมูลในเครืองหมาย <i class="la la-info-circle"></i> ให้ครบ</label>
        </div>
      </div>

    </div>
  </div>
</div>