<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Employee Benefit")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                From Date
                            </label>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                To Date
                            </label>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                            data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                            placeholder="วว/ดด/ปปปป" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                Employee ID From
                            </label>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                Employee ID To
                            </label>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                Department From
                            </label>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <label class="col-form-label">
                                Department To
                            </label>
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 20px;text-align:right">
                            Report Type
                        </label>
                        <div class="col-lg-6" style="margin-top: 20px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a">
                                <!-- <option *ngFor="let item of TrainingCourse"
                                                [selected]="item.tabtB2 === createcource.platyp" value="{{item.tabtB2}}">
                                                {{item.tabdsc}}
                                            </option> -->
                            </select>
                        </div>
                        <div class="col-lg-3" style="margin-top: 50px">
                        </div>
                        <div class="col-lg-12">
                            <hr style=" border: 1px dashed  #BEBEBE;">
                        </div>
                        <div class="col-lg-12" style="margin-top:15px;margin-bottom:5px">
                            <button type="button" class="btn btn-warning btn-sm m-btn m-btn--custom col-md-12"
                                (click)="process(date1m.value,date2m.value,dbmtab1.value,dbmtab2.value,acccode1.value,acccode2.value,depcode1.value,depcode2.value,yearp.value,monthp.value)">
                                <i class="fa fa-sync-alt"></i> {{l("Process")}}</button>
                        </div>
                        <div class="col-lg-12">
                            <label for="" class="col-form-label">Progressive</label>
                            <!-- <div class="progress" style="height: 20px;">
                                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: progressbarss" id="pbb"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{progressbarss}}</div>
                                              </div> -->
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                    role="progressbar" style="width: progressbarGen" id="pbb" aria-valuenow="10"
                                    aria-valuemin="0" aria-valuemax="100">{{"progress>>"}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(year.value,dteFm.value,dteTo.value,hsreids1.value,hsreids2.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="download(year.value,dteFm.value,dteTo.value,hsreids1.value,hsreids2.value)">
                            <i class="fa fa-file-excel"></i> {{l("Excel")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>