<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">HR Configuration Listing</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">



                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("รหัสพนักงาน")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input type="text" class="form-control text-center m-input m-input--air" [(ngModel)]="REFEMPID"
                                    disabled />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input type="text" class="form-control text-center m-input m-input--air" [(ngModel)]="EmpName"
                                    disabled />
                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("ปี")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air" 
                                    [(ngModel)]="yearData" /> -->
                                <input onkeyup="chkstr(this,this.value)" data-provide="datetimepicker"
                                    data-date-language="th-th" autocomplete="off" type="text" onkeydown="chkstr2(this)"
                                    data-provide="datepicker" id="search" name="search" data-date-language="th-th"
                                    data-date-format="yyyy" data-date-min-view-mode="years" #serach
                                    class="form-control text-center" [(ngModel)]="yearData">
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <button class="btn btn-primary" (click)="getLeaveInfor(REFEMPID,serach.value)"><i
                                        class="fa fa-search"></i>
                                    {{l("ค้นหา")}}</button>
                            </div>

                            <div class="col-lg-2" style="margin-top: 5px">
                                <input type="text" class="form-control text-center m-input m-input--air" [(ngModel)]="DataLeavObject.ofycod"
                                    disabled />
                            </div>


                        </div>

                        <div class="form-group m-form__group">
                            <div class="col-md-12 row">
                                <div class="col-md-3" style="margin-top: 10px">
                                    <div class="row">
                                        <label class="col-form-label col-lg-12"
                                            style="margin-top: 5px;text-align:right">
                                            {{l("สิทธิ์ลาทั้งหมด")}}
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-form-label col-lg-12"
                                            style="margin-top: 5px;text-align:right">
                                            {{l("สิทธิ์ลาที่ใช้ไป")}}
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-form-label col-lg-12"
                                            style="margin-top: 5px;text-align:right">
                                            {{l("สิทธิ์ลาที่ใช้ไป(ตารางเวร)")}}
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-form-label col-lg-12"
                                            style="margin-top: 5px;text-align:right">
                                            {{l("สิทธิ์ลาคงเหลือ")}}
                                        </label>
                                    </div>
                                </div>
                                <div
                                    class="col-md-7 form-group alert alert-danger m-alert m-alert--air m-alert--outline" style="color: black">
                                    <div class="row">
                                        <label class="col-form-label col-lg-2"
                                            style="margin-top: 5px;text-align:right">
                                            {{l("จำนวนวัน")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                                <input type="number" class="form-control text-center m-input m-input--air" [(ngModel)]="ofymaxD" (change)="chgday('ofymax')"
                                                />
                                        </div>
                                        
                                        <label class="col-form-label col-lg-3"
                                            style="margin-top: 5px;text-align:center">
                                            {{l("หรือ จำนวนชั่วโมง")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                                <input type="number" class="form-control text-center m-input m-input--air" [(ngModel)]="DataLeavObject.ofymax" (change)="chgHour('ofymax')"
                                                />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-form-label col-lg-2"
                                            style="margin-top: 5px;text-align:right">
                                            {{l("จำนวนวัน")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                                <input type="number" class="form-control text-center m-input m-input--air" [(ngModel)]="ofyuseD" (change)="chgday('ofyuse')"
                                                />
                                        </div>

                                        <label class="col-form-label col-lg-3"
                                            style="margin-top: 5px;text-align:center">
                                            {{l("หรือ จำนวนชั่วโมง")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                                <input type="number" class="form-control text-center m-input m-input--air" [(ngModel)]="DataLeavObject.ofyuse" (change)="chgHour('ofyuse')"
                                                />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-form-label col-lg-2"
                                            style="margin-top: 5px;text-align:right">
                                            {{l("จำนวนวัน")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                                <input type="number" class="form-control text-center m-input m-input--air" [(ngModel)]="ofywkpD" (change)="chgday('ofywkp')"
                                                />
                                        </div>

                                        <label class="col-form-label col-lg-3"
                                            style="margin-top: 5px;text-align:center">
                                            {{l("หรือ จำนวนชั่วโมง")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                                <input type="number" class="form-control text-center m-input m-input--air" [(ngModel)]="DataLeavObject.ofywkp" (change)="chgHour('ofywkp')"
                                                />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-form-label col-lg-2"
                                            style="margin-top: 5px;text-align:right">
                                            {{l("จำนวนวัน")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                                <input type="number" class="form-control text-center m-input m-input--air" [(ngModel)]="ofybalD" (change)="chgday('ofybal')"
                                                />
                                        </div>

                                        <label class="col-form-label col-lg-3"
                                            style="margin-top: 5px;text-align:center">
                                            {{l("หรือ จำนวนชั่วโมง")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                                <input type="number" class="form-control text-center m-input m-input--air" [(ngModel)]="DataLeavObject.ofybal" (change)="chgHour('ofybal')"
                                                />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>




                <div class="form-group row">
                    <div class="col-md-12" style="text-align:center">
                        <button type="button " class="btn btn-info" data-dismiss="modal " style="margin-right: 5px"
                            (click)="save() " [disabled]="saved != 1">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                        <button type="button " class="btn btn-secondary" data-dismiss="modal " style="margin-right: 5px"
                            (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>

                    </div>
                </div>




                <div class="form-group">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="LeaveInformationListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                            (onSelectionChanged)="selectData($event)"
                            (onRowRemoved)="delete($event)">
                            <dxo-selection mode="single">
                            </dxo-selection>
                            <dxo-pager [allowedPageSizes]="[10]" [showInfo]="true" [showNavigationButtons]="true"
                                [showPageSizeSelector]="false" [visible]="true">
                            </dxo-pager>
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <!-- <dxo-editing mode="row" [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing> -->
                            <dxi-column [width]="100" caption="รหัสการลา" dataField="ofycod"></dxi-column>
                            <!-- <dxi-column caption="ตำแหน่ง"></dxi-column> -->
                            <dxi-column caption="สิทธิ์ลาทั้งหมด(ชั่วโมง)" dataField="ofymax"></dxi-column>
                            <dxi-column caption="สิทธิ์ลาที่ใช้ไป(ชั่วโมง)" dataField="ofyuse"></dxi-column>
                            <dxi-column caption="สิทธิ์ลาทั้งหมด(Workplan)" dataField="ofywkp"></dxi-column>
                            <dxi-column caption="สิทธิ์ลาคงเหลือ(ชั่วโมง)" dataField="ofybal"></dxi-column>


                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>