<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Member Of Family</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="MemberOfFamilyListDto" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-editing [allowDeleting]="true" [useIcons]="true" fixedPosition="right">
                            </dxo-editing>
                            <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>


                            <div *dxTemplate="let data of 'cellTemplate'">
                                <a href="javascript:;" class="" (click)="editmem(data)">
                                    <i class="fa fa-search-plus"></i>
                                </a>

                                <!-- <a href="javascript:;" class="" (click)="deletemem(data)">
                                    <i class="fa fa-trash"></i>
                                </a> -->

                            </div>


                            <dxi-column dataField="chdseq" caption="Items"></dxi-column>
                            <dxi-column dataField="chdnam" caption="ชื่อ-นามสกุล"></dxi-column>
                            <dxi-column dataField="chdsex" caption="เพศ"></dxi-column>
                            <dxi-column dataField="chdbrd" caption="วันเกิด" [customizeText]="fnddmmyyyygrid">
                            </dxi-column>
                            <dxi-column dataField="chdedu" caption="เรียน/ไม่เรียน"></dxi-column>
                            <dxi-column dataField="chdocc" caption="สถาบัน"></dxi-column>
                            <dxi-column dataField="chdlst" caption="สถานะ"></dxi-column>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>

                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="save() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>

                </div>
            </div>

        </div>
    </div>


</div>

<div bsModal #modal2="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Add Table Control")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="type">

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                            </label>
                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Family Items")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdseq" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("ชื่อ-นามสกุล")}}
                            </label>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdnam" />
                            </div>
                            <div class="col-lg-3" style="margin-top: 5px">
                            </div>
                        </div>
                        <!-- <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Member Type")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdtyp" />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div> -->

                        <div class="form-group alert alert-danger m-alert m-alert--air m-alert--outline row">
                            <label class="col-form-label col-lg-12" style="margin-top: 5px;text-align:left">
                                {{l("Status")}}
                            </label>
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("สถานะ")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <select class="form-control m-input m-input--square"
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdlst">
                                    <option hidden>กรุณาเลือกข้อมูล</option>
                                    <option value="A">ยังมีชีวิตอยู่</option>
                                    <option value="P">ไม่มีชีวิตอยู่</option>
                                </select>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                        </div>
                        <div class="form-group alert alert-danger m-alert m-alert--air m-alert--outline row">
                            <label class="col-form-label col-lg-12" style="margin-top: 5px;text-align:left">
                                {{l("Occupassion")}}
                            </label>
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("Occupassion")}}
                            </label>
                            <div class="col-lg-4" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air"
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdocc" />
                            </div>
                            <div class="col-lg-5" style="margin-top: 5px">
                            </div>

                        </div>
                        <div class="form-group alert alert-danger m-alert m-alert--air m-alert--outline row">
                            <label class="col-form-label col-lg-12" style="margin-top: 5px;text-align:left">
                                {{l("Studying Info")}}
                            </label>
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("เรียน/ไม่เรียน")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <select class="form-control m-input m-input--square"
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdedu">
                                    <option hidden>กรุณาเลือกข้อมูล</option>
                                    <option value="Y">เรียน</option>
                                    <option value="N">ไม่เรียน</option>
                                </select>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>

                            <label for="" class="col-form-label col-lg-3"
                                style="margin-top: 5px;text-align:right">วันเกิด</label>
                            <div class="col-lg-3" style="margin-top: 5px">

                                <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                    onkeyup="chkstr(this,this.value)" type="text" onkeydown="chkstr2(this)"
                                    data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                    class="form-control text-center m-input m-input--air" name="dtebrd" #dtebrd
                                    id="dtebrd" placeholder="วว/ดด/ปปปป" 
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdbrd">
                            </div>
                            <div hidden (click)="datedi()" id="dtewstar">
                            </div>
                            <label for="" class="col-form-label col-lg-2" style="margin-top: 5px"
                                *ngIf="CreateMemberOfFamilyListDto.chdlst == 'P'">Expired
                                Date</label>
                            <div class="col-lg-3" style="margin-top: 5px">

                                <input onkeyup="chkstr(this,this.value)" autocomplete="off"
                                    *ngIf="CreateMemberOfFamilyListDto.chdlst == 'P'" onkeyup="chkstr(this,this.value)"
                                    type="text" onkeydown="chkstr2(this)" data-provide="datepicker" name="dteexp"
                                    #dteexp id="dteexp" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                    class="form-control text-center m-input m-input--air" name=""
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdstd" placeholder="วว/ดด/ปปปป">
                                    
                            </div>
                            <div class="col-lg-3" *ngIf="CreateMemberOfFamilyListDto.chdlst != 'P'"></div>

                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("เพศ")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <select class="form-control m-input m-input--square"
                                    [(ngModel)]="CreateMemberOfFamilyListDto.chdsex">
                                    <option hidden>กรุณาเลือกข้อมูล</option>
                                    <option value="M">ชาย</option>
                                    <option value="F">หญิง</option>
                                </select>
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                            </div>
                            <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                {{l("อายุ")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" name="ddxx" id="ddxx" #ddxx />
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer ">
                <div class="">
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close2() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="saveC()" *ngIf="editing != 1">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>



        </div>
    </div>
</div>