.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-xs-2 {
    display: inline-block;
    float: none;
  }

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}