<div [@routerTransition]>
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto col-sm-9 row">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{l("Over Time")}}</span>
        </h3>
        <div style="margin-top:15px">
          <h6>{{l("ตั้งแต่วันที่")}}</h6>
        </div>
        <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1z id="date1z" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center"
            placeholder="ตั้งแต่วันที่"></div>
        <div style="margin-top:15px">
          <h6>{{l("ถึงวันที่")}}</h6>
        </div>
        <div class="col-lg-3"><input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date2z id="date2z" onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control text-center"
            placeholder="ถึงวันที่"></div>
        <div class="col-lg-2"><button class="btn btn-info" (click)="getReceivInvenToDate(date1z.value,date2z.value)"><i
              class="fa fa-search"></i> {{l("ค้นหา")}}</button></div>
      </div>
      <div class="col-sm-2 text-right">
        <button class="btn btn-info" (click)="appovertimeadd.show()">
          <i class="fa fa-plus-square"></i> {{l("เพิ่มรายการล่วงเวลา")}}</button>
      </div>
    </div>
  </div>
  <div class="m-content">

    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">

        <h3>{{l("รายการ")}} (0)</h3>
     
        <dx-data-grid [allowColumnReordering]="true" #grid id="gridContainer" [dataSource]="" (onContentReady)="onContentReady($event)"
          [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
          [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">

          <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">

          </dxo-scrolling>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-export [enabled]="true" fileName="รายการ" [allowExportSelectedData]="true"></dxo-export>

          <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
            [showPageSizeSelector]="true" [visible]="true">
          </dxo-pager>

          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>


          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


          <dxi-column [visible]="false" dataField="id" caption="id" [sortIndex]="1" sortOrder="asc"></dxi-column>
          <dxi-column [allowGrouping]="false" dataField="schdoc" caption="เลขที่เอกสาร">
          </dxi-column>

          <dxi-column dataField="schcpo" caption="ID No."></dxi-column>
          <dxi-column dataField="schubg" caption="Name"></dxi-column>
          <dxi-column dataField="schinv" caption="วันที่เอกสาร"></dxi-column>
          <dxi-column dataField="schdte" caption="แผนก"></dxi-column>

          <dxi-column dataField="schoff" caption="ประเภท"></dxi-column>
          <dxi-column dataField="schdep" caption="From Date"></dxi-column>
          <dxi-column dataField="schdep" caption="To Date"></dxi-column>
          <dxi-column dataField="schdep" caption="From Time"></dxi-column>
          <dxi-column dataField="schdep" caption="To Time"></dxi-column>

          <dxi-column dataField="schdep" caption="Status"></dxi-column>
          <dxi-column dataField="schdep" caption="หัวหน้า"></dxi-column>
          <dxi-column dataField="schdep" caption="ผู้จัดการ"></dxi-column>
          <dxi-column dataField="schdep" caption="บุคคล"></dxi-column>
          <dxi-column dataField="schdep" caption="สถานะการอนุมัติ"></dxi-column>

          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false"
            cellTemplate="cellTemplate" caption=""></dxi-column>
          <div *dxTemplate="let data of 'cellTemplate'">
            <a href="javascript:;" class="" (click)="appovertimeedit.show(data.data.id)">
              <i class="fa fa-edit"></i>
            </a>
          </div>



        </dx-data-grid>
      </div>

    </div>

  </div>
  <app-overtime-add #appovertimeadd></app-overtime-add>
  <app-overtime-edit #appovertimeedit></app-overtime-edit>
</div>