<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Man Power")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" name="fordep" [(ngModel)]="fordep" id="fordep">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                            <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"  id="fordep" /> -->
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" name="todep" [(ngModel)]="todep" id="todep">
                                <option value="ZZZZ"> ALL</option>
                                <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                            <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air" [(ngModel)]="todep" id="todep"/> -->
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ตำแหน่งงาน
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" name="forsec" [(ngModel)]="forsec" id="forsec">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of POSITION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                            <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air" [(ngModel)]="forsec" id="forsec"/> -->
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                style="width:100%" name="tosec" [(ngModel)]="tosec" id="tosec">
                                <option value="ZZZZ">
                                    ALL
                                </option>
                                <option *ngFor="let item of POSITION" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                            <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air"[(ngModel)]="tosec" id="tosec" /> -->
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <!-- <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div> -->
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            วันที่
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" id="dayf"
                                #dayf data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy"
                                placeholder="วว/ดด/ปปปป" />
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" id="dayto"
                                #dayto data-provide="datepicker" data-date-language="th-th"
                                data-date-format="dd/mm/yyyy" placeholder="วว/ดด/ปปปป" />
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                            ประเภทการขอกำลังอัตรา
                        </label>
                        <div class="col-lg-6" style="margin-top: 5px">
                            <select class="form-control m-input m-input--air  m-input m-input--square" name="reA1"
                                [(ngModel)]="reA1" id="reA1">
                                <option value="ALL">
                                    ALL
                                </option>
                                <option *ngFor="let item of MANPOWERTYP" value={{item.tabtB2}}>
                                    {{item.tabtB2}} | {{item.tabdsc}}
                                </option>
                            </select>
                            <!-- <input autocomplete="off" class="form-control text-center m-input m-input--air" /> -->
                        </div>
                        <!-- <div class="col-lg-3" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" disabled />
                        </div> -->
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-6 col-sm-12"
                            style="margin-top: 5px;text-align:right;color: red">
                            ***Input 'All' when you want to get all type
                        </label>
                        <div class="col-lg-6" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-3 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <div class="col-lg-6" style="margin-top: 8px">
                            <div class="form-group">
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox">
                                        <input autocomplete="off" onkeyup="chkstr(this,this.value)" type="checkbox"
                                            name="typedoc" id="typm1" #typm1 [(ngModel)]="typ1">Excel
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-top: 5px">
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(dayf.value,dayto.value,typm1.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Employee Master")}}</b>
                </h5>
                <button type="button" (click)="close2()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="form-group row">

                    <h3>{{l("Employee Master List")}} </h3>

                    <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #gEmployee [dataSource]="emp"
                        [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true"
                        [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                        [(selectedRowKeys)]="selectedRows">

                        <dxo-selection mode="single"> </dxo-selection>

                        <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true"
                            showScrollbar="always">
                        </dxo-scrolling>

                        <dxo-group-panel [visible]="true"></dxo-group-panel>

                        <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true"
                            [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                        </dxo-pager>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                        <dxi-column dataField="psnidn" caption="Employee ID"></dxi-column>
                        <dxi-column dataField="psntth" caption="Title">
                            <dxo-lookup [dataSource]="dbmtabemti" displayExpr="tabdsc" valueExpr="tabtB2"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="psnfnm" caption="First Name"></dxi-column>
                        <dxi-column dataField="psnlnm" caption="Last Name"></dxi-column>
                        <dxi-column dataField="psncom" caption="Company"></dxi-column>
                    </dx-data-grid>

                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px"
                            (click)="get_datan2(gEmployee.selectedRowKeys)">
                            <i class="fa fa-save"></i> {{l("Select")}}</button>
                    </div>



                </div>
            </div>


        </div>
    </div>
</div>