.in-wh-sh{
    margin-top:3px;
    background-color:#ffffff;
    border:0px;
}
.in-ye-sh{
    margin-top:3px;
    background-color:#FEF9E7;
    border:0px;
}
.th-he-f8{
    background-color:#F8F9F9;
    text-align:center;
    min-width:120px;

}
.th-bo-f8{
    background-color:#F8F9F9;
    text-align:center;
    min-width:100px;
}