<div [@routerTransition]>
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto col-sm-9 row">
        <div class="col-sm-12 row">
          <h3 class="m-subheader__title m-subheader__title--separator">
            <span>{{l("Create Employee Working Day")}}</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <div class="modal-body" style="margin-top: -10px">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 row " style="margin-top: 15px">
              <div class="col-md-6 ">
                <label for="" class="col-form-label">{{l("Company From")}}</label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>
              <div class="col-md-6 ">
                <label for="" class="col-form-label">{{l("To Company")}}</label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>
              <div class="col-md-3 ">
                <label for="" class="col-form-label">{{l("Year")}}</label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>
              <div class="col-md-9 ">

              </div>
              <div class="col-md-4 ">
                <label for="" class="col-form-label">{{l("Period")}}</label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>
              <div class="col-md-8 " style="margin-top: 10px">
                <label for="" class="col-form-label"></label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>
              <div class="col-md-6 ">
                <label for="" class="col-form-label">{{l("From Department")}}</label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>
              <div class="col-md-6 ">
                <label for="" class="col-form-label">{{l("To Department")}}</label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>
              <div class="col-md-6 ">
                <label for="" class="col-form-label">{{l("Emp Code From")}}</label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>
              <div class="col-md-6 ">
                <label for="" class="col-form-label">{{l("Emp Code To")}}</label>
                <input class=" form-control text-center  m-input m-input--air">
              </div>


              <div class="col-md-8 " style="margin-top: 15px">
                <label for="" class="col-form-label"><b>{{l("Create Working Time")}}</b></label>
                <div class="form-group">
                  <div class="m-radio-Inline">
                    <label class="m-radio" >
                      <input type="radio">{{l("จากตาราง Work Plan")}}
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-12">
                  <label for="" class="col-form-label">Progressive</label>
                  <!-- <div class="progress" style="height: 20px;">
                              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: progressbarss" id="pbb"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{progressbarss}}</div>
                            </div> -->
                  <div class="progress" style="height: 20px;">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                          role="progressbar" style="width: 10%" id="pbb" aria-valuenow="10" aria-valuemin="0"
                          aria-valuemax="100">10%</div>
                  </div>
                  <br><br><br><br><br>
              </div>

              <div class="col-md-12 text-center">
                <button type="submit " class="btn btn-success" style="margin-right: 5px" (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                  <i class="fa fa-print "></i> {{l("Print")}}</button>
                <button type="submit " class="btn btn-info " (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                  <i class="fa fa-search-plus"></i> {{l("View")}}</button>
                <button type="submit " class="btn btn-warning " (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                  <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                <button type="submit " class="btn btn-secondary " (click)="prints(dep.value,d1as.value,d2as.value,typdata.value)">
                  <i class="fa fa-close "></i> {{l("Close ")}}</button>
              </div>
              <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>