<a href="javascript:;" (click)="fnnoti(2)" class="m-nav__link m-dropdown__toggle " id="m_topbar_notification_icon_not">
    <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small"
        [ngClass]="{'m-badge--danger':unreadNotificationCount}"></span>
    <span class="m-nav__link-icon" id="shake">
        <span class="m-nav__link-icon-wrapper">
            <i class="flaticon-alarm" [attr.aria-label]="l('Notifications')"></i>
        </span>
    </span>
</a>
<div class="m-dropdown__wrapper">
    <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
    <div class="m-dropdown__inner">
        <div class="m-dropdown__header m--align-center"
            [ngStyle]="{ 'background': 'url(' + appRootUrl() + 'assets/metronic/assets/demo/' + currentTheme.baseSettings.layout.themeColor + '/media/img/misc/notification_bg.jpg)', 'background-size': 'cover'}">
            <span class="m-dropdown__header-title">
                {{unreadNotificationCount}} {{"NewNotifications" | localize}}
            </span>
        </div>
        <div class="m-dropdown__body">
            <div class="m-dropdown__content">
                <!-- <div class="row">
                    <div class="text-left col-md-8">
                        <a href="javascript:;" (click)="setAllNotificationsAsRead(); $event.preventDefault(); $event.stopPropagation();" *ngIf="unreadNotificationCount">{{"SetAllAsRead" | localize}}</a>
                    </div>
                    <div class="text-right col-md-4">
                        <a (click)="openNotificationSettingsModal()" class="text-right" href="javascript:;">{{"Settings" | localize}}</a>
                    </div>
                </div>
                <hr /> -->
                <div>
                    <div class="m-list-timeline m-list-timeline--skin-light m-nav">
                        <div class="m-list-timeline__items" [ngClass]="{'empty':!noti.length}">
                            <div *ngFor="let notification of noti" class="m-list-timeline__item user-notification-item"
                                (click)="gotoUrl(notification.url)"
                                [ngClass]="{'user-notification-item-clickable': notification.url,'user-notification-item-unread': notification.isUnread}">
                                <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                <span class="m-list-timeline__icon fa fa-bullhorn"></span>
                                <span class="m-list-timeline__text">
                                    <h6 style="color:black;">{{notification.text}}</h6>
                                </span>
                                <!-- <span class="m-list-timeline__time">
                                    {{notification.time | momentFromNow}}
                                     <span *ngIf="notification.isUnread">
                                        <a href="javascript:;" *ngIf="notification.state=='UNREAD'" class="m-link set-notification-as-read" (click)="setNotificationAsRead(notification); $event.preventDefault(); $event.stopPropagation();">{{"SetAsRead" | localize}}</a>
                                    </span>
                                </span> -->
                            </div>
                            <!-- <span *ngIf="!notifications.length" class="notification-empty-text">
                                {{"ThereIsNoNotification" | localize}}
                            </span> -->
                        </div>
                        <div *ngIf="ExprieDocumentList.length" class="m-nav__separator m-nav__separator--fit"></div>
                        <div *ngIf="ExprieDocumentList.length" class="external notifications-footer">
                            <div class="text-center"><a href="javascript:;" (click)="shownoti()"
                                    class="m-dropdown__toggle">{{"SeeAllNotifications" | localize}}</a>
                                || <a href="javascript:;" (click)="showsetting()"
                                    class="m-dropdown__toggle">{{"SettingNotifications" | localize}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: false}">

    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document" *ngIf="VRMODAL == 1">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#ff6666">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel"><i class="flaticon-bell-1"></i>
                    การแจ้งเตือน</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div> -->

                <div class="form-group row">

                    <div class="col-lg-12">

                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid [dataSource]="noti"
                            [errorRowEnabled]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                            [rowAlternationEnabled]="true" columnResizingMode="widget">



                            <dxi-column dataField="text" caption="Notification"></dxi-column>


                        </dx-data-grid>

                    </div>



                </div>
            </div>


        </div>
    </div>

    <div class="modal-dialog modal-lg " style=" max-width: 80% ;" role="document" *ngIf="VRMODAL == 2">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#ff6666">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel"><i class="flaticon-bell-1"></i>
                    การแจ้งเตือน</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div class="form-group row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" (click)="show2()">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </div> -->

                <div class="form-group row">


                    <div class="col-lg-12">

                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="ExprieDocumentList" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget">
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-export [enabled]="true" fileName="ExprieDocument">
                            </dxo-export>
                            <dxo-pager [allowedPageSizes]="[10, 20, 50]" [showInfo]="true"
                                [showNavigationButtons]="true" [showPageSizeSelector]="true" [visible]="true">
                            </dxo-pager>

                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxi-column dataField="psnidn" [groupIndex]="1" caption="รหัสพนักงาน"></dxi-column>
                            <dxi-column dataField="psnnam" caption="ชื่อ - นามสกุล"></dxi-column>
                            <dxi-column dataField="psndep" [groupIndex]="0" caption="แผนก">
                                <dxo-lookup [dataSource]="DEPARTMENT" displayExpr="tabdsc" valueExpr="tabtB2">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="psntyp" caption="ประเภท"></dxi-column>
                            <dxi-column dataField="psniep" [customizeText]="fnddmmyyyygrid"
                                caption="วัน/เดือน/ปี ที่หมดอายุ"></dxi-column>
                            <dxi-column dataField="psnexp" caption="เหลืออีก(วัน)"></dxi-column>


                        </dx-data-grid>

                    </div>

                </div>
            </div>


        </div>
    </div>


</div>


<div bsModal #modal4="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: false}" style="overflow-y:auto;">
    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-list">&nbsp;</i>
                    </span>
                    <b>{{l("Setting Notifications")}}</b>
                </h5>
                <button type="button" (click)="close4()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group row">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--warning m-tabs-line--2x" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                                    <i class="la la-cog"></i>
                                    รายบุคคล
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                                    <i class="la la-briefcase"></i>
                                    ฝ่ายบุคคล
                                </a>
                            </li>

                        </ul>

                    </div>
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("กำหนดบัตรประชาชน(วัน)")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" name="tabaM1" [(ngModel)]="em.tabaM1"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("กำหนด JobCertificate(วัน)")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" name="tabaM1s" [(ngModel)]="ce.tabaM1"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("กำหนดใบขับขี่รถยนต์(วัน)")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" name="tabaM2" [(ngModel)]="em.tabaM2"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("กำหนด LanguageCer.(วัน)")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" name="tabaM2s" [(ngModel)]="ce.tabaM2"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        {{l("กำหนดใบขับขี่จักรยานยนต์(วัน)")}}
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                        <input autocomplete="off" name="tabrT1" [(ngModel)]="em.tabrT1"
                                            class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <!-- <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("Flag Description")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                            </div> -->
                                </div>
                            </div>


                            <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("กำหนดบัตรประชาชน(วัน)")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off" name="tabaM1" [(ngModel)]="emHR.tabaM1"
                                                class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("กำหนด JobCertificate(วัน)")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off" name="tabaM1s" [(ngModel)]="ceHR.tabaM1"
                                                class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("กำหนดใบขับขี่รถยนต์(วัน)")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off" name="tabaM2" [(ngModel)]="emHR.tabaM2"
                                                class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("กำหนด LanguageCer.(วัน)")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off" name="tabaM2s" [(ngModel)]="ceHR.tabaM2"
                                                class="form-control text-center m-input m-input--air" />
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                            {{l("กำหนดใบขับขี่จักรยานยนต์(วัน)")}}
                                        </label>
                                        <div class="col-lg-3" style="margin-top: 5px">
                                            <input autocomplete="off" name="tabrT1" [(ngModel)]="emHR.tabrT1"
                                                class="form-control text-center m-input m-input--air" />
                                        </div>
                                        <!-- <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                    {{l("Flag Description")}}
                                </label>
                                <div class="col-lg-3" style="margin-top: 5px">
                                    <input autocomplete="off" class="form-control text-center m-input m-input--air" />
                                </div> -->
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="modal-footer">
                <div>
                    <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="close4() ">
                        <i class="fa fa-close "></i> {{l("Close ")}}</button>
                    <button type="button " class="btn btn-info pull-right " data-dismiss="modal "
                        style="margin-right: 5px" (click)="savesetting() ">
                        <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                </div>
            </div>
        </div>
    </div>
</div>