<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height:100px;background-color:#0099FF">
        <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b> เพิ่มตารางเวร </b>
        </h5>

        <!-- <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
      </div>

      <div class="modal-body" id="us">


        <div class="form-group m-form__group row">
          <!-- <div class="col-lg-4">
            <label for="" class="col-form-label">เลขที่เอกสาร</label>
            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" disabled>
            <span class="m-form__help" style="color:#BEBEBE">
              ระบบจะสร้างเลขที่อัตโนมัติหลังบันทึกข้อมูล
            </span>
          </div> -->
          <div class="col-lg-4">
            <label for="" class="col-form-label">วันที่</label>
            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="wrkdte" [(ngModel)]="createworkplan.wrkdte"
              disabled>
            <span class="m-form__help" style="color:#BEBEBE">
              ระบุวันที่
            </span>
          </div>
          <div class="col-lg-4">
            <label for="" class="col-form-label">พนักงาน</label>
            <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center" name="empname" [(ngModel)]="empname"
              disabled>
            <span class="m-form__help" style="color:#BEBEBE">
              ระบุพนักงาน
            </span>
          </div>

          <div class="col-lg-4">
            <label for="" class=" col-form-label">ช่วงเวลา</label>

            <select class="form-control m_select2_1at" style="width:100%" #selecttime data-style="btn-success" name="wrkshfcod"
              [(ngModel)]="createworkplan.wrkshfcod">

              <option *ngFor="let item of dbmtabshiftcode" [selected]="item.tabtB2 === createworkplan.wrkshfcod" value="{{item.tabtB2}}">{{item.tabtB2}}
                : {{item.tabdsc}}</option>
            </select>

            <span class="m-form__help" style="color:#BEBEBE">
              ระบุช่วงเวลา
            </span>
          </div>

          <div class="col-lg-2">
            <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="ot" [(ngModel)]="OTCHECK"> OT
              <span></span>
            </label>
          </div>
          <div class="col-lg-3">
            <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="oc" [(ngModel)]="OCCHECK"> ONCALL
              <span></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="od" [(ngModel)]="ODCHECK"> ค่าเวรบ่ายดึก
              <span></span>
            </label>
          </div>
          <div class="col-lg-3">
            <label class="m-checkbox m-checkbox--check-bold m-checkbox--state-success" style="margin-top:50px">
              <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="checkbox" name="os" [(ngModel)]="OSCHECK"> ค่าเวร SUP
              <span></span>
            </label>
          </div>


        </div>
      </div>
      <div class="modal-footer col-md-12 ">

        <div class="col-md-12 ">
          <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
            (click)="close() ">
            <i class="fa fa-close "></i> {{l("Close ")}}</button>
          <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px"
            (click)="save(selecttime.value)">
            <i class="fa fa-save"></i> {{l("Save ")}}</button>

          <!-- <button type="button " class="btn btn-info pull-left " data-dismiss="modal " style="margin-left: 5px" (click)="print() ">
            <i class="fa fa-print "></i> {{l("Print ")}}</button> -->

        </div>
      </div>
    </div>
  </div>
</div>