<div bsModal #modal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" style=" max-width: 80% ;" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#fe5e78">
        <h5 class="modal-title"  id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b> โปรไฟล์</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">
              ×
            </span>
          </button>
      </div>

      <div class="modal-body" id="us">

          <div class="long-title"><h3>โปรไฟล์</h3></div>
          <div id="chart-demo">
              <table class="col-md-12" >
                  <tr>
                      <th  ></th>
                      <th  ></th>
                      <th  >ใช้ไปแล้ว</th>
                      <th  >เหลือ</th>
                      <th  >จากทั้งหทด</th>
                   
                  </tr>
                  <tr *ngFor="let week of Week">
                      <td style="width: 10%" class="text-right">{{week.weekCount}}</td>
                      <td style="width: 30%" *ngFor="let bullet of week.bulletsData">
                          <dx-bullet 
                              class="bullet"
                              [startScaleValue]="0"
                              [endScaleValue]="45"
                              [value]="bullet.value"
                              [target]="bullet.target"
                              [color]="bullet.color">
                              <dxo-tooltip [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                          </dx-bullet>
                      </td>
                      <td style="width: 20%">
                          {{week.bulletsData[0].value}} วัน 
                      </td>
                      <td style="width: 20%">
                          {{week.bulletsData[0].target}} วัน
                      </td>
                      <td style="width: 20%">
                          {{week.bulletsData[0].target}} วัน
                      </td> 
                      <hr>
                  </tr>
              </table>
          </div>

      </div>
    </div>
  </div>
</div>