<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" style=" max-width: 70% ;" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height:100px;background-color:#0099FF">
        <h3 class="modal-title" style="margin-top:-10px" id="exampleModalLabel" style="color:white">
          <span class="m-portlet__head-icon">
            <i class="la la-bars">&nbsp;</i>
          </span>
          <b> บันทึกการลาพักร้อน </b>
        </h3>
        <div class="col-md-2 " style="margin-top :-5px">
          <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdoc" placeholder="" disabled>
          <span style="color:white">สถานะ</span>
        </div>
      </div>

      <div class="modal-body" id="us">
        <div class="form-group row">
          <div class="col-md-8">
            <div class="form-group m-form__group row">
              <div class="col-lg-12">
                <label for="" class="col-form-label">แผนก</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate" placeholder="" disabled>
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุแผนก
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row">
              
              <div class="col-lg-5">
                  <label for="" class="col-form-label">รหัสพนักงาน</label>
                  <div class="input-group">
                      <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control  text-center m-input m-input--air" 
                          placeholder="" name="schctn" style="background-color:rgb(215, 239, 255)">
                      <div class="input-group-append">
                          <button class="btn btn-info" type="button"><i class="fa fa-arrow-right"></i> เลือก</button>
                      </div>

                  </div>
                  <span class="m-form__help" style="color:#BEBEBE">
                      ระบุรหัสพนักงาน
                    </span>
                
              </div>
              <div class="col-lg-7">
                <label for="" class="col-form-label">ชื่อพนักงาน</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class="form-control text-center" name="getdocdate" placeholder="" disabled>
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุชื่อพนักงาน
                </span>
              </div>
            </div>
            
            <div class="form-group m-form__group row">
              <div class="col-lg-5">
                <label for="" class="col-form-label">จำนวนวันลาพักร้อน</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="number" class="form-control text-center" name="getdocdate" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุจำนวนวันลาพักร้อน
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row alert m-alert m-alert--default" style="background-color:rgb(215, 239, 255)">
              <div class="col-lg-12">
                <label for="" class="col-form-label">วันที่เอกสาร</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class="form-control text-center" name="getdoc" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุวันที่เอกสาร
                </span>
              </div>
              <div class="col-lg-12">
                <label for="" class="col-form-label">เลขที่เอกสาร</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1 class="form-control  text-center" name="getdocdate" placeholder="" disabled>
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบบจะสร้างเลขที่เอกสารอัตโนมัติ
                </span>
              </div>
              <div class="col-lg-12">
                <label for="" class="col-form-label">วันที่มีผล</label>
                <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" #date1 onkeydown="chkstr2(this)" data-provide="datepicker" data-date-language="th-th" data-date-format="dd/mm/yyyy" class=" form-control  text-center" name="getdocdate" placeholder="">
                <span class="m-form__help" style="color:#BEBEBE">
                  ระบุวันที่มีผล
                </span>
              </div>
              <br><br><br><br><br><br><br>
            </div>

          </div>
        </div>
      </div>


      <div class="modal-footer col-md-12 ">
        <div class="col-md-12 ">
          <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px"
            (click)="close() ">
            <i class="fa fa-close "></i> {{l("Close ")}}</button>
          <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px"
            (click)="save() ">
            <i class="fa fa-save"></i> {{l("Save ")}}</button>

        </div>
      </div>
    </div>
  </div>