<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style=" max-width: 50% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:100px;background-color:#0099FF">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white">
                    <span class="m-portlet__head-icon">
                        <i class="la la-bars">&nbsp;</i>
                    </span>
                    <b>กำหนดสิทธิ์แลกเวร ขายเวร</b>
                </h5>
                <button type="button" (click)="close()" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="us">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-12">
                                <div class="form-group m-form__group row">
                                        <div class="col-lg-2" style="margin-top: 5px">
                                            </div>
        
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        ขอแลกเวรล่วงหน้า
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        วัน
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group m-form__group row">
                                        <div class="col-lg-2" style="margin-top: 5px">
                                            </div>
        
                                    <label class="col-form-label col-lg-3" style="margin-top: 5px;text-align:right">
                                        ขอขายเวรล่วงหน้า
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-1" style="margin-top: 5px;text-align:right">
                                        วัน
                                    </label>
                                    <div class="col-lg-3" style="margin-top: 5px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <label for="" class="col-form-label">
                                    <b>จำนวนครั้งที่สามารถทำรายการได้</b>
                                </label>
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-3" style="margin-top: 5px">
                                    </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:left">
                                        แลกเวร
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:left">
                                        ครั้ง/เดือน
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-3" style="margin-top: 5px">
                                    </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:left">
                                        ขายเวร
                                    </label>
                                    <div class="col-lg-2" style="margin-top: 5px">
                                        <input class="form-control text-center m-input m-input--air" />
                                    </div>
                                    <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:left">
                                        ครั้ง/เดือน
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer col-md-12 ">
                        <div class="col-md-12 ">
                            <button type="button " class="btn btn-secondary pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="close() ">
                                <i class="fa fa-close "></i> {{l("Close ")}}</button>
                            <button type="button " class="btn btn-info pull-right " data-dismiss="modal " style="margin-right: 5px" (click)="save() ">
                                <i class="fa fa-save"></i> {{l("Save ")}}</button>

                        </div>
                    </div>
                </div>
            </div>