<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-11 row">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Working Overtime List")}}</span>
                </h3>
                <div style="margin-top:15px">
                    <font size="2">{{l("Effecttive Date From")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder=" ">
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("To Date")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text" class=" form-control text-center" placeholder="">
                </div>
                <div style="margin-top: 5px">
                    <button class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="col-sm-2 text-right">
                    <button class="btn btn-info " (click)="Workingovertimeadd.show()">
                        <i class="fa fa-plus"></i>{{l("Add")}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Working Overtime List")}} </h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]=" " (onContentReady)="onContentReady($event)"
                    [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [rowAlternationEnabled]="true" columnResizingMode="widget" keyExpr="id">

                    <dxo-scrolling [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always">
                    </dxo-scrolling>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-export [enabled]="true" fileName="Special Cost Document List" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                        [visible]="true">
                    </dxo-pager>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxi-column dataField="psnidn" caption="Doc No"> </dxi-column>
                    <dxi-column dataField="psnfnm" caption="ID No"></dxi-column>
                    <dxi-column dataField="psnlnm" caption="Name"></dxi-column>
                    <dxi-column dataField="psndep" caption="Doc Date"> </dxi-column>
                    <dxi-column dataField="psndev" caption="Department"> </dxi-column>
                    <dxi-column dataField="psnpty" caption="Type"> </dxi-column>
                    <dxi-column dataField="psnsts" caption="From Date"> </dxi-column>
                    <dxi-column dataField="psnmmn" caption="To Date"> </dxi-column>
                    <dxi-column dataField="psnmmn" caption="หัวหน้า"> </dxi-column>
                    <dxi-column dataField="psnmmn" caption="ผู้จัดการ"></dxi-column>
                    <dxi-column dataField="psnmmn" caption="บุคคล"></dxi-column>

                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false" cellTemplate="cellTemplate"
                        caption=""></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" style="color:#3399FF	" class="" >
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <Workingovertimeadd #Workingovertimeadd (modalSave)="ngOnInit()"></Workingovertimeadd>
</div>