<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("แผนการฝึกอบรมในงานตามแผนก")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body" style="height:auto">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Company Code
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air" value="001"
                                #depcom />
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                value="โรงพยาบาลมหาวิทยาลัยเทคโนโลยีสุรนารี" disabled />
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            Year
                        </label>
                        <div class="col-lg-2" style="margin-top: 5px">
                            <input autocomplete="off" class="form-control text-center m-input m-input--air"
                                data-date-format="yyyy" data-date-min-view-mode="years" data-date-start-view="years"
                                data-provide="datepicker" data-date-language="th-th" #year />
                        </div>
                        <label class="col-form-label col-lg-5 col-sm-12" style="margin-top: 5px;text-align:right">
                        </label>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            แผนก
                        </label>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="depcode1"
                                #depcode1 id="depcode1">
                                <option style="display:none;"></option>
                                <option *ngFor="let item of DEPARTMENT" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                        </div>
                        <label class="col-form-label col-lg-4 col-sm-12" style="margin-top: 5px;text-align:right">
                            ถึง
                        </label>
                        <div class="col-lg-4" style="margin-top: 5px">
                            <select class="form-control text-center m_select2_1" style="width:100%" name="depcode2"
                                #depcode2 id="depcode2">
                                <option value="zz">ALL</option>
                                <option *ngFor="let item of DEPARTMENT" value="{{item.tabtB2}}">
                                    {{item.tabtB2}} | {{item.tabdsc}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4" style="margin-top: 5px">
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <div class="col-md-12">
                        <button type="submit " class="btn btn-success text-center" style="margin-right: 5px"
                            (click)="prints(depcom.value,year.value,depcode1.value,depcode2.value)">
                            <i class="fa fa-print "></i> {{l("Print")}}</button>
                        <button type="submit " class="btn btn-info pull-text-center" style="margin-right: 5px"
                            (click)="download(depcom.value,year.value,depcode1.value,depcode2.value)">
                            <i class="fa fa-file-excel"></i> {{l("Excel")}}</button>
                        <button type="submit " class="btn btn-warning pull-text-center" style="margin-right: 5px">
                            <i class="fa fa-cog"></i> {{l("Setting")}}</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>