<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-9 row">
                <div class="col-sm-12 row">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Calculete Attendance before transfer to Payroll")}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="modal-body" style="margin-top: -10px">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 row " style="margin-top: 15px;;background-color:rgba(255, 196, 0, 0.39)">
                            <div class="col-md-3 ">
                                <label for="" class="col-form-label">{{l("Company")}}</label>
                                <input class="form-control text-center m-input m-input--air">
                            </div>
                            <div class="col-md-9 ">
                            </div>
                            <div class="col-md-3">
                                <label for="" class="col-form-label">{{l("Payroll Type")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6" style="margin-top: 10px">
                                <label for="" class="col-form-label"></label>
                                <input class=" form-control text-center  m-input m-input--air" disabled>
                            </div>
                            <div class="col-md-3 ">
                            </div>
                            <div class="col-md-3 ">
                                <label for="" class="col-form-label">{{l("Year")}}</label>
                                <input class="form-control text-center m-input m-input--air" id="year" data-date-format="yyyy" data-date-min-view-mode="years"
                                    data-date-start-view="years" data-provide="datepicker" data-date-language="th-th">
                            </div>
                            <div class="col-md-9 ">
                            </div>
                            <div class="col-md-3">
                                <label for="" class="col-form-label">{{l("Period")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6" style="margin-top: 10px">
                                <label for="" class="col-form-label"></label>
                                <input class=" form-control text-center  m-input m-input--air" disabled>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("Dep From")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("To Dep")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("Emp Code From")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 ">
                                <label for="" class="col-form-label">{{l("Emp Code To")}}</label>
                                <input class=" form-control text-center  m-input m-input--air">
                            </div>
                            <div class="col-md-6 " style="margin-top: 15px">
                                <div class="form-group">
                                    <label><b>Calculate Option</b></label>
                                    <div class="m-radio-list">
                                        <label class="m-radio">
                                            <input type="radio"> Calculate Summary Attendance
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio"> Cancel Calculated Attendance
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                     
                            <div class="col-md-12" style="margin-top: 10px">
                                <button class="btn btn-info pull-right" type="button" (click)="payroll.show()">Payroll Column Config</button>
                            </div>
                          
                            <!-- <div class="col-lg-12" style="margin-top:15px;margin-bottom:5px">
                                <button type="button" class="btn btn-warning btn-sm m-btn m-btn--custom col-md-12" (click)="process(date1m.value,date2m.value,dbmtab1.value,dbmtab2.value,acccode1.value,acccode2.value,depcode1.value,depcode2.value,yearp.value,monthp.value)">
                                    <i class="fa fa-sync-alt"></i> {{l("Process")}}</button>
                            </div> -->
                            <div class="col-lg-12">
                                <label for="" class="col-form-label">Progressive Emp</label>
                                <!-- <div class="progress" style="height: 20px;">
                                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: progressbarss" id="pbb"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{progressbarss}}</div>
                                                      </div> -->
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: progressbarGen"
                                        id="pbb" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{progressbarGen}}</div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center" style="margin-top: 10px">
                                <button type="submit " class="btn btn-success ">
                                    <i class="fa fa-check"></i> {{l("OK")}}</button>
                                <button type="submit " class="btn btn-secondary " >
                                    <i class="fa fa-close "></i> {{l("Close ")}}</button>
                            </div>
                            <div class="col-lg-12">&nbsp;</div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <payroll #payroll (modalSave)="ngOnInit()"></payroll>

</div>