<div bsModal #modal="bs-modal" *ngIf="active == true" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg " style=" max-width: 60% ;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:60px;background-color:#66CCFF">
                <h5 class="modal-title" style="margin-top:-10px" id="exampleModalLabel">Table Code Listing</h5>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">



                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("รหัสพนักงาน")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" [(ngModel)]="EmpID"
                                    disabled />
                            </div>
                            <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" disabled [(ngModel)]="nameEmpID" />
                            </div>

                        </div>
                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("ระดับตำแหน่ง")}}
                            </label>
                            <div class="col-lg-3" style="margin-top: 5px">
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    style="width:100%" name="level" id="level">
                                    <option *ngFor="let item of LevelS" value={{item.tabtB2}}>
                                            {{item.tabdsc}}
                                        </option>
                                </select>
                            </div>


                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-form-label col-lg-2" style="margin-top: 5px;text-align:right">
                                {{l("แผนก")}}
                            </label>
                            <div class="col-lg-5" style="margin-top: 5px">
                                <!-- <input class="form-control text-center m-input m-input--air" /> -->
                                <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                                    style="width:100%" name="dep" id="dep">
                                    <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                                        {{item.tabtB2}} || {{item.tabdsc}}
                                    </option>
                                </select>
                            </div>
                            <!-- <div class="col-lg-6" style="margin-top: 5px">
                                <input class="form-control text-center m-input m-input--air" disabled />
                            </div> -->

                        </div>


                    </div>
                </div>




                <div class="form-group row">
                    <div class="col-md-12" style="text-align:center">
                        <button type="button " class="btn btn-info" data-dismiss="modal " style="margin-right: 5px"
                            (click)="save() ">
                            <i class="fa fa-save"></i> {{l("Save/Confirm ")}}</button>
                        <button type="button " class="btn btn-secondary" data-dismiss="modal " style="margin-right: 5px"
                            (click)="close() ">
                            <i class="fa fa-close "></i> {{l("Close ")}}</button>

                    </div>
                </div>




                <div class="form-group">

                    <div class="col-lg-12">


                        <dx-data-grid [allowColumnReordering]="true" id="gridContainer" #tarDataGrid
                            [dataSource]="DBMTABMDEPCONT" [errorRowEnabled]="false" [allowColumnResizing]="true"
                            [columnAutoWidth]="true" [rowAlternationEnabled]="true" columnResizingMode="widget"
                            (onRowRemoved)="deleted($event)">
                            <dxo-editing [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxi-column dataField="tabtB1" caption="CODE"></dxi-column>
                            <dxi-column dataField="tabtB3" caption="ระดับตำแหน่ง">
                                    <dxo-lookup [dataSource]="LevelS" displayExpr="tabdsc" valueExpr="tabtB2">
                                        </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="tabtB2" caption="แผนก"></dxi-column>
                            <dxi-column dataField="tabdsc" caption="#">

                            </dxi-column>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>