<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-10 row">
                <div class="col-md-2">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Recruitment")}}</span>
                    </h3>
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("ฝ่าย")}}</font>
                </div>
                <div class="col-lg-2">
                    <!-- <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder=" " #DIV1 id="DIV1"> -->
                    <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                        style="width:100%" #DIV1 id="DIV1">
                        <option value="">ALL</option>
                        <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                            {{item.tabdsc}}
                        </option>
                    </select>
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("ถึง")}}</font>
                </div>
                <div class="col-lg-2">
                    <!-- <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder="" #DIV2 id="DIV2">  -->
                    <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                        style="width:100%" #DIV2 id="DIV2">
                        <option value="ALL">ALL</option>
                        <option *ngFor="let item of DIVISION" value={{item.tabtB2}}>
                            {{item.tabdsc}}
                        </option>
                    </select>
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("แผนก")}}</font>
                </div>
                <div class="col-lg-2">
                    <!-- <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder=" " #DEP1 id="DEP1"> -->
                    <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                        style="width:100%" #DEP1 id="DEP1">
                        <option value="">ALL</option>
                        <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                            {{item.tabdsc}}
                        </option>
                    </select>
                </div>
                <div style="margin-top:15px">
                    <font size="2">{{l("ถึง")}}</font>
                </div>
                <div class="col-lg-2">
                    <!-- <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder="" #DEP2 id="DEP2"> -->
                    
                    <select class="form-control m-input m-input--air  m-input m-input--square m_select2_1a"
                        style="width:100%" #DEP2 id="DEP2">
                        <option value="ALL">ALL</option>
                        <option *ngFor="let item of DEPARTMENT" value={{item.tabtB2}}>
                            {{item.tabdsc}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-primary" (click)="getrecruit(DIV1.value,DIV2.value,DEP1.value,DEP2.value)">
                        <i class="fa fa-search"></i>
                        {{l("ค้นหา")}}</button>
                </div>
                <!-- <div style="margin-top:15px">
                    <font size="2">{{l("ณ วันที่")}}</font>
                </div>
                <div class="col-lg-2">
                    <input onkeyup="chkstr(this,this.value)" autocomplete="off" type="text"
                        class=" form-control text-center" placeholder="" data-provide="datepicker"
                        data-date-language="th-th" data-date-format="dd/mm/yyyy">
                </div> -->
            </div>
            <div class="col-sm-1 text-right">
                <button class="btn btn-info" (click)="recruitmentadd.show()">
                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Recruitment List")}} ({{RecruitmentListDto.length}})</h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="RecruitmentListDto"
                    (onContentReady)="onContentReady($event)" [errorRowEnabled]="false" [hoverStateEnabled]="true"
                    [allowColumnResizing]="true" [columnAutoWidth]="true" [rowAlternationEnabled]="true"
                    columnResizingMode="widget" keyExpr="id">


                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-export [enabled]="true" fileName="ShiftCodeList" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true"
                        [showPageSizeSelector]="true" [visible]="true">
                    </dxo-pager>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    

                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                        [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>


                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" class="" (click)="recruitmentadd.showedit(data)">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                    <dxi-column dataField="uitdoc" caption="Document NO"></dxi-column>
                    <dxi-column dataField="uitdiv" caption="Division">
                        <dxo-lookup [dataSource]="DIVISION" displayExpr="tabdsc" valueExpr="tabtB2">
                        </dxo-lookup>
                    </dxi-column>
                    <!-- <dxi-column dataField="uitdep"caption="Department Code"></dxi-column> -->
                    <dxi-column dataField="uitdep" caption="Department">
                        <dxo-lookup [dataSource]="DEPARTMENT" displayExpr="tabdsc" valueExpr="tabtB2">
                        </dxo-lookup>
                    </dxi-column>
                    <!-- <dxi-column dataField="uitpos"caption="Position Code"></dxi-column> -->
                    <dxi-column dataField="uitpos" caption="Position">
                        <dxo-lookup [dataSource]="POSITION" displayExpr="tabdsc" valueExpr="tabtB2">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="uitwanm" caption="อัตรากำลังที่ต้องการ"></dxi-column>
                    <dxi-column dataField="uitwand" caption="อัตรากำลังปัจจุบัน"></dxi-column>
                    <dxi-column dataField="uitsts" caption="STS"></dxi-column>


                    <!-- <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left"
                        [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" style="color:#3399FF	" class=""
                            (click)="recruitmentadd.showedit(data.data.id)">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div> -->

                </dx-data-grid>
            </div>
        </div>
    </div>
    <recruitmentadd #recruitmentadd (modalSave)="getrecruit(DIV1.value,DIV2.value,DEP1.value,DEP2.value)">
    </recruitmentadd>
    <!-- <SetupBudgetedit #SetupBudgetedit (modalSave)="getTRBUD00()"></SetupBudgetedit> -->
</div>