<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-5 row">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Job Description and Specification")}}</span>
                </h3>
            </div>
            <div class="col-sm-4 text-right">
                <button class="btn btn-warning" (click)="PositionCF.show('A')">
                    <i class="fa fa-plus"></i> {{l("กำหนดตำแหน่งใบประกอบวิชาชีพ")}}</button>
            </div>
            <div class="col-sm-1 text-right">
                <button class="btn btn-info" (click)="setcodepositionadd.show('A')">
                    <i class="fa fa-plus"></i> {{l("Add")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

                <h3>{{l("All Job Description")}} ({{POSITION.length}})</h3>

                <dx-data-grid [allowColumnReordering]="true" id="gridContainer" [dataSource]="POSITION" (onContentReady)="onContentReady($event)"
                    [errorRowEnabled]="false" [hoverStateEnabled]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [rowAlternationEnabled]="true" columnResizingMode="widget" >

                    
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-export [enabled]="true" fileName="POSITION" [allowExportSelectedData]="true"></dxo-export>

                    <dxo-pager [allowedPageSizes]="[10, 20, 30, 50]" [showInfo]="true" [showNavigationButtons]="true" [showPageSizeSelector]="true"
                        [visible]="true">
                    </dxo-pager>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                    <dxi-column dataField="" caption="Company"></dxi-column>
                    <dxi-column dataField=""  caption="ฺBranch" ></dxi-column>
                    <dxi-column dataField="tabtB2"  caption="Position" ></dxi-column>
                    <dxi-column dataField="tabdsc"  caption="Description" ></dxi-column>
                    <dxi-column dataField=""  caption="Salary Grade" ></dxi-column>

                    <dxi-column [width]="30" [allowFiltering]="false" [fixed]="true" fixedPosition="left" [allowSorting]="false" cellTemplate="cellTemplate"
                        caption=""></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <a href="javascript:;" style="color:#3399FF	" class="" (click)="setcodepositionadd.show(data.data.tabtB2)">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>

                </dx-data-grid>
            </div>
        </div>
    </div>
    <setcodepositionadd #setcodepositionadd (modalSave)="getPOSITION()"></setcodepositionadd>
    <PositionCF #PositionCF (modalSave)="getPOSITION()"></PositionCF>
</div>